[Unit]
Description=Update Rudder package index and licenses

[Timer]
# daily between 00:00 and 01:00, but at the same time everyday
OnCalendar=daily
RandomizedDelaySec=3600
FixedRandomDelay=true

[Install]
WantedBy=timers.target

