<xml:group>
  <component-body>

    <head>
      <style>
        .archiveAction {
          display: inline-block;
        }
        .archiveAction .btn {
          min-width: 180px;
        }
        .archiveAction select.form-select {
          min-width: 180px;
          display:inline-block;
          margin-bottom: 10px;
        }
        .btn-archive {
          margin-bottom: 20px;
        }
      </style>

      <script data-lift="with-nonce">
      //<![CDATA[
        function enableIfNonEmpty(selectId, buttonId) {
          $("#"+selectId).change(function () {
            $("#" + selectId + " option:selected").each(function () {
              if($(this).text() != "Choose a backup to restore...") {
                $("#"+buttonId).prop("disabled", false);
              } else {
                $("#"+buttonId).prop("disabled", true);
              }
            })
          })
        }
      //]]>
      </script>
    </head>

    <div>
      <div class="inner-portlet">
        <h3 class="page-title mt-0">Global backup</h3>
        <div class="portlet-content">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="fa fa-info-circle"></span>
            </div>
            Backup or restore settings (groups, rules, directives and active techniques) from Rudder to backup, restore or transfer items between Rudder instances.
          </div>
          <span class="lift:administration.Archives.allForm archiveAction" id="allForm">
            <form class="lift:form.ajax">
              <input id="exportAllButton" type="submit" value="[Export ALL]" />
              <br/>
              <select id="importAllSelect">
                <option>2011-10-08 21:21:21</option>
                <option>2011-10-09 21:21:21</option>
                <option>2011-10-10 21:21:21</option>
                <option>2011-10-11 21:21:21</option>
              </select>
              <input id="importAllButton"   type="submit" value="[Importt ALL]"  class="btn btn-default"/>
              <input id="downloadAllButton" type="submit" value="[Download ALL]" class="btn btn-default"/>
              <br/>
              <span class="lift:Msg?allFormNotice" errorClass="text-danger">[error]</span>
            </form>
          </span>
        </div>
      </div>

      <div class="inner-portlet">
        <h3 class="page-title">Backup groups</h3>
        <div class="portlet-content">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="fa fa-info-circle"></span>
            </div>
            <div>Backup or restore groups only.</div>
          </div>
          <div class="lift:administration.Archives.groupLibraryForm archiveAction" id="groupLibraryForm">
            <form class="lift:form.ajax">
              <input id="exportGroupLibraryButton" type="submit" value="[Export GroupLibrary]" />
              <br/>
              <select id="importGroupLibrarySelect">
                <option>2011-10-08 21:21:21</option>
                <option>2011-10-09 21:21:21</option>
                <option>2011-10-10 21:21:21</option>
                <option>2011-10-11 21:21:21</option>
              </select>
              <input id="importGroupLibraryButton" type="submit"value="[Import GroupLibrary]" />
              <input id="downloadGroupLibraryButton" type="submit" value="[Download GroupLibrary]" />
              <br />
              <span class="lift:Msg?groupLibraryFormNotice" errorClass="text-danger">[error]</span>
            </form>
          </div>
        </div>
      </div>

      <div class="inner-portlet">
        <h3 class="page-title">Backup rules</h3>
        <div class="portlet-content">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="fa fa-info-circle"></span>
            </div>
            <div>Backup or restore rules only.</div>
          </div>
          <div class="lift:administration.Archives.rulesForm archiveAction" id="rulesForm">
            <form class="lift:form.ajax">
              <input id="exportRulesButton" type="submit" value="[Export CR]" />
              <br/>
              <select id="importRulesSelect">
                <option>2011-10-08 21:21:21</option>
                <option>2011-10-09 21:21:21</option>
                <option>2011-10-10 21:21:21</option>
                <option>2011-10-11 21:21:21</option>
              </select>
              <input id="importRulesButton" type="submit" value="[Import Rules]" />
              <input id="downloadRulesButton" type="submit" value="[Download Rules]" />
              <br />
              <span class="lift:Msg?rulesFormNotice" errorClass="text-danger">[error]</span>
            </form>
          </div>
        </div>
      </div>

      <div class="inner-portlet">
        <h3 class="page-title">Backup directives and active techniques</h3>
        <div class="portlet-content">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="fa fa-info-circle"></span>
            </div>
            <div>Backup or restore directives and active techniques only.</div>
          </div>
          <div class="lift:administration.Archives.directiveLibraryForm archiveAction" id="directiveLibraryForm">
            <form class="lift:form.ajax">
              <input id="exportDirectiveLibraryButton" type="submit" value="[Export DirectiveLibrary]"/>
              <br/>
              <select id="importDirectiveLibrarySelect">
                <option>2011-10-08 21:21:21</option>
                <option>2011-10-09 21:21:21</option>
                <option>2011-10-10 21:21:21</option>
                <option>2011-10-11 21:21:21</option>
              </select>
              <input id="importDirectiveLibraryButton"   type="submit" value="[Import DirectiveLibrary]" />
              <input id="downloadDirectiveLibraryButton" type="submit" value="[Download DirectiveLibrary]" />
              <br/>
              <span class="lift:Msg?directiveLibraryFormNotice&errorClass=error">[error]</span>
            </form>
          </div>
        </div>
      </div>

      <div class="inner-portlet">
        <h3 class="page-title">Backup parameters</h3>
        <div class="portlet-content">
          <div class="callout-fade callout-info">
            <div class="marker">
              <span class="fa fa-info-circle"></span>
            </div>
            <div>Backup or restore parameters only.</div>
          </div>
          <div class="lift:administration.Archives.parametersForm archiveAction" id="parametersForm">
            <form class="lift:form.ajax">
              <input id="exportParametersButton" type="submit" value="[Export Parameters]"/>
              <br/>
              <select id="importParametersSelect">
                <option>2011-10-08 21:21:21</option>
                <option>2011-10-09 21:21:21</option>
                <option>2011-10-10 21:21:21</option>
                <option>2011-10-11 21:21:21</option>
              </select>
              <input id="importParametersButton"   type="submit" value="[Import Parameters]" />
              <input id="downloadParametersButton" type="submit" value="[Download Parameters]" />
              <br/>
              <span class="lift:Msg?parametersFormNotice&errorClass=error">[error]</span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="archivesPopup" class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="false" data-bs-dismiss="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="archivesPopupTitle" class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row space-bottom">
              <div class="col-xl-12">
                <h4 class="text-center">
                  You are overwriting the current configuration on <strong>this server</strong>, are you sure you want to continue ?
                </h4>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <button id="archivesPopupSubmit" type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
    </div>

  </component-body>
</xml:group>
