<xml:group>
  <component-body>

  <div id="onboarding-main">
        <head_merge>
            <script data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-onboarding.js"></script>
            <style>
                .rudder-template > .one-col{
                  flex: 1;
                }
                .template-main{
                  flex-basis : initial !important;
                  flex: auto !important;
                }
            </style>
        </head_merge>

        <div id="setup-content"></div>
    </div>

    <script data-lift="with-nonce">
        $(document).ready(function () {
          var main = document.getElementById("setup-content")
          var initValues = {
            contextPath : contextPath
          };
          var app  = Elm.Onboarding.init({node: main, flags: initValues});

          app.ports.errorNotification.subscribe(function(message) {
            createErrorNotification(message);
          });
          app.ports.successNotification.subscribe(function(message) {
            createSuccessNotification(message);
          });
        })
    </script>

  </component-body>
</xml:group>
