<lift:surround with="common-layout" at="content">

<div data-lift="administration.ApiAccounts.render">
  That gives us a JS variable with the servlet
  context path named "contextPath" and the API
  path for token management named apiPath
  var contextPath = "/rudder"";
  var apiPath = "/rudder/secure/apiaccounts"
</div>

<head>
  <title>Rudder - API Settings</title>
  <style>
    #accounts
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #accountGrid td {
    border  : 1px solid #B4B3A8;
    }

    #accounts li
    {
        display: inline;
        float:left;
        margin :0px 15px;
        padding : 10px
    }
    
    form .ng-invalid-valid_empty {
        box-shadow : 0px 0px 1px 1px red;
    }
  </style>

  <script src="/javascript/rudder/angular/apiAccount.js" ></script>
</head>


<div class="portlet" ng-app="accountManagement" id="accountManagement" >
  <div class="portlet-content">
    <div class="inner-portlet">
      <div class="page-title">Configure allowed accounts</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>
              Configure accounts allowed to connect to Rudder's REST API.
            </p>
            <p>
              An account is composed of a name, used to identify its action (for example in event logs),
              an authentication token which is the secret that will allow it to use Rudder's API, and
              a description to explain the intent of that account.
            </p>
          </div>
        </div>

        <br/>
        <hr class="spacer" />
        <br/>

        <div class="deca" ng-controller="AccountCtrl">
        <div ng-show="errorTable" style="width:100%; text-align:center; color:red" > {{errorTable.errorDetails}} </div>
        
          <lift:authz role="administration_write">
            <button ng-click="addAccount();"   >
              Add API Account
            </button>
          </lift:authz>
          <table datatables="overrideOptions" ao-column-defs="columnDefs" aa-data="accounts" id="accountGrid">
            <thead><tr class="head tablewidth">
                <th style="width:100px">Account Name</th>
                <th style="width:250px">Token</th>
                <th style="width:50px">Status</th>
                <th style="border-right:none; width:20px;">Actions</th>
                <th style="border-left:none; border-right:none; width:20px;"></th>
                <th style="border-left:none; width:20px;"></th>
            </tr></thead>
          </table>

          <div class="accountGrid_pagination, paginatescala" >
            <div id="accountGrid_paginate_area"></div>
          </div>


          <!-- pop-ups -->
          <div id="newAccountPopup" ng-show="myNewAccount">
            <div id="newAccountContainer" >
              <div id="simplemodal-overlay" class="simplemodal-overlay" style="opacity: 0.5; height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 1001;"></div>
              <div id="simplemodal-container" class="simplemodal-container" style="position: fixed; z-index: 1002; height: auto; width: 450px; left: 30%; top: 20%;">
                <a title="Close" ng-click="closePopup();newAccount.$setPristine();" class="modalCloseImg simplemodal-close"></a>
                <div tabindex="-1" class="simplemodal-wrap" style="height: 100%; outline: 0px none; width: 100%; overflow: auto;">
                  <div id="paramForm">
                    <div class="simplemodal-title">
                      <h1 id="title" style="color: #000; wrap-word:break-word;">{{formTitle(myNewAccount)}}</h1>
                      <hr/>
                    </div>
                    <form  name="newAccount" >
                      <div class="simplemodal-content" >
                        <div ng-show="errorPopup" style="width:100%; text-align:center; color:red">{{errorPopup.errorDetails}}</div>
                        <div class="wbBaseField">
                          <label class="threeCol wbBaseFieldLabel textright"><b>Name: *</b></label>
                          <div class="twoCol">
                            <input type="text" ng-model="myNewAccount.name" name="newAccountName" id="newAccountName" ng-change="$(newAccountName).focus()" valid-empty="valid-empty"  style="width: 100%;"/>
                          </div>
                        </div>
                        <hr class="spacer"/>
                        <div class="wbBaseField" style="margin-top:15px">
                          <label class="threeCol wbBaseFieldLabel textright"><b>Description:</b></label>
                          <div class="twoCol">
                            <textarea rows="5" ng-model="myNewAccount.description" style="width: 100%;" ></textarea>
                          </div>
                        </div>
                      </div>
                      <hr class="spacer"/>
                      <div class="simplemodal-bottom">
                        <hr/>
                        <div class="popupButton" style="width:97%">
                          <span>
                            <input type="submit" class="btn-primary" style="float:right;" value="Save" ng-disabled="newAccount.$pristine || newAccount.$invalid" ng-click="checkAndSaveAccount(myNewAccount,myNewAccount.index,newAccount);newAccount.$setPristine();" />
                            <button class="simplemodal-close" ng-click="closePopup();newAccount.$setPristine();">Cancel</button>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div id="oldAccountPopup" ng-show="myOldAccount" >
            <div id="deletionPopupContainer" ng-show="myOldAccount">
              <div id="simplemodal-overlay" class="simplemodal-overlay" style="opacity: 0.5; height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 1001;"></div>
              <div id="simplemodal-container" class="simplemodal-container" style="position: fixed; z-index: 1002; max-height: 300px; width: 500px; left: 30%; top: 20%;">
                <a title="Close" ng-click="myOldAccount=undefined;" class="modalCloseImg simplemodal-close"></a>
                <div tabindex="-1" class="simplemodal-wrap" style="height: auto; outline: 0px none; width: auto; overflow: auto;">
                  <div id="paramForm">
                    <div id="deletionPopup">
                      <div class="simplemodal-title">
                        <h1 id="title" style="color:#000">{{myOldAccount.actionName}} API Account '{{myOldAccount.name}}'</h1>
                        <hr/>
                      </div>
                      <div class="simplemodal-content">
                        <div>
                          <img src="/images/icWarn.png" alt="Warning!" height="32" width="32" class="warnicon"/>
                          <h2 id="areYouSure">You are about to {{myOldAccount.actionName.toLowerCase()}} an API Account.</h2>
                          <span> If you continue, any scripts using this will no longer be able to connect to Rudder's API.</span>
                        </div>
                        <br />
                        <hr class="spacer" />
                      </div>
                      <div class="simplemodal-bottom">
                        <hr/>
                        <div class="popupButton">
                          <span>
                            <button class="simplemodal-close" ng-click="myOldAccount=undefined;">Cancel</button>
                            <button id="dialogRemoveButton" ng-click="myOldAccount.action(myOldAccount,myOldAccount.index);myOldAccount=undefined;" >Confirm</button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</lift:surround>

