<lift:surround with="menu/menu-administration" at="content">

<head>
<title>Rudder - Management</title>

<style type="text/css">
  .deca input {
    width: 180px;
  }
  .deca input {
    width: 180px;
  }
  
  .deca input.deleteNetwork {
    width: 20px;
  }
  
  button.defaultButton {
    margin-top: -1px;
    margin-left: 15px;
    padding: 2px;
    width: 100px;
  }
  
  select.twoCol {
    width:auto
  }

  select {
    min-width:50px
  }

  .defaultButton span.ui-button-text {
    padding: 0;
}
  
</style>

</head>
<div class="portlet">
  <div class="portlet-header">Policy server settings</div>
  <div class="portlet-content">

    <div class="intro">
      <div>
        <p>Configure policy server(s).</p>
      </div>
    </div>
    <div class="inner-portlet">
      <div class="inner-portlet-header">Client-server communication</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>Configure the networks from which nodes are allowed
              to connect to the Rudder policy servers to get their updated
              configuration policy.</p>
            <p>
              You can add as many networks as you want, the expected
              format is: <b>NetworkIP/mask</b>, for example
              "42.42.0.0/16".
            </p>
          </div>
        </div>

        <hr class="spacer" />

        <div>
          <div
            class="lift:administration.EditPolicyServerAllowedNetwork.render">
            <div id="allowedNetworksForm"  class="deca">
              <div id="policyServerDetails"/>
              <div id="policyServerText"/>
	          <form class="lift:form.ajax">
	            <table>
	              <thead>
	                <tr>
	                  <th width="20px">Delete</th>
	                  <th width="200px">Allowed network</th>
	                  <th></th>
	                </tr>
	              </thead>
	              <tbody id="allowNetworkFields">
	                <tr>
	                  <td class="delete"><input
	                    class="deleteNetwork" type="submit"
	                    value="delete" /></td>
	                  <td><input name="network"
	                    class="networkField" /></td>
	                  <td><lift:Msg errorClass="error">[error]</lift:Msg></td>
	                </tr>
	              </tbody>
	            </table>
	            <input id="addNetworkButton" type="submit" value="Add a network" />
	            <input id="submitAllowedNetwork" type="submit" value="Submit" />
	          </form>
            </div>
            <hr class="spacer" />
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <h3>Security</h3>
          <div class="lift:administration.PropertiesManagement.denyBadClocks" id="denyBadClocksForm">
            <form class="lift:form.ajax">
              <div class="wbBaseField"> 
                    <label class="threeCol textight" style="font-weight:bold;width: 50%;">
                      <span style="float:left">Require time synchronization between nodes and policy server: </span>
                      <span id="denyBadClocksTooltip" />
                    </label>
                    <input id="denyBadClocks" type="text"/>
              </div>
              <hr class="spacer"/>
              <div class="wbBaseField"> 
                    <label class="threeCol textright" style="font-weight:bold;width: 50%;">
                      <span style="float:left">Use reverse DNS lookups on nodes to reinforce authentication to policy server: </span>
                      <span id="skipIdentifyTooltip" />
                    </label>
                    <input id="skipIdentify" type="text"/>
              </div>
              <hr class="spacer"/>
              <input type="submit" value="[save]" id="cfserverNetworkSubmit"/>
              <lift:Msg id="updateCfserverNetwork">[messages]</lift:Msg>
            </form>
          </div>
        </div>
        <hr class="spacer" />
        
        
      </div>
    </div>

    <div class="inner-portlet">
      <div class="inner-portlet-header">Configure compliance mode</div>
      <div class="portlet-content">

        <div class="lift:administration.PropertiesManagement.complianceModeConfiguration" id="complianceModeForm">
          <div class="intro">
            <div>
              If enable, Rudder will work in compliance mode, assessing that each node correctly executed all required check, 
              and only executed the expected check. 
              When compliance is disabled, Rudder will only look for "error" and "repair" reports.
            </div>
          </div>

          <hr class="spacer" />
          <div class="deca">
            <form class="lift:form.ajax">
            
              <div class="wbBaseField"> 
                <label class="threeCol textight" style="font-weight:bold;width: 20%;">Enable compliance mode:</label><input id="complianceMode" type="checkbox"/>
              </div>
              <hr class="spacer"/>
              <input type="submit" value="Reload" id="complianceModeSubmit"/>
              <lift:Msg id="complianceModeMsg">[messages]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>        
    
    
    <div class="inner-portlet">
      <div class="inner-portlet-header">Agent run schedule</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>By default, the agent runs on all nodes every 5 minutes</p>
            <p>
              The high frequency enables fast response time to apply changes and state
              assessment for high-precision drift and compliance reports.
            </p>
            <p>
              You can modify this run interval below, as well as the "splay time" across nodes (a random
              delay delay alters scheduled run time, intended to spread load across nodes). 
            </p>
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <div id="cfagentSchedule" class="lift:administration.PropertiesManagement.cfagentSchedule" ng-app="cfagentSchedule" ng-controller="cfagentScheduleController">
            <div class="wbBaseField">
              <label class="threeCol textight" style="font-weight:bold;width:  175px;">Run agent every:</label>
              <select class="twoCol" data-ng-model="agentRun.interval" data-ng-options="item.m as item.name for item in intervals" ng-change="onChangeInterval()"></select>
            </div>
            <hr class="spacer" />
            <div class="wbBaseField">
              <label class="threeCol textight" style="font-weight:bold;width: 100px;">First run time:</label>
              <ul style="float:left;">
                <li style="margin-bottom: 7px">
                  <label style="font-weight:bold;width: 75px; float: left; "> Hour: </label>
                  <select  data-ng-model="agentRun.starthour" data-ng-options="item for item in hours()" ng-disabled="checkHours()" ng-change="onChange()"></select>
                </li>
                <li>
                  <label style="font-weight:bold;width: 75px; float:left;">Minute:</label>
                  <select  data-ng-model="agentRun.startminute" data-ng-options="item for item in minutes()" ng-change="onChange()"></select>
                </li>
              </ul>
            </div>
            <hr class="spacer" />
            <div class="wbBaseField">
              <label class="threeCol textight" style="font-weight:bold;width: 400px;">Maximum delay after scheduled run time (random interval):</label>
              <ul style="float:left;">
                <li style="margin-bottom: 7px">
                  <label style="font-weight:bold;width: 75px; float: left; "> Hours: </label>
                  <select  data-ng-model="agentRun.splayHour" data-ng-options="item for item in hours()" ng-disabled="checkHours()" ng-change="onChange()"></select>
                </li>
                <li>
                  <label style="font-weight:bold;width: 75px; float:left;">Minutes:</label>
                  <select  data-ng-model="agentRun.splayMinute" data-ng-options="item for item in minutes()" ng-change="onChange()"></select>
                </li>
              </ul>
            </div>
            <hr class="spacer"/>
            <div id="cfagentScheduleForm">
              <form class="lift:form.ajax">
                <input type="hidden" id="cfagentScheduleHidden"/>
                <input type="submit" value="[save]" id="cfagentScheduleSubmit"/>
                <lift:Msg id="cfagentScheduleMessage">[messages]</lift:Msg>
              </form>
            </div>
          </div>
        </div>
        <script type="text/javascript">
     // <![CDATA[

        var cfagentScheduleModule = angular.module("cfagentSchedule", [])
        cfagentScheduleModule.controller("cfagentScheduleController", function($scope) {

          //that's mandatory....
          $scope.agentRun = { "interval"    : 5
                            , "starthour"   : 0
                            , "startminute" : 0
                            , "splayHour"   : 0
                            , "splayMinute" : 0
                            }
          
          $scope.intervals = [
                                 {"m":5, "name": "5 minutes"}
                               , {"m":10, "name": "10 minutes"}
                               , {"m":15, "name": "15 minutes"}
                               , {"m":20, "name": "20 minutes"}
                               , {"m":30, "name": "30 minutes"}
                               , {"m":60, "name": "1 hour"}
                               , {"m":120, "name": "2 hours"}
                               , {"m":240, "name": "4 hours"}
                               , {"m":360, "name": "6 hours"}
                             ];
          
          $scope.checkHours = function() {
            return $scope.hours().length <= 1
          }

          $scope.hours = function() {
            var h = []
            var i = 0
            while(i < $scope.agentRun.interval / 60) {
              h.push(i);
              i = i+1;
            }
            return h;
          }
            
          $scope.minutes = function() {
            var m = [];
            var i = 0;
            while(i < $scope.agentRun.interval && i < 60) {
              m.push(i);
              i = i+1;
            }
            return m;
          }
          
          $scope.onChange = function() {
            jQuery("#cfagentScheduleMessage").empty();
          }
          
          $scope.onChangeInterval = function() {
            if(jQuery.inArray($scope.agentRun.starthour, $scope.hours() ) < 0 ) {
              $scope.agentRun.starthour = $scope.hours()[0];
            }
            if(jQuery.inArray($scope.agentRun.startminute, $scope.minutes() ) < 0 ) {
              $scope.agentRun.startminute = $scope.minutes()[0];
            }
            if(jQuery.inArray($scope.agentRun.splayHour, $scope.hours() ) < 0 ) {
              $scope.agentRun.splayHour = $scope.hours()[0];
            }
            if(jQuery.inArray($scope.agentRun.splayMinute, $scope.minutes() ) < 0 ) {
                $scope.agentRun.splayMinute = $scope.minutes()[0];
            }
            $scope.onChange();
          }
          
           
           
        });
        angular.bootstrap(document.getElementById("cfagentSchedule"),['cfagentSchedule']);
     // ]]>            
        </script>
        <hr class="spacer" />
      </div>
    </div>
    
    <div class="inner-portlet">
      <div class="inner-portlet-header">Configure change audit logs</div>
      <div class="portlet-content">

        <div class="lift:administration.PropertiesManagement.changeMessage" id="changeMessageForm">
          <div class="intro">
            <div>
              <p>If enabled, prompt users to enter a message explaining the reason for each configuration change they make.<br/>
		  	   These messages will be stored in each <a href="/secure/utilities/eventLogs">Event log</a> and as the commit message for the underlying git repository in <span id="configurationRepoPath"></span></p>
            </div>
          </div>

          <hr class="spacer" />
          <div class="deca">
            <form class="lift:form.ajax">
            
              <div class="wbBaseField"> 
                <label class="threeCol textight" style="font-weight:bold;width: 20%;">Enable change audit logs:</label><input id="enabled" type="checkbox"/>
              </div>
              <hr class="spacer"/>
              <div class="wbBaseField">       
                    <label class="threeCol textight" style="font-weight:bold;width: 20%;"><span style="float:left">Make message mandatory: </span><span id="mandatoryTooltip" /></label><input id="mandatory" type="checkbox"/>
              </div>
              <hr class="spacer"/>
  		      <div class="wbBaseField"> 
                    <label class="threeCol textight" style="font-weight:bold;width: 20%;"><span style="float:left">Explanation to display: </span><span id="explanationTooltip" /></label><input id="explanation" type="text"/><input id="restoreExplanation" type="button"/>
              </div>
              <hr class="spacer"/>
              <input type="submit" value="Reload" id="changeMessageSubmit"/>
              <lift:Msg id="updateChangeMsg">[messages]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="inner-portlet">
      <div class="inner-portlet-header">Configure Change Requests (validation workflow)</div>
      <div class="portlet-content">


        <div class="intro">
          <div>
            <p>If enabled, all changes to configuration (Directives, Rules, Groups and Parameters) will be submitted for validation via a Change Request. <br/>
A new Change Request will enter the "<b>Pending validation</b>" status, then can be moved to "<b>Pending deployment</b>" (approved but not yet deployed) or "<b>Deployed</b>" (approved and deployed) statuses.<br/>
Only users with the "<b>validator</b>" or "<b>deployer</b>" roles are authorized to perform these steps (see <i>/opt/rudder/etc/rudder-users.xml</i>).<br/>
<br/>
If disabled, all changes to configuration will be immediately deployed.</p>
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <div
            class="lift:administration.PropertiesManagement.workflow"
            id="workflowForm">
            <form class="lift:form.ajax">
            
              <div class="wbBaseField"> 
                <label class="threeCol textright" style="font-weight:bold;width: 20%;">Enable Change Requests:</label><input id="workflowEnabled" type="checkbox"/>
              </div>
              <hr class="spacer"/>
              <div class="wbBaseField">       
                    <label class="threeCol textright" style="font-weight:bold;width: 20%;"><span style="float:left">Allow self validation: </span><span id="selfValTooltip"/></label><input id="selfVal" type="checkbox"/>
              </div>
              <hr class="spacer"/>
  		      <div class="wbBaseField"> 
                    <label class="threeCol textright" style="font-weight:bold;width: 20%;"><span style="float:left">Allow self deployment: </span><span id="selfDepTooltip"/></label><input id="selfDep" type="checkbox"/>
              </div>
              <hr class="spacer"/>
              <input type="submit" value="Reload" id="workflowSubmit"/>
              <lift:Msg id="updateWorkflow">[messages]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="inner-portlet">
      <div class="inner-portlet-header">Configure file retention</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>Every time Rudder modifies a file (by file editing or copying from a remote source), a copy of the overwritten file is kept under <i>/var/rudder/modified-files/</i>.<br/>
Also, the full output from each agent run is stored in a file under <i>/var/rudder/cfengine-community/outputs/</i>.
These files are automatically removed to save on disk space. You can configure the retention time (Time To Live) they are kept for here.</p>
          </div>
        </div>
          <div class="deca">
            <div class="lift:administration.PropertiesManagement.cfengineGlobalProps" id="cfengineGlobalPropsForm">
              <form class="lift:form.ajax">
                <div class="wbBaseField">
                  <label class="threeCol textight" style="font-weight:bold;width: 300px;">
                    <span style="float:left">Number of days to retain modified files: </span>
                    <span id="modifiedFilesTtlTooltip" />
                  </label>
                  <input id="modifiedFilesTtl" type="text"/>
                </div>
                <hr class="spacer"/>
                <div class="wbBaseField">
                  <label class="threeCol textright" style="font-weight:bold;width: 300px;">
                    <span style="float:left">Number of days to retain agent output files: </span>
                    <span id="cfengineOutputsTtlTooltip" />
                  </label>
                  <input id="cfengineOutputsTtl" type="text"/>
                </div>
                <hr class="spacer"/>
                <input type="submit" value="[save]" id="cfengineGlobalPropsSubmit"/>
                <lift:Msg id="updateCfengineGlobalProps">[messages]</lift:Msg>
              </form>
            </div>
          </div>
      </div>
    </div>

    <div class="inner-portlet">
      <div class="inner-portlet-header">Logging</div>
      <div class="portlet-content">

        <div class="lift:administration.PropertiesManagement.loggingConfiguration" id="storeAllLogsForm">
          <div class="intro">
            <div>
              <p>All nodes in Rudder send reports via syslog to this Rudder root server. These logs are stored in an SQL database in order to determine compliance information displayed in this web interface. However, it can be useful to also store this information in a plain text log file, for example for statistics or debugging purposes. The option below enables this.</p>
            </div>
          </div>

          <hr class="spacer" />
	      <div class="deca">

            <form class="lift:form.ajax">
              <div class="wbBaseField">
                    <label class="threeCol textight" style="font-weight:bold;width: 40%;">
                      <span style="float:left">Log all reports received to /var/log/rudder/reports/all.log: </span>
                    </label>
                    <input id="storeAllLogsOnFile" type="text"/>
              </div>
              <hr class="spacer"/>
              <input type="submit" value="[save]" id="loggingConfigurationSubmit"/>
              <lift:Msg id="loggingConfiguration">[messages]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="inner-portlet">
      <div class="inner-portlet-header">Clear policy caches</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>Clear cached data. This
              will trigger a full policy update, and regenerate
              all promise files.</p>
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <div class="lift:administration.ClearCache.render"
            id="clearCacheForm">
            <form class="lift:form.ajax">
              <input id="clearCacheButton" type="submit"
                value="[Clear cache]" />
              <lift:Msg id="clearCacheNotice">[error]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="inner-portlet">
      <div class="inner-portlet-header">Manage dynamic groups</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>Groups in Rudder can be static (fixed list of nodes) or dynamic (the list of nodes is built from a search query).<br/>
To take into account new nodes and changes to their inventory, dynamic groups must be reloaded regularly.<br/>
Currently, Rudder will automatically do this reload every <b id="dynGroupUpdateInterval">5</b> minutes (see <i>/opt/rudder/etc/rudder-web.properties</i>).
</p>
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <div class="lift:administration.DyngroupReloading.render"
            id="dyngroupReloadingForm">
            <form class="lift:form.ajax">
              <input id="dyngroupReloadingButton" type="submit"
                value="[Reload dyngroups]" />
              <lift:msg id="dyngroupReloadingNotice"
                errorClass="error">[error]</lift:msg>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="inner-portlet">
      <div class="inner-portlet-header">Manage Technique library</div>
      <div class="portlet-content">

        <div class="intro">
          <div>
            <p>Techniques in Rudder are read from the filesystem (in <i>/var/rudder/configuration-repository/techniques</i>).<br/>
To take into account new Techniques and changes, the Technique library must be updated regularly.<br/>
Currently, Rudder will automatically do this update every <b id="techniqueLibraryUpdateInterval">5</b> minutes (see <i>/opt/rudder/etc/rudder-web.properties</i>).
</p>
          </div>
        </div>

        <hr class="spacer" />
        <div class="deca">
          <div
            class="lift:administration.TechniqueLibraryManagement.reloadTechniqueButton"
            id="reloadTechniqueLibForm">
            <form class="lift:form.ajax">
              <input type="submit" value="Reload" />
              <lift:Msg id="updateLib">[messages]</lift:Msg>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    

  </div>
</div>
</lift:surround>

