<lift:surround with="common-layout" at="content">

<div data-lift="administration.ApiAccounts.render">
  That gives us a JS variable with the servlet
  context path named "contextPath" and the API
  path for token management named apiPath
  var contextPath = "/rudder"";
  var apiPath = "/rudder/secure/apiaccounts"
</div>

<head>
  <title>Rudder - API accounts</title>
  <style>
    #accounts{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    #accountGrid td {
      border  : 1px solid #B4B3A8;
    }
    #accountGrid > tbody > tr > td:nth-child(3) {
      color: #fff;
    }
    #accounts li{
      display: inline;
      float:left;
      margin :0px 15px;
      padding : 10px
    }
    form .ng-invalid-valid_empty {
      box-shadow : 0px 0px 1px 1px red;
    }
    .btn.space-bottom{
      margin-bottom:10px;
    }
    .btn.space-top{
      margin-top:10px;
    }
  </style>
  <script data-lift="with-cached-resource" src="/javascript/rudder/angular/apiAccount.js" ></script>
</head>
<div class="portlet" ng-app="accountManagement" id="accountManagement">
  <div class="portlet-content">
    <div class="inner-portlet">
      <div class="page-title">Configure allowed accounts</div>
      <div class="portlet-content">
        <div class="intro">
          <div>
            <p>
              Configure accounts allowed to connect to Rudder's REST API.
            </p>
            <p>
              An account is composed of a name, used to identify its action (for example in event logs),
              an authentication token which is the secret that will allow it to use Rudder's API, and
              a description to explain the intent of that account.
            </p>
          </div>
        </div>
        <div ng-controller="AccountCtrl">
          <div ng-show="errorTable" style="width:100%; text-align:center; color:red" ng-cloak> {{errorTable.errorDetails}} </div>
          <lift:authz role="administration_write">
            <span class="tw-bs">
              <button ng-click="addAccount();" class="btn btn-success new-icon space-bottom space-top">
                Create API Account
              </button>
            </span>
          </lift:authz>
          <table datatables="overrideOptions" ao-column-defs="columnDefs" aa-data="accounts" id="accountGrid" refresh="getAccounts">
            <thead>
              <tr class="head tablewidth">
                <th style="width:100px">Account Name</th>
                <th style="width:250px">Token</th>
                <th style="width:50px">Status</th>
                <th style="border-right:none; width:20px;">Actions</th>
                <th style="border-left:none; border-right:none; width:20px;"></th>
                <th style="border-left:none; width:20px;"></th>
              </tr>
            </thead>
          </table>
          <div class="accountGrid_pagination, paginatescala" >
            <div id="accountGrid_paginate_area"></div>
          </div>

          <!-- pop-ups -->
          <div class="tw-bs">
            <div class="modal fade" id="newAccountPopup" tabindex="-1" role="dialog">
              <div class="modal-backdrop fade in" style="height: 100%;"></div>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                      {{formTitle(myNewAccount)}}
                    </h4>
                  </div>
                  <div class="modal-body">
                    <form name="newAccount">
                        <div class="form-group" class="" ng-class="{'has-error': newAccount.$invalid && !newAccount.$pristine}">
                            <label class="control-label col-lg-3 col-sm-12 col-xs-12 valign"><b>Name</b></label>
                            <input type="text" class="form-control col-lg-9 col-sm-12 col-xs-12 float-inherit"  valid-empty="valid-empty" ng-model="myNewAccount.name" name="newAccountName" id="newAccountName" ng-change="$(newAccountName).focus()">
                            <div ng-show="errorPopup" class="text-danger">{{errorPopup.errorDetails}}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 col-sm-12 col-xs-12 valign">Description</label>
                            <textarea class="form-control vresize col-lg-9 col-sm-12 col-xs-12 float-inherit"></textarea>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" ng-disabled="newAccount.$invalid" ng-click="checkAndSaveAccount(myNewAccount,myNewAccount.index,newAccount);newAccount.$setPristine();" value="{{defineActionName(formTitle(myNewAccount))}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="oldAccountPopup" tabindex="-1" role="dialog">
              <div class="modal-backdrop fade in" style="height: 100%;"></div>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">
                      {{myOldAccount.actionName}} API Account '{{myOldAccount.name}}'
                    </h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-12 col-sm-12 col-xs-12">
                        <h4 class="text-center" id="areYouSure">
                          You are about to {{myOldAccount.actionName.toLowerCase()}} an API Account.
                        </h4>
                      </div>
                    </div>
                    <div class="alert alert-warning text-center space-top" role="alert">
                      <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                      <span>If you continue, any scripts using this will no longer be able to connect to Rudder's API.</span>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="dialogRemoveButton" ng-click="myOldAccount.action(myOldAccount,myOldAccount.index);myOldAccount=undefined;" class="btn" ng-class="{'btn btn-danger':myOldAccount.actionName=='Delete' , 'btn btn-primary':myOldAccount.actionName!='Delete'}">{{defineActionName(myOldAccount.actionName)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</lift:surround>

