[package]
name = "relayd"
version = "0.0.0-dev"
authors = ["Rudder developers <dev@rudder.io>"]
edition = "2018"
description = "Rudder relay component"
readme = "README.md"
homepage = "https://www.rudder.io"
repository = "https://github.com/Normation/rudder"
license = "GPL3"

[[bin]]
name = "rudder-relayd"
path = "src/relayd.rs"

[[bench]]
name = "runlog"
harness = false

[dependencies]
#### Good
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
nom = "5.0.0-beta1"
# Could use native lib instead, but maybe not prod-ready
flate2 = { version = "1.0", features = ["zlib"], default-features = false }
diesel = { version = "1.4", features = ["postgres", "chrono", "r2d2"] }
# Compile dev and release with trace logs enabled
slog = { version = "2.4", features = ["max_level_trace", "release_max_level_trace"] }
slog-term = "2.4"
slog-async = "2.3"
slog-scope = "4.1"
slog-stdlog = "3.0"
slog-atomic = "2.0"
slog-kvfilter = "0.7"
#### Bad (=Not widely used or <1.0)
structopt = "0.2"
toml = "0.5"
inotify = "0.7"
openssl = "0.10"
# Disable uneeded features (udp, unix socket, etc.)
tokio = { version = "0.1", default-features = false, features = ["fs", "io", "reactor", "rt-full"] }
tokio-signal = "0.2"
tokio-threadpool = "0.1"
futures = "0.1"
warp = "0.1"
reqwest = "0.9"
chrono = { version = "0.4", features = ["serde"] }
regex = "1.1"
itertools = "0.8"

[dev-dependencies]
criterion = "0.2"
filetime = "0.2"
tempfile = "3.0"

[profile.release]
# Smaller binaries
lto = true
