# Only non-default values are listed here

[sources]
unknown-registry = "deny"
unknown-git = "deny"


allow-git = [
    "https://github.com/fennewald/format_serde_error",
    "https://github.com/JamesGuthrie/test-generator",
    "https://github.com/amousset/warp?branch=body-stream"
]

[sources.allow-org]
github = ["Normation"]

[licenses]
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.7 short identifier (+ optional exception)].
allow = [
    "ISC",
    "MIT",
    "Apache-2.0",
    "GPL-3.0",
    "GPL-3.0-or-later",
    "Unicode-DFS-2016",
    "BSD-3-Clause",
    "BSL-1.0",
    "MPL-2.0",
    "Unicode-3.0",
    "CC0-1.0",
    "CC-BY-4.0",
    "LGPL-2.0",
    "LGPL-2.1",
    "MIT-0",
    "Zlib",
]
unused-allowed-license = "allow"

[advisories]
ignore = [
]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "allow"

