# Only non-default values are listed here

[licenses]
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.7 short identifier (+ optional exception)].
allow = [
    "ISC",
    "MIT",
    "Apache-2.0",
    "GPL-3.0",
    "Unicode-DFS-2016",
    "BSD-3-Clause",
    "BSL-1.0",
    "MPL-2.0",
]

[advisories]
ignore = [
    # Not vulnerable to puny-code masking
    "RUSTSEC-2024-0421",
    # adler is no longer maintained
    "RUSTSEC-2025-0056",
]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "allow"

