/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

// --- MAIN COLORS
$rudder-success   : #13BEB7;
$rudder-primary   : #337AB7;
$rudder-warning   : #EF9600;
$rudder-danger    : #DA291C;
$rudder-info      : #337AB7;

$rudder-gray-100 : #F8F9FC;
$rudder-gray-200 : #EEF1F9;
$rudder-gray-300 : #E1E5EB;
$rudder-gray-400 : #B1BBCB;
$rudder-gray-500 : #72829D;
$rudder-gray-600 : #36474E;
$rudder-black    : #041922;

// --- TEXT & LINK
$rudder-txt-primary   : $rudder-black;
$rudder-txt-secondary : $rudder-gray-500;
$rudder-txt-light     : $rudder-gray-600;
$rudder-txt-link      : #1295C2;

// --- BACKGROUNDS
$rudder-bg-light-gray : $rudder-gray-100;
$rudder-bg-gray       : $rudder-gray-200;
$rudder-bg-dark-gray  : $rudder-gray-300;
$rudder-bg-info       : #E2F2FF;
$rudder-bg-danger     : #F8D7DA;
$rudder-bg-warning    : rgba($rudder-warning, .08);
$rudder-bg-overlay    : rgba($rudder-black, .3);

// --- BORDERS
$rudder-border-color-default : #D6DEEF;
$rudder-border-color-danger  : #AC2925;
$rudder-border-color-warning : rgba($rudder-warning, .2);

// --- BOX-SHADOWS
$rudder-box-shadow-color : #DCE3EF;

// --- ACCORDIONS
$rudder-accordion-color-1 : #D1A9DD;
$rudder-accordion-color-2 : #A9D6DD;
$rudder-accordion-color-3 : #A9B9DD;

// --- POLICY MODE
$rudder-audit   : #1384BE;
$rudder-enforce : #13BE7E;

// --- COMPLIANCE
$color-compliance-disabled      : $rudder-gray-500;
$color-compliance-success       : $rudder-success;
$color-compliance-error         : $rudder-danger;
$color-compliance-pending       : #14C3DD;
$color-compliance-noreport      : $rudder-gray-400;
$color-compliance-missing       : #F2E27D;
$color-compliance-notapplicable : #8DCD8D;
$color-compliance-noncompliant  : $rudder-warning;

// --- SCORES
$rudder-score-color-A : $rudder-success;
$rudder-score-color-B : #68C96A;
$rudder-score-color-C : #B3D337;
$rudder-score-color-D : #FEDC04;
$rudder-score-color-E : #F0940E;
$rudder-score-color-F : $rudder-danger;
$rudder-score-color-X : #B1BBCB;

// --- PACKAGES
$color-package-security    : $rudder-danger;
$color-package-bugfix      : $rudder-warning;
$color-package-enhancement : $rudder-success;
$color-package-update      : $rudder-gray-500;
$color-package-uptodate    : #00A65A;