/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

/// Here is the Rudder main highlight color. It is used to represent success, or the principal actions of a page (_Create_ & _Save_ in most cases). It is also the color of the Rudder logo. It overrides the `$success` Bootstrap variable.
/// @group 1-main-colors
/// @type Color
$success : #13BEB7;

/// Mostly used to highlight an element that does not represent a success/warning/danger, or an important but risk-free action. It overrides the `$primary` Bootstrap variable.
/// @group 1-main-colors
/// @type Color
$primary : #337AB7;

/// Used to highlight a warning that requires the user attention (e.g. notifications, warning message, exclamation icons...). It overrides the `$warning` Bootstrap variable.
/// @group 1-main-colors
/// @type Color
$warning : #EF9600;

/// Used to highlight a danger that requires the user attention and an action to remedy it (e.g. notifications, error message), or to indicate the danger of an action (e.g. delete an item, regenerate policies...). It overrides the `$danger` Bootstrap variable.
/// @group 1-main-colors
/// @type Color
$danger : #DA291C;

/// Applied on informative elements (e.g. icons, border, and text that provides info to user). It overrides the `$info` Bootstrap variable.
/// @group 1-main-colors
/// @type Color
$info : #337AB7;

// --- GRAY COLORS

/// Used as a light background color to differentiate a section on a white background. Also used as the background color for **'default'** buttons. It overrides the `$gray-100` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-100 : #F8F9FC;

/// Used as the background color for rudder's default badges, and as a background color to highlight items in a list/table/tree when hovering over them. It overrides the `$gray-200` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-200 : #EEF1F9;

/// Used as background color on drag-and-drop handles in the Technique editor. It overrides the `$gray-300` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-300 : #E1E5EB;

/// Darkest color used as background on certain sections or page components. It overrides the `$gray-400` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-400 : #B1BBCB;

/// Only used as background color when hover over badges. It overrides the `$gray-500` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-500 : #72829D;

/// Mainly used as a secondary text color. It is also used on non-important icons, or UI elements like badges It overrides the `$gray-600` Bootstrap variable.
/// @group 2-gray-colors
/// @type Color
$gray-600 : #36474E;

/// Used as the primary text color. It is also the color of the Rudder logo text and the background color of the sidebar.
/// @group 2-gray-colors
/// @type Color
$black : #041922;


// --- TEXT & LINK
/// Rudder's primary text color. Its value corresponds to the value of ```$black``` variable. It overrides the `$body-color` Bootstrap variable.
/// @group 3-text-links
/// @type Color
$txt-primary : $black;

/// Used as a secondary text color to display additional information without drawing too much attention from the user. It is also the main color for neutral icons. It overrides the `$gray-100` Bootstrap variable.
/// @group 3-text-links
/// @type Color
$txt-secondary : $gray-500;

/// Used as a tertiary text color, If the secondary color is already used on another nearby text or component. It overrides the `$gray-100` Bootstrap variable.
/// @group 3-text-links
/// @type Color
$txt-light : $gray-600;

/// Used as the text color for links, and to highlight open tab titles (or highlight other navigation elements). It overrides the `$link-color` Bootstrap variable.
/// @group 3-text-links
/// @type Color
$txt-link      : #1295C2;


// --- BACKGROUNDS

/// Used as a light background color to differentiate a section on a white background. Also used as the background color for **'default'** buttons.
/// @group 4-background
/// @type Color
$bg-light-gray : $gray-100;

/// Used as background color on drag-and-drop handles in the Technique editor
/// @group 4-background
/// @type Color
$bg-gray : $gray-200;

/// Used as background color on drag-and-drop handles in the Technique editor.
/// @group 4-background
/// @type Color
$bg-dark-gray : $gray-300;

/// Used as a background color on certain information components
/// @group 4-background
/// @type Color
$bg-info : #E2F2FF;

/// Used as a background color on components to highlight dangerous information or an error.
/// @group 4-background
/// @type Color
$bg-danger : #F8D7DA;

/// Light color used as a background to highlight a warning message.
/// @group 4-background
/// @type Color
$bg-warning : rgba($warning, .08);

/// A dark, slightly transparent color used to direct the user's focus to a floating component by covering the background of the page.
/// @group 4-background
/// @type Color
$bg-overlay : rgba($black, .3);


// --- BORDERS & SHADOWS

/// Default color of borders that structure pages, sections and UI components in Rudder. It overrides the `$border-color` Bootstrap variable.
/// @group 5-borders-shadows
/// @type Color
$border-color-default : #D6DEEF;

/// Color of component borders that alert to a danger or error.
/// @group 5-borders-shadows
/// @type Color
$border-color-danger : #AC2925;

/// Color of component borders that give a warning message.
/// @group 5-borders-shadows
/// @type Color
$border-color-warning : rgba($warning, .2);

/// Color used as box-shadow to highlight components with a white background on a light gray page background (e.g. cards in the dashboard, or the login form)
/// @group 5-borders-shadows
/// @type Color
$box-shadow-color : #DCE3EF;

/// Color used to highlight clickable components when hovering over them
/// @group 5-borders-shadows
/// @type Color
$box-shadow-hover-color : #B3BFD5;


// --- POLICY MODE

/// This color refers to and represents the “audit” policy mode.
/// @group 6-policymode
/// @type Color
$audit : #1384BE;

/// This color refers to and represents the enforce” policy mode.
/// @group 6-policymode
/// @type Color
$enforce : #13BE7E;


// --- COMPLIANCE

/// Represents the color for **‘disabled’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-disabled : $gray-500;

/// Represents the color for **‘success’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-success : $success;

/// Represents the color for **‘error’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-error : $danger;

/// Represents the color for **‘pending’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-pending : #14C3DD;

/// Represents the color for **‘no report’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-noreport : $gray-400;

/// Represents the color for **‘missing’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-missing : #F2E27D;

/// Represents the color for **‘not applicable’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-notapplicable : #8DCD8D;

/// Represents the color for **‘non compliant’** compliance. It is mostly visible in charts and progress bars.
/// @group 7-compliance
/// @type Color
$color-compliance-noncompliant : $warning;


// --- SCORES

/// Refers to the color of the **‘A’** score badge.
/// @group 8-scores
/// @type Color
$score-color-A : $success;

/// Refers to the color of the **‘B’** score badge.
/// @group 8-scores
/// @type Color
$score-color-B : #68C96A;

/// Refers to the color of the **‘C’** score badge.
/// @group 8-scores
/// @type Color
$score-color-C : #B3D337;

/// Refers to the color of the **‘D’** score badge.
/// @group 8-scores
/// @type Color
$score-color-D : #FEDC04;

/// Refers to the color of the **‘E’** score badge.
/// @group 8-scores
/// @type Color
$score-color-E : #F0940E;

/// Refers to the color of the **‘F’** score badge.
/// @group 8-scores
/// @type Color
$score-color-F : $danger;

/// Refers to the color of the **‘X’** score badge.
/// @group 8-scores
/// @type Color
$score-color-X : #B1BBCB;


// --- PACKAGES
/// Used on icons, text, and badges to represent **‘security’** packages.
/// @group 9-packages
/// @type Color
$color-package-security : $danger;

/// Used on icons, text, and badges to represent **‘bugfix’** packages.
/// @group 9-packages
/// @type Color
$color-package-bugfix : $warning;

/// Used on icons, text, and badges to represent **‘enhancement’** packages.
/// @group 9-packages
/// @type Color
$color-package-enhancement : $success;

/// Used on icons, text, and badges to represent **‘update’** packages.
/// @group 9-packages
/// @type Color
$color-package-update : $gray-500;

/// Used on icons, text, and badges to represent **‘up to date’** packages.
/// @group 9-packages
/// @type Color
$color-package-uptodate : #00A65A;



// --- ACCORDIONS

/// Used to highlights accordion border.
/// @group 91-accordions
/// @type Color
$accordion-color-1 : #D1A9DD;
/// Used to highlights accordion border.
/// @group 91-accordions
/// @type Color
$accordion-color-2 : #A9D6DD;
/// Used to highlights accordion border.
/// @group 91-accordions
/// @type Color
$accordion-color-3 : #A9B9DD;