/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;


$doughnut-size : 200px;

.homePage > .container-fluid{
  height: calc(100vh - 50px);
}
#headerBar~.content-wrapper .rudder-template .homePage > .container-fluid{
  height: calc(100vh - 80px);
}
/* === CARD === */
 .homePage .card{
  border-radius: 12px;
  box-shadow: 0 6px 16px 2px rudder.$box-shadow-color;
  border: none !important;
  overflow: hidden;
}

.homePage a.card{
  $duration: .2s;

  cursor: pointer;
  transition: $duration box-shadow;

  .icon-link-container{
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    right: 0;
    width: 2rem;
    align-items: center;

    i{
      opacity: 0;
      transform: rotate(45deg);
      color: rudder.$txt-link;
      font-size: 1.6rem;
      position: relative;
      right: 20px;
      transition-duration: $duration;
      transition-property : opacity, right;
      transition-timing-function : ease-out;
    }

  }
  &:hover {
    box-shadow: 0 6px 14px 0px rudder.$box-shadow-hover-color;

    .icon-link-container i{
      opacity: 1;
      right: 0;
    }
  }
}

.highlight{
  color: rudder.$txt-primary;
  font-weight:700;
}
.node-chart h4 {
  color: rudder.$txt-light;
  margin-bottom: 15px;
  font-size: 1.3em;
}
/* Statistics */
.stats li {
  &:hover{
    background-color: #f2f8fe;
  }
  & > a {
    .badge{
      background-color: rudder.$gray-400;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      font-size: 1em;
    }

    &:hover {
      & .badge{
         background-color: rudder.$gray-500;
         opacity:1;
       }
    }
  }
}

/* Global Compliance */
#globalCompliance .progress {
  height: 80px;
  border-radius: 8px;
}

#globalCompliance .progress .progress-bar {
  font-size: 16px;
  min-width: 8px;
}

.placeholder.progress{
  background: repeating-linear-gradient(
    135deg,
    #eef1f8,
    #eef1f8 10px,
    rudder.$bg-light-gray 10px,
    rudder.$bg-light-gray 20px
  );
  box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
}

/* Node Breakdown */
.node-charts {
  display: flex;
  flex-wrap: wrap;
}

.node-charts .node-chart canvas,
#nodeCompliance,
.placeholder-doughnut-chart{
  width : $doughnut-size !important;
  height: $doughnut-size !important;
}

.placeholder-doughnut-chart{
  border-radius: 50%;
  background: repeating-linear-gradient(
    135deg,
    #eef1f8,
    #eef1f8 10px,
    rudder.$bg-light-gray 10px,
    rudder.$bg-light-gray 20px
  );
  display: flex;
  justify-content: center;
  align-items: center;

  &:before{
    content: "";
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
  }
}

.graph-legend {
  margin-bottom: 0;
  &  > .legend {
    background-color:transparent;
    transition-duration:.2s;
    cursor:pointer;
    border-radius:4px;
    display: flex;
    align-items: flex-end;
    color: rudder.$txt-light;
    font-weight: 500;
    min-width : 100px;
    padding: 4px;

    &:hover{
      background-color: rudder.$bg-light-gray;
      color: rudder.$txt-primary;
    }

    .legend-square{
      $size : 16px;
      height: $size;
      width: $size;
    }
  }
}