/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

.rudder-template > .one-col{
  flex: 1;
}
.template-sidebar.sidebar-left{
  box-shadow : none !important;
  flex-basis : initial !important;
  flex: initial !important;
  height: auto;
}
.template-main{
  flex-basis : initial !important;
  flex: auto !important;
}
.rudder-template .one-col .sidebar-body ul.nav > li > ul.nav{
  padding: 0 0 10px 15px;
}

/* === MAIN LIST === */
.hooks-list {
  & > li:first-child h4{
    margin-top: 0;
  }
  h4{
    margin-top: 1.8rem;
    font-weight: bold;
  }
  h5{
    color: rudder.$txt-light;

    small{
      color: rudder.$txt-secondary;
      margin-left: 8px;
      opacity: .8;
    }
  }
}

.category-sublist > li{
  margin-bottom: 16px;
}

.hooks-sublist {
  padding-left: 20px;

  & > li{
    padding: 8px;
    background-color: rudder.$bg-light-gray;
    border-radius: 5px;
    margin-bottom: 6px;
    font-size: 14px;
    transition: opacity .2s;

    &:hover{
      background-color: #F2F8FE;
    }
  }
}