/*
*************************************************************************************
* Copyright 2017 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
#editForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#headerBar ~ .content-wrapper #editForm{
  height: calc(100VH - 80px);
}
#policyConfiguration,
#policyConfiguration > form,
#policyConfiguration form > form{
  height: 100%;
  background-color: #fff;
}
#policyConfiguration > form{
  display: flex;
  flex-direction: column;
}
.section-title {
  border-bottom-color: #d6deef ;
}
#techniqueDetails{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}
#versionTable > thead > tr > th:last-child,
#versionTable > tbody > tr > td:last-child{
  display: none;
}
#versionTable + .checkbox-group{
  margin-top: 10px;
  cursor: pointer;
}
#versionTable + .checkbox-group input{
  margin: 0px 2px 0px 0px;
  position:relative;
  top:2px;
  display: inline-block !important;
}
#versionTable + .checkbox-group input + label{
  font-weight:normal;
  font-size:13px;
}
#directiveToolbar{
  border-top-color:#e2e2e2;
}
.editTech{
  margin-top:4px;
}
.moreFilters{
  margin-left:0 !important;
  margin-right:4px !important;
}
#technicalDetails{
  padding: 6px 10px;
  margin-bottom: 0;
}
#technicalDetails td{
  line-height: 1.2em;
}
.directiveTechnicalInfo{
  padding-top: 12px;
}
.directiveInfo{
   margin-left:10px;
}
.inlineml{
  display:inline;
  margin-left:3px;
}
.inlinenotop{
  display:inline;
  padding-top:0px;
}
.cpiefsave{
  float:right;
}

.wbBaseField * {
  vertical-align: middle;
}

.wbBaseField {
  vertical-align: middle;
  margin-top: 7px;
}

.wbBaseFieldLabel {
  margin-top: 5px;
}

.wbBaseFieldLabel .tw-bs .ruddericon {
    top: -2px;
}
#technicalDetails > .directiveTechnicalInfo:first-child{
  margin-top:0;
}
.directiveTree {
  padding-left: 10px;
  padding-right: 10px;
  padding: 0 10px;
  overflow-y:auto;
  overflow-x:hidden;
}
#directiveRulesTab {
  min-height: calc(100vh - 200px);
}
#directiveRulesTab .box {
  border: 1px solid #d6deef;
}
#directiveRulesTab .box-header.with-border {
  background-color: #f8f9fc;
}
#directiveRulesTab .rudder-form  input[type=checkbox] + .label-radio + .check-icon{
  right: 7px;
  font-size: 12px;
  top: calc(50% - 6px);
}
#directiveRulesTab ul > li.rudder-form > .input-group label.form-control {
  padding-right: 20px;
  padding-left: 6px;
}
#directiveRulesTab .only-tags a.all{
  font-size: 10px;
  width:15px;
}
#directiveRulesTab .only-tags a.key{
  font-size: 10px;
  width:80px;
}
#directiveRulesTab .only-tags a.value{
  font-size: 10px;
  width:80px;
}
#directiveRulesTab .only-tags .btn-xs.pull-right{
  float:left !important;
}
#grid_rules_grid_zone tr.head th {
    padding: 4px 6px;
}
.version-group{
  float:left;
  padding:0 0 0 15px;
}
.version-group select.form-select{
  margin-right:5px;
}
.btn.new-icon.no-icon:after{
  content: "";
  margin: 0;
}
.content-wrapper .btn.btn-box-tool{
  padding-left:2px;
  padding-right:2px;
}
#versionTable thead tr {
  border: 1px solid #666 !important;
  padding: 0px;
  list-style: none inside none;
  font-weight: bold;
  background-color: #666;
  color: #FFF;
  font-size: 13px;
}
#versionTable thead tr th {
  padding: 3px;
  text-align: center;
}
#versionTable tbody tr {
  border: 1px solid #666 !important;
  padding: 4px 3px;
  margin: 0px;
  padding: 0px;
  list-style: none inside none;
  font-size: 12px;
}
#versionTable tbody tr td {
  text-align: center;
}
#versionTable .fa-gear{
  font-size: 18px;
}
#versionTable .dsc-icon{
  height:22px;
  width:16px;
}
.multiversion-icon{
  font-size:14px;
  cursor:help;
  margin-left:5px;
  position:relative;
  top:1px;
  color: #999;
}
.btn.btn-technical-details{
  min-width: 165px;
  transition-duration: .2s;
}
.btn.btn-technical-details.opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btn.btn-technical-details:before{
  content: "Show ";
}
.btn.btn-technical-details.opened:before{
  content: "Hide ";
}
#confirmUpdateActionDialog #grid_remove_popup_grid_wrapper,
#basePopup #grid_remove_popup_grid_wrapper{
  float:left;
  width:100%;
}
.radio > label > input{
  top: -2px;
}

#desactivateAction > input {
  text-transform: capitalize;
}

.markdown {
  margin-bottom: 5px;
}
.markdown > span > :last-child,
.markdown > div  > :last-child{
  margin-bottom: 0;
}
.markdown > span > :first-child,
.markdown > div  > :first-child{
  margin-top: 0 !important;
}

.toggle-doc{
  cursor: pointer !important;
}
.toggle-doc.doc-hidden + .markdown{
  display: none !important;
}
.toggle-doc > i.fa{
  color: #041922;
  opacity: .4;
  margin-left : 6px;
  transition : opacity .2s;
}
.toggle-doc:hover > i.fa{
  opacity: .6;
}
.toggle-doc.doc-hidden > i.fa{
  transform: rotate(-90deg);
}
/* POLICY MODE */
#policyModes{
  margin-top: 0;
}
.policymode-group input:checked + span > span.audit-btn{
  background-color: #1384BE;
  color: #fff;
}
.policymode-group input:checked + span > span.enforce-btn{
  background-color: #13be7e;
  color: #fff;
}
.policymode-group input:checked + span > span.global-btn{
  background-color: #f8f9fc;
  color: #041922;
}
.policymode-group .global-mode.audit:before{
  content: "audit";
  color: #1384BE;
}
.policymode-group .global-mode.enforce:before{
  content: "enforce";
  color: #13be7e;
}
/* === PARAMETERS === */
.input-feature {
  &:first-child {
    & > .btn, & > .dropdown-toggle {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.directiveAddGroup{
  margin-top: 15px;
}

.directive-input-group .btn-group.input-feature .btn.dropdown-toggle {
  border-radius: 4px 4px 0 0;
  margin-bottom: -1px;
}
.directive-input-group .btn-group.input-feature + textarea.form-control{
  border-top-left-radius: 0 !important;
}
.password-app .input-result{
  display: none !important;
}

table.directiveGroupDef, table.directiveVarDef, table.directiveSectionDef {
  width:100%;
  padding-left: 15px;
}

.directiveTitle {
  font-weight:bold;
}

/* === OVERRIDE TEMPLATE === */
.main-header.no-header,
.main-header.no-header + .main-navbar{
  display: none !important;
}
.main-header.no-header ~ .main-details{
  background: transparent;
}
#directiveInfo > .form-group:first-child,
#directiveInfo > .form-group:first-child .wbBaseFieldLabel{
  margin-top: 0;
}
#notifications.main-alert + #isDisabled{
  display: none !important;
}
.rudder-template .template-sidebar + .template-main .main-details .input-group-sm .form-control,
.rudder-template .template-sidebar + .template-main .main-details .checkbox-group input + span > span{
  min-height: initial !important;
}

.rudder-template .template-sidebar + .template-main .main-details .input-group .dropdown-toggle {
  height: 31px;
}

/* === TECHNIQUE === */
#versionTable > thead > tr > th:last-child,
#versionTable > tbody > tr > td:last-child{
  display: table-cell !important;
}
.deprecatedTechniqueIcon {
  margin-left : 3px;
}


/* === FOLDABLE SECTIONS === */
.section-title {
  font-size: 22px;
  cursor: default;
  background: none;
  border-bottom: 2px solid #d6deef;
  padding: 0 0 5px 0;
  margin-bottom: 10px;
  color: #041922;
}
.foldableSection div.section-title{
  font-size: 20px;
  border-bottom: 2px solid #d6deef;
}
.foldableSection.foldedSection div.section-title{
  border-bottom-color: transparent;
}
.foldedSection .section-title,
.foldableSection div.section-title,
.unfoldedSection .section-title,
#querySearchSection{
  cursor: pointer;
}

.foldableSection .section-title .btn{
  padding: 2px 10px;
  margin-left: 10px;
  position: relative;
}
.foldableSection .section-title .btn .fa{
  margin-left: 4px;
}

div.unfoldedSection div.section-title:before,div.foldedSection div.section-title:before,
#querySearchSection:before{
  content: "\f0da";
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 10px;
  font: normal normal normal 14px/1 inherit;
  font-family: "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: .6;
  transition-duration: .2s;
  font-weight: 900;
}

.foldableSection .foldableSection > .section-title{
  border-bottom: none;
  color: #041922DD;
  margin-bottom: 8px;
  transition-duration: .2s;
  cursor: pointer;
}
.foldableSection .foldableSection > .section-title:before{
  opacity: 0.4;
}

.sectionFieldset.foldableSection{
  position:relative;
  transition-duration: .2s;
  padding-left: 10px;
}
.sectionFieldset.foldableSection:before{
  content:"";
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 12.5px;
  width: 2px;
  background-color: #d6deef;
  transition: background-color .2s;
}
.sectionFieldset.foldableSection.unfoldedSection:hover:before{
  background-color: #13beb7;
}
.sectionFieldset.foldableSection.foldedSection:hover:before{
  background-color: #aaa;
}


.sectionFieldset.foldableSection table.directiveSectionDef{
  margin-left: 15px;
  width: calc(100% - 15px);
}
table.directiveGroupDef{
  border-left: 2px solid #d6deef;
  transition: border-left-color .2s;
}
table.directiveGroupDef:hover{
  border-left-color: #13beb7;
}

div.unfoldedSection div.section-title:before,
#querySearchSection.unfoldedSectionQuery:before{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}

div.foldedSection div.section-title:before {
  -webkit-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
}

.foldedSection table, .foldedSection div {
  display:none;
}

.foldedSection div.section-title {
  display:block;
}

table.directiveSectionDef {
  margin-bottom: 16px;
}

td.directiveVarValue  {
  width:70%;
  margin-right:2px;
}
.textareaField {
  height: 300px;
}

.groupDiv {
   margin-top: 5px;
   margin-bottom: 10px;
}