/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as *;

// -- Quicksearch background
#background-fade-quicksearch {
  display:none;
  background-color: $rudder-bg-overlay;
  position:fixed;
  width:100%;
  height:calc(100vh - 50px);
  left:0;
  top:50px;

  &.show {
    display:block;
    animation: bg-fade-in .2s ease-in forwards;
  }

  @media (max-width: 767px){
    & {
      top:100px;
    }
  }
}

#headerBar ~ .wrapper #background-fade-quicksearch{
  height:calc(100vh - 80px);
  top:80px;
}

// -- Quicksearch form
.quicksearch-form {
  width: auto;
  border-radius: 0;
  border:none;

  .input-group-text{
    cursor:pointer;
    color: $rudder-txt-secondary;

    &:hover{
      color: $rudder-txt-primary;
    }
  }

  .input-group-text,
  .btn,
  .form-control {
    border-radius: 0;
    transition: all .3s ease-in-out;
  }

  .input-group-text,
  #searchInput,
  #clear-search{
    background-color: $rudder-bg-gray;
    border: none !important;
  }
}

#clear-search {
  cursor:text;
  transition: all .3s ease-in-out;
  color:$rudder-txt-secondary;

  .fa {
    transition-duration: .2s;
  }

  &.noRemove > span {
    visibility:hidden;
  }
}
.form-control:focus + #clear-search {
  opacity:1;
  color:#BBB;

  .fa:hover {
    color:$rudder-txt-secondary;
  }
}

#help-search{
  border-left: 1px solid $rudder-border-color-default !important;
}


#searchInput{
  border-right-color: transparent;
  box-shadow:none !important;
  width:300px;

  &:focus,
  &:focus + #clear-search{
    background-color: $rudder-bg-light-gray;
    border-color: transparent;
  }

  @media (max-width: 1340px){
    &{
      width:200px;
    }
  }
  @media (max-width: 1230px){
    &{
      width:150px;
    }
  }
}

// -- Quicksearch dropdown

@media (min-width: 1340px){
  .dropdown-search{
    left: -232px;
  }
}
@media (max-width: 1340px){
  .dropdown-search{
    left:-282px;
  }
}
@media (max-width: 1230px){
  .dropdown-search{
    left:-325px;
  }
}

.dropdown-search .dropdown-header{
  white-space: normal;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 0;
  border-bottom: none;
}
.dropdown-search .angucomplete-searching {
  color: $rudder-txt-secondary;
  font-size: 14px;
}
.dropdown-search .angucomplete-searching > .fa{
  margin-right:5px;
}

.dropdown-search .dropdown-header h4 .fa{
  font-size: 15px;
  margin-right: 10px;
  color: $rudder-success;
  font-weight: 400;
}
.dropdown-search .dropdown-header h4{
  padding-bottom: 8px;
  color: $rudder-txt-light;
}
.dropdown-search .dropdown-header h4.panel-title{
  padding-bottom: 0;
  display: inline;
}
.dropdown-search .heading-search h4.panel-title {
  width: 90px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.filter-search h4.panel-title{
  margin-bottom: 0;
}

.heading-help h4.panel-title{
  top: 6px;
  display:inline-block;
  height: 31px;
}
.dropdown-search .dropdown-header h4 .btn{
  outline: none !important;
}

.dropdown-search .panel-group .panel {
  border:none;
}
.panel-group .dropdown-search .panel + .panel {
  margin-top: 10px;
}
.dropdown-search .dropdown-header h4.filter-title{
  padding-top: 8px;
  color: $rudder-txt-light;
  padding-bottom:0px;
  border-bottom:none;
}
.dropdown-menu.dropdown-search{
  border: none;
  position:fixed;
  top: 50px;
  left:280px;
  width:920px;
  max-height:none;
  padding-bottom:0;
  padding-top:0;
  max-width: calc(100% - 285px);
}
#headerBar ~ .wrapper .dropdown-menu.dropdown-search{
  top: 80px;
}

.sidebar-collapse .dropdown-menu.dropdown-search{
  left:100px;
  max-width: calc(100% - 105px);
}
@media (max-width: 767px){
  .sidebar-collapse .dropdown-menu.dropdown-search{
    top:100px;
    left:50px;
    max-width: calc(100% - 55px);
  }
}
.dropdown-search .results-content .panel{
  border-radius: 4px;
  border-bottom: none;
  border: 1px solid #cacaca;
  font-size:16px;
}
.dropdown-search>.panel:first-child .heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dropdown-search>.panel:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom:10px;
}
.dropdown-search .main-panel .heading-search{
  background-color: #fff;
  border: 1px solid $rudder-border-color-default;
  border-radius: 4px 4px 0 0;
  padding: 6px 0;
  margin:0;
}
.dropdown-search .main-panel .heading-help{
  border-bottom: 1px solid #c1c1c1;
}

.dropdown-search>.panel:last-child .panel-heading{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown-search #toggleDoc:hover,.dropdown-search #toggleResult:hover{
  background-color: #ffffff;
  color: $rudder-txt-light;
}
.dropdown-search #toggleDoc .fa,.dropdown-search #toggleResult .fa{
  top: 4px;
  position: absolute;
  right: 7px;
}
.dropdown-search{
  position: static;
  width: 100%;
  height: auto;
  max-height:none;
  padding: 0;
  overflow-y: visible;
  margin-top: 0;
  border: none;
  background-color: transparent;
}
.dropdown-search .panel-group,.dropdown-search .list-group {
  margin-bottom: 0;
}

.dropdown-search .panel-group > .panel, .panel.main-panel{
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.15);
}
.dropdown-search .panel-group > .panel{
  margin-top: 10px;
  border-bottom: none;
}
.panel.main-panel{
  margin-bottom: -1px;
  box-shadow: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#search-tab .btn-group > .btn{
  padding: 2px 25px 2px 2px;
  width: 121px;
  height: 30px;
  line-height: 23px;
  font-size: 14px;
  text-transform: capitalize;
  color: $rudder-txt-light;
  border: 1px solid $rudder-border-color-default;
  margin-right: 4px;
  border-radius: 4px !important;
  background-color: #fff;
  outline:none !important;

  &.active{
    background-color: $rudder-bg-gray;
    border-color: $rudder-border-color-default;
    box-shadow: none;
    color: $rudder-txt-primary;
  }
  &:hover{
    background-color: $rudder-bg-light-gray;
  }

  input[type="checkbox"]{
    display:none;
  }
}

.main-panel > .heading-search .badge {
  color: $rudder-txt-primary;
  background-color: $rudder-border-color-default;
  border-radius:0;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  line-height: 22px;
  padding: 2px 0;
}
.main-panel > .heading-search .badge > .loading {
  font-size: 11px;
  position: absolute;
  left: 0px;
  top: 4px;
  animation: loading 1.5s infinite linear;
}
.main-panel > .heading-search .active .badge {
  color: #fff;
  background-color: $rudder-gray-500;
}
.main-panel > .heading-search .active .badge:before{
  border-right: 8px solid $rudder-gray-500;
}
.main-panel > .heading-search .badge:before {
  position: absolute;
  left: -7px;
  top: 8px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  color: #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid $rudder-border-color-default;
}
.angucomplete-searching{
  padding: 0px 5px 15px 5px;
}
.main-panel .results-content{
  max-height: calc(80vh - 50px);
  overflow-y: auto;
  position: relative;
  background-color: $rudder-bg-gray;
  border-radius: 0 0 4px 4px;
}
@media (max-width: 767px){
  .sidebar-collapse .main-panel .results-content{
    max-height: calc(75vh - 100px);
  }
}

.dropdown-search .text-search{
  padding-top:15px;
  padding-bottom:15px;
}

.dropdown-search .list-group-item{
  border:none;
  margin-bottom:0px;
  border-bottom:1px solid $rudder-border-color-default;
  color:$rudder-txt-light;
  font-size:13px;
  padding: 0;
}
.dropdown-search .list-group-item a{
  display: block;
  padding:5px 10px;
  cursor:pointer;
}
.dropdown-search .list-group-item a:link,
.dropdown-search .list-group-item a:visited,
.dropdown-search .list-group-item a:hover,
.dropdown-search .list-group-item a:active {
  text-decoration: none;
  color: inherit;
}

.dropdown-search .list-group-item:nth-child(odd):hover,.dropdown-search .list-group-item:nth-child(even):hover{
  background-color:#f0f3f5;
  color:#1f1f1f;
}
.dropdown-search .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dropdown-search .list-group-item:hover,.dropdown-search .list-group-item:nth-child(odd){
  background-color:$rudder-bg-light-gray;
}
.dropdown-search .list-group-item.title:hover{
  background-color:transparent;
}

.dropdown-search .list-group-item:first-child .panel-heading {
  margin-top: -10px;
}
.dropdown-search .list-group-item .panel-heading {
  margin: -10px;
  margin-top:0px;
}
.dropdown-search .description {
  color: #828282;
  font-size: 14px;
  font-weight: normal;
}
.dropdown-search .panel-heading .description:before {
  content: " - ";
  display: inline-block;
  color: #b1b1b1;
  font-size: 16px;
  padding: 0 5px;
}
.dropdown-search .panel-default > div > .panel-heading {
  margin-top:0px;
  padding:0;
}
.dropdown-search .list-group-item.title{
  background-color: #dddddd;
  border: none;
  cursor:default;
}
.dropdown-search .panel-heading a{
  display:inline-block;
  width:100%;
  outline:none !important;
  padding:10px 12px;
  position:relative;
  transition-duration:.2s;
  text-decoration:none !important;
  border-bottom: 2px solid $rudder-success;
  font-size: 1rem;
  color: $rudder-txt-primary;
  background-color: #fff;
}
.panel-default > .panel-heading .badge.label-danger{
  background-color:$rudder-danger;
}
.dropdown-search .panel-heading a.collapsed{
  border-color: $rudder-border-color-default;
  border-bottom: 2px solid $rudder-border-color-default;
}
.dropdown-search .panel-heading a div{
  text-transform:initial;
}
.dropdown-search .panel-heading a .fa-chevron-right,.dropdown-search .dropdown-container .panel-heading a.collapsed:hover .fa-chevron-right{
  transform: rotate(90deg);
  margin-right: 10px;
  font-size: 12px;
  color: $rudder-txt-secondary;
  transition-duration:.3s;
}
.dropdown-search .dropdown-container{
  max-height:500px;
  overflow-y:auto;
  padding: 0 5px;
  padding-bottom:5px;
  background-color: #dddddd;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.dropdown-search .tab-content {
  background-color: #fff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 4px;
}

.dropdown-search .panel-heading a.collapsed .fa-chevron-right{
  transform: rotate(0deg);
}
.navbar-form button.btn.btn-default.dropdown-toggle .fa {
  color:$rudder-border-color-default;
  transition-duration:.2s;
}
.quicksearch-form input.form-control{
  background-color: rgb(244 244 244);
  border: none;
}


@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes bg-fade-in {
  0%   { opacity: 0;   }
  100% { opacity: 1; }
}
