/*
*************************************************************************************
* Copyright 2024 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as *;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$navbar-hover-color : $rudder-bg-light-gray;

// VARIABLES
$menu-width: 230px;

.wrapper {
  min-height: 100%;
  position: static;
  overflow: hidden;
  float: left;
}
.content-wrapper{
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  background-color: $rudder-bg-light-gray;
  margin-left: $menu-width;
  min-height: 100%;
  z-index: 800;
}
@media (max-width: 767px) {
  .content-wrapper{
    margin-left:0
  }
  .sidebar-open .content-wrapper{
    transform: translate($menu-width,0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper{
    margin-left:0
  }
}
.fixed .main-header,
.fixed .main-sidebar {
  position: fixed
}
.fixed .main-header {
  top: 0;
  right: 0;
  left: 0
}
.fixed .content-wrapper{
  padding-top: 50px
}
@media (max-width: 767px) {
  .fixed .content-wrapper{
    padding-top:100px
  }
}
.main-header {
  position: fixed;
  max-height: 100px;
  z-index: 1030;
  width: 100%;

}
.main-header >.navbar {
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: $menu-width;
  border: none;
  height: 50px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 4px 4px 10px $rudder-box-shadow-color;
}

.modal-open {
  .main-header > .navbar,
  .main-header > .logo{
    z-index: -1;
  }
}

.main-header .form-control::-moz-placeholder {
  color: #36474eaa;
  opacity: 1
}
.main-header .form-control:-ms-input-placeholder {
  color: #36474Eaa
}
.main-header .form-control::-webkit-input-placeholder {
  color: #36474Eaa
}
.main-header .navbar-custom-menu {
  float: right
}
@media (max-width: 991px) {
  .main-header .navbar-custom-menu a{
    color:inherit;
    background: 0 0
  }
}

.navbar .navbar-nav>li.user>a > .fa, .navbar .navbar-nav>li.user>a > .ion {
  margin-right: 5px
}
.navbar .navbar-nav>li>a > .label {
  position: absolute;
  top: 9px;
  right: 32px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9
}
.main-header .logo {
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: $menu-width;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  background-color: $rudder-txt-primary;
  position: relative;
  z-index: 9999;
}
.treeview .plugin-info{
  display: none;
}

/*LOGO RUDDER*/
header.main-header .logo-mini img{
  width:35px;
  position: relative;
  left: -2px;
  top: -1px;
}
.custom-branding-logo{
  width: 100%;
  height: 100%;
}
header.main-header .logo-lg img{
  max-height: 40px;
  vertical-align: middle;
}
.main-header .logo .logo-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-header .logo .logo-mini {
  display: none;
}
.main-header .navbar-brand {
  color: #fff;
}
.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px 15px
}
@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav>li {
    float:left
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left
  }
  .navbar-custom-menu .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px
  }
}
@media (max-width: 767px) {
  .main-header {
    position:relative
  }
  .main-header .logo,.main-header .navbar {
    width: 100%;
    float: none
  }
  .main-header .navbar {
    margin: 0
  }
  .main-header .navbar-custom-menu {
    float: right
  }
}
@media (max-width: 991px) {
  .navbar-collapse.pull-left {
    float:none!important
  }
  .navbar-collapse.pull-left+.navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px
  }
}
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: $menu-width;
  z-index: 810;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  background-color: $rudder-txt-primary;
}
@media (max-width: 767px) {
  .main-sidebar {
    padding-top:100px
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    transform: translate(-$menu-width,0)
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    transform: translate(-$menu-width,0)
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    transform: translate(0,0)
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
  text-decoration: none !important;
  border-left: 3px solid transparent;
  position: relative;
  line-height: 20px;
}
.sidebar-menu>li>a > .fa, .sidebar-menu>li>a > .ion {
  width: 20px
}
.sidebar-menu>li .badge,.sidebar-menu>li .label {
  margin-top: 3px;
  margin-right: 5px
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px
}
.sidebar-menu li>a > .fa-angle-right {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px
}
.sidebar-menu li.active>a > .fa-angle-right {
  transform: rotate(-90deg)
}
.sidebar-menu li.active>.treeview-menu {
  display: block
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px
}
.sidebar-menu .treeview-menu>li {
  margin: 0
}
.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: flex;
  align-items: baseline;
  font-size: 14px;
}
.sidebar-menu .treeview-menu>li>a > .fa, .sidebar-menu .treeview-menu>li>a > .ion {
  width: 20px
}
.sidebar-menu .treeview-menu>li>a > .fa-angle-down,.sidebar-menu .treeview-menu>li>a > .fa-angle-right {
  width: auto
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper{
    margin-left:50px!important;
    z-index: 1040
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    transform: translate(0,0);
    width: 50px!important;
    z-index: 1050
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li {
    position: relative
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
    margin-right: 0
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
    border-bottom-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu,.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 50px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 44px;
    margin-left: 0
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    display: none!important;
    transform: translateZ(0)
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
    display: none
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px
  }
}
.sidebar-menu,.sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden
}
.sidebar-menu:hover {
  overflow: visible
}

.sidebar-menu>li.header {
  overflow: hidden;
  text-overflow: clip
}
.sidebar-menu li>a > .pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px
}

.dropdown-menu>li>a,
.dropdown-menu>li>button {
  & > .fa, & > .ion {
    margin-right: 10px
  }
}

.navbar-nav .notifications-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
  width: 280px;
  padding: 0;
  margin: 0;
  top: 100%
}

.navbar-nav .notifications-menu>.dropdown-menu>li,
.navbar-nav>.tasks-menu>.dropdown-menu>li {
  position: relative
}

.navbar-nav .notifications-menu>.dropdown-menu>li.header,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444;
  font-size: 14px
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eee;
  color: #444!important;
  text-align: center
}
@media (max-width: 991px) {
  .navbar-nav .notifications-menu>.dropdown-menu>li.footer>a,
  .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
    background:#fff!important;
    color: #444!important
  }
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
  text-decoration: none;
  font-weight: 400
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
  max-height: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden
}
.navbar-nav>.tasks-menu>.dropdown-menu > li > a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav .notifications-menu>.dropdown-menu {
  &>li a {
    display: block;
    white-space: nowrap;

    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    pointer-events: none;
  }

  &>li {
    .help-block {
      font-size:80%;
    }
    #deployment-start .help-block {
      margin:5px 0 0 10px;
    }
  }

  .status-card {
    button.status-card-title {
      display: flex;
      align-items: baseline;
      font-size: 1.2rem;
      text-align: left;
      border: none;
      &:hover,
      &:active {
        box-shadow: none;
        outline: none !important;
      }
      .status-card-title-caret {
        font-size: $h5-font-size;
        transform: scale(1.1);
        margin-right: .5rem !important;
        color: $secondary;
      }
      &[aria-expanded="false"] > .status-card-title-caret {
        @include caret(end);
        &::after {
          vertical-align: 0.05em;
          margin-right: 0.2em;
          transform: scaleY(0.9);
          transition: ease;
        }
      }
      &[aria-expanded="true"] > .status-card-title-caret {
        @include caret(down);
        &::after {
          vertical-align: 0.1em;
          transform: translate(-0.25rem) scaleY(0.9);
          transition: ease;
        }
      }
    }
  }

  button.regeneratePolicies,button.generationDetails {
    pointer-events: all;
    width: 100%;
    display: flex;
    padding: 0 26px;
    color:#DA291C !important;

    &:hover {
      background-color: #DA291C !important;
      color: #fff !important;
    }
  }

  // this css is only used in other menus (api-authorization plugin)
  // and need to be more specific than just "a" tag
  :not(.policy-generation)>li a {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;

    &:hover {
      background: $navbar-hover-color;
      text-decoration: none
    }
  }
}
.navbar-nav .notifications-menu>.dropdown-menu > li a > .fa, .navbar-nav .notifications-menu>.dropdown-menu > li > a > .ion {
  width: 20px
}

.navbar-nav>.tasks-menu>.dropdown-menu > li > a {
  padding: 10px
}
.navbar-nav>.tasks-menu>.dropdown-menu > li > a>h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666
}
.navbar-nav>.tasks-menu>.dropdown-menu > li > a > .progress {
  padding: 0;
  margin: 0
}

.navbar-nav>.user-menu>.dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px
}
.navbar-nav>.user-menu>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,.2)
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  color: #fff;
  color: rgba(255,255,255,.8);
  font-size: 17px;
  margin-top: 10px
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
  display: block;
  font-size: 12px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #ddd
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after,.navbar-nav>.user-menu>.dropdown-menu>.user-body:before {
  content: " ";
  display: table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
  clear: both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
  color: #444!important
}
@media (max-width: 991px) {
  .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    background:#fff!important;
    color: #444!important
  }
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
  background-color: #f9f9f9;
  padding: 10px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after,.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before {
  content: " ";
  display: table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
  clear: both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
  color: #666
}
@media (max-width: 991px) {
  .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
    background-color:#f9f9f9
  }
}
.navbar-nav>.user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px
}
@media (max-width: 767px) {
  .navbar-nav>.user-menu .user-image {
    float:none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px
  }
}

.open:not(.dropup)>.animated-dropdown-menu {
  backface-visibility: visible!important;
  animation: flipInX .7s both
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    transition-timing-function: ease-in;
    opacity: 0
  }
  40% {
    transform: perspective(400px) rotate3d(1,0,0,-20deg);
    transition-timing-function: ease-in
  }
  60% {
    transform: perspective(400px) rotate3d(1,0,0,10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }
  100% {
    transform: perspective(400px)
  }
}

.navbar-nav>li {
  position: relative
}
.navbar-nav>li>.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto
}
@media (max-width: 991px) {
  .navbar-custom-menu>.navbar-nav {
    float:right
  }
  .navbar-custom-menu>.navbar-nav>li {
    position: static
  }
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff
  }
}
.navbar .navbar-nav>li>a,.main-header .navbar .sidebar-toggle {
  color: #36474e;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: $navbar-hover-color;
  color: $rudder-txt-primary;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li.divider {
    background-color:rgba(255,255,255,.1)
  }
  .main-header .navbar .dropdown-menu li a {
    color: #fff
  }
  .main-header .navbar .dropdown-menu li a:hover {
    background: #d47001
  }
}
.main-header .logo:hover {
  background-color: #36474e
}
.main-header li.user-header {
  background-color: #f08004
}
.content-header {
  background: 0 0
}
.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226
}
.sidebar-menu>li.active>a, .sidebar-menu>li:hover>a {
  color: #fff;
  background-color: $rudder-txt-primary;
  border-left-color: $rudder-success
}
.sidebar-menu>li.active>a>i, .sidebar-menu>li:hover>a>i {
  color: $rudder-success
}
.sidebar-menu>li>.treeview-menu {
  margin: 0;
  background: #162932
}
.sidebar a:hover {
  text-decoration: none
}
.sidebar a,.treeview-menu>li>a {
  color: #ffffffaa
}
.treeview-menu>li.active>a,.treeview-menu>li>a:hover {
  color: #fff
}

/* -- SIDEBAR MENU CUSTOMIZATION -- */

.sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)) > ul.treeview-menu {
  display: block !important;
  height: auto !important;
}
.sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)) > a{
  cursor: default !important;
}
.sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)) > a > span + i.fa{
  display: none !important;
}
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)) > ul.treeview-menu {
  display: none !important;
  height: auto !important;
}
.sidebar-mini.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)):hover > ul.treeview-menu{
  display: block !important;
}
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:not(:nth-last-child(-n+3)):not(:nth-last-child(-n+2)) > a{
  cursor: initial !important;
}
.treeview-menu>li>a{
  white-space: normal;
  display: flex;
}
.treeview-menu>li>a>span:nth-child(2){
  flex: 1;
}
.treeview-menu>li>a.active {
  color: #fff;
}
.treeview-menu>li>a .fa {
  visibility:hidden;
  color: $rudder-success;
  position:relative;
  color: $rudder-success;
  left:-2px;
}
.treeview-menu>li>a.active .fa {
  visibility:visible;
}


/* -- <NAVBAR>  ------------ */
.navbar .navbar-nav {
  display: flex;
}
.sidebar-menu>li.footer>span{
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu>li.footer>a{
  color:#556D77;
}

.sidebar-menu li.treeview > a > .fa-angle-right {
  transition-property : transform;
  transition-duration : .2s;
}
.sidebar-menu li.treeview.active>a > .fa-angle-right {
  transform: rotate(90deg);
}

.sidebar-menu>li.footer {
  color: #fff;
  background: $rudder-txt-primary;
  margin-top: auto;
  animation: squeeze .3s ease-in-out forwards;
}
.sidebar-collapse .sidebar-menu>li.footer{
  animation: expand .3s ease-in-out forwards;
}

.sidebar-menu>li.footer:hover>a, .sidebar-menu>li.footer.active>a {
  border-left-color: transparent;
  background: #1a2226;
}
.sidebar-menu>li.footer>a:hover, .sidebar-menu>li.footer.active>a:hover {
  color: #fff;
  background: #1e282c;
}.sidebar {
   padding-bottom: 0;
   height: 100%;
 }
 aside.main-sidebar.fixed {
  position:fixed;
  z-index: 1020;
  height: calc(100% - 50px);
  min-height: calc(100% - 50px);
  margin-top: 50px;
  padding-top: 0;
}
@media (max-width: 767px) {
  aside.main-sidebar.fixed {
    z-index: 1035;
    margin-top: 100px;
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
  }
}
 .sidebar > ul.sidebar-menu {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
 }

 .sidebar-mini.sidebar-collapse .sidebar > ul.sidebar-menu {
   overflow-y: visible;
   overflow-x: visible;
 }
.navbar-nav li.dropdown > a {
  padding: 14px 8px;
}
.navbar-nav li.dropdown > a:after {
  margin-left: .8em;
}
/* ----- <DROPDOWN MENU>  ----- */
@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    right: 42px;
    float: none;
    width: 280px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer:last-child>a{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a{
  font-size:14px !important;
}
.content-wrapper #generatePoliciesDialog button.btn{
  min-width:130px;
}
.navbar .navbar-nav li.notifications-menu> a{
  height: 100%;
  color: #36474e;
  text-decoration: none !important;
}
.navbar .navbar-nav li.notifications-menu> a:hover{
  color: $rudder-txt-primary;
}
.navbar-nav li.dropdown {
  height: 50px;
}
.navbar .navbar-nav li.notifications-menu > a{
  &:hover .rudder-badge,
  &:focus .rudder-badge,
  &:active .rudder-badge,
  &:visited .rudder-badge{
    background-color: #fff;
    border-color: $rudder-border-color-default;
  }
}

.navbar .navbar-nav {

  .nav-item {
    display: flex;

    &:hover{
      background-color: $navbar-hover-color;
    }
    & > a {
      color: #36474e;
      cursor: pointer;

      &:hover{
        color: $rudder-txt-primary;
      }
    }
  }
}

.navbar .navbar-nav>li.user.user-menu>a:hover,
.navbar .navbar-nav>li.user.user-menu>a:focus,
.navbar .navbar-nav>li.user.user-menu>a:visited,
.navbar .navbar-nav>li.user.user-menu{
  background: inherit;
  cursor: default;
}

.main-header .navbar-nav .tasks-menu a > i,
.main-header .navbar-nav .user-menu  a > span,
#logout > i{
  color: #738195;
}

.main-header .navbar-nav .tasks-menu a:hover > i,
#logout:hover > i{
  color: #36474E;
}

.notifications-menu .rudder-badge {
  position: relative;
  left: 7px;
  top: -2px;
  background-color: #eef1f9;
  border: 2px solid #eef1f9;
  color: rgb(34, 45, 50);
  border-radius:3px;
}
.notifications-menu a:hover .rudder-badge{
  border-color: #fff;
}
.notifications-menu a:hover .rudder-badge::before {
  border-right-color: $rudder-border-color-default;
}
.notifications-menu .rudder-badge::before {
  content: "";
  left: -11px;
  top: 4px;
  color: transparent;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 11px solid #eef1f9;
  position: absolute;
}

.navbar-nav .notifications-menu>.dropdown-menu > li > a > .fa{
  width: 30px;
  color: $rudder-txt-primary;
  opacity: 0.4;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a > .fa.text-succes{
  color: #3c763d;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a > .fa.text-danger{
  color: #DA291C;
}
 .navbar-nav .notifications-menu>.dropdown-menu > li > a > .fa-flag-o, .navbar-nav .notifications-menu>.dropdown-menu > li > a > .fa-flag-checkered{
  font-size: 16px;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a:hover .fa,
.navbar-nav .messages-menu>.dropdown-menu > li > a:hover .fa,
.navbar-nav .tasks-menu>.dropdown-menu > li > a:hover .fa,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:hover .label,
.navbar-nav .messages-menu>.dropdown-menu > li > a:hover .label,
.navbar-nav .tasks-menu>.dropdown-menu > li > a:hover .label{
  opacity: 1;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a.text-success,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:hover.text-success,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:focus.text-success,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:visited.text-success{
  color: $rudder-success !important;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:hover.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:focus.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu > li > a:visited.text-danger{
  color: #DA291C !important;
}
.navbar-nav .notifications-menu>.dropdown-menu > li > a:hover {
  color: #444444 !important;
}
.navbar-nav .tasks-menu>.dropdown-menu > li > a:hover{
  color:#444444;
}
.navbar-nav .dropdown-menu > li > a .label {
  font-size: 90%;
  background-color: #738195;
  color: #fff;
  font-weight: bold;
  padding: 1px 6px;
  border-radius: 4px;
}
.navbar-nav li .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-color:#E2E2E2;
  border-bottom: none;
}
.navbar-nav li>.dropdown-menu .menu{
  border-bottom: none;
}

/* === STATUS / PLUGIN INFO / HEALTCHECK === */
#generation-status{
  font-size: 14px;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 0px;
  right: calc(.8em + 8px);
  text-align: center;
}
#generation-status .fa {
  top: 0;
  font-size : 11px;
}
.navbar .navbar-nav li.notifications-menu > a .fa-heartbeat{
  font-size: 18px;
}
.navbar .navbar-nav li.notifications-menu #generation-status > span:after{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  font-weight: 900;
}
.navbar .navbar-nav li.plugin-warning,
.navbar .navbar-nav li.plugin-warning > a > .fa:after,
.navbar .navbar-nav li.notifications-menu,
.navbar .navbar-nav li.notifications-menu #generation-status{
  background-color: #fff;
  border-color: #fff;
}
.navbar .navbar-nav li.plugin-warning:hover,
.navbar .navbar-nav li.plugin-warning:hover > a > .fa:after,
.navbar .navbar-nav li.notifications-menu:hover    #generation-status{
  background-color:$navbar-hover-color;
  border-color: $navbar-hover-color;
}
/* ERROR */
.navbar .navbar-nav li.plugin-warning.critical > a,
.navbar .navbar-nav li.plugin-warning.critical > a:hover,
.navbar .navbar-nav li.plugin-warning.critical > a:focus,
.navbar .navbar-nav li.plugin-warning.critical > a:active,
.navbar .navbar-nav li.notifications-menu.bg-error > a .fa-heartbeat,
.navbar .navbar-nav li.notifications-menu.bg-error          #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-error:hover    #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-error a:active #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-error a:focus  #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-error.open     #generation-status{
  color: #da291c;
}
.navbar .navbar-nav li.notifications-menu.bg-error #generation-status > span:after{
  content: "\f00d";
}
/* OK */
.navbar .navbar-nav li.notifications-menu.bg-ok > a .fa-heartbeat,
.navbar .navbar-nav li.notifications-menu.bg-ok          #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-ok:hover    #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-ok a:active #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-ok a:focus  #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-ok.open     #generation-status{
  color: $rudder-success;
}
.navbar .navbar-nav li.notifications-menu.bg-ok #generation-status > span:after{
  content: "\f00c";
}
/* DEFAULT */
.navbar .navbar-nav li.notifications-menu.bg-neutral > a .fa-heartbeat,
.navbar .navbar-nav li.notifications-menu.bg-neutral          #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-neutral:hover    #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-neutral a:active #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-neutral a:focus  #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-neutral.open     #generation-status{
  color: #abacac;
}
.navbar .navbar-nav li.notifications-menu.bg-neutral #generation-status > span:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e085";
}
/* REFRESH */
.navbar .navbar-nav li.notifications-menu.bg-refresh > a .fa-heartbeat,
.navbar .navbar-nav li.notifications-menu.bg-refresh          #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-refresh:hover    #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-refresh a:active #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-refresh a:focus  #generation-status,
.navbar .navbar-nav li.notifications-menu.bg-refresh.open     #generation-status{
  color: #1295c2;
}
.navbar .navbar-nav li.notifications-menu.bg-refresh #generation-status > span:after{
  content: "\f021";
  animation: fa-spin 2s infinite linear;
}
/* ---- */
#generation-status.label-success{
  background-color: $rudder-success !important;
}
.label-neutral{
  background-color: #ABACAC !important;
}
.navbar .navbar-nav li.notifications-menu> a #generation-status .fa{
  transition-duration:.2s;
}
.no-click{
  cursor:default !important;
}

/* ----- </DROPDOWN MENU>  ----- */

/* === PLUGIN WARNING ===*/
.plugin-warning{
  max-height: 50px;
}
.navbar .navbar-nav li.plugin-warning > a{
  font-size: 1.4em;
  background: none !important;
  position: relative;
}
.navbar .navbar-nav li.plugin-warning > a,
.navbar .navbar-nav li.plugin-warning > a:hover{
  color: #ef9601;
}
.navbar .navbar-nav li.plugin-warning > a > .fa:after{
  content: "\f071";
  position: absolute;
  top: calc(50% + -1px);
  right: 4px;
  font-size: .6em;
  border-radius: 50%;
  color: #ef9601;
  padding: 3px;
}
.navbar .navbar-nav li.plugin-warning.critical > a > .fa:after{
  color: #da291c;
}

.navbar .navbar-nav li.plugin-warning + .tooltip > .tooltip-inner h4,
.tooltip > .tooltip-inner h4.warning {
  color: #ef9601;
}
.navbar .navbar-nav li.plugin-warning.critical + .tooltip > .tooltip-inner h4,
.tooltip > .tooltip-inner h4.critical {
  color: #da291c;
}
.plugin-icon.icon-info{
  color: #ef9601;
}
.plugin-icon.icon-info.critical{
  color: #da291c;
}

/* === HEALTCHECK NOTIFICATIONS === */
.circle-notif {
  width                : 16px;
  height               : 16px;
  border-radius        : 8px;
  float                : right;
  margin-left: 10px;
}
.ok-light-notif {
  background-color: #81D674;
}
.warning-light-notif {
  background-color: #ef9601;
}
.critical-light-notif {
  background-color: #C80003;
}
.critical-icon {
  color: #C80003;
}
.warning-icon {
  color: #ef9601;
}
.ok-icon {
  color: #81D674;
}

.icon-info{
  margin-left: 5px;
  color: #337ab7;
  cursor:help;
}
.sidebar-collapse .plugin-icon.icon-info{
  position: relative;
  top: 8px;
  left: -13px;
}
.content-wrapper label > .icon-info:hover{
  color: #286090;
}

// MODALS

.modal.fade.show[data-bs-backdrop="false"] {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
}
