/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

// Override Rudder template
.rudder-template {
  .header-title{
    justify-content: start;
    align-items: center;
  }
  .one-col .main-header{
    border-bottom: none !important;
  }
  .header-buttons {
    margin-left: auto;
  }
}

.rudder_col>.portlet{
  padding: 0 !important;
}
.portlet-header.ui-widget-header.page-title{
  margin: 0 !important;
  border-bottom: none !important;
  padding: 15px 15px 10px;
  color: rudder.$txt-primary !important;
  font-size: 24px !important;
}

/* === NODE SEARCH === */
.compositionCheckbox input {
  margin-left : 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.composition input {
  vertical-align: middle;
}
form select.selectComparator {
   width: 150px;
}
form select.selectField {
   width: 220px;
}
.content-wrapper input.queryInputValue, .content-wrapper select.queryInputValue {
  width:280px;
}
/* ========= */

#node-compliance-intro {
  padding: 10px 15px;
}

#nodeHeaderInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.page-title-description{
  padding: 0 15px;
  margin-bottom: 8px;
  font-size: 1.2em;
  color: rudder.$txt-secondary;
}

#nodeDetails {
  flex: 70;
  padding: 0 15px 0 0;
}

#nodeGroups {
  flex: 30;
  border-left: 2px solid rudder.$border-color-default;
  margin-top: -15px;
}
.jstree-anchor > i.jstree-icon.fa.fa-folder,
.jstree-anchor > .treeGroupCategoryName {
  position: relative;
  top: 2px;
}
#nodeGroups > h3 {
  display: flex;
  align-items: center;
  color: rudder.$txt-primary;
  padding: 15px 15px 10px !important;
  margin: 0;
  font-size: 1.3rem;
  background-color: rudder.$bg-light-gray;
  border-bottom: 1px solid rudder.$border-color-default;
}

.node-state{
  display: inline-flex;
  padding: 4px 6px;
  border-radius: 4px;
  color: #fff;
  font-size: 0.8rem;
  align-items: baseline;

  &.enabled{
    display: none;
  }
  &.ignored{
      background-color: #a4aebf;
      &:after{
        content : "Ignored";
      }
    }
  &.empty-policies{
    background-color: #7591c599;
    &:after{
      content : "Empty policies";
    }
  }
  &.initializing{
    background-color: #08a3ef;
    &:after{
      content : "Initializing";
    }
    &:before{
    content: "\f1ce";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      background-color: transparent;
      font-weight: bold;
      font-size: 1.1em;
      animation: fa-spin 2s infinite linear;
      margin-right: 4px;
    }
  }
  &.preparing-eol{
    background-color: rudder.$warning;
    &:after{
      content : "Preparing EOL";
    }
  }
}
.machine-os-info {
  font-size: .8rem;
  color: rudder.$txt-secondary;

  .icon-info{
    font-size : 1rem;
    margin-left: 0;
  }
}
.machine-info{
  position: relative;
  padding-left: 16px;
  margin-right: 4px;

  &:after{
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: rudder.$txt-secondary;
    border-radius: 50%;
  }
  &:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 28px;
    top: calc(50% - 14px);
    left: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.ram{
    padding-left: 52px;
    &:before{
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgaWQ9InN2ZzEwIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgLTEwMyA1MTIgNTEyIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIj4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGExNiI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczE0IiAvPgogIDxwYXRoCiAgICAgaWQ9InJlY3Q4NDUtNSIKICAgICBkPSJtIDU5LjkxNiw3LjQwNjE3NjkgYyAtMzAuNjQ0MTE2LDAgLTU1LjMxMzU3NTcsMjQuNjY5NDQ1MSAtNTUuMzEzNTc1Nyw1NS4zMTM1NzYxIFYgMjIyLjMwODAzIGMgMCwyNS4xNzcyOCAxNi42NTgwMDM3LDQ2LjMxMDQ1IDM5LjU5NDk3NzcsNTMuMDUzNjggdiAyMy42NDMzNCBjIDAsMi4xNzU3NCAxLjc1MTQsMy45MjcxNCAzLjkyNzEzOCwzLjkyNzE0IGggMjEuNjA5MjkgYyAyLjE3NTczOCwwIDMuOTI3MTMyLC0xLjc1MTQgMy45MjcxMzIsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTc0NjU4IHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEyLDMuOTI3MTQgaCAyMS42MDkzIGMgMi4xNzU3NCwwIDMuOTI4NTcsLTEuNzUxNCAzLjkyODU3LC0zLjkyNzE0IHYgLTIxLjM4MiBoIDI4LjE3MzIyIHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEzLDMuOTI3MTQgaCAyMS42MTA3MyBjIDIuMTc1NzQsMCAzLjkyNzEzLC0xLjc1MTQgMy45MjcxMywtMy45MjcxNCB2IC0yMS4zODIgaCAyOC4xNzMyMSB2IDIxLjM4MiBjIDAsMi4xNzU3NCAxLjc1Mjg0LDMuOTI3MTQgMy45Mjg1NywzLjkyNzE0IGggMjEuNjA5MjkgYyAyLjE3NTc0LDAgMy45MjcxNCwtMS43NTE0IDMuOTI3MTQsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTc0NjUgdiAyMS4zODIgYyAwLDIuMTc1NzQgMS43NTEzOSwzLjkyNzE0IDMuOTI3MTMsMy45MjcxNCBoIDIxLjYwOTI5IGMgMi4xNzU3NCwwIDMuOTI3MTMsLTEuNzUxNCAzLjkyNzEzLC0zLjkyNzE0IHYgLTIxLjM4MiBoIDI4LjE3NDY2IHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEzLDMuOTI3MTQgaCAyMS42MDkyOCBjIDIuMTc1NzUsMCAzLjkyODU4LC0xLjc1MTQgMy45Mjg1OCwtMy45MjcxNCB2IC0yMS4zODIgaCAyOC4xNzMyNSB2IDIxLjM4MiBjIDAsMi4xNzU3NCAxLjc1MTM2LDMuOTI3MTQgMy45MjcxMSwzLjkyNzE0IGggMjEuNjEwNzMgYyAyLjE3NTc0LDAgMy45MjcxMSwtMS43NTE0IDMuOTI3MTEsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTczMjUgdiAyMS4zODIgYyAwLDIuMTc1NzQgMS43NTI4MywzLjkyNzE0IDMuOTI4NTgsMy45MjcxNCBoIDIxLjYwOTI2IGMgMi4xNzU3NCwwIDMuOTI3MTEsLTEuNzUxNCAzLjkyNzExLC0zLjkyNzE0IHYgLTI3LjM0NDY0IGMgMTcuOTg0OTMsLTkuMTEwNDcgMzAuMjY2MjgsLTI3LjczOTA1IDMwLjI2NjI4LC00OS4zNTIzOCBWIDYyLjcxOTc1MyBjIDAsLTMwLjY0NDEzMSAtMjQuNjcwODksLTU1LjMxMzU3NjEgLTU1LjMxNTAxLC01NS4zMTM1NzYxIHogTSA3Mi43NTQ2OTksNDEuNDkzMTA1IEggNDM5LjI0MzgxIGMgMTguMzIyNDksMCAzMy4wNzI3OCwxNC43NTAzOTUgMzMuMDcyNzgsMzMuMDcyNzggViAyMTAuNDYxOSBjIDAsMTguMzIyMzkgLTE0Ljc1MDI5LDMzLjA3Mjc5IC0zMy4wNzI3OCwzMy4wNzI3OCBIIDcyLjc1NDY5OSBjIC0xOC4zMjI0LDAgLTMzLjA3Mjc4LC0xNC43NTAzOSAtMzMuMDcyNzczLC0zMy4wNzI3OCBWIDc0LjU2NTg4NSBjIDAsLTE4LjMyMjM4NSAxNC43NTAzNzMsLTMzLjA3Mjc4IDMzLjA3Mjc3MywtMzMuMDcyNzggeiBtIDM4LjI5MDI2MSw1NC4zNDY5MDQgYyAtOS45NzY1LDAgLTE4LjAwNzI3NSw4LjAzMjIwMSAtMTguMDA3Mjc1LDE4LjAwODcwMSB2IDU3LjMzMzI0IGMgMCw5Ljk3NjUgOC4wMzA3NzUsMTguMDA3MjggMTguMDA3Mjc1LDE4LjAwNzI4IGggNTIuOTg0NjMgYyA5Ljk3NjQ4LDAgMTguMDA3MjYsLTguMDMwNzggMTguMDA3MjYsLTE4LjAwNzI4IHYgLTU3LjMzMzI0IGMgMCwtOS45NzY1IC04LjAzMDc4LC0xOC4wMDg3MDEgLTE4LjAwNzI2LC0xOC4wMDg3MDEgeiBtIDExOC40NjQxNCwwIGMgLTkuOTc2NDgsMCAtMTguMDA3MjYsOC4wMzIyMDEgLTE4LjAwNzI2LDE4LjAwODcwMSB2IDU3LjMzMzI0IGMgMCw5Ljk3NjUgOC4wMzA3OCwxOC4wMDcyOCAxOC4wMDcyNiwxOC4wMDcyOCBoIDUyLjk4NDY0IGMgOS45NzY0OSwwIDE4LjAwNzI3LC04LjAzMDc4IDE4LjAwNzI3LC0xOC4wMDcyOCB2IC01Ny4zMzMyNCBjIC0xZS01LC05Ljk3NjUgLTguMDMwNzgsLTE4LjAwODcwMSAtMTguMDA3MjcsLTE4LjAwODcwMSB6IG0gMTE4LjQ2NDIsMCBjIC05Ljk3NjQ5LDAgLTE4LjAwNzMsOC4wMzIyMDEgLTE4LjAwNzMsMTguMDA4NzAxIHYgNTcuMzMzMjQgYyAwLDkuOTc2NSA4LjAzMDgxLDE4LjAwNzI4IDE4LjAwNzMsMTguMDA3MjggaCA1Mi45ODQ1OSBjIDkuOTc2NDksMCAxOC4wMDcyNSwtOC4wMzA3OCAxOC4wMDcyNSwtMTguMDA3MjggdiAtNTcuMzMzMjQgYyAwLC05Ljk3NjUgLTguMDMwNzYsLTE4LjAwODcwMSAtMTguMDA3MjUsLTE4LjAwODcwMSB6IgogICAgIHN0eWxlPSJvcGFjaXR5OjE7ZmlsbDojNzI4MjlkO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDo3LjM2NTE3MDQ4O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiIC8+Cjwvc3ZnPgo=);
    }
  }
}

.rudder-info,
.status-info,
.accounts-info{
  margin-bottom: 15px;
}

#nodeDetails h3{
  color: rudder.$txt-primary;
  display: block;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.rudder-info   > div,
.status-info   > div,
.accounts-info > div,
.security-info > div{
  margin-bottom: 8px;
}
.rudder-info   > div label,
.status-info   > div label,
.accounts-info > div label{
  font-weight: bold;
}
.rudder-info .rudder-label {
  font-size: 12px;
  margin-bottom: -4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px !important;
  height: 20px;
}

.callout-fade.callout-info p .fa{
  margin-right: 5px;
  color: #1b809e;
}
.btn.toggle-security-info{
  min-width: 155px;
  margin-top: 8px;
  transition-duration: .2s;
}
.btn.toggle-security-info:before{
  content: "Show ";
}
.btn.toggle-security-info.opened:before{
  content: "Hide ";
}
.btn.toggle-security-info.opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.security-info{
  width: 100%;
  overflow: auto;
}
pre.display-keys{
  padding: 12px;
  border-top-left-radius: 0;
  border: 1px solid rudder.$border-color-default;
  border-radius: 0px 4px 4px 4px;
  background-color: rudder.$bg-light-gray;
  display: inline-block;
}
pre.display-keys > label:first-child{
  margin-top:0;
}
pre.display-keys > label{
  display:block;
  margin-top:12px;
  font-weight:bold;
}

#filterLogs {
  margin-bottom: 10px;
}

/* === TABS === */
#serverDetails .main-details > .tab-content > .tab-pane:not(:first-child) {
  float: left;
  width: 100%;
  padding-bottom: 40px;
}
/* INVENTORY TAB */
.sInventory .tab-pane > .alert:first-child{
  margin-top: 0;
}
[id^=node_details_]{
  & > .sInventory {
    & > div {
      padding-left: 12px;
    }
  }
}

.list-tabs-inventory{
  width: 13em;

  & > .nav-item {
    & > button {
      transition-duration: .2s;
      background-color: rudder.$bg-light-gray;
      border: 1px solid rudder.$border-color-default;
      padding: 6px 10px;
      color: rudder.$txt-secondary;
      position:relative;
      text-align: left;
      width: 100%;

      &:hover{
        background-color:#fff;
        color: rudder.$txt-link;
      }

      &.active {
        background-color: #fff;
        color: rudder.$txt-primary;
        &:after{
          content: "";
          position: absolute;
          top: calc(50% - 4px);
          right: -6px;
          display: block;
          width: 10px;
          height: 10px;
          border-top: 1px solid rudder.$border-color-default;
          border-right: 1px solid rudder.$border-color-default;
          transform: rotate(45deg);
          background-color: #fff;
        }
        &:before{
          content:initial;
        }
      }
    }
    & + .nav-item > button {
      border-top: none;
    }
  }
}
.list-tabs-inventory + .tab-content {
  flex: 1;
}

/* NODE ERROR */
.info-card{
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e1e3e6;
  border-left: 4px solid rudder.$info;
  max-width: 780px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}
.info-card .card-info h4{
  color: rudder.$primary;
  margin-top: 0;
  padding-left: 30px;
  position: relative;
}
.info-card .card-info h4 .info-icon{
  font-size: 25px;
  position: absolute;
  top: -2px;
  left: 0;
}
.info-card.critical{
  border-left-color: rudder.$danger;
  background-color: #ff040908;
}
.info-card.critical .card-info h4{
  color: rudder.$danger;
}

/* PROPERIES TAB */
#inventoryVariables .dataTable .btn-clipboard{
  margin-left: 4px;
  visibility: hidden;
}
#inventoryVariables .dataTable tr.head th.sorting{
  cursor: default !important;
  color: rudder.$txt-primary;
}
#inventoryVariables .dataTable tr:hover .btn-clipboard{
  visibility: visible;
}
#nodeProperties > div > h3.page-title:first-child{
  margin-top: 0;
}
.variable-syntax:before,
.variable-syntax:after{
  content:"`";
}
/* SETTINGS TAB */
#nodeState > h3.page-title:first-child,
#logsDetails h3.page-title{
  margin-top: 0;
  padding-top: 0 !important;
}
.node-submit + .currentNodeState {
  display: none;
}
.currentNodeState {
  font-size: 14px;
}
#reporting-mode-title{
  display: none;
}
#nodeStateSelect{
  width:auto;
}
#nodeStateSubmit{
  margin-top:20px;
}
.errorSaving.alert-danger{
  margin-top:10px;
}
.errorSaving > .fa{
  margin-right:8px;
}

/* --- */

div.serverDetail {
  font-weight:bold;
  text-align:center;
}
#serverDetails{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .query-search-message, #querySearchSection, #query-search-content, #querySearchInfo{
    display:none !important;
  }
}
.rudder-template .one-col .template-main .main-details{
  padding-bottom: 0;
}
#logsDetails{
  margin-bottom: 50px;
}

.reportLine {
  background: url("../../images/tableau/fdTaboHead.jpg") repeat-x scroll left top transparent;
  color: #FFFFFF;
  float: left;
  margin-top: 4px;
  padding: 5px;
}
@media screen and (min-width: 993px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child,
  #nodeReportsGrid tr>th:last-child,#nodeReportsGrid tr>td:last-child{
    width:350px!important;
    white-space:nowrap;
  }
}
@media screen and (max-width: 992px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child,
  #nodeReportsGrid tr>th:last-child,#nodeReportsGrid tr>td:last-child{
    width:300px !important;
    white-space:nowrap;
  }
}
@media screen and (max-width: 768px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child,
  #nodeReportsGrid tr>th:last-child,#nodeReportsGrid tr>td:last-child{
    width:50% !important;
    white-space:nowrap;
  }
}
#reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child,
#nodeReportsGrid tr>th:last-child,#nodeReportsGrid tr>td:last-child{
  width:auto !important;
  white-space: normal;
}

.border-fail {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #c9302c;
  border-radius: 5px;
}
.border-success {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rudder.$success;
  border-radius: 5px;
}

.btn-state {
  width:128px;
  height:40px;
}
.btn-trigger {
  min-width:150px;
  height:40px;
}
.fa-times-custom {
  color: #c9302c;
}
.fa-check-custom {
  color: rudder.$success;
}

/* TECHNICAL LOGS TAB */
#filterLogs button{
  width: auto;
  outline:none;
}
#filterLogs .form-control.input-xs{
  display:inline;
  height: 25px;
  margin: 0 5px;
  width: 140px !important;
}
#filterLogs .form-control.input-xs:focus {
  border-color: #c1c1c1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(208, 208, 208, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgb(208, 208, 208);
}

/* PENDING NODES */
.dataTable {
  .rudder-info:first-child{
    display: none;
  }
  .status-info{
    margin-top: 1rem;
  }

  tr.displayPastInventory {
    background-color: #fff !important;
    border-top: 1px solid $rudder-border-color-default;
    border-bottom: 1px solid $rudder-border-color-default;

    td.displayPastInventory{
      padding: 0 !important;
    }
  }
}