/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

.tab-filter .input-group label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rudder.$bg-light-gray;
  padding: 2px 8px 0px 8px;
  font-size: 16px;
}
.content-wrapper .btn.updateTable:focus{
  background-color: rudder.$bg-light-gray;
  border-color:rudder.$border-color-default;
  color:#3694d1;
}
.content-wrapper .btn.updateTable:focus:hover{
  color:#3694d1;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.content-wrapper .btn-success[disabled]:hover{
  background-color: rudder.$success;
  border-color: #109f9a;
}
.panel-footer .tags-container{
  padding: 5px 1px 2px 1px;
  border-top: 1px solid #ddd;
}
.in + .panel-footer .tags-container{
  padding: 0 10px 4px 10px;
  border-top:none;
}
.tags-container.noTags{
  margin-bottom:0;
}
.filterTag .panel-default{
  margin-top:10px;
  box-shadow:none !important;
}
#showFiltersDirective .filterTag .panel-group {
  margin-bottom: 10px;
}
#showFiltersRules .filterTag .panel-group {
  margin-bottom: 0;
}
.filterTag .panel-default .panel-body {
  padding: 5px 10px 0 10px;
}
.filterTag .panel-default .panel-heading{
  background-color:#f5f5f5;
  border-color: #ddd;
  margin:0;
  padding:0;
}
.filterTag .panel-default .panel-heading a{
  padding: 6px 15px;
  display: block;
  font-size:12px;
}
.filterTag .panel-default .panel-heading a > span.pull-right{
  transition-duration:.2s;
  transform:rotate(-90deg);
}
.filterTag .panel-default .panel-heading a > span.pull-right.in{
  transform:rotate(0deg);
}
.filterTag .panel-default .panel-heading a > .fa{
  font-size: 16px;
  position: relative;
  top: 1px;
  margin-left: 5px;
  color: #999;
  cursor:help;
}
.filterTag .panel-default .panel-heading a > .fa:hover{
  color: #555;
}
.filterTag .panel-default .panel-footer {
  padding: 0;
  background-color:#fff;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-control.tags-search{
  width:150px;
  display:inline-block;
  float:right;
}
.input-group-text.addon-json{
  border-left: none;
  border-right: none;
  background: rudder.$bg-light-gray;
  font-weight: bold;
  cursor:default;
}


.tags-label.tag-search{
  background-color: #ffffff;
  border: 1px solid #ababab;
}

.tooltip .tags-label:first-of-type{
  margin-left : 0
}

.tags-label.already-exist{
  -webkit-animation: exist .2s backwards;
  -moz-animation:    exist .2s backwards;
  -o-animation:      exist .2s backwards;
  animation:         exist .2s backwards;
}
.tags-label .tag-separator{
  padding: 0 3px;
}

.target-name + span.tags-list{
  margin-left: 6px;
}

.tags-label > .fa-tag,
.tags-label > .fa-tags{
  margin-right: 4px;
}

.tags-label .fa-times{
  position: absolute;
  right: 7px;
  top: 6px;
  opacity: 0.3;
  cursor:pointer;
}
.tags-label .fa-times:hover{
  opacity: 1;
}
.tags-label.simple{
  padding: 0px 30px 0px 10px;
  cursor:default;
  position:relative;
  overflow:hidden;
}
.tags-container > .btn{
  position: relative;
  top: -2px;
}
.tags-container .btn-group {
	margin:0 3px 6px 3px;
}
.tags-container .btn-group.btn-group-xs .btn {
  border: none !important;
  padding: 4px;
  cursor: pointer !important;
}

.tags-container .btn-group .btn.btn-default.search {
  cursor: default;
}

.tags-container .btn-group .btn.btn-default.search:hover,
.tags-container .btn-group .btn.btn-default.search:focus,
.tags-container .btn-group .btn.btn-default.search:active {
  background-color: rudder.$bg-light-gray;
  box-shadow: none;
}

.tags-container .btn-group:first-of-type {
	margin-left: 0;
}

.tags-container .btn-group.btn-group-xs .btn.btn-default:first-of-type {
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  padding-left:10px;
}

.tags-container .btn-group .btn.active {
  box-shadow : none;
  border-color : rudder.$border-color-default;
}

.tags-container .btn-group.btn-group-xs .btn:last-of-type {
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  padding-right:10px;
  padding-left: 6px;
  font-size: 12px;
}

.tags-container .btn-group .btn.btn-default .fa-search-plus {
  margin-left: 4px;
  opacity : 0.5;
  transition-property: opacity;
  transition-duration: .2s;
}
.tags-container .btn-group .btn.btn-default:hover .fa {
  opacity : 1;
}
.tags-container .btn-group .btn.btn-default:hover .fa-times{
  color: rudder.$danger;
}

.tags-container .btn-group .btn.btn-default .fa.fa-tag{
  margin-right: 4px;
}
.tags-label.simple .tag{
  margin-left: 20px;
  padding: 3px
}
.tags-label.simple > i{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  opacity: .4;
  cursor: pointer;
  line-height: 22px;
  width: 27px;
  text-align: center;
  background-color: rudder.$bg-light-gray;
  border-top-left-radius:50%;
  border-bottom-left-radius:50%;
  padding-top: 2px;
}
.tags-label.simple > i:hover{
  opacity:1;
  background-color: #dddddd;
}

.tags-label.simple > .tag{
  cursor: pointer;
}

.tags-label.simple > .tag:hover{
  opacity:1;
  background-color: #dddddd;
}
.tags-label.simple.match, .tags-container .btn-group.match {
  box-shadow: 0 0 0 2px #348cc5;
  border-color:transparent;
  border-radius : 20px;
}
.tags-label.simple.match > .match, .tags-container .btn-group .btn .match{
  font-weight:bold;
}
.tags-label.onlyKey .tag-value,.tags-label.onlyValue .tag-key{
  opacity:.5;
}
.only-tags a,.only-tags a:focus{
  display:inline-block;
  color: #999;
  padding: 2px;
  text-align:center;
  font-size: 12px;
}
.tab-pane .only-tags{
  margin-left:15px;
  display:inline-block;
}
.tab-pane .box .only-tags,
.tab-pane .box .only-tags > .btn-xs{
  margin-left: 0;
}
.only-tags > .btn.active{
  background-color: #3694d1 !important;
  color: #fff !important;
  border-color:#2173a9 !important;
}
.only-tags a.all{
  width:20px;
  text-decoration:none !important;
}
.only-tags a.key{
  width:95px;
  text-decoration:none !important;
}
.only-tags a.value{
  width:105px;
  text-decoration:none !important;
}
.only-tags a.active{
  color: #555;
  font-weight:bold;
}
.only-tags a:hover{
  color: rudder.$txt-primary;
}
.only-tags > .btn-xs{
  margin-bottom: 5px;
  position: relative;
  left: -1px;
  margin-left: 5px;
}
.only-tags > .btn-xs > .fa{
  margin-left: 5px;
}
.tags-label .fa-asterisk{
  font-size: 8px;
  position: relative;
  top: -1px;
  opacity: .6 !important;
}
.tags-container + .form-group > .input-group{
  float:left;
}
#activeTechniquesTree_alert .alert{
  margin-bottom:10px;
  margin-top: 10px;
}
#activeTechniquesTree_alert .alert > i{
  margin-right: 10px;
}
hr.separator-filter-tree{
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.nav-tabs-filter + .tab-content > .tab-pane{
  padding:4px 2px 0px 2px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}
.nav-tabs-filter + .tab-content > .tab-pane.active{
  padding:4px 2px;
}
.nav-tabs-filter + .tab-content > .tab-pane.active.no-padding-top{
  padding:0px 2px;
}
.nav-tabs-filter + .tab-content > .tab-filter{
  padding:5px;
}
.nav-tabs-filter + .tab-content > .tab-filter.no-padding-bottom{
  padding-bottom:0;
}
.content-wrapper .nav-tabs-filter > li > a.toggleTabFilter{
  background-color: rudder.$bg-light-gray !important;
  border:1px solid rudder.$border-color-default !important;
  color:rudder.$txt-secondary !important;
  cursor:pointer !important;
  padding: 4px 25px 4px 10px;
  position: relative;
  margin-right: 5px;
}
.content-wrapper .nav-tabs > li > a.toggleTabFilter:hover{
  color:rudder.$txt-primary !important;
}
.content-wrapper .nav-tabs > li > a.toggleTabFilter >span.fa{
  position: absolute;
  right: 8px;
  top: 10px;
  transition-duration: .2s;
  font-size: 12px;
}
/* TAGS LABEL */
.tooltip > .tooltip-inner h4.tags-tooltip-title {
  margin: 0;
  padding: 8px 10px;
  font-size: 14px;
  color: rudder.$txt-primary;
  background-color: rudder.$bg-light-gray;
}
.tooltip .tooltip-inner > div.tags-list,
.tooltip .tooltip-inner > div.tooltip-inner-content {
  padding: 10px;
  font-size: 14px;
}
.tags-label,
.tooltip > .tooltip-inner .tags-label{
  padding: 4px 8px;
  border-radius : 20px;
  background-color: rudder.$bg-gray;
  color: rudder.$txt-secondary;
  display: inline-block;
  cursor: default;
  transition-duration: .2s;
  transition-property: opacity, background-color;
  margin-right: 10px;
  white-space: nowrap;
}

.btn.tags-label{
  padding: 4px 8px;
  position: relative;
  cursor:pointer;
  font-size:12px;
  margin-right: 0;
}

.jstree-anchor span.tags-label {
  padding: 0px 6px;
  font-size: .9em;
  margin-right: 0;
  margin-left: 4px;
}
.tags-list .tags-label{
  margin-bottom: 5px;
}
.tags-label.more{
  cursor: help;
}

.tags-label:hover{
  background-color: rudder.$bg-dark-gray;
  color: rudder.$txt-light;
}
.tags-table table{
  margin-bottom: 0 !important;
}

.dataTable td .tags-label{
  padding: 3px 8px 1px 8px;
  font-size: .9em;
  margin-left: 5px;
  margin-right: 2px;
}
.dataTable td{
  position: relative;
}

/* INPUT RESULT */
#tags-result{
  display: none !important;
}

@-webkit-keyframes exist {
  0%   {box-shadow: 0 0 0    #c2c2c2;}
  50%  {box-shadow: 0 0 13px #c2c2c2;}
  100% {box-shadow: 0 0 0    #c2c2c2;}
}
@-moz-keyframes exist {
  0%   {box-shadow: 0 0 0    #c2c2c2;}
  50%  {box-shadow: 0 0 13px #c2c2c2;}
  100% {box-shadow: 0 0 0    #c2c2c2;}
}
@-o-keyframes exist {
  0%   {box-shadow: 0 0 0    #c2c2c2;}
  50%  {box-shadow: 0 0 13px #c2c2c2;}
  100% {box-shadow: 0 0 0    #c2c2c2;}
}
@keyframes exist {
  0%   {box-shadow: 0 0 0    #c2c2c2;}
  50%  {box-shadow: 0 0 13px #c2c2c2;}
  100% {box-shadow: 0 0 0    #c2c2c2;}
}

.angucomplete-dropdown {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  float: left;
  font-size: 12px;
  list-style: outside none none;
  margin: 2px 0 0;
  min-width: 160px;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.angucomplete-dropdown .angucomplete-title {
  clear: both;
  color: rudder.$txt-primary;
  display: block;
  font-weight: 400;
  line-height: 1.42857;
  padding: 6px 10px;
  white-space: nowrap;
  cursor: pointer;
}

.angucomplete-dropdown .angucomplete-title:focus, .angucomplete-dropdown .angucomplete-title:hover {
  background-color: #f5f5f5;
  color: #262626;
  text-decoration: none;
}

.angucomplete-searching{
  padding: 6px 10px;
  color: rudder.$txt-secondary;
  font-style: italic;
  cursor: default;
}