.wrapper {
  min-height: 100%;
  position: static;
  overflow: hidden
}
.content-wrapper{
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  background-color: #F8F9FC;
  margin-left: 230px;
  min-height: 100%;
  z-index: 800;
}
@media (max-width: 767px) {
  .content-wrapper{
    margin-left:0
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper{
    margin-left:0
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper{
    -webkit-transform:translate(230px,0);
    -ms-transform: translate(230px,0);
    -o-transform: translate(230px,0);
    transform: translate(230px,0)
  }
}
.fixed .main-header,
.fixed .main-sidebar {
  position: fixed
}
.fixed .main-header {
  top: 0;
  right: 0;
  left: 0
}
.fixed .content-wrapper{
  padding-top: 50px
}
@media (max-width: 767px) {
  .fixed .content-wrapper{
    padding-top:100px
  }
}
.main-header {
  position: fixed;
  max-height: 100px;
  z-index: 1030;
  width: 100%;

}
.main-header>.navbar {
  -webkit-transition: margin-left .3s ease-in-out;
  -o-transition: margin-left .3s ease-in-out;
  transition: margin-left .3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  height: 50px;
  border-radius: 0;
  background-color: #fff;
  box-shadow: 4px 4px 10px #dce3efb0;
}
.main-header .form-control::-moz-placeholder {
  color: #36474eaa;
  opacity: 1
}
.main-header .form-control:-ms-input-placeholder {
  color: #36474Eaa
}
.main-header .form-control::-webkit-input-placeholder {
  color: #36474Eaa
}
.main-header .navbar-custom-menu {
  float: right
}
@media (max-width: 991px) {
  .main-header .navbar-custom-menu a{
    color:inherit;
    background: 0 0
  }
}
.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: "Font Awesome 5 Free";
  position: absolute;
}
.main-header .sidebar-toggle:before {
  content: "\f0c9";
  font-weight: bold;
}
.main-header .sidebar-toggle:hover {
  color: #fff
}
.main-header .sidebar-toggle:active,.main-header .sidebar-toggle:focus {
  background: 0 0
}
.main-header .sidebar-toggle .icon-bar {
  display: none
}
.main-header .navbar .nav>li.user>a>.fa,.main-header .navbar .nav>li.user>a>.glyphicon,.main-header .navbar .nav>li.user>a>.ion {
  margin-right: 5px
}
.main-header .navbar .nav>li>a>.label {
  position: absolute;
  top: 9px;
  right: 32px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9
}
.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
  background-color: #041922;
  position: relative;
  z-index: 9999;
}
.treeview .plugin-info{
  display: none;
}

/*LOGO RUDDER*/
header.main-header .logo-mini img{
  width:35px;
  position: relative;
  left: -2px;
  top: -1px;
}
.custom-branding-logo{
  width: 100%;
  height: 100%;
}
header.main-header .logo-lg img{
  width: 100%;
  max-height: 40px;
  vertical-align: middle;
}
.main-header .logo .logo-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-header .logo .logo-mini {
  display: none;
}
.main-header .navbar-brand {
  color: #fff;
}
.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px 15px
}
@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav>li {
    float:left
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left
  }
  .navbar-custom-menu .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px
  }
}
@media (max-width: 767px) {
  .main-header {
    position:relative
  }
  .main-header .logo,.main-header .navbar {
    width: 100%;
    float: none
  }
  .main-header .navbar {
    margin: 0
  }
  .main-header .navbar-custom-menu {
    float: right
  }
}
@media (max-width: 991px) {
  .navbar-collapse.pull-left {
    float:none!important
  }
  .navbar-collapse.pull-left+.navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px
  }
}
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  background-color: #041922;
}
@media (max-width: 767px) {
  .main-sidebar {
    padding-top:100px
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform:translate(-230px,0);
    -ms-transform: translate(-230px,0);
    -o-transform: translate(-230px,0);
    transform: translate(-230px,0)
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform:translate(-230px,0);
    -ms-transform: translate(-230px,0);
    -o-transform: translate(-230px,0);
    transform: translate(-230px,0)
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform:translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0)
  }
}
.sidebar-form input:focus {
  border-color: transparent
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0
}
.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
  text-decoration: none !important;
  border-left: 3px solid transparent;
  position: relative;
}
.sidebar-menu>li>a>.fa,.sidebar-menu>li>a>.glyphicon,.sidebar-menu>li>a>.ion {
  width: 20px
}
.sidebar-menu>li .badge,.sidebar-menu>li .label {
  margin-top: 3px;
  margin-right: 5px
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px
}
.sidebar-menu li>a>.fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px
}
.sidebar-menu li.active>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.sidebar-menu li.active>.treeview-menu {
  display: block
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px
}
.sidebar-menu .treeview-menu>li {
  margin: 0
}
.sidebar-menu .treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px
}
.sidebar-menu .treeview-menu>li>a>.fa,.sidebar-menu .treeview-menu>li>a>.glyphicon,.sidebar-menu .treeview-menu>li>a>.ion {
  width: 20px
}
.sidebar-menu .treeview-menu>li>a>.fa-angle-down,.sidebar-menu .treeview-menu>li>a>.fa-angle-left {
  width: auto
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper{
    margin-left:50px!important;
    z-index: 840
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    width: 50px!important;
    z-index: 850
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li {
    position: relative
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a {
    margin-right: 0
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span {
    border-bottom-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu,.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 50px
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 44px;
    margin-left: 0
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    display: none!important;
    -webkit-transform: translateZ(0)
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px
  }
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-lg {
    display: none
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px
  }
}
.sidebar-menu,.sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden
}
.sidebar-menu:hover {
  overflow: visible
}
.sidebar-form,.sidebar-menu>li.header {
  overflow: hidden;
  text-overflow: clip
}
.sidebar-menu li>a>.pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px
}

.dropdown-menu {
  box-shadow: none;
  border-color: #eee
}
.dropdown-menu>li>a {
  color: #777
}
.dropdown-menu>li>a>.fa,.dropdown-menu>li>a>.glyphicon,.dropdown-menu>li>a>.ion {
  margin-right: 10px
}
.dropdown-menu>li>a:hover {
  background-color: #e1e3e9;
  color: #333
}
.dropdown-menu>.divider {
  background-color: #eee
}

.navbar-nav .notifications-menu>.dropdown-menu,
.navbar-nav>.tasks-menu>.dropdown-menu {
  width: 280px;
  padding: 0;
  margin: 0;
  top: 100%
}

.navbar-nav .notifications-menu>.dropdown-menu>li,
.navbar-nav>.tasks-menu>.dropdown-menu>li {
  position: relative
}

.navbar-nav .notifications-menu>.dropdown-menu>li.header,
.navbar-nav>.tasks-menu>.dropdown-menu>li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444;
  font-size: 14px
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eee;
  color: #444!important;
  text-align: center
}
@media (max-width: 991px) {
  .navbar-nav .notifications-menu>.dropdown-menu>li.footer>a,
  .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
    background:#fff!important;
    color: #444!important
  }
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover {
  text-decoration: none;
  font-weight: 400
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover,
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover {
  background: #f4f4f4;
  text-decoration: none
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a {
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa,.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.ion {
  width: 20px
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
  padding: 10px
}
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666
}
.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a>.progress {
  padding: 0;
  margin: 0
}

.navbar-nav>.user-menu>.dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px
}
.navbar-nav>.user-menu>.dropdown-menu,.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,.2)
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  z-index: 5;
  color: #fff;
  color: rgba(255,255,255,.8);
  font-size: 17px;
  margin-top: 10px
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
  display: block;
  font-size: 12px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #ddd
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after,.navbar-nav>.user-menu>.dropdown-menu>.user-body:before {
  content: " ";
  display: table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
  clear: both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
  color: #444!important
}
@media (max-width: 991px) {
  .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    background:#fff!important;
    color: #444!important
  }
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
  background-color: #f9f9f9;
  padding: 10px
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after,.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before {
  content: " ";
  display: table
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
  clear: both
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
  color: #666
}
@media (max-width: 991px) {
  .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
    background-color:#f9f9f9
  }
}
.navbar-nav>.user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px
}
@media (max-width: 767px) {
  .navbar-nav>.user-menu .user-image {
    float:none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px
  }
}

.open:not(.dropup)>.animated-dropdown-menu {
  backface-visibility: visible!important;
  -webkit-animation: flipInX .7s both;
  -o-animation: flipInX .7s both;
  animation: flipInX .7s both
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    transition-timing-function: ease-in;
    opacity: 0
  }
  40% {
    transform: perspective(400px) rotate3d(1,0,0,-20deg);
    transition-timing-function: ease-in
  }
  60% {
    transform: perspective(400px) rotate3d(1,0,0,10deg);
    opacity: 1
  }
  80% {
    transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }
  100% {
    transform: perspective(400px)
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
    -webkit-transition-timing-function: ease-in
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
    opacity: 1
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }
  100% {
    -webkit-transform: perspective(400px)
  }
}

.navbar-custom-menu>.navbar-nav>li {
  position: relative
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto
}
@media (max-width: 991px) {
  .navbar-custom-menu>.navbar-nav {
    float:right
  }
  .navbar-custom-menu>.navbar-nav>li {
    position: static
  }
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff
  }
}
.main-header .navbar .nav .open.bg-success>a, .main-header .navbar .nav .open.bg-success>a:focus, .main-header .navbar .nav .open.bg-success>a:hover, .main-header .navbar .nav>.active>a,.main-header .navbar .nav>li>a:active,.main-header .navbar .nav>li>a:focus,.main-header .navbar .nav>li>a:hover {
  background: rgba(0,0,0,.1);
  color: #36474e
}
.main-header .navbar .nav .open.bg-success>a,.main-header .navbar .nav .open.bg-success>a:focus,.main-header .navbar .nav .open.bg-success>a:hover,.main-header .navbar .nav>.active>a,.main-header .navbar .nav>li>a:active,.main-header .navbar .nav>li>a:focus,.main-header .navbar .nav>li>a:hover {
  background: rgba(0,0,0,.1);
  color: #36474e
}
.main-header .navbar .nav>li>a,.main-header .navbar .sidebar-toggle {
  color: #36474e;
  text-decoration: none !important;
  line-height: 20px;
  font-size:14px;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: #f4f4f4;
  color: #041922
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li.divider {
    background-color:rgba(255,255,255,.1)
  }
  .main-header .navbar .dropdown-menu li a {
    color: #fff
  }
  .main-header .navbar .dropdown-menu li a:hover {
    background: #d47001
  }
}
.main-header .logo:hover {
  background-color: #36474e
}
.main-header li.user-header {
  background-color: #f08004
}
.content-header {
  background: 0 0
}
.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226
}
.sidebar-menu>li.active>a, .sidebar-menu>li:hover>a {
  color: #fff;
  background-color: #213640;
  border-left-color: #13beb7
}
.sidebar-menu>li.active>a>i, .sidebar-menu>li:hover>a>i {
  color: #13beb7
}
.sidebar-menu>li>.treeview-menu {
  margin: 0;
  background: #162932
}
.sidebar a:hover {
  text-decoration: none
}
.sidebar a,.treeview-menu>li>a {
  color: #ffffffaa
}
.treeview-menu>li.active>a,.treeview-menu>li>a:hover {
  color: #fff
}
.sidebar-form .btn,.sidebar-form input[type=text] {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.sidebar-form input[type=text]:focus,.sidebar-form input[type=text]:focus+.input-group-btn .btn {
  background-color: #fff;
  color: #666
}
.sidebar-form input[type=text]:focus+.input-group-btn .btn {
  border-left-color: #fff
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* -- SIDEBAR MENU CUSTOMIZATION -- */

.sidebar ul.sidebar-menu > li.treeview:nth-child(2) > ul.treeview-menu ,
.sidebar ul.sidebar-menu > li.treeview:nth-child(3) > ul.treeview-menu {
  display: block !important;
  height: auto !important;
}
.sidebar ul.sidebar-menu > li.treeview:nth-child(2) > a,
.sidebar ul.sidebar-menu > li.treeview:nth-child(3) > a{
  cursor: default !important;
}
.sidebar ul.sidebar-menu > li.treeview:nth-child(2) > a > span + i.fa,
.sidebar ul.sidebar-menu > li.treeview:nth-child(3) > a > span + i.fa{
  display: none !important;
}
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(2) > ul.treeview-menu ,
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(3) > ul.treeview-menu {
  display: none !important;
  height: auto !important;
}
.sidebar-mini.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(2):hover > ul.treeview-menu,
.sidebar-mini.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(3):hover > ul.treeview-menu{
  display: block !important;

}
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(2) > a,
.sidebar-collapse .sidebar ul.sidebar-menu > li.treeview:nth-child(3) > a{
  cursor: initial !important;
}
.treeview-menu>li>a{
  white-space: normal;
  display: flex;
}
.treeview-menu>li>a>span:nth-child(2){
  flex: 1;
}
.treeview-menu>li>a.active {
  color: #fff;
}
.treeview-menu>li>a .fa,.treeview-menu>li>a .glyphicon {
  visibility:hidden;
  color: #13beb7;
  position:relative;
  color: #13beb7;
  left:-2px;
}
.treeview-menu>li>a.active .fa,.treeview-menu>li>a.active .glyphicon {
  visibility:visible;
}
.sidebar-form.topbar-search-form{
  display: inline-block;
  margin: 0;
  margin-left: 50px !important;
  position: relative;
  top: 6.5px;
  width: auto;
  border-radius: 0;
  border:none;
}
.sidebar-form.topbar-search-form .table{
  display: table;
  width:250px;
}
.sidebar-form.topbar-search-form .input-group-addon{
  cursor:pointer;
  border-right:none;
}
.sidebar-form.topbar-search-form .input-group .input-group-addon {
  border-color: transparent;
  opacity: 1;
  transition-duration:.2s;
}
.sidebar-form.topbar-search-form .input-group .input-group-addon:hover {
  color: #000;
}

.sidebar-form.topbar-search-form input.form-control:focus{
  background-color: rgba(255, 255, 255, 1);
  border: none;
}
@media (min-width: 768px){
  .sidebar-form.topbar-search-form{
    display:inline-block !important;
  }
}
@media (max-width: 768px){
  .sidebar-form.topbar-search-form .table{
    width:150px;
  }
  .sidebar-collapse div.topQuickSearchResults.ac_results,div.topQuickSearchResults.ac_results, .sidebar-open	 div.topQuickSearchResults.ac_results {
    left: 45px !important;
    width: 150px !important;
    top: 92px !important;
  }
}
@media (max-width: 500px){
  .sidebar-form.topbar-search-form .table{
    width:120px;
  }
  .sidebar-collapse div.topQuickSearchResults.ac_results, div.topQuickSearchResults.ac_results, .sidebar-open	 div.topQuickSearchResults.ac_results {
    width: 120px !important;
  }
}
/* -- <NAVBAR>  ------------ */
#rudder-navbar {
  display: flex;
}
.sidebar-menu>li.footer>span{
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu>li.footer>a{
  color:#556D77;
}

.sidebar-menu li.treeview.active>a>.fa-angle-left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu li.treeview>a>.fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sidebar-menu>li.footer {
  color: #fff;
  background: #041922;
  margin-top: auto;
  -webkit-animation: squeeze .3s ease-in-out forwards; /* Safari 4+ */
  -moz-animation:    squeeze .3s ease-in-out forwards; /* Fx 5+ */
  -o-animation:      squeeze .3s ease-in-out forwards; /* Opera 12+ */
  animation:         squeeze .3s ease-in-out forwards; /* IE 10+, Fx 29+ */
}
.sidebar-collapse .sidebar-menu>li.footer{
  -webkit-animation: expand .3s ease-in-out forwards; /* Safari 4+ */
  -moz-animation:    expand .3s ease-in-out forwards; /* Fx 5+ */
  -o-animation:      expand .3s ease-in-out forwards; /* Opera 12+ */
  animation:         expand .3s ease-in-out forwards; /* IE 10+, Fx 29+ */
}

.sidebar-menu>li.footer:hover>a, .sidebar-menu>li.footer.active>a {
  border-left-color: transparent;
  background: #1a2226;
}
.sidebar-menu>li.footer>a:hover, .sidebar-menu>li.footer.active>a:hover {
  color: #fff;
  background: #1e282c;
}.sidebar {
   padding-bottom: 0;
   height: 100%;
 }
 aside.main-sidebar.fixed {
  position:fixed;
  z-index: 1030;
  height: calc(100% - 50px);
  min-height: calc(100% - 50px);
  margin-top: 50px;
  padding-top: 0;
}
@media (max-width: 767px) {
  aside.main-sidebar.fixed {
    z-index: 1035;
    margin-top: 100px;
    height: calc(100% - 100px);
    min-height: calc(100% - 100px);
  }
}
 .sidebar > ul.sidebar-menu {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
 }

 .sidebar-mini.sidebar-collapse .sidebar > ul.sidebar-menu {
   overflow-y: visible;
   overflow-x: visible;
 }
.navbar-nav li.dropdown > a {
  padding: 14px 8px;
}
.user.user-menu .glyphicon,.tasks-menu .fa-book{
  margin-right: 5px;
}
/* ----- <DROPDOWN MENU>  ----- */
@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    right: 42px;td
    float: none;
    width: 280px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer:last-child>a{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a{
  font-size:14px !important;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a.regeneratePolicies{
	color:#DA291C !important;
}
.content-wrapper #generatePoliciesDialog button.btn{
	min-width:130px;
}
.navbar-nav .notifications-menu>.dropdown-menu>li.footer>a.regeneratePolicies:hover{
  background-color: #DA291C !important;
  color: #fff !important;
  border-bottom-color: #DA291C;
}
.main-header .navbar .nav li.notifications-menu> a{
  height: 100%;
  color: #36474e;
  text-decoration: none !important;
}
.main-header .navbar .nav li.notifications-menu> a:hover{
  color: #041922;
}
.navbar-nav li.dropdown {
  height: 50px;
}
.main-header .navbar .nav li.notifications-menu> a:hover .rudder-badge,
.main-header .navbar .nav li.notifications-menu> a:focus .rudder-badge,
.main-header .navbar .nav li.notifications-menu> a:active .rudder-badge,
.main-header .navbar .nav li.notifications-menu> a:visited .rudder-badge{
  background-color:#fff;
}

.main-header .navbar .nav>li> a:hover,
.main-header .navbar .nav>li> a:active,
.main-header .navbar .nav>li> a:focus,
.main-header .navbar .nav .open> a,
.main-header .navbar .nav .open> a:hover,
.main-header .navbar .nav .open> a:focus,
.main-header .navbar .nav>.active a,
.main-header .navbar .nav li.dropdown > a:hover,
.main-header .navbar .nav li.dropdown > a:focus,
.main-header .navbar .nav>li.user.user-menu.dropdown>a:hover,
.main-header .navbar .nav>li.user.user-menu.dropdown>a:focus,
.main-header .navbar .nav>li.user.user-menu.dropdown>a:active{
  background: rgba(0,0,0,0.1);
}

.main-header .navbar .nav>li.user.user-menu>a:hover,
.main-header .navbar .nav>li.user.user-menu>a:focus,
.main-header .navbar .nav>li.user.user-menu>a:visited,
.main-header .navbar .nav>li.user.user-menu{
  background: inherit;
  cursor: default;
}

.main-header .navbar-nav .tasks-menu a > i,
.main-header .navbar-nav .user-menu  a > span,
#logout > i{
  color: #738195;
}

.main-header .navbar-nav .tasks-menu a:hover > i,
#logout:hover > i{
  color: #36474E;
}
.main-header .navbar .nav>li> a#logout{
  max-height:50px;
}
.notifications-menu .rudder-badge {
  position: relative;
  left: 7px;
  top: -2px;
  background-color: #e8eaed;
  border: 2px solid #e8eaed;
  color: rgb(34, 45, 50);
  border-radius:3px;
}
.notifications-menu a:hover .rudder-badge{
  border-color: #fff;
}
.notifications-menu a:hover .rudder-badge::before {
  border-right-color: #fff;
}
.notifications-menu .rudder-badge::before {
  content: "";
  left: -9px;
  top: 4px;
  color: transparent;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 11px solid #e8eaed;
  position: absolute;
}
.wrapper .navbar-nav li > a {
  font-size: 1.1em;
}
 .navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa{
  width: 30px;
  color: #041922;
  opacity: 0.4;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa.text-succes{
  color: #3c763d;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa.text-danger{
  color: #DA291C;
}
 .navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa-flag-o, .navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a>.fa-flag-checkered{
  font-size: 16px;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a{
  font-size:12px !important;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover .fa,
.navbar-nav .messages-menu>.dropdown-menu>li .menu>li>a:hover .fa,
.navbar-nav .tasks-menu>.dropdown-menu>li .menu>li>a:hover .fa,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover .label,
.navbar-nav .messages-menu>.dropdown-menu>li .menu>li>a:hover .label,
.navbar-nav .tasks-menu>.dropdown-menu>li .menu>li>a:hover .label{
  opacity: 1;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a.text-success,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover.text-success,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:focus.text-success,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:visited.text-success{
  color: #13BEB7 !important;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:focus.text-danger,
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:visited.text-danger{
  color: #DA291C !important;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover {
  color: #444444 !important;
}
.navbar-nav .tasks-menu>.dropdown-menu>li .menu>li>a:hover{
  color:#444444;
}
.navbar-nav .dropdown-menu>li .menu>li>a .label {
  font-size: 90%;
  background-color: #041922;
  opacity: 0.4;
  position: absolute;
  right: 10px;
}
.navbar-nav li .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-color:#E2E2E2;
  border-bottom: none;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a .help-block{
  font-size:80%;
  margin:5px 0 0 30px;
}
.navbar-nav .notifications-menu>.dropdown-menu>li .menu>li>a:hover, .navbar-nav .messages-menu .dropdown-menu>li .menu>li>a:hover, .navbar-nav .tasks-menu .dropdown-menu>li .menu>li>a:hover {
  background: #F8F9FC;
}
.navbar-nav li>.dropdown-menu .menu{
  border-bottom: none;
}
.main-header .navbar .nav li.dropdown>a>.label {
  position: absolute;
  top: 5px;
  right: 23px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}

/* === STATUS / PLUGIN INFO / HEALTCHECK === */
#generation-status{
  font-size: 14px;
  border-radius: 50%;
  padding: 3px;
}
.main-header .navbar .nav li.notifications-menu > a .fa-heartbeat{
  font-size: 18px;
}
.main-header .navbar .nav li.notifications-menu #generation-status > span:after{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}
.main-header .navbar .nav li.plugin-warning,
.main-header .navbar .nav li.plugin-warning > a > .fa:after,
.main-header .navbar .nav li.notifications-menu,
.main-header .navbar .nav li.notifications-menu #generation-status{
  background-color: #fff;
  border-color: #fff;
}
.main-header .navbar .nav li.plugin-warning:hover,
.main-header .navbar .nav li.plugin-warning:hover > a > .fa:after,
.main-header .navbar .nav li.notifications-menu:hover    #generation-status,
.main-header .navbar .nav li.notifications-menu a:active #generation-status,
.main-header .navbar .nav li.notifications-menu a:focus  #generation-status,
.main-header .navbar .nav li.notifications-menu.open     #generation-status{
  background-color:#d6deef;
  border-color: #d6deef;
}
/* ERROR */
.main-header .navbar .nav li.plugin-warning.critical > a,
.main-header .navbar .nav li.plugin-warning.critical > a:hover,
.main-header .navbar .nav li.plugin-warning.critical > a:focus,
.main-header .navbar .nav li.plugin-warning.critical > a:active,
.main-header .navbar .nav li.notifications-menu.bg-error > a .fa-heartbeat,
.main-header .navbar .nav li.notifications-menu.bg-error          #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-error:hover    #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-error a:active #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-error a:focus  #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-error.open     #generation-status{
  color: #da291c;
}
.main-header .navbar .nav li.notifications-menu.bg-error #generation-status > span:after{
  content: "\f00d";
}
/* OK */
.main-header .navbar .nav li.notifications-menu.bg-success > a .fa-heartbeat,
.main-header .navbar .nav li.notifications-menu.bg-success          #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-success:hover    #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-success a:active #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-success a:focus  #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-success.open     #generation-status{
  color: #13BEB7;
}
.main-header .navbar .nav li.notifications-menu.bg-success #generation-status > span:after{
  content: "\f00c";
}
/* DEFAULT */
.main-header .navbar .nav li.notifications-menu.bg-neutral > a .fa-heartbeat,
.main-header .navbar .nav li.notifications-menu.bg-neutral          #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-neutral:hover    #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-neutral a:active #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-neutral a:focus  #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-neutral.open     #generation-status{
  color: #abacac;
}
.main-header .navbar .nav li.notifications-menu.bg-neutral #generation-status > span:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e085";
}
/* REFRESH */
.main-header .navbar .nav li.notifications-menu.bg-refresh > a .fa-heartbeat,
.main-header .navbar .nav li.notifications-menu.bg-refresh          #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-refresh:hover    #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-refresh a:active #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-refresh a:focus  #generation-status,
.main-header .navbar .nav li.notifications-menu.bg-refresh.open     #generation-status{
  color: #1295c2;
}
.main-header .navbar .nav li.notifications-menu.bg-refresh #generation-status > span:after{
  content: "\f021";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
/* ---- */
#generation-status.label-success{
  background-color: #13BEB7 !important;
}
.label-neutral{
  background-color: #ABACAC !important;
}
.main-header .navbar .nav li.notifications-menu> a #generation-status .fa{
  transition-duration:.2s;
}
.no-click{
  cursor:default !important;
}
.content-wrapper .nav > li > a:hover .glyphicon, .content-wrapper .nav > li > a:focus .glyphicon, .content-wrapper .nav li.dropdown > a:hover .glyphicon, .content-wrapper .nav li.dropdown > a:focus .glyphicon {
  color: #FFFFFF;
}
/* ----- </DROPDOWN MENU>  ----- */

/* === PLUGIN WARNING ===*/
.plugin-warning{
  max-height: 50px;
}
.main-header .navbar .nav li.plugin-warning > a{
  font-size: 1.4em;
  background: none !important;
}
.main-header .navbar .nav li.plugin-warning > a,
.main-header .navbar .nav li.plugin-warning > a:hover{
  color: #ef9601;
}
.main-header .navbar .nav li.plugin-warning > a > .fa:after{
  content: "\f071";
  position: absolute;
  top: calc(50% + -1px);
  right: 4px;
  font-size: .6em;
  border-radius: 50%;
  color: #ef9601;
  padding: 3px;
}
.main-header .navbar .nav li.plugin-warning.critical > a > .fa:after{
  color: #da291c;
}

.main-header .navbar .nav li.plugin-warning + .tooltip > .tooltip-inner h4,
.tooltip > .tooltip-inner h4.warning {
  color: #ef9601;
}
.main-header .navbar .nav li.plugin-warning.critical + .tooltip > .tooltip-inner h4,
.tooltip > .tooltip-inner h4.critical {
  color: #da291c;
}
.plugin-icon.icon-info{
  color: #ef9601;
}
.plugin-icon.icon-info.critical{
  color: #da291c;
}

/* === HEALTCHECK NOTIFICATIONS === */
.circle-notif {
  width                : 16px;
  height               : 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius   : 8px;
  border-radius        : 8px;
  float                : right;
  margin-left: 10px;
}
.ok-light-notif {
  background-color: #81D674;
}
.warning-light-notif {
  background-color: #ef9601;
}
.critical-light-notif {
  background-color: #C80003;
}
.critical-icon {
  color: #C80003;
}
.warning-icon {
  color: #ef9601;
}
.ok-icon {
  color: #81D674;
}