/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;
@use 'sass:color';

.filemanager-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rudder.$bg-overlay;
}

.fm-simple-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.fm-main {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 100px;
  right: 100px;
  z-index: 1;
}

.fm-bar {
  display: flex;
  align-items: center;
  background-color: rudder.$bg-light-gray;
  border-bottom: 1px solid rudder.$border-color-default;
  padding: 0 12px;
}

.fm-arrow {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-flex;
}

.fm-arrow > svg > path:last-child{
  fill: rudder.$gray-500;
}

.fm-arrow:focus {
  outline: none;
}

.fm-text {
  flex-grow: 1;
  margin-left: 10px;
  color: rudder.$txt-secondary;
  font-weight: 500;
}

.fm-bar circle {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3px;
  animation: dash 1.5s infinite;
}

@keyframes dash {
  0% { stroke-dasharray: 0% 0% 40% 210%; }
  50% { stroke-dasharray: 0% 0% 210% 40%; }
  100% { stroke-dasharray: 0% 210% 40% 0%; stroke-dashoffset: -40%; }
}

.fm-loader {
  animation: rotation 3s linear infinite;
}

@keyframes rotation { 
  100% { transform: rotate(360deg); }
}

.fm-files {
  position: relative;
  padding: 11px 12px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  overflow: hidden;
  flex: 1;
}

.fm-wrap {
  height: 100%;
  overflow: auto;
}

.fm-fluid {
  display: flex;
  flex-wrap: wrap;
}

.fm-drop {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #0078D4;
  background-color: rgba(0, 120, 212, 0.5);
}

.fm-file {
  padding: 4px;
  margin: 2px;
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.fm-file:hover {
  background-color: rudder.$bg-gray;
}

.fm-selected {
  background-color: #C7E0F4 !important;
}

.fm-drag .fm-selected, .fm-cut {
  opacity: 0.25;
}

.fm-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  position: relative;
}

.fm-upload .fm-thumb {
  justify-content: flex-start;
  background-color: #D0D0D0;
}

.fm-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.fm-progress {
  height: 9px;
  margin-bottom: 3px;
  background-color: #0078D4;
}

.fm-name {
  width: 100px;
  overflow: hidden;
  text-align: center;
}

.fm-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12px;
  background-color: rudder.$bg-light-gray;
  border-top: 1px solid rudder.$border-color-default;
}

.fm-control button {
    margin-left: 7px;
    padding: 5px 10px;
    border-radius: 4px;
    color: rudder.$txt-primary;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 1px solid rudder.$border-color-default;
}

.fm-helper {
  position: fixed;
  border: 1px solid #0078D4;
  background-color: rgba(0, 120, 212, 0.5);
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.fm-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F44336;
  color: #FFFFFF;
}

.fm-context-menu {
  position: fixed;
  width: 150px;
  padding: 5px 0;
  border: 1px solid rudder.$border-color-default;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.fm-context-menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  text-align: left;
  background: none;
  cursor: pointer;
}

.fm-context-menu button:hover {
  background-color: rudder.$bg-gray;
}

.fm-context-menu .disabled {
  color: #A6A6A6;
}

.fm-context-menu .disabled:hover {
  background-color: #FFFFFF;
}

.fm-context-menu label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.fm-context-menu label:hover {
  background-color: #D0D0D0;
}

.fm-context-menu input[type="file"] {
  display: none;
}

/* Modal */

.fm-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rudder.$bg-overlay;
}

.fm-modal {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.fm-modal label {
  display: block;
  margin-bottom: 14px;
  min-width: 400px;
}

.fm-modal label > strong{
  margin-bottom: 6px;
}

.fm-modal > h1 {
  margin: 0;
}

.fm-wrap {
  max-height: 400px;
  padding-right: 5px;
  overflow-y: auto;
}

.fm-content {
  padding: 20px 0;
}

.fm-modal textarea {
  width: 50vw;
  height: 50vh;
}

/* BAR BUTTONS */
.fm-bar-actions > .btn,
.fm-bar-actions > .btn-group{
  margin-left: 6px;
}

.fm-bar-actions .btn{
  font-size: 16px;
  background-color: transparent !important;
  color: rudder.$txt-secondary;
}

/* SEARCH FILTER */
.dropdown-menu.search-dropdown{
  padding: 10px;
  background-color: rudder.$bg-light-gray;
  width: 250px;
}

/* FILES TREE */
.files-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.fm-filetree {
  width: 320px;
  height: 100%;
  background-color: #fafafa;
  border-right: 1px solid rudder.$border-color-default;
}

.fm-filetree ul{
  padding-left: 24px;
  position: relative;
}

.fm-filetree > ul{
  padding-left: 15px;
}

.fm-filetree ul li a{
  display: flex;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
  color: rudder.$txt-secondary;
  position: relative;
  padding-left: 24px;
}

.fm-filetree ul li a:hover{
  background-color: rudder.$bg-gray;
  color: rudder.$txt-primary;
}
.fm-filetree ul li a:before,
.fm-filetree ul ul:before{
  content: "";
  border-left: 2px solid rudder.$border-color-default;
  display: block;
  position: absolute;
  height: 100%;
  left: 10px;
  top: 0;
}
.fm-filetree ul > li:last-child a:before {
  height: 50%;
}
.fm-filetree ul > li:last-child ul:before {
  content: initial;
}
.fm-filetree ul li svg{
  position: absolute;
  left: 0;
}

.fm-files-list{
  width: 100%;
}
.fm-files-list > .dataTable {
  border: none;
}

tr.fm-file-list > td > div {
  display: flex;
  align-items: center;
}

tr.fm-file-list .fm-thumb {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

tr.fm-file-list .fm-name {
  margin-left: 4px;
  width: initial;
}

.fm-thumb.jpg:before,
.fm-thumb.jpeg:before,
.fm-thumb.png:before,
.fm-thumb.PNG:before{
  position: absolute;
  color: #fff;
  z-index: 1;
  font-weight: bold;
  margin-top: 6px;
  font-size: 0.9em;
}

.fm-thumb.jpg:before{
  content: "JPG";
}
.fm-thumb.jpeg:before{
  content: "JPEG";
}
.fm-thumb.png:before,
.fm-thumb.PNG:before{
  content: "PNG";
}