/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

.main-table table tbody > tr {
  cursor: pointer;
}

.rudder-template .header-title h1 .group-system:before,
.rudder-template .header-title h1 .group-system:after{
  margin-left: 8px;
  opacity: .4;
  font-size: 0.8em;
}
.rudder-template .header-title h1 .group-system:before{
  content: "-";
}
.rudder-template .header-title h1 .group-system:after{
  content: "System";
}
.rudder-template .template-sidebar .sidebar-header .header-filter > .input-group {
  width: 100%;
}

.save-tooltip-container {
  display: inline-block;
  position: relative;
}
.save-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  cursor: not-allowed;
}
input[disabled] + .save-tooltip {
  display: inline-block;
}

#groupDetails .radio-inline .radioTextLabel{
  margin:0;
}
#groupDetails .radio-inline .tooltip{
  position:relative;
  opacity:1;
}
#pendingChangeRequestNotification + .wbBaseField .wbBaseFieldLabel{
  margin:0 0 0 5px;
}
#serverGrid tr.head th {
  padding: 4px 6px;
}
#SearchNodes {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.id-label {
  margin-top: 5px;
}
.id-value {
 display:inline-block;
}
.clipboard-icon {
  display:inline-block;
  margin-left:15px;
}
.clipboard-icon:hover {
  cursor: pointer;
  color: #0366d6;
}

content-query{
  display:block;
}
#query_lines{
  width:100%;
  table-layout:fixed;
}
#query_lines td{
  white-space: nowrap;}
#query_lines tbody tr td input, #query_lines tbody tr td select.selectField, #query_lines tbody tr td input.queryInputValue, #query_lines tbody tr td select.queryInputValue{
  width:100%;
}
#query_lines tbody tr td:first-child{
  width:130px;
}
#query_lines tbody tr td:nth-child(2){
  width:170px;
}
#query_lines tbody tr td:nth-child(3){
  width: 140px;
}
#query_lines tbody tr td:nth-child(5),#query_lines tbody tr td.last{
  width:25px;
}
.rudder-form.form-sm{
  margin-bottom: 12px;
}
#ajaxItemContainer > form{
  height: 100%;
}
@media screen and (max-width: 1200px){
  #query_lines tbody tr td:nth-child(4){
    width :250px;
  }
}
#tabPropsId{
  margin-bottom: 20px;
}

.main-details .main-form > .form-group.wbBaseField:first-child,
.main-details .main-form > .form-group.wbBaseField:first-child label,
.main-details .main-form > .info:first-child h4{
  margin-top : 0px;
}
/* === TOGGLE BUTTONS === */
label.radio-inline {
  padding: 0;
  margin: 0 !important;
}
label.radio-inline > input {
  display: none;
}
label.radio-inline > span {
  border: 1px solid rudder.$border-color-default;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 12px;
  margin: 0;
  transition-duration: .2s;
  min-width: 50px;
  display: inline-block;
  color: #555;
}
label.radio-inline + label.radio-inline > span {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
}
label.radio-inline > input:checked + span {
  background-color: #3694d1;
  color: #fff;
  border-color: #2173a9;
}
label.radio-inline:hover > input:checked + span {
  background-color: rudder.$primary;

}
label.radio-inline:hover > span {
  background-color: rudder.$bg-light-gray;
  color: rudder.$txt-primary;
}
.align-radio-generate-input span{
  vertical-align: initial;
  display:inline-block;
}

.toggle-cond{
  cursor: pointer !important;
}
.toggle-cond.cond-hidden + .well{
  display: none !important;
}
.toggle-cond > i.fa{
  color: rudder.$txt-primary;
  opacity: .4;
  margin-left : 6px;
  transition : opacity .2s;
}
.toggle-cond:hover > i.fa{
  opacity: .6;
}
.toggle-cond.cond-hidden > i.fa{
  transform: rotate(-90deg);
}

/* === GROUP PROPERTIES === */
.info h4{
  color: rudder.$txt-secondary;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 10px;
}
#nodeProp{
  margin-top: 20px;
}