/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

/* === TEMPLATE === */
.rudder-template .template-sidebar .sidebar-list li > a {
  width: 100%;
  display: inline-block;
}
.rudder-template .callout-fade .action-btn > .btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 145px;
}
.rudder-template .table-title + .callout-fade{
  margin: 10px 0 20px 0;
}
/*================= */
.main-details .row > div > .callout-fade.callout-info:first-child{
  margin-top: 10px;
}
@media (min-width: 768px) {
.main-details .row > div > .callout-fade.callout-info:first-child{
  margin-top: 24px;
}
}
#viewAllRulesZone {
  padding: 15px;
}

#clone {
  margin-left:20px;
  float:left;
}
#ruleComplianceTab {
  padding-left: 10px;
  padding-right: 10px;
}
#boxTreeRules{
  overflow-y: auto;
  overflow-x: hidden;
}
label.rule-info{
  margin-bottom:0;
}
label.rule-info + div{
  color:#555;
}
#grid_rules_grid_zone_length label,#grid_rules_grid_zone_info{
  font-weight:normal;
  font-size:12px;
}
#grid_rules_grid_zone {
  width: 100%;
  table-layout: fixed;
}
.recentChange_refresh{
  float: right;
  position: absolute;
  top: calc(50% - 17px);
  right: 8px;
}
#recentChanges {
  /** If we want to scroll correctly to recent changes we need to set a minimum height,
      or else when the graph appear (just after the scroll) we will only the the recent change section title
  */
  min-height: 300px;
}
#recentChanges .alert-info{
  position: relative;
  margin-top: 10px;
}

.targetContainer {
  min-height: 65px;
}
#details{
  background-color: #fff;
  padding-left:0;
  padding-right:0;
  font-size:14px;
}
#details .dataTables_wrapper{
  margin: 10px 0 20px 0;
  float: left;
  width: 100%;
}
.dataTable .progress-bar {
  line-height: 22px;
}
/* Directive and Group sections */
#ruleDirectives,
#DirectiveCtrl,
#groupManagement,
#GroupCtrl,
.applied-list{
  float: left;
  width: 100%;
}

#ruleDirectives,
#groupManagement{
  margin-bottom: 20px;
}

/* --- MODAL --- */
#selectDirectives .modal-body{
  padding-top: 0;
}
#directiveFilters{
  padding: 15px 15px 10px 15px;
  margin: 0 -15px;
  border-bottom: 1px solid rudder.$border-color-default;
  background-color: #F7F8F7;
}

.modal .jstree ul > li a.jstree-anchor{
  margin-top: 1px;
  border: 1px solid transparent;
}

.modal .jstree ul > li a.jstree-anchor{
  cursor: default !important;
}

.jstree ul > li a.jstree-anchor .treeAction,
.jstree ul > li a.jstree-anchor .action-icon{
  cursor: pointer !important;
}

.jstree .jstree-clicked{
  background-color: inherit;
  box-shadow: none !important;
}
.jstree .jstree-hovered.jstree-clicked{
  background-color: rgb(231, 244, 249);
}

/* STATIC INIT */
#actions_zone , .dataTables_length , .dataTables_filter {
  display: inline-block;
}
.greenCompliance {
  background-color: #5cb85c
}
.orangeCompliance  {
  background-color: #FF6600
}
.redCompliance  {
  background-color: #c9302c
}
.noCompliance   {
  background-color:#b4b4b4;
}
.applyingCompliance {
  background-color:#5bc0de;
}
.compliance {
  text-align: center;
}

/* V2 */
.main-table table tbody > tr {
  cursor: pointer;
}

form.readonly-form .form-group,
form.readonly-form .tags-container{
  margin-bottom: 15px;
}
.missing-cat {
  color: rudder.$txt-secondary;
}
.main-missing-cat {
  color: rudder.$warning;
}
.id-label {
  margin-top: 5px;
}
.id-value {
 display:inline-block;
}
.clipboard-icon {
  display:inline-block;
  margin-left:15px;
}
.clipboard-icon:hover {
  cursor: pointer;
  color: #0366d6;
}
.focused {
  background-color:#ecf7fa;
}

.rules-tab {
  padding-left: 15px;
  padding-top: 0px !important;
}