/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as *;

.content-wrapper td, .content-wrapper th {
  padding: 4px 3px;
  line-height: 1.42857143;
}

#groupNodesTable_wrapper .dataTables_wrapper_top {
  border-top : none;
}

/* <WRAPPER TOP> */
.dataTables_wrapper_top,
.dataTables_wrapper_bottom {
  float            : left;
  width            : 100%;
  border           : 1px solid $rudder-border-color-default;
  padding          : 5px 10px;
  background-color : $rudder-bg-light-gray;
}
.dataTables_wrapper_top {
  border-bottom    : none;
}
.rudder-template .template-main .main-table .dataTables_wrapper_top.table-filter{
  display: flex;
  margin-top : 15px;
  padding: 10px 15px 0px 15px;
}
.rudder-template .template-main .main-table .dataTables_wrapper_top.table-filter > .form-group{
  min-width: 300px;
  margin-bottom: 10px;
}
.rudder-template .template-main .main-table  .dataTables_wrapper_top.table-filter > .form-group + .form-group{
  margin-left: 15px;
}
.rudder-template .template-main .main-table .dataTables_wrapper_top.table-filter > .end{
  margin: 0 0 10px auto;
}
.dataTables_filter{
  float: left;
}
.dataTables_refresh{
  float: right;
}
.dt-buttons button.btn-export{
  &::after {
    content: "\f0ce";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 5px;
  }
}
.dataTables_filter label{
  margin-bottom: 0;
}
/* </WRAPPER TOP> */

/* <TABLE> */
.dataTable{
  width         : 100%;
  border        : 1px solid $rudder-border-color-default;
  font-size     : 14px;
  margin-bottom : 0px;
}

.dataTable .dataTable {
  border-bottom: none !important;
  border-right: none;
  border-top: none;
  background-color: #fff;
}
/* </TABLE> */

/* <THEAD> */
.dataTable tr.head,
.dataTables_scrollHead thead > tr {
  border-bottom : 1px solid $rudder-border-color-default;
  font-size: 1.15em;
}
/* </THEAD> */

/* <TH> */
.dataTable tr.head th .DataTables_sort_wrapper,
.dataTables_scrollHead thead > tr th .DataTables_sort_wrapper{
  top: 1px;
  position: relative;
  padding-right: 4px;
}
.dataTable tr.head th .DataTables_sort_wrapper .DataTables_sort_icon,
.dataTables_scrollHead thead > tr th .DataTables_sort_wrapper .DataTables_sort_icon{
  position: absolute;
}

.dataTable tr.head th,
.dataTables_scrollHead thead > tr th{
  padding: 10px 6px;
  outline: none !important;
  cursor: pointer;
  transition-duration: .2s;
}
.dataTable tr.head th.sorting,
.dataTable tr.head th.sorting_asc,
.dataTable tr.head th.sorting_desc,
.dataTables_scrollHead thead > tr th.sorting,
.dataTables_scrollHead thead > tr th.sorting_asc,
.dataTables_scrollHead thead > tr th.sorting_desc{
  white-space: pre;
}
.dataTable tr.head th.sorting:after,
.dataTables_scrollHead thead > tr th.sorting:after{
  content: "";
  display: inline-block;
  min-width: 12px;
  margin-left: 6px;
}
.dataTable tr.head th.sorting_asc:after,
.dataTable tr.head th.sorting_desc:after,
.dataTables_scrollHead thead > tr th.sorting_asc:after,
.dataTables_scrollHead thead > tr th.sorting_desc:after{
  display: inline-block;
  min-width: 12px;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  color: $rudder-gray-400;
  margin-left : 6px;
  font-size: 18px;
  position: relative;
  top: 1px;
}
.dataTable tr.head th.sorting_asc:after,
.dataTables_scrollHead thead > tr th.sorting_asc:after{
  content: "\f0d8";
}
.dataTable tr.head th.sorting_desc:after,
.dataTables_scrollHead thead > tr th.sorting_desc:after{
  content: "\f0d7";
}
.dataTable .dataTable tr.head th {
  padding: 4px 6px;
  font-size: 0.9em;
}
.dataTable tr.head th.sorting,
.dataTables_scrollHead thead > tr th.sorting{
  color: $rudder-txt-secondary;
}
.dataTable tr.head th.sorting.sorting_desc,
.dataTable tr.head th.sorting.sorting_asc,
.dataTables_scrollHead thead > tr th.sorting_asc,
.dataTables_scrollHead thead > tr th.sorting_desc{
  color: $rudder-txt-primary;
}
.dataTable tr.head th.sorting:hover,
.dataTable tr.head th.sorting.sorting_desc:hover,
.dataTable tr.head th.sorting.sorting_asc:hover,
.dataTables_scrollHead thead > tr th.sorting:hover,
.dataTables_scrollHead thead > tr th.sorting_asc:hover,
.dataTables_scrollHead thead > tr th.sorting_desc:hover{
  cursor: pointer;
  color: #0e5e9f;
}

.DataTables_sort_icon.ui-icon-triangle-1-n,
.DataTables_sort_icon.ui-icon-triangle-1-s,
.listopen:before,
.listclose:before {
  margin-left: 4px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #999;
  font-weight: 900;
}
.DataTables_sort_icon.ui-icon-triangle-1-n:before{
    content: "\f0d8";
}
.DataTables_sort_icon.ui-icon-triangle-1-s:before{
    content: "\f0d7";
}
td.EnforceSuccess,td.AuditNotApplicable,td.EnforceNotApplicable,td.AuditCompliant,td.Compliant,td.NotApplicable,td.Success,
.report-compliance .successNotApplicable,
.report-compliance .successAlreadyOK,
.report-compliance .auditCompliant,
.report-compliance .auditNotApplicable {
  background-color: $rudder-success;
  color: #fff;
}
td.AuditNonCompliant,td.NonCompliant,
.report-compliance .auditNonCompliant {
  background-color: $rudder-warning;
  color: #fff;
}
td.Missing,td.EnforceError,td.AuditError,td.Error,td.Unexpected,td.BadPolicyMode,
.report-compliance .unexpectedMissingComponent,
.report-compliance .error,
.report-compliance .auditError,
.report-compliance .unexpectedUnknownComponent,
.report-compliance .badPolicyMode {
  background-color:#c9302c;
  color: #fff;
}
td.Pending,
.report-compliance .applying {
  background-color: #5bc0de;
  color: #fff;
}
td.Disabled, td.NoAnswer,
.report-compliance .reportsDisabled,
.report-compliance .noReport {
  background-color: #b4b4b4;
  color: #fff;
}
td.Repaired,
.report-compliance .successRepaired {
  background-color: #F5DD4D;
  color: $rudder-txt-primary;
}
td.eventId{
  position:relative
}
td.listopen,
td.listclose{
  cursor: pointer;
  background-color: inherit;
}
td.listopen:before,
.listclose:before {
  min-width: 12px;
}
td.listopen:before {
  content: "\f0da";
}
td.listclose:before {
  content: "\f0d7";
}
td.listclose:after {
  content: "";
  position: absolute;
  left: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: inherit;
  border-bottom: 1px solid #c0d4e4;
  border-right: 1px solid #c0d4e4;
  bottom: -7px;
  z-index: 1;
}
.dataTable .dataTable td.listclose:after {
  border: none !important;
}
/* </TH> */

/* <TBODY><TR> */
.dataTable > tbody > tr {
  border-top: 1px solid transparent;
}
.dataTable > tbody > tr.details{
  border-top: 1px solid #f1f1f1;
  background-color: inherit !important;
  position: relative;
}
.dataTable > tbody > tr.color2{
  background-color: $rudder-bg-light-gray;
}
.dataTable > tbody > tr:hover{
  background-color: $rudder-bg-gray;
}
.dataTable > tbody > tr.eventLogDescription {
  border-top: 1px solid transparent;
  border-bottom: 1px solid $rudder-border-color-default;
  background-color: #FFF !important;
}
.dataTable > tbody > tr.opened {
  border-top: 1px solid $rudder-border-color-default !important;
  border-bottom: 1px solid #c0d4e4;
  background-color: $rudder-bg-info;
}

.dataTable > tbody > tr.opened + tr.details + tr{
  border-top: 1px solid #e4e4e4;
}
/* <TBODY><TR><TD> */
.dataTable > tbody > tr > td{
  padding: 6px;
}
.dataTable > tbody > tr > td.details{
  padding: 0;
}
.dataTable > tbody > tr > td:has(> .value-container){
  padding-top: 0;
  padding-bottom: 0;
}
.dataTable > tbody > tr > td > .value-container {
  padding: 6px 0;
  white-space: pre-line;
  max-height: 200px;
  overflow: auto;
}
.dataTable > tbody > tr > td > .value-container.font-monospace {
  font-size: .9em;
}
.dataTable > tbody > tr > td.listclose{
  position: relative;
}
.dataTable > tbody > tr > td .rudder-label.label-sm{
  margin-right: 6px;
}

.dataTable > tbody > tr > td .label-text {
  cursor: help;
  padding: 4px 0;
  text-align: left;
  float: initial;
  margin-left: 0;
}
.dataTable > tbody > tr > td .label-text:before {
  margin-left: 4px;
}
.dataTable .innerDetails {
  display: none;
  background : $rudder-bg-light-gray;
  padding-left:50px;
  float: left;
  width: 100%;
}
table .innerDetails li{
  word-break: break-all;
  white-space: pre-wrap;
}
.dataTable > tbody > tr > td.details ul {
  margin-bottom: 0;
}
.dataTable .dataTable .innerDetails {
  border-top: none !important;
}

.dataTable .innerDetails > div{
  background-color: #fff;
  margin: 0 !important;
}

tr.parametersDescription {
  background-color: $rudder-bg-light-gray !important;
  height: 30px;
  border-top: 1px solid $rudder-border-color-default !important;

  .parametersDescriptionDetails {
    padding:15px;
  }
}

/* </TBODY></TR></TD> */

/* <WRAPPER BOTTOM> */
.dataTables_wrapper_bottom {
  border-top : none;
}

.dataTables_info{
  opacity: .6;
}
.dataTables_info,
.dataTables_length{
  padding-top: 3px;
  margin-right: 15px;
  font-style: italic;
  float:left;
}
.dataTables_paginate {
  float: right;
  text-align: right;
}
.dataTables_paginate .fg-button {
  display: inline-block;
}
.dataTables_paginate > .ui-button,
.dataTables_paginate > .paginate_button,
.dataTables_paginate > span > .ui-button,
.dataTables_paginate > span > .paginate_button,
.dataTables_paginate > span > .ellipsis{
  padding: 2px 8px;
  border: 1px solid $rudder-border-color-default;
  cursor: pointer;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: .2s;
}
.dataTables_paginate > .ui-button:hover,
.dataTables_paginate > span > .ui-button:hover,
.dataTables_paginate > .paginate_button:hover,
.dataTables_paginate > span > .paginate_button:hover{
  background-color: #fff;
}
.dataTables_paginate > .ui-button:first-child,
.dataTables_paginate > .paginate_button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dataTables_paginate > .ui-button:last-child,
.dataTables_paginate > .paginate_button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dataTables_paginate .ui-button.ui-state-disabled,
.dataTables_paginate .paginate_button.disabled{
  cursor: default !important;
  color: $rudder-txt-primary !important;
  background-color: #ffffff !important;
  opacity: .6;
}
.dataTables_paginate > span > .ellipsis{
  margin-right: -1px;
  cursor: default !important;
  display: inline-block;
  overflow: initial;
}
.dataTables_length select {
  padding: 2px;
  background-color: #fff;
  border-radius: 4px;
  color: #555;
  border: 1px solid $rudder-border-color-default;
  margin: 0 2px;
}
.dataTables_paginate .fg-button {
  border-top: 1px solid #cbcbcb;
  border-right: none !important;
  font-weight: normal !important;
}
.dataTables_paginate > .fg-button:last-child{
  border-right: 1px solid #cbcbcb !important;
}

/* </WRAPPER BOTTOM> */

.dataTable > tbody > tr > td.dataTables_empty,
.dataTable > tbody > tr > td .empty{
  color: $rudder-txt-secondary;
  font-style: italic;
  padding: 10px 6px;
}

/* NODES PAGE */
#nodePropertiesTab > tbody > tr > td.default-actions,
#nodePropertiesTab > tbody > tr > td.edit-actions{
  position: relative;
}
#nodePropertiesTab > tbody > tr > td{
  vertical-align: top;
}
#nodePropertiesTab .action-icon{
  cursor:pointer;
  font-size:18px;
  margin: 0 6px;
  position: relative;
  top: 2px;
}
#nodePropertiesTab .is-edited .action-icon{
  top: 6px;
}
#nodePropertiesTab .action-icon{
  font-size: 17px;
  padding-bottom: 2px;
}
#nodePropertiesTab .action-icon.text-success{
  color: $rudder-success;
}
#nodePropertiesTab .action-icon.text-danger {
  color: #de4b39;
}
#nodePropertiesTab > tbody > tr > td.default-actions > div > span{
  opacity:0;
}
#nodePropertiesTab > tbody > tr:hover > td.default-actions > div > span{
  opacity: 1;
}

.copy-actions {
  cursor: pointer;
}
#nodePropertiesTab > tbody > tr > td > span.copy-actions{
  opacity:0;
}
#nodePropertiesTab > tbody > tr:hover > td > span.copy-actions{
  opacity: 1;
}

#inventoryVariablesTab > tbody > tr > td > span.copy-actions{
  opacity:0;
}
#inventoryVariablesTab > tbody > tr:hover > td > span.copy-actions{
  opacity: 1;
}

#nodePropertiesTab > tbody > tr > td > div > span.find-action {
  opacity:0;
}
#nodePropertiesTab > tbody > tr:hover > td > div > span.find-action {
  opacity: 1;
}

#nodePropertiesTab th:first-child{
  width: 20% !important;
}
#nodePropertiesTab th:nth-child(2){
  width: 95px !important;
}
#nodePropertiesTab th:nth-child(3){
  width: calc(80% - 125px) !important;
}
#nodePropertiesTab th:last-child{
  width: 85px !important;
}
#nodePropertiesTab > tbody > tr > td:not(:first-child){
  padding: 8px 4px;
}
#nodePropertiesTab > tbody > tr > td.property-value{
  position: relative;
  padding: 3px 0px!important;
}
#nodePropertiesTab > tbody > tr > td.property-value pre.json-beautify{
  cursor: initial;
  padding-right: 0;
}
#nodePropertiesTab > tbody > tr > td.property-value .show-more pre.json-beautify{
  cursor: pointer;
}
#nodePropertiesTab .show-more-info{
  display: none;
}
#nodePropertiesTab .show-more + .show-more-info{
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 40px;
}
#nodePropertiesTab > tbody > tr > td.is-edited{
  padding: 3px;
}
#nodePropertiesTab > tbody > tr > td.property-value .btn{
  font-size: 1.2em;
  position: absolute;
  right: 20px;
  top: 4px;
  max-height: 27px;
  z-index: 10;
}
#nodePropertiesTab .value-container{
  overflow: hidden;
  padding-right: 65px;
  position: relative;
  z-index: 2;
}
#nodePropertiesTab .value-container.show-more{
  cursor: pointer;
  max-height: 66px;
}
#nodePropertiesTab .value-container.show-more.toggle,
#nodePropertiesTab .is-edited > .value-container{
  overflow: auto;
  max-height: 300px;
}
#nodePropertiesTab pre.json-beautify{
  max-height: unset;
}
#nodePropertiesTab pre.json-beautify:after {
  content: initial;
}
#nodePropertiesTab .value-container.show-more + span.toggle-icon{
  position: absolute;
  right: 52px;
  top: 7px;
  display: inline-block;
  z-index: 0;
}
#nodePropertiesTab .value-container.show-more + span.toggle-icon:after {
  color: $rudder-txt-primary;
  content: "\f054";
  display: inline-block;
  font: normal normal normal 14px/1;
  font-family: "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}
#nodePropertiesTab .value-container.show-more.toggle + span.toggle-icon:after {
  transform: rotate(90deg);
}
#nodePropertiesTab .format-container{
  position: relative;
}
#nodePropertiesTab .cancel-icon{
  transform: scaleX(-1) scaleY(-1);
}
#nodePropertiesTab .format-container .btn{
  width: 100%;
  text-align: left;
}
.dtrg-group td::before {
  content : "Run start date: ";
}
table.dataTable tr.dtrg-group td {
  background-color : #eeeeee;
  font-weight: bold;
  color: #555;
  border-top: 1px #bbb solid;
}
td.greyBackground, th.greyBackground {
  background-color : $rudder-bg-light-gray;
}
#first_line_header .dataTables_filter {
  margin-right: 15px;
}
.dataTable td a.text-danger{
  color: $rudder-warning;
  margin-left: 4px;
}
.dataTable td a.text-danger:hover{
  color: #ffa918;
}

/* === COLUMNS CONFIGURATION === */
#select-columns .rudder-label.label-error:before{
  content: "";
}
#select-columns .form-inline-flex{
  display: flex;
  margin: 12px 0 8px 0;
}
#select-columns .column-tags-container {
  margin: 0 0 0 -6px;
}
#select-columns .form-inline-flex label.input-group {
  cursor: pointer;
  margin-bottom: 0;
}
#select-columns .form-inline-flex label.input-group > .input-group-text{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: $rudder-bg-light-gray;
}
#select-columns .form-inline-flex > *:not(:first-child){
  margin-left : 15px;
}
#select-columns .form-inline-flex select,
#select-columns .form-inline-flex input[type=text]{
  min-width: 250px;
}
#select-columns .btn > .fa:first-child {
  margin-right : 6px;
}
#select-columns .rudder-label{
  margin-left: 6px;
  margin-bottom: 6px;
  padding: 4px 4px 4px 12px;
  min-width: initial;
  cursor: default;
}
#select-columns .rudder-label .fa{
  opacity: .6;
  padding: 0 8px;
  cursor: pointer;
  transition-duration: .2s;
  transition-property: opacity, background-color;
}
#select-columns .rudder-label:hover .fa{
  opacity: 1;
}

/* TECHNICAL LOGS TABLE */
.rudder-label.label-log{
  width: 100%;
  text-align: left;
  white-space: nowrap;
  padding: 5px 8px;
  cursor: default;
}
.rudder-label.label-log > .fa{
  margin-right: 4px;
}

.dataTables_length label {
  display : flex;
  font-weight:100;
}

.dataTables_length label select {
  margin: -4px 5px;
}

.dataTables_paginate .pagination {
  margin: 0;
}

.pagination > li > a, .pagination > li > span {
  padding: 4px 8px;
}

/* HEADER */
.rudder-template .table-header.extra-filters{
  flex-direction: column;
}
.rudder-template .table-header .main-filters{
  display: flex;
  width: 100%;
}
.rudder-template .table-header .more-filters{
  margin-top: 15px;
}
.rudder-template .table-header .more-filters .btn-group + .btn-group{
  margin-left: 15px;
}
.rudder-template .table-header .main-filters .form-control + .btn,
.rudder-template .table-header .main-filters .btn + .btn{
  margin-left: 15px;
}
.rudder-template .table-header .btn-refresh,
.rudder-template .table-header .btn-export{
  margin-left: auto !important;
}