/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
* 
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
* 
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as rudder;

$bar-radius : 4px;

/*
 * Colours for our progress bars
 */

$bar-stripped-gradient : linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

.content-wrapper {
  .progress {
    border-radius: $bar-radius;
    margin: 3px 5px;

    .progress-bar{
      color: #fff;
      line-height: 22px;
    }

    &.progress-flex {
      display: flex;

      .progress-bar{
        min-width: 5px;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 2px;
        border-radius: 0px;
        cursor: help;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &:first-chld{
          border-top-left-radius: $bar-radius;
          border-bottom-left-radius: $bar-radius;
        }
        &:last-chld{
          border-top-right-radius: $bar-radius;
          border-bottom-right-radius: $bar-radius;
        }
      }
    }

    &.placeholder-bar{
       background: repeating-linear-gradient(
         135deg,
         #eef1f8,
         #eef1f8 10px,
         rudder.$bg-light-gray 10px,
         rudder.$bg-light-gray 20px
       );
       box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
       width: 100%;
     }
  }

  .progress-bar-reportsdisabled,
  .compliance-badge.disabled {
    background-color: rudder.$color-compliance-disabled;
  }
  .progress-bar-success,
  .compliance-badge.success {
    background-color: rudder.$color-compliance-success;
  }
  .progress-bar-error,
  .compliance-badge.error {
    background-color: rudder.$color-compliance-error;
  }
  .progress-bar-pending,
  .compliance-badge.pending {
    background-color: rudder.$color-compliance-pending;
  }
  .progress-bar-no-report,
  .compliance-badge.no-report {
    background-color: rudder.$color-compliance-noreport;
  }
  .progress-bar-unknown,
  .compliance-badge.unexpected {
    background-color: rudder.$color-compliance-error;
  }
  .progress-bar-missing {
    background-color: rudder.$color-compliance-missing;
  }
  .progress-bar-audit-compliant {
    background-color: rudder.$color-compliance-success;
  }
  .progress-bar-audit-noncompliant,
  .compliance-badge.non-compliant {
    background-color: rudder.$color-compliance-noncompliant;
  }
  .progress-bar-audit-notapplicable {
    background-color: rudder.$color-compliance-notapplicable;
  }
  .progress-bar-audit-error {
    background-color: rudder.$color-compliance-error;
  }
}
/* SMALL COMPLIANCE BADGE */
.compliance-badge {
  padding: 3px 8px;
  display: inline-flex;
  align-items: baseline;
  border-radius: 10px;
  margin-right: 10px;
  font-size: .9em;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;

  & > .fa{
    margin-left: 4px;
  }

  &.unexpected,
  &.pending{
    background-image: $bar-stripped-gradient;
  }

  &.badge-sm {
    padding: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 0;

    &.unexpected,
    &.pending{
      background-image: $bar-stripped-gradient;
    }
  }
}

// COMPLIANCE SCORE
$badge-size : 135px;
$badge-breakdown-size : 75px;
$badge-tabs-size : 23px;
$small-prefix : "sm-";

@mixin badge-url($score, $size) {
  background-image: url("../../images/score-badges/rudder-score-badge-" + $size + $score + ".svg");
  background-repeat: no-repeat;
}

.badge-compliance-score{
  display: inline-block;
  height: $badge-size;
  width: $badge-size;
  background-size: contain;

  &.A {
    @include badge-url("A", "");
    &.sm, &.xs{
      @include badge-url("A", $small-prefix);
    }
  }
  &.B {
    @include badge-url("B", "");
    &.sm, &.xs{
      @include badge-url("B", $small-prefix);
    }
  }
  &.C {
    @include badge-url("C", "");
    &.sm, &.xs{
      @include badge-url("C", $small-prefix);
    }
  }
  &.D {
    @include badge-url("D", "");
    &.sm, &.xs{
      @include badge-url("D", $small-prefix);
    }
  }
  &.E {
    @include badge-url("E", "");
    &.sm, &.xs{
      @include badge-url("E", $small-prefix);
    }
  }
  &.F {
    @include badge-url("F", "");
    &.sm, &.xs{
      @include badge-url("F", $small-prefix);
    }
  }
  &.X {
    @include badge-url("X", "");
    &.sm, &.xs{
      @include badge-url("X", $small-prefix);
    }
  }

  &.sm {
    height: $badge-breakdown-size;
    width: $badge-breakdown-size;
  }

  &.xs {
    height: $badge-tabs-size;
    width: $badge-tabs-size;
  }
}

#NodeDetailsTabMenu {
  .badge-compliance-score{
    height: $badge-tabs-size;
    width: $badge-tabs-size;
    margin-right: 5px;
  }
}

.compliance-score {
  label{
    color: rudder.$txt-secondary;
    font-weight: bold;
    white-space: nowrap;
  }
  .score-breakdown {
    .badge-compliance-score{
      height: $badge-breakdown-size;
      width: $badge-breakdown-size;
    }
  }


  .score-explanation {
    border-left: 2px solid rudder.$border-color-default;
    position: relative;
    &:before {
      height: 14px;
      width: 14px;
      background-color: #fff;
      border-top: 2px solid rudder.$border-color-default;
      border-right: 2px solid rudder.$border-color-default;
      transform: rotate(-135deg);
      content: "";
      display: inline-block;
      left: -8px;
      position: absolute;
      top: 20px;
    }

    p {
      margin-bottom: .6rem;
    }

    ul{
      list-style : disc;

    }
  }

  .no-compliance{
    color: rudder.$txt-secondary;
    font-size: 1.2em;
    font-weight: bold;

    .fa {
      font-size: 1.1em;
      margin-right: 6px;
    }
  }
}

.score-details{
  label{
    min-width: 125px;
    padding-right: 15px;
    color: rudder.$txt-secondary;
    font-weight: bold;

    & + * {
      flex-grow : 1;
    }
  }

  .progress.progress-flex {
    margin: 0;
    height: 24px;
    font-size: 1em;
    font-weight: bold;
  }

  .badge-type{
    height: 28px;
    cursor: help;
  }
}

.badge-type{
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  margin-left: 0 !important;
  margin-right: 6px;
  font-weight: 1000 !important;

  &.security{
    background-color: rudder.$color-package-security !important;
  }
  &.bugfix,
  &.defect{
    background-color: rudder.$color-package-bugfix !important;
  }
  &.enhancement{
    background-color: rudder.$color-package-enhancement !important;
  }
  &.update{
    background-color: rudder.$color-package-update !important;
  }
  &.up-to-date{
    background-color: rudder.$color-package-uptodate !important;
  }

  & .icon-state {
    margin-right: 6px;
  }
  & > i:not(:last-child){
    margin-right: 4px;
  }
}