/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

// --- MODULES
@use 'rudder-variables' as rudder;
@use 'sass:color';

/* =====  GENERAL  ===== */
.btn.btn-dsc.active{
  color: #fff !important;
  background-color: #440f62 !important;
}
.deprecated-icon{
  font-size: .9em;
  color: rudder.$warning !important;
  opacity: 1 !important;
}
.filters-container .deprecated-icon{
  margin-left :4px;
}

.ion.ion-edit {
  font-size: 18px;
}

.condition-form label + .btn-group{
  margin-left: 8px;
}
.condition-form .dropdown-toggle + .dropdown-menu{
  margin-left: 0;
  max-height: 250px;
  overflow: auto;
}

.rudder-template ul.dropdown-menu {
  padding: 0;
  min-width: 170px;
  margin-left: -75px;
}
.rudder-template ul.dropdown-menu.show {
  right: -4px !important;
  left: auto !important;
}

.btn.btn-outline-success{
  background-color: #fff ;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.btn.btn-outline-success:hover {
  color: #fff !important;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.btn.btn-outline-success{
  color: rudder.$success;
}
.btn.btn-outline-success:hover{
  background-color: #85b711;
}
.btn.btn-outline-primary{
  color: rudder.$primary;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.btn.btn-outline-primary:hover{
  background-color: #286090;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.popover{
  max-width: 450px;
}
.popover.condition {
  left: -250px !important;
}
.popover-content b{
  color: rudder.$success;
}
.popover-content .deprecated-message{
  margin: 2px 0 4px 0;
  position: relative;
  padding-left: 18px;
}
.popover-content .deprecated-message > b{
  font-size: 1.3em;
  position: absolute;
  left: 0;
  top: -3px;
}
.popover-title {
  word-wrap: break-word;
  word-break: break-all
}
.popover .description + .deprecated-info{
  border-top: 1px solid rudder.$border-color-default;
  margin-top: 8px;
  padding-top: 6px;
}
.btn.btn-danger.btn-outline{
  color: rudder.$danger;
}
.btn.btn-danger.btn-outline:hover{
  background-color: #c9302c;
}
.btn.btn-info.btn-outline,.btn.btn-info.btn-outline:active,.btn.btn-info.btn-outline:focus{
  color: #31708f;
  background-color: #fff;
  border-color: #31708f;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.btn.btn-info.btn-outline:hover{
  background-color: #00acd6;
  color: #fff;
  transition-property: background-color, color;
  transition-duration: .2s;
}
.no-margin{
	margin: 0 !important;
}
body > .container-fluid {
	padding: 0 !important;
}

.label-checkbox{
  color: rudder.$txt-primary;
  cursor: pointer;
}

.no-technique .col-technique,
.no-technique .col-methods,
.selected-technique .no-technique{
  display: none;
}

.markdown-icon {
  width: 25px;
  margin: 10px;
}

body > .ng-toast {
  margin-top: 5px;
}
.ng-toast.ng-toast--right .ng-toast__list {
  margin-right: 55px;
}
.alert.alert-dismissible pre {
  white-space: normal;
}
.rudder-template textarea.form-control{
  min-height: unset;
  line-height: 1.5;
}
.rudder-template .method textarea.form-control{
  display: block;
  overflow: auto;
  max-height: 200px;
}

.icon-output {
  margin-left: 5px;
  margin-top: 5px;
}

/* ===== TECHNIQUES & METHODS ===== */
.dndPlaceholder{
  margin: 10px 0;
  padding: 15px;
  border: 2px dashed rudder.$border-color-default;
  border-radius: 4px;
  height: 58px;
  background-color: rudder.$bg-light-gray;
}
/* ===== TECHNIQUES ===== */
.col-techniques label.btn{
  margin-bottom: 0;
}
.col-techniques label.btn > input{
  display: none !important;
}
.techniques-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-body .empty{
  padding: 15px;
  border-bottom: 1px solid rudder.$border-color-default;
  font-style: italic;
  color: #999;
  height: fit-content;
}
.techniques-list-container > ul > li {
  border-bottom: 1px solid rudder.$border-color-default;
  transition-duration: .2s;
  display: flex;
}
.techniques-list-container > ul > li:hover ,
.techniques-list-container > ul > li.active {
  background-color: rudder.$bg-info;
}
.techniques-list-container > ul > li.active > div.col,
.techniques-list-container > ul > li:hover > div.col{
  color: rudder.$primary;
}
.techniques-list-container > ul > li > div.item{
  padding: 6px 8px;
  border-left: 8px solid rudder.$border-color-default;
  cursor: pointer;
  transition-duration: .2s;
  flex: 1;
}
.techniques-list-container > ul > li.active > div.item{
  border-left-color: rudder.$primary;
}
.techniques-list-container > ul > li > div.col-auto{
  padding: 6px 15px;
  cursor: pointer;
}
.techniques-list-container > ul > li > div.col-auto > i{
  opacity: .2;
}
.techniques-list-container > ul > li:hover > div.col-auto > i{
  opacity: .6;
}
.techniques-list-container > ul > li > div.col-auto:hover {
  color: #fff;
  background-color: rudder.$primary;
}
.techniques-list-container > ul > li > div.col-auto:hover > i{
  opacity: 1;
}
/* ===== TECHNIQUE ===== */
.header-buttons .description{
  color: #938ea2;
  font-style: italic;
  font-size: 1.1em;
  margin-bottom: 10px;
}
.main-details > .editForm{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-details > .editForm > .tab + .row{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content-wrapper textarea.form-control.technique-description{
  max-height: 200px;
  overflow: auto;
}
/*=====================*/

ul.tabs-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin:0;
  padding: 0 15px;
}
ul.tabs-list > li{
  padding: 6px 0px;
  position: relative;
  color: rudder.$primary;
  cursor: pointer;
  margin-right: 15px
}
ul.tabs-list > li:before{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: transparent;
  transition-duration: .2s;
}
ul.tabs-list > li:hover:before{
  background-color: rudder.$border-color-default;
}
ul.tabs-list > li.active{
	color: rudder.$txt-primary;
}
ul.tabs-list > li.active:before{
  background-color: rudder.$primary !important;
}
ul.tabs-list > li > .badge{
  margin-left: 4px;

  &.has-foreach{
    background-color: rudder.$primary !important;
  }
}
ul.tabs-list > li > .badge.empty{
  opacity: .4;
}
.rudder-template.loaded{
  display: flex !important;
}
.rudder-template .template-main .main-navbar ul > li > a{
  min-height: 23px;
}

#technique-editor .main-details h5{
  border-bottom: 1px solid rudder.$border-color-default;
  padding: 0 15px 4px 15px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #6f6f85;
  margin-top: 20px;
  margin-bottom: 0;
}
#technique-editor .main-details h5 .badge{
  position: relative;
  top: -2px;
  margin-left: 4px;
  padding: 0 !important;
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
}
#technique-editor .main-details h5 .btn{
  position: relative;
  top: -3px;
  margin-left: 10px;
}
#technique-editor .main-details #methods{
  padding: 20px 15px 100px 15px;
  background-color: rudder.$bg-light-gray;
  flex: 1;
}

.no-methods {
  position: relative;
  padding: 0 !important;
  height: 0;
  margin: 0 !important;
}
.no-methods:first-child:last-child{
  padding: 15px !important;
  border: 2px dashed rudder.$border-color-default;
  border-radius: 4px;
  color: #0519258c;
  background-color: #f3f8ff;
  cursor: pointer;
  transition-property: opacity, border-color, box-shadow;
  transition-duration: .5s;
  text-align:center;
  opacity: .6;
  height: initial !important;
}

$drop-zone-height: 20px;
$drop-zone-marker-height : 6px;
.drop-target:not(.no-methods),
.drop-zone{
  position : relative;
  margin-top: -$drop-zone-height !important;
  height: $drop-zone-height;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: $drop-zone-marker-height;
    background-color: rudder.$border-color-default;
    opacity: .4;
    border-radius: 10px;
  }
  &.drop-target:before{
    opacity:1 !important;
    background-color: #1295C3;
    box-shadow: 0 0px 12px rudder.$bg-info;
  }
}
.drop-target.no-methods{
  border-color: rudder.$txt-link !important;
  opacity:1 !important;
  box-shadow: 0 0px 12px rudder.$bg-info;
}

.card-method.showMethodCall[hidden]{
  display: block !important;
  opacity: .4;
  filter: brightness(95%);

  & > .method[hidden]{
    display: flex !important;
  }
}

/* FILEMANAGER */
.ng-hide{
  display: none !important;
}
.filemanager-container nav.navbar.navbar-inverse {
  border: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  background-color: rudder.$black;
  padding-left : 0;
  padding-right: 0;
}
.filemanager-container nav.navbar.navbar-inverse > .container-fluid > .row{
  flex: 1;
  align-items: baseline;
}
.file-tree ul.nav.nav-sidebar:first-child{
  padding-top: 10px;
}
.filemanager-container .breadcrumb{
  background-color: transparent;
}
.filemanager-container .breadcrumb > li > span,
  .filemanager-container .breadcrumb > li > a:hover{
  color: rgba(255,255,255, 1) !important;
}
.filemanager-container .breadcrumb > li > a{
  color: rgba(255,255,255, 1) !important;
  margin-right: 5px;
}
.filemanager-container .navbar-inverse .navbar-form input[type=text] {
  margin: 0px !important;
}
.filemanager-container .sidebar{
  margin: 0;
}
.filemanager-container .nav > li > a {
  padding: 6px 10px;
  text-decoration: none !important;
}
.filemanager-container nav.navbar .btn.btn-flat{
  opacity: .7;
  color: #fff !important;
}
.filemanager-container nav.navbar .btn.btn-flat:hover {
  opacity: 1;
}
.filemanager-container .sortorder.ng-hide{
  display: inline-block !important;
  visibility: hidden !important;
}
.filemanager-container .dropdown-menu > li > a{
  padding: 10px 20px;
  font-size: 14px;
  white-space: nowrap;
}
.filemanager-container textarea.form-control{
  resize: vertical;
  min-height: 150px;
  max-height: 350px;
  background-image: none;
}
.filemanager-container table > tbody > tr.item-list:nth-child(odd) {
  background-color: rudder.$bg-light-gray;
}
.filemanager-container table > tbody > tr.item-list:hover,
.filemanager-container table.table-files .selected {
  background-color: rudder.$bg-info !important;
}
.filemanager-container .table-files .selected td,
.filemanager-container .table-files .selected td a{
  color: #0b4d87;
}
.filemanager-container #context-menu{
  transform: translateX(275px) translateY(75px);
}
.filemanager-container #context-menu ul > li.divider + li > a {
  color: #de4b39;
}
.filemanager-container a,
.filemanager-container .nav-sidebar>li.active>a{
  color: rudder.$primary;
}

.filemanager-container .file-tree .nav-sidebar>li.active>a i,
.filemanager-container .file-tree .nav-sidebar>li>a:hover i{
   color: rudder.$primary !important;
}

.filemanager-container .toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: right;
  border-top: 1px solid #eeeeef;
}
.filemanager-container .navbar-form.navbar-right .dropdown-menu{
  right: 0;
  left: auto;
  min-width: 16rem;
}
.filemanager-container .navbar-form.navbar-right .dropdown-menu.search-dropdown{
  padding: 10px;
}
.upload-list .list-group li.list-group-item {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 4px;
  border-radius: 4px;
}
.upload-list .list-group li.list-group-item .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  border-color: #fff;
  color: rudder.$txt-secondary;
  box-shadow: none;
  border-left-color: rudder.$border-color-default;
}
.upload-list .list-group li.list-group-item .btn:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.upload-list .list-group li.list-group-item h5{
  margin: 0;
  padding: 10px 0 ;
}
.upload-list .list-group li.list-group-item p{
  margin: 6px 0;
  font-size: .9em;
  opacity: .6;
}
/* FILES LIST */
ul.files-list{
  float: left;
  width: 100%;
  margin: 10px 0;
}
ul.files-list .form-control{
  box-shadow: none !important;
}
ul.files-list > li {
  border: 1px solid rudder.$border-color-default;
  padding: 10px;
  padding-left: 14px;
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-right: 50px;
  margin-bottom: 10px;
  border-left-width: 0px;
  box-shadow: 0px 5px 4px -3px rgba(0,0,0,.1);
}

ul.files-list.parameters > li{
  display: flex;
  padding: 0;
}
ul.files-list.parameters > li > .param{
  padding: 0px 20px 20px;
  flex: 1;
}

ul.files-list.parameters > li > .param .input-group > label.input-group-text{
  border-left: none;
  border-color: rudder.$border-color-default;
  background: rudder.$bg-light-gray;
  cursor: pointer;
}
ul.files-list.parameters > li > .param > div.form-group {
  padding-top: 25px;
}

ul.files-list.parameters > li > .param > div.form-group ~ div.form-group {
  padding-top: 0px;
}
.param .input-group-text span {
  padding-left:5px;
}
ul.files-list > li > .border{
  background-color: rudder.$primary;
  opacity: .6;
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: 4px;
  transition-duration: .2s;
}
ul.files-list > li.state-new > .border{
  background-color: rudder.$success;
}
ul.files-list > li.state-modified > .border{
  background-color: rudder.$primary;
}
ul.files-list > li.state-deleted > .border{
  background-color: rudder.$danger;
}
ul.files-list > li.state-new:before,
ul.files-list > li.state-modified:before,
ul.files-list > li.state-deleted:before{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 9px;
}
ul.files-list > li.state-new:before{
  content:"NEW";
  color: rudder.$success;
}
ul.files-list > li.state-modified:before{
  content:"MODIFIED";
  color: rudder.$primary;
}
ul.files-list > li.state-deleted:before{
  content:"DELETED";
  color: rudder.$danger;
}
ul.files-list > li:hover > .border{
  opacity: 1;
}
ul.files-list > li > .target-remove:hover + .border{
  background-color: rudder.$danger !important;
}
.files-list > li.empty {
  border-left: 4px solid rudder.$primary;
  color: rudder.$txt-secondary;
  font-style: italic;
  padding: 14px 10px !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.files-list > li.empty + li {
  border-top-right-radius: 4px;
}
ul.files-list > li:last-of-type {
  border-bottom-right-radius: 4px;
}
ul.files-list > li > .fa{
  color: rudder.$txt-secondary;
  margin-right: 6px;
}
ul.files-list > li .icon-info{
  color: rudder.$txt-secondary;
  transition-duration: .2s;
}
ul.files-list > li:hover .icon-info{
  color: rudder.$primary;
}
ul.files-list > li > span.target-remove,
ul.files-list > li > span.warning-sign{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  transition: .2s;
  background-color: #fff;
  color: #999;
  border-left: 1px solid rudder.$border-color-default;
  opacity: .6;
  cursor: pointer;
}
ul.files-list > li > span.warning-sign{
  color: #fff;
  background-color: rudder.$primary;
  opacity: 1;
  cursor: default;
}
ul.files-list > li > span.target-remove:hover{
  background-color: rudder.$danger;
  color: #fff;
}

ul.files-list > li:hover > span.target-remove{
  opacity: 1;
}

ul.files-list > li > span.target-remove > i,
ul.files-list > li > span.warning-sign  > i {
 position: absolute;
 top: calc( 50% - 8px);
 right: calc( 50% - 8px);
}

ul.files-list > li .use-with,
ul.files-list > li .empty-name,
ul.files-list > li .full-name{
  font-size: .8em;
  margin-top: 2px;
  color: rudder.$txt-secondary;
  display: inline-block;
}
.tab-resources ul.files-list > li .use-with{
  display: block;
}
ul.files-list > li .use-with:before {
  content: "Use with:";
  margin-right: 6px;
  display: inline-block;
}
ul.files-list > li .full-name:before{
  content: ", Full name:";
  margin-right: 6px;
  display: inline-block;
}
ul.files-list > li .use-with > span,
ul.files-list > li .full-name > span{
  font-family: var(--bs-font-monospace);
  font-weight: bold;
  word-break: break-word;
}
ul.files-list > li > .remove-item{
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid rudder.$border-color-default;
  align-items: center;
  color: #f3a6a6;
  background-color: #fff;
  cursor: pointer;
  transition-duration: .2s;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 18px;
}
ul.files-list > li > .remove-item:hover{
  color: #fff;
  background-color: rudder.$danger;
}

.resources-uncommitted {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
  color: rudder.$txt-light;
}
.resources-uncommitted > span{
  background-color: rudder.$bg-info;
  padding: 10px;
  border-radius: 4px;
  display: block;
}
.resources-uncommitted .fas{
  color: rudder.$primary;
}
.btn-manage{
  margin-bottom: 20px;
}

.is-edited .method .edit-method {
  color: rudder.$primary !important;
}
.missingParameters .method .edit-method{
  color: rudder.$warning !important;
}
.errorParameters .method .edit-method {
  color: #c63d3a !important;
}
button.btn.clipboard {
  border-color: rudder.$border-color-default !important;
  box-shadow: none !important;
  background: #fff;
  transition-duration: .2s;
}
button.btn.clipboard:hover {
  background-color: #6c757d;
  color: #fff;
}
.tab-resources button.btn.btn-outline-secondary.clipboard {
  margin-left: 6px;
  padding: 2px 8px;
}
.method.missingParameters:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition-duration: .2s;
  transition-property: box-shadow;
  z-index: -1;
  animation: pulse 1s forwards;
}


.block-child{
  opacity: 1;
  transition:opacity 0.5s ease-in;
  transition-property: opacity, height, padding;
  position: relative;
}
.method-info:not(.closed) .tabs > .block-child{
  margin: -15px -15px -10px -15px;
  padding: 20px 15px 10px 35px;
  background-color: rudder.$bg-light-gray;
}

/* METHOD DETAILS */
.method-details{
  padding-bottom: 10px;
  font-size: 14px;
  user-select: text;
}
.method-details .form-control{
  padding: 4px 6px;
  font-family: var(--bs-font-monospace);
  font-size: 14px;
}
.method-details select.form-select:not([size]):not([multiple]) {
  height: auto;
  padding: 6px;
}
.method-details label > small {
  opacity: .6;
  font-size: 12px;
}
.method-details .tabs-list{
  border-bottom: 1px solid rudder.$border-color-default;
  width: 100% ;
}

.method-details .tabs{
  padding: 0 15px;
}

.method-details .form-group{
  margin-bottom: 6px;
}
.method-details .form-group .form-group:last-child{
  margin-bottom: 0;
}
.method-details textarea + ul.list-unstyled{
  min-height: 19px;
  font-size: .9em;
}

.method-details .btn.show-doc{
  position: relative;
  box-shadow: none !important;
}
/* =====  METHODS  ===== */
#filterMethods{
  margin-right: 15px;
}
.generic-methods-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
#methods-list-container{
  position: relative;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#methods-list-container::-webkit-scrollbar{
  width: 5px;
  background-color:#eee;
}

#methods-list-container::-webkit-scrollbar-thumb {
    background: rudder.$gray-500;
}
.generic-methods-container > ul,
.generic-methods-container > div{
  height: 100%;
  overflow-y: auto;
}
.generic-methods-container > div{
  flex: 1;
  padding: 0 10px;
}

.generic-methods-container > .row > .col > ul:first-child{
  padding-top: 10px;
}

.show-left .col-methods > div{
  transform: translateX(50px);
}

#categories-list{
  margin: 0;
  padding: 6px 0 0 0;
  list-style: none;
  scrollbar-width: thin;
}
#categories-list::-webkit-scrollbar{
  width: 5px;
  background-color:#eee;
}
#categories-list::-webkit-scrollbar-thumb {
    background: rudder.$gray-500;
}
#categories-list > h4{
  padding: 4px 15px;
}
#categories-list > li > a{
  display: block;
  padding: 6px 15px;
  color: rudder.$primary;
  text-decoration: none !important;
  cursor: pointer;
}
.main-footer{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  border-top: 1px solid rudder.$border-color-default;
}
.main-footer .btn{
  margin-right: 15px;
}
.generic-methods-container .empty ~ div,
.generic-methods-container .empty ~ ul{
  display: none !important;
}
/* =====  BLOCK  ===== */
.method-info .block-name-container{
  padding: 0px 100px 0 0;
}
.method-info.closed .block-name-container{
  padding-left: 0;
  padding-top: 0;
}
.method-condition:not(.closed){
  padding-left: 10px;
}

/* =====  METHOD  ===== */
ul.list-unstyled > li{
  margin-bottom: 10px;
}
#methods li.card-method{
  margin-bottom: 20px;
  border: 1px solid rgba(rudder.$border-color-default, .5);
  border-bottom-color: rudder.$border-color-default;
}
#methods li.card-method:last-child{
  margin-bottom: 0;
}
.block-child .methods {
  padding-bottom: 15px;
}
.card-method:not(.active) .block-child .methods {
  padding-left: 15px;
}
.method {
  border-radius: 4px;
  display: flex;
  max-height:100000px
}
.method-elmt {
  border: 1px solid rudder.$border-color-default;
}
ul li.hide-method {
  margin-bottom : 0px !important;
  display: none;
}
.active .method {
  border-top-color: #a7d0f1;
  border-left-color: #a7d0f1;
  border-right-color: #a7d0f1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.generic-methods-container .method > div{
  padding-top : 10px;
  padding-bottom : 10px;
}
#methods .method .method-info{
  position: relative;
  flex: 1;
}
#methods .method .method-info.closed{
  cursor: pointer;
}
#methods .method .method-info .btn-holder{
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 10;
}
#methods .method .method-info .btn-holder .method-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .2s;
  opacity: 0;
  margin-right: 8px;
  outline: none !important;
}
#methods .method:hover .method-info .btn-holder .method-action {
  opacity: .6;
}
#methods .method .method-info .btn-holder .method-action:hover {
  opacity: 1;
}
#methods .method .method-info .btn-holder + .row > div:first-child{
  padding-right: 70px;
}
#methods .method .method-info label {
  margin-bottom: 4px;
  word-break: keep-all;
  display: inline-flex;
  align-items: baseline;
}
.method .cursorMove {
  background-color: rudder.$bg-dark-gray;
  color: rudder.$txt-light;
  padding: 0 10px;
  min-width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.method .method-condition,
.method .method-name,
.method .method-param,
.method .method-errors{
  position: relative;
  padding: 0;
}
.method .method-condition{
  word-break: break-word;
  padding-right: 300px;
}
.name-content {
  cursor: text;
  padding-top: 25px;
  display: inline-block;
}
.method-condition + .method-name .name-content {
  padding-top: 0;
}

.method-condition + .method-name .gm-labels {
  top: -47px;
}

.method .method-param{
  align-items: baseline;
  padding-bottom: 10px;
}
.cursorMove p {
  margin : 0;
}

.block-child:before{
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 15px;
  width: 3px;
  background-color: #a9d6dd;
}
.method-info.closed .block-child:before{
  content: initial;
}
.block-child .block-child:before{
  background-color: #a9b9dd;
}
.block-child .block-child .block-child:before{
  background-color: #d1a9dd;
}

.method .method-info .method-condition:not(.d-none) ~ div:before,
.card-method.active > .method > .method-info.condition > .block-name-container:before,
.card-method.active > .method > .method-info.condition > .method-details:before,
.card-method:not(.active) > .method > .method-info.condition .method-condition:before,
.method-info.condition > .block-child:after,
.card-method:not(.active) .method .method-condition:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: rudder.$primary;
  z-index: 100;
}
.card-method.showMethodBlock .method .method-info .method-condition,
.card-method.showMethodCall .method .method-info .method-condition{
  padding-left: 10px;
}
.method .method-info .method-condition:not(.d-none),
.method .method-info .method-condition.d-none ~ .method-name{
  padding-top: 35px;
}
.method .method-info.closed .method-param{
  padding-left: 15px;
  padding-bottom: 10px;
}
.method .method-name {
  padding: 0 15px;
}
.method .method-name .dsc-icon {
  margin-left: 6px;
}
.generic-methods-container .method .method-name {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-self: center;
  align-items: center;
  flex: 1;
  font-size: 16px;
}
.method .method-name i{
  color: rudder.$primary;
}
.method .tooltip-icon{
  opacity: 0;
  transition-duration: .2s;
}
.method:hover .tooltip-icon{
  opacity: 1;
}
.method-param > label{
  display: inline-block;
  color: rudder.$txt-secondary;
  cursor: pointer;
  margin-right: 4px;
}
.label-value {
  cursor: text;
}
.method-condition > label{
  display: inline-block;
  color: rudder.$primary;
  margin: 0 4px 0 0;
}
.method-info.closed .method-condition > label{
  margin-left: 0;
}
.method-param > .form-control,
.method-condition > .form-control{
  display: inline-block;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  width: auto !important;
  padding: 0;
  font-family: var(--bs-font-monospace);
  font-size: 14px;
  min-height: 28px !important;
}
.method .show-doc,
.method .edit-method{
  position: relative;
  display: flex;
  align-items: center;
  color: rudder.$primary;
  border-left: 1px solid rudder.$border-color-default;
  cursor: pointer;
  padding: 10px;
}
.method-details .btn.show-doc{
  position: relative;
  box-shadow: none !important;
}
.method .show-doc:before,
.method .edit-method:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  left: -5px;
  opacity: 0;
  top: calc(50% - 5px);
  background-color: rudder.$primary;
  z-index: 999;
}
.method-details .btn.show-doc:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  opacity: 0;
  right: 0;
  top: calc(50% - 5px);
  background-color: rudder.$primary;
  z-index: 999;
  transition-duration: .2s;
  transition-property: background-color;
}
.method-details .btn.show-doc:hover:before{
  background-color: #0069d9;
}
.method.doc-opened .show-doc,
.active > .method > .edit-method{
  background-color: rudder.$primary;
  color: #fff !important;
}
.method.doc-opened .show-doc:before,
.active > .method > .edit-method:before{
  opacity: 1;
  bottom: -5px;
}
.method-details .btn.show-doc.doc-opened:before{
  opacity: 1;
  right: -5px;
}
.method .edit-method{
  padding: 0 15px;
}
.method .show-doc > i,
.method .edit-method > i{
  opacity: .6;
}
.method.doc-opened .show-doc > i,
.method .show-doc:hover > i,
.active .method .edit-method > i,
.method .edit-method:hover > i{
  opacity: 1;
}

.method.doc-opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #a7d0f1;
  border-bottom: 1px solid rudder.$border-color-default;
}
.method + .markdown{
  font-size: .9em;
  padding: 10px;
  border: 1px solid #a7d0f1;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f3f8ff;
}
.method + .markdown code{
  word-break: break-word;
}
.method + .markdown ul {
  padding-left: 20px;
}
.method + .markdown h1 {
  font-size: 1.4em;
}
.method + .markdown h4 {
  font-size: 1.2em;
}
.method + .markdown > p:last-child{
  margin-bottom: 0;
}
.method-details-footer {
  margin-bottom: 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.method-details-footer > .btn{
  margin-left: 10px;
}
.method-content{
  min-height: 35px;
  display: flex;
  position: relative;
}
.method-errors{
  flex: 0;
}
.warns{
  margin-top: 2px;
}
.warn-param{
  background-color: #b9c2cc;
  color: #fff;
  padding: 0px 8px 0px 0px;
  height: 28px;
  border-radius: 20px;
  display: inline-block;
  font-size: .9em;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}
.missingParameters .warn-param.warning {
  display: inline-flex;
  background-color: rudder.$warning;
}
.warn-param.error{
  background-color: rudder.$danger;
}
.warn-param b {
  background-color: #00000055;
  padding: 2px 8px;
  border-radius: 20px;
  margin-right: 2px;
}
/* RESULT CONDITIONS */
.result-class .input-group{
  margin-bottom : 10px;
}
.result-class .input-group-text:first-child{
  border-left-width: 4px;
  border-left-style: solid;
  min-width: 90px;
  text-align: left;
  background-color: #eceef1;
}
.result-class .result-success .input-group-text:first-child{
  border-left-color: rudder.$success;
}
.result-class .result-repaired .input-group-text:first-child{
  border-left-color: #ffd715;
}
.result-class .result-error .input-group-text:first-child{
  border-left-color: rudder.$danger;
}
.result-class .clipboard{
  background-color: #e9ecef;
}
.result-class .clipboard:hover{
  background-color: #6c757d;
}

/* SHOW DIFF */
.btn.toggle-diff{
  box-shadow: none !important;
  outline: none !important;
  background-color: rudder.$bg-light-gray;
  min-width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid rudder.$border-color-default;
  text-align: left;
  position: relative;
  padding-right: 25px;
}
.btn.toggle-diff:hover{
  background-color: #fff;
}
.btn.toggle-diff .badge{
  background-color: rudder.$gray-400;
  color: rudder.$txt-light;
  margin-left: 4px;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: .9em;
  position: absolute;
  top: calc(50% - 11px);
  right: 12px;
  transition-duration: .2s;
}
.btn.toggle-diff:hover .badge{
  background-color: rudder.$gray-400;
  color: rudder.$txt-light;
}
.show-diff table{
  border-left: 1px solid rudder.$border-color-default;
  border-bottom: 1px solid rudder.$border-color-default;
  border-right: 1px solid rudder.$border-color-default;
  background-color: rudder.$bg-light-gray;
  border-radius: 4px;
  table-layout : fixed;
  width: 100%;
}
.show-diff table tbody > tr > td:nth-child(2),
.show-diff table tbody > tr > td:nth-child(3) {
  font-family: var(--bs-font-monospace);
  white-space: pre-wrap;
  word-break: break-all;
}
.show-diff table tbody > tr > td:nth-child(2) {
  color: rudder.$danger;
}
.show-diff table tbody > tr > td:nth-child(3) {
  color: rudder.$success;
}

/* LOADER */
.loading{
  position: absolute;
  width: 100%;
  top: 20%;
}
.loading > h1 {
  color: #999;
  font-style: italic;
}
.loading .loading-text{
  position: relative;
  padding-right: 60px;
}
.loading .loading-text > .ajaxloader{
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0;
  top: calc(50% - 30px);
}
.modal.fade.in {
  opacity: 1;
}
.col.no-technique {
  padding: 50px;
  background-color: #ecf1f5;
}
.flex-form{
  display: flex;
}
.flex-form textarea{
  flex: 1;
  margin-left: 5px;
  overflow: auto !important;
  max-height: 150px;

}
.flex-form.method-condition textarea{
  word-break: break-all;
}
.sm-space-top {
  margin-top: 10px;
}
.form-inline.sm-space-top > .form-group{
  margin-right: 10px;
}
.form-inline.sm-space-top > .form-group > .form-control{
  margin-left: 4px;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(199, 218, 252, .9);
    box-shadow: 0 0 0 0 rgba(199, 218, 252, .9);
  }
  70% {
      -moz-box-shadow: 0 0 4px 6px rgba(199, 218, 252, 0);
      box-shadow: 0 0 4px 6px rgba(199, 218, 252, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(199, 218, 252, 0);
      box-shadow: 0 0 0 0 rgba(199, 218, 252, 0);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(199, 218, 252, .9);
  }
  70% {
      -webkit-box-shadow: 0 0 4px 6px rgba(199, 218, 252, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(199, 218, 252, 0);
  }
}
.optGroup {
    font-weight: bold;
    font-style: italic;
}
.dropdown-menu .optChild a {
    padding-left: 35px;
}
.expandBlockChild {
  padding:3px;
  opacity: 0.7;
  border-radius:100%;
  background-color: #efefef;
  transition-property: opacity;
  transition-duration: .2s;
  z-index:1;
}
.expandBlockChild:hover {
  opacity: 1;
}
#__RENDERED_TEXT__ * {
  background-color: transparent !important;
}
.method-parameter {
  padding-bottom: 5px;
}
.component-name-wrapper {
  position: relative;

  .title-input-name {
    font-size: 14px;
    font-weight: bold;
  }

  .gm-labels {
    top: -14px
  }

  .form-control{
    max-width: 550px;
  }
}


.gm-labels {
  font-size:11px;
  opacity:0.9;
  display: inline-block;
  height: 25px;
  z-index:10;
  position: absolute;
  right: 180px;
}


.gm-labels.left {
  left: 15px;
  right: 0;
}
.gm-labels .gm-label.rudder-label.btn {
  cursor: pointer;
}
.gm-labels {
  .gm-label.rudder-label {
    font-size:11px;
    opacity:0.9;
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 0 0 5px 5px;
    z-index:10;
    margin: 0 0 0 5px;
    font-weight:500;
    min-width: 0px;
    cursor: default;

    &.gm-foreach{
      background-color: rudder.$primary !important;
      opacity: 1;
      & > .counter{
        background-color: color.scale(rudder.$primary, $lightness: -20%);
      }
    }
  }

  &.policy-mode-label .gm-label.rudder-label.dropdown-toggle{
    display: inline-flex;
    align-items: center;
    line-height: initial;
    text-align: initial;
    vertical-align: initial;
  }
}

.gm-labels.left .gm-label.rudder-label {
  margin: 0 5px 0 0px;
}

.gm-labels .gm-label.gm-label-name,
.gm-labels .gm-label.gm-label-default{
  color: rudder.$txt-primary;
  background-color: rudder.$bg-dark-gray;
}


.gm-labels .gm-label.gm-label-label {
  color: rudder.$txt-primary;
  background-color:#fff;
  font-weight:bold;
  padding: 0;
}

.card-method.active .gm-label-name{
  right: 120px;
}
.gm-label-unknown-name {
  background-color:rudder.$danger;
  color: #ffffff;
}
.method-info .method-condition:not(.d-none) + .method-name .gm-label-name{
  top: -26px;
}
.method-info:not(.closed) .method-condition:not(.d-none) + .method-name .gm-label-name{
  top: -40px;
}
.method-info.closed .method-condition.d-none + .method-name .gm-label-name{
  top: -2px;
}
.reporting-checkbox {
  margin-left: 5px;
}
.card-method {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #fff;
  border-radius: 6px;
}
.card-method.hovered {
  box-shadow: 0 14px 28px rgba(0,0,100,0.07), 0 3px 3px rgba(0,0,0,0.05);
}
.popover-bs {
  width: 15px;
}
.fa-edit {
  color: rudder.$txt-link;
}
.error{
  animation: shake 0.2s ease-in-out 0s 2;
  border-color: rudder.$danger !important;
}
.form-select:focus.error{
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(rudder.$danger, .2);
}
@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}
.mandatory-param {
  color: rudder.$danger;
}
.cursor-help {
  margin-left: 4px;
}
.unknown-gm-icon {
  color:rudder.$danger;
}

/* FOREACH TAB */
.foreach-keys {
  & > span {
    background-color: rudder.$bg-light-gray;

    .fa {
      color: rudder.$txt-secondary;
    }
  }
}
.table-foreach-container{
  .table-foreach{
    width: fit-content;
    th{
      background-color: rudder.$bg-light-gray;
      &:not(:last-child){
        min-width: 100px;
      }
    }
    td{
      vertical-align: middle;
      padding: 6px;
    }
    tr.item-foreach.new{
      border-top: 2px solid rudder.$border-color-default !important;
      td{
        background-color: rudder.$bg-light-gray !important;
      }
    }
  }
}


/* YAML editor */
textarea.yaml-editor {
  font-family: var(--bs-font-monospace);
  /* Remove decoration */
  border: none;
  box-shadow: none;
  resize: none;
  outline: none;
  width: 100%;
  margin-top: 10px;
}

pre.command-output{
  white-space: break-spaces;
}

.used {
  color: rudder.$success !important;
}