/*
*************************************************************************************
* Copyright 2025 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

@use 'rudder-variables' as *;

.content-wrapper,
.content-wrapper > .rudder_col,
.rudder-template,
.rudder-template .homePage{
  height: 100%;
}
.content-wrapper > .rudder_col .row{
  height: auto;
}
.rudder-template .homePage {
  display: flex;
  flex-direction : column;
  padding: 30px;
  width: 100%;
  overflow: auto;
}

/* === CARD === */
.rudder-template .homePage .card{
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 16px 2px $rudder-box-shadow-color;
  border: none !important;
  overflow: hidden;
}

#globalComplianceStats {
  color: $rudder-txt-light;
  padding: 0 30px;
}

.highlight{
  color: $rudder-txt-primary;
  font-weight:700;
}
.node-chart h4 {
  color: $rudder-txt-light;
  margin-bottom: 15px;
  font-size: 1.3em;
}
/* Statistics */
.stats li {
  &:hover{
    background-color: #f2f8fe;
  }
  & > a {
    .badge{
      background-color: $rudder-gray-400;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      font-size: 1em;
    }

    &:hover {
      & .badge{
         background-color: $rudder-gray-500;
         opacity:1;
       }
    }
  }
}

/* Global Compliance */
.global-compliance,.global-compliance-details {
  height: 279px;
}
#globalCompliance .progress {
  height: 80px;
  border-radius: 8px;
}

#globalCompliance .progress .progress-bar {
  font-size: 16px;
  min-width: 8px;
}

#complianceGauge {
  max-width: 100%;
  width:420px;
}
#gauge-value {
  font-weight: bold;
  font-size:30px;
  float: left;
  width: 100%;
  color: $rudder-txt-light;
}
.node-compliance-chart{
  padding: 15px;
}
.graph-legend{
  margin-bottom: 0;
  margin-top: 15px;
}

.placeholder.progress{
  background: repeating-linear-gradient(
    135deg,
    #eef1f8,
    #eef1f8 10px,
    $rudder-bg-light-gray 10px,
    $rudder-bg-light-gray 20px
  );
  box-shadow: inset 0 0 2px rgb(0 0 0 / 10%);
}

/* Node Breakdown */
.node-charts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px;
}
.node-charts .node-chart{
  width: 30%;
}
@media (max-width: 768px){
  .node-charts .node-chart{
    width: 100%;
  }
}

.node-charts .node-chart canvas{
  width : 224px !important;
  height: 224px !important;
  margin: auto;
}
#nodeCompliance,
.placeholder-doughnut-chart{
  width : 290px !important;
  height: 290px !important;
  margin: auto;
  display: block;
}

.placeholder-doughnut-chart{
  border-radius: 50%;
  background: repeating-linear-gradient(
    135deg,
    #eef1f8,
    #eef1f8 10px,
    $rudder-bg-light-gray 10px,
    $rudder-bg-light-gray 20px
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholder-doughnut-chart:before{
  content: "";
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}

ul.graph-legend{
  width: 224px;
  max-width: 100%;
  margin: 15px auto 0px auto;
}
#nodeOverview {
  min-height: 382px;
}
#nodeOverview ul.graph-legend{
  width: 290px;
}
ul.graph-legend > li.legend{
  background-color:transparent;
  transition-property:background-color;
  transition-duration:.2s;
  cursor:pointer;
  border-radius:4px;
  display: flex;
  align-items: flex-end;
  color: $rudder-txt-light;
}
ul.graph-legend > li.legend:hover{
  background-color: $rudder-bg-light-gray;
  color: $rudder-txt-primary;
}