
.filemanager-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(85, 95, 110, 0.4);
}

.fm-button {
  padding: 5px 10px;
  margin-right: 7px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #0078D4;
  cursor: pointer;
}

.fm-simple-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
}

.fm-main {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  position: absolute;
  top: 100px;
  left: 100px;
  bottom: 100px;
  right: 100px;
  z-index: 1;
  font-family: sans-serif;
}

.fm-bar {
  display: flex;
  align-items: center;
  background-color: #0078D4;
  padding: 0 12px;
}

.fm-arrow {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.fm-arrow:focus {
  outline: none;
}

.fm-text {
  flex-grow: 1;
  margin-left: 10px;
  color: #FFFFFF;
}

.fm-bar circle {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3px;
  animation: dash 1.5s infinite;
}

@keyframes dash {
  0% { stroke-dasharray: 0% 0% 40% 210%; }
  50% { stroke-dasharray: 0% 0% 210% 40%; }
  100% { stroke-dasharray: 0% 210% 40% 0%; stroke-dashoffset: -40%; }
}

.fm-loader {
  animation: rotation 3s linear infinite;
}

@keyframes rotation { 
  100% { transform: rotate(360deg); }
}

.fm-files {
  position: relative;
  padding: 11px 12px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  overflow: hidden;
}

.fm-wrap {
  height: 100%;
  overflow: auto;
}

.fm-fluid {
  display: flex;
  flex-wrap: wrap;
}

.fm-drop {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 15px solid #0078D4;
  background-color: rgba(0, 120, 212, 0.5);
}

.fm-file {
  padding: 4px;
  margin: 2px;
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.fm-file:hover {
  background-color: #DEECF9;
}

.fm-selected {
  background-color: #C7E0F4;
}

.fm-drag .fm-selected, .fm-cut {
  opacity: 0.25;
}

.fm-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.fm-upload .fm-thumb {
  justify-content: flex-start;
  background-color: #D0D0D0;
}

.fm-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.fm-progress {
  height: 9px;
  margin-bottom: 3px;
  background-color: #0078D4;
}

.fm-name {
  width: 100px;
  margin-top: 10px;
  overflow: hidden;
  font-size: 0.8em;
  text-align: center;
}

.fm-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 12px;
  background-color: #0078D4;
}

.fm-control button {
    margin-left: 7px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #0078D4;
    background-color: #FFFFFF;
    cursor: pointer;    
}

.fm-helper {
  position: fixed;
  border: 1px solid #0078D4;
  background-color: rgba(0, 120, 212, 0.5);
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.fm-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F44336;
  color: #FFFFFF;
}

.fm-context-menu {
  position: fixed;
  width: 150px;
  padding: 5px 0;
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
}

.fm-context-menu button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: none;
  text-align: left;
  background: none;
  cursor: pointer;
}

.fm-context-menu button:hover {
  background-color: #D0D0D0;
}

.fm-context-menu .disabled {
  color: #A6A6A6;
}

.fm-context-menu .disabled:hover {
  background-color: #FFFFFF;
}

.fm-context-menu label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.fm-context-menu label:hover {
  background-color: #D0D0D0;
}

.fm-context-menu input[type="file"] {
  display: none;
}

/* Modal */

.fm-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.fm-modal {
  padding: 20px;
  background-color: #FFFFFF;
}

.fm-modal label {
  display: block;
  margin-bottom: 10px;
}

.fm-modal > h1 {
  margin: 0;
}

.fm-wrap {
  max-height: 400px;
  padding-right: 5px;
  overflow-y: auto;
}

.fm-content {
  padding: 20px 0;
}
