<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:lift="http://liftweb.net/">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <lift:baseUrl.display />

    <link type="image/x-icon" rel="icon" href="/images/rudder-favicon.ico" />

    <link type="text/css" rel="stylesheet" href="/images/themes/ui-lightness/jquery.ui.tooltip.css" />
    <link type="text/css" rel="stylesheet" href="/images/themes/ui-lightness/jquery.ui.all.css" />
    <link type="text/css" rel="stylesheet" href="/style/jquery-rudder-bridge.css" />
    <link type="text/css" rel="stylesheet" href="/style/c3/c3-0.4.10.min.css" />
    <link type="text/css" rel="stylesheet" href="/style/angucomplete-ie8-v0.1.2.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/style/rudder.css" media="screen" />

    <script type="text/javascript" src="/javascript/WeakMap.js"></script>
    <script type="text/javascript" src="/javascript/MutationObserver.js"></script>
    <script type="text/javascript" src="/javascript/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery/jquery.bgiframe-3.0.1.js"></script>
    <script type="text/javascript" src="/javascript/jquery/jquery.corner.js"></script>
    <script type="text/javascript" src="/javascript/jquery/jquery.simplemodal-1.4.4-nrm.js" id="simplemodal"></script>
    <script type="text/javascript" src="/javascript/jstree/jquery.jstree.min.js" id="jstree"></script>
    <!-- using minified version of that one leads to errors "DataTables warning (table id ...:
         Added data (size undefined) does not match known number of columns" errors -->
    <script type="text/javascript" src="/javascript/datatables/datatables.min.js"></script>

    <script type="text/javascript" src="/javascript/jquery/ui/minified/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery/ui/minified/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery/ui/minified/i18n/jquery-ui-i18n.min.js"></script>

    <script type="text/javascript" src="/javascript/c3/d3-3.5.10.min.js"></script>
    <script type="text/javascript" src="/javascript/c3/c3-0.4.11.min.js"></script>

    <script type="text/javascript" src="/javascript/diff.js"></script>
    <script type="text/javascript" src="/javascript/json2.js" id="json2"></script>

    <script type="text/javascript" src="/javascript/rudder/rudder.js"></script>
    <script type="text/javascript" src="/javascript/rudder/rudder-datatable.js"></script>
    <script type="text/javascript" src="/javascript/rudder/tree.js" id="tree"></script>

    <script type="text/javascript">
      // <![CDATA[
      $(document).ready(function() {
        correctButtons();
        $("a", "form").click(function() { return false; });
        createTooltip();
      });
      // ]]>
    </script>
    <script type="text/javascript">
      // <![CDATA[
      $(document).ready(function() {roundTabs();});
      // ]]>
    </script>

    <script type="text/javascript" src="/javascript/angular/angular.min.js" />
    <script type="text/javascript" src="/javascript/angular/angular-animate.min.js" />
    <script type="text/javascript" src="/javascript/angular/angular-datatables.js" />
    <script type="text/javascript" src="/javascript/angular/angular-touch.min.js" />
    <script type="text/javascript" src="/javascript/angular/angucomplete-ie8-v0.1.2.js"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/quicksearch.js"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/groupManagement.js" id="angular-groupManagement"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/ruleDirectives.js" id="angular-ruleDirectives"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/technique-version.js"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/complianceMode.js" id="angular-complianceMode"></script>
    <script type="text/javascript" src="/javascript/rudder/angular/agentSchedule.js" id="angular-agentSchedule"></script>


    <script type="text/javascript" src="/bootstrap-3.2.0-dist/js/bootstrap.js" />
    <link type="text/css" rel="stylesheet" href="/bootstrap-3.2.0-dist/css/tw-bs-bootstrap.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/style/rudder-bootstrap.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/style/rudder-quicksearch.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/style/bootstrap-rudder-bridge.css" media="screen" />

    <script type="text/javascript">
      // <![CDATA[
      var bootstrapButton = $.fn.button.noConflict();
      var bootstrapAlert = $.fn.alert.noConflict();
      var bootstrapCarousel = $.fn.carousel.noConflict();
      var bootstrapCollapse = $.fn.collapse.noConflict();
      var bootstrapTooltip = $.fn.tooltip.noConflict();
      var bootstrapPopover = $.fn.popover.noConflict();
      var bootstrapScrollspy = $.fn.scrollspy.noConflict();
      //var bootstrapTab = $.fn.tab.noConflict();
      var bootstrapAffix = $.fn.affix.noConflict();
      var bootstrapModal = $.fn.modal.noConflict();
      $.fn.bsModal = bootstrapModal
      // ]]>
    </script>



    <lift:SendMetricsPopup.display />
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascript/rudder/rudder.js"></script>
    <![endif]-->
  </head>
<body>

<div class="tw-bs">
  <nav class="navbar navbar-rudder navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/secure/"><img src="/images/logo_Rudder.png" alt="Rudder" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Base Menu -->
        <span class="lift:BootstrapMenu?linkToSelf=true;expandAll=true"></span>

        <!-- Quick Search -->

        <lift:QuickSearchNode.render>

          <div ng-app="quicksearch" id="quicksearch" ng-controller="QuicksearchCtrl" class="navbar-form navbar-left">
          <script type="text/ng-template" id="/my-custom-template.html">
            <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown};">
              <div class="input-group group-search" ng-class="{'open':searchStr.length>0}">
                <ul class="dropdown-menu dropdown-search dropdown-menu-right">
                  <li class="dropdown-header">
                    <div class="row no-margin">
                      <div class="row" id="search-tab">
                        <div class="filter-search col-xs-12">
                          <div class="panel panel-default panel-help">
                            <div class="panel-heading heading-search">
                              <h4 class="panel-title">Type</h4>
                                <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group group-all" data-toggle="buttons">
                                  <label for="filter-all" class="btn btn-default" ng-click="$parent.checkFilter($event, true,$parent.filter.all.activated,'all');" ng-class="{active : $parent.filter.all.activated || (!$parent.filter.directive.activated && !$parent.filter.group.activated && !$parent.filter.node.activated && !$parent.filter.parameter.activated && !$parent.filter.rule.activated)};">
                                    <input type="radio" id="filter-all" checked="true" ng-checked="$parent.filter.all.activated || (!$parent.filter.directive.activated && !$parent.filter.group.activated && !$parent.filter.node.activated && !$parent.filter.parameter.activated && !$parent.filter.rule.activated);"/>All
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.all.nbResults>0}">{{$parent.filter.all.nbResults}}</span>
                                  </label>
                                </div>
                        <div class="btn-group group-filters" data-toggle="buttons">
                                  <label for="filter-directive" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.directive.activated,'directive');">
                                    <input id="filter-directive" type="checkbox" ng-model="$parent.filter.directive.activated"/> Directive
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.directive.nbResults>0}">{{$parent.filter.directive.nbResults}}</span>
                                  </label>
                                  <label for="filter-group" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.group.activated,'group');">
                                    <input id="filter-group" type="checkbox" autocomplete="off" ng-model="$parent.filter.group.activated"/> Groups
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.group.nbResults>0}">{{$parent.filter.group.nbResults}}</span>
                                  </label>
                                  <label for="filter-node" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.node.activated,'node');">
                                    <input id="filter-node" type="checkbox" autocomplete="off" ng-model="$parent.filter.node.activated"/> Nodes
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.node.nbResults>0}">{{$parent.filter.node.nbResults}}</span>
                                  </label>
                                  <label for="filter-parameter" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.parameter.activated,'parameter');">
                                    <input id="filter-parameter" type="checkbox" autocomplete="off" ng-model="$parent.filter.parameter.activated"/> Parameters
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.parameter.nbResults>0}">{{$parent.filter.parameter.nbResults}}</span>
                                  </label>
                                  <label for="filter-rule" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.rule.activated,'rule');">
                                    <input id="filter-rule" type="checkbox" autocomplete="off" ng-model="$parent.filter.rule.activated"/> Rules
                                    <span class="badge pull-right" ng-class="{'label-success':$parent.filter.rule.nbResults>0}">{{$parent.filter.rule.nbResults}}</span>
                                  </label>
                                </div>
                              </div>
                              <button class="btn btn-default" id="toggleDoc">Help <span class="glyphicon glyphicon-question-sign"></span></button>
                            </div>
                            <div class="panel-body results-content">
                              <div class="info-messages">
                                <div class="angucomplete-searching" ng-show="((3 > searchStr.length)&&(results.length == 0)) || !searchStr;">
                                  The field size must be greater than 2 characters
                                </div>
                                <div ng-if="searching || (!searching && (!results || results.length == 0));">
                                  <div class="angucomplete-searching" ng-show="searching && searchStr.length > 2; " ng-bind="textSearching"></div>
                                  <div class="angucomplete-searching text-danger" ng-show="!searching && (!results || results.length == 0) && (searchStr.length > 2);" ng-bind="textNoResults"></div>
                                </div>
                              </div>
                              <div class="panel-group" ng-hide="!searching && (!results || results.length == 0) && (searchStr.length > 2);">
                                <div class="angucomplete-dropdown dropdown-search " role="tablist">
                                  <div class="panel panel-default" ng-repeat="result in results track by $index">
                                    <div>
                                      <div class="panel-heading" role="tab" id="{{'resultGroup'+$index}}">
                                        <h4 class="panel-title">
                                          <a class="" role="button" data-toggle="collapse" href="#{{'result'+$index}}" aria-expanded="true" aria-controls="{{'resultGroup'+$index}}">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                  {{result.originalObject.header.type+"s"}}
                                            <span class="angucomplete-description">{{result.originalObject.header.summary}}</span>
                                          </a>
                                  </h4>
                                      </div>
                                      <div id="{{'result'+$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{'result'+$index}}" aria-expanded="true">
                                  <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="obj in result.originalObject.items"  ng-click="selectedObject(obj)">
                                            <span>
                                              {{obj.name}}
                                            </span>
                                            <!-- <div ng-if="matchClass && obj.desc && obj.desc != '';" class="angucomplete-description" ng-bind-html="obj.desc"></div> -->
                                            <div class="angucomplete-description">{{obj.desc}}</div>
                                          </li>
                                  </ul>
                                  </div>
                                </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="row hidden" id="info-tab">
                          <button class="btn btn-default" id="toggleResult">
                            Results
                            <span class="glyphicon glyphicon-share-alt"></span>
                          </button>
                          <div class="col-xs-12">
                            <div class="panel panel-default panel-help">
                              <div class="panel-heading heading-help">
                                <h4 class="panel-title">
                                  Help
                                </h4>
                              </div>
                              <div class="panel-body text-search">
                                Search text in node informations, groups, directives, paramater and rules.
                                You can filter results by looking only in a subset of objects or their attributes with the
                                syntaxe "in:filter1,filter2,filter3", where "filterN" is chosen in the following names, case insentively (you
                                can indeferently use aliases in brakets):
                              </div>
                            </div>
                          </div>
                          <div class="panel-group col-xs-12 dropdown-container" role="tablist">
                          <div class="panel panel-default" ng-repeat="object in $parent.docinfo | orderBy:'name' track by $index">
                              <div class="panel-heading" role="tab" id="{{'group'+$index}}">
                                <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" href="{{'#listGroup'+$index}}" aria-expanded="false" aria-controls="{{'listGroup'+$index}}">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                          {{object.name}}
                          </a>
                          </h4>
                          </div>
                          <div id="{{'listGroup'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'group'+$index}}" aria-expanded="false" style="height: 0px;">
                          <ul class="list-group">
                                  <li class="list-group-item" ng-repeat="attribute in object.attributes track by $index">
                                    <span>
                                      {{attribute.name}}
                                    </span>
                                   
                                  </li>
                          </ul>
                          </div>
                          </div>
                          </div>
                        </div>
                    </div>
                  </li>
                </ul>
                <input ng-model="searchStr"
                  ng-disabled="disableInput"
                  type="text"
                  value=""
                  placeholder="{{placeholder}}"
                  ng-focus="resetHideResults(); onFocusHandler()"
                  id="searchInput"
                  class="{{inputClass}}"
                  autocapitalize="off"
                  autocorrect="off"
                  autocomplete="off"
                  ng-change="inputChangeHandler(searchStr);$parent.refreshFilterSearch(searchStr)"/>
        <div class="input-group-btn">
                <span ng-class="{noRemove:!searchStr}" class="input-group-addon" id="help-search"><span ng-click="$parent.setValueSearchInput('');$parent.refreshFilterSearch(searchStr);" class="glyphicon glyphicon-remove"></span></span>
              </div>
            </div>
          </div>
        </script>

            <div id="angucomplete-ie8-quicksearch"
                 angucomplete-ie8=""
                 placeholder="Search anything"
                 maxlength="100"
                 pause="500"
                 selected-object="selectedObject"
                 remote-url="api-url-to-change"
                 remote-url-data-field="data"
                 title-field="name"
                 description-field="desc"
                 minlength="3"
                 input-class="form-control"
                 match-class="highlight"
                 template-url="/my-custom-template.html">
            </div>
          </div>
        </lift:QuickSearchNode.render>
        <!-- Right Menu -->
        <ul class="nav navbar-nav navbar-right">
          <!-- Change request -->
          <lift:comet type="WorkflowInformation" name="workflowInfo" />
          <!-- Promise Generation -->
          <lift:authz role="deployment_read">
            <lift:comet type="AsyncDeployment" name="deploymentStatus" />
          </lift:authz>
          <!-- Manual -->
          <li><a href="/rudder-doc" target="_blank">User manual</a></li>
          <!-- User -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle lift:UserInformation.userCredentials"  data-toggle="dropdown">
              <span style="margin-right:5px;" class="glyphicon glyphicon-user"></span>
              <span id="openerAccount">[User name]</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="logout">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="tw-bs">
    <div id="sendMetricsPopup" class="modal fade">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></div>
        <h4 class="modal-title">Participate in usage survey?</h4>
      </div>
      <div class="modal-body">
        <p>Thanks for using Rudder! We hope you are enjoying it.</p>
        <p>To help the team continue to improve Rudder day after day, we are running a survey to collect usage statistics.</p>
        <p>These statistics are submitted anonymously, and include overall statistics about your instance of Rudder (number of Rules, Directives, Nodes, etc).
           No potentially-sensitive data is included (only stock Rudder-provided techniques are examined, no hostnames, etc).
           We highly value your privacy, as we do our own, so we will never share individual submissions (only globally compiled statistics).</p>
        <p>If you want to check the information that is sent, just run "/opt/rudder/bin/rudder-metrics-reporting -v" on your Rudder server. This won't send any information without your consent.</p>
        <p>This information is very valuable to the development team, as it helps us focus on the features that matter most and better understand what our users care about.<br/>
           Please consider participating in the survey! You can choose to opt-out again anytime, in the <a href="/secure/administration/policyServerManagement#sendMetrics">global settings</a>.</p>
      </div>
      <div class="modal-footer" style="text-align:center">
        <button type="button" id="noSendMetrics" class="btn btn-default pull-left">No</button>
        <button type="button" id="laterSendMetrics" class="btn btn-default"  data-dismiss="modal">Ask again later</button>
        <button type="button" id="yesSendMetrics" class="btn btn-default pull-right">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <div id="dialogLogOut">
      <div class="simplemodal-title">
        <h1>Log out</h1>
        <hr/>
      </div>
      <div class="simplemodal-content centertext">
        <h2>You are about to logout</h2>
        <h3>Do you want to proceed?</h3>
        <hr class="spacer" />
      </div>
      <div class="simplemodal-bottom">
        <hr/>
        <div class="popupButton">
           <span>
            <button class="simplemodal-close" onClick="$.modal.close();">
               Cancel
            </button>
            <lift:UserInformation.logout>
            <a  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" href="/logout" role="button">
                <span class="ui-button-text red" class="logoutbutwidth">Logout</span>
            </a>
            </lift:UserInformation.logout>
          </span>
        </div>
      </div>
    <!--Fin popin Login-->
  </div>
</div>


<img alt=""
  id="ajax-loader"
  class="ajaxloader"
  src="/images/ajax-loader.gif"/>

  <div class="container">
  <div class="rudder_col">
  <lift:Authz.whenhasrights>
    <lift:bind name="content" />
  </lift:Authz.whenhasrights>

  <lift:Authz.whennorights>
    <div class="portlet"><div class="portlet-content"><div class="intro" style="padding: 30px; text-align:center">
         You don't have sufficient authorization rights to access this content. Please contant your administrator to have more informations.
    </div></div></div>
  </lift:Authz.whennorights>

  </div>
  </div>
  <hr class="spacer" />
<div id="footer">
  <p>Rudder v2.3 - &copy; <a href="http://www.normation.com/" target="_blank">Normation</a></p>
</div>
<div id="successConfirmationDialog" class="nodisplay">
    <div class="simplemodal-title">
      <h1>Success</h1>
      <hr/>
    </div>
    <div class="simplemodal-content">
      <br />
      <div>
        <img src="/images/icOK.png" alt="Success" height="32" width="32" class="icon" />
        <h2>Your changes have been saved</h2>

        <div id="successDialogContent" />
      </div>
      <hr class="spacer" />
      <br />
      <br />
    </div>
    <div class="simplemodal-bottom">
      <hr/>
      <p align="right">
        <button class="simplemodal-close" onClick="return false;">
          Close
        </button>
      </p>
    </div>
  </div>
</body>
</html>


