<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:lift="http://liftweb.net/">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <script data-lift="baseUrl.display" ></script>

    <link type="image/x-icon" rel="icon" data-lift="with-cached-resource" href="/images/rudder-favicon.ico" />

    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/jquery-ui/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/jquery-ui/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/jquery-ui/jquery-ui.theme.min.css" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/timepicker/jquery-ui-timepicker-addon.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/angular/angular-filemanager.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/jstree/style.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-jquery-ui.css" />

    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/font-awesome/font-awesome-4.6.3.min.css"/>
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/ionicons-2.0.1/css/ionicons.min.css">

    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder.css" media="screen" />

    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/bootstrap/tw-bs-bootstrap-3.3.7.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/bootstrap/bootstrap-toggle-2.2.2.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-progress-bar.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-bootstrap.css" media="screen" />
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-quicksearch.css" media="screen" />

    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/AdminLTE/AdminLTE.min.css"/>
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-menu.css"/>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/utils/WeakMap.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/utils/MutationObserver.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/jquery.corner.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/jstree/jquery.jstree.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/datatables/datatables.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/timepicker/jquery-ui-timepicker-addon.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/jquery/timepicker/jquery-ui-timepicker-addon-en.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/AdminLTE/AdminLTE.min.js"></script>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/bootstrap/bootstrap-3.3.7.min.js"></script>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/graph/Chart-2.5.0.min.js"></script>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/utils/diff.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/utils/json2.js"></script>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/rudder.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/rudder-datatable.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/tree.js"></script>

    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular.min.js" ></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-animate.min.js" ></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-bootstrap-toggle.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-datatables.min.js" ></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-touch.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angucomplete-alt.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-translate.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/ng-file-upload.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/angular/angular-filemanager.min.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/quicksearch.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/groupManagement.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/ruleDirectives.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/technique-version.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/complianceMode.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/agentSchedule.js"></script>

    <!-- ELM -->
    <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-notifications.css" />
    <!--<script type="text/javascript" data-lift="with-cached-resource" src="/elm/rudder-notifications/generated/rudder-notifications.js"></script>-->
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-notifications.js"></script>
    <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-elm.js"></script>
    <script>
    (function($) {
       $.fn.hasScrollBar = function() {
            return this.get(0) ? this.get(0).scrollHeight > this.innerHeight() : false;
        }
    })(jQuery);
    ($(function(){
      if(localStorage.getItem('sidebar-collapse') == 'true'){
        $('body').addClass("sidebar-collapse");
      }else{
        if(window.innerWidth<1375){$('body').addClass('sidebar-collapse');}else{$('body').removeClass('sidebar-collapse');}
      }
      $('.sidebar-toggle').on('click',function(){
        var isCollapsed = $('body').hasClass("sidebar-collapse");
        localStorage.setItem('sidebar-collapse', isCollapsed);
      });
    }));
    $(window).resize(function(){
        if(window.innerWidth<1375){$('body').addClass('sidebar-collapse');}else if(localStorage.getItem('sidebar-collapse') != 'true'){$('body').removeClass('sidebar-collapse');}
    });
    </script>
    <script data-lift="SendMetricsPopup.display" ></script>
    <script type="text/javascript">
      // <![CDATA[
      $(document).ready(function() {
        $("a", "form").click(function() { return false; });
        createTooltip();
        //don't let the browser tell, it may end-up with japanese if jquery doesn't know the variation :/
        $.datepicker.setDefaults($.datepicker.regional['en']);
        $.timepicker.setDefaults($.timepicker.regional['en']);
      });
      // ]]>
    </script>

  </head>
  <body data-lift="CommonLayout.display" class="skin-yellow sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="/secure/" class="logo fixed">
          <span class="logo-mini"><img alt="Rudder" data-lift="with-cached-resource" src="/images/logo-rudder-sm.svg"></span>
          <span class="logo-lg"><img alt="Rudder" data-lift="with-cached-resource" src="/images/logo-rudder-nologo.svg"></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Quick Search-->
         <div data-lift="QuickSearchNode.render"  class="sidebar-form topbar-search-form" >

            <div ng-app="quicksearch" id="quicksearch" ng-controller="QuicksearchCtrl" class="input-group">
            <script type="text/ng-template" id="quicksearch.html">
              <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown};">
                <div class="input-group group-search" ng-class="{'open':searchStr.length>0}">
                  <label class="input-group-addon" for="searchInput">
                    <span class="glyphicon glyphicon-search"></span>
                  </label>
                  <input ng-model="searchStr"
                    ng-disabled="disableInput"
                    type="text"
                    value=""
                    placeholder="{{placeholder}}"
                    ng-focus="resetHideResults(); onFocusHandler()"
                    id="searchInput"
                    class="{{inputClass}}"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    ng-change="inputChangeHandler(searchStr);$parent.refreshFilterSearch(searchStr)"/>

                  <label ng-class="{noRemove:!searchStr}" class="input-group-addon" id="clear-search" for="searchInput">
                    <span ng-click="$parent.setValueSearchInput('');$parent.refreshFilterSearch(searchStr);" class="glyphicon glyphicon-remove"></span>
                  </label>

                  <a class="input-group-addon" id="help-search" href="/rudder-doc/reference/current/usage/node_management.html#search-nodes" target="_blank">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </a>
                <div id="background-fade-quicksearch"></div>
                <ul class="dropdown-menu dropdown-search dropdown-menu-right">
                  <li class="dropdown-header">
                    <div class="row no-margin">
                      <div class="row" id="search-tab">
                        <div class="filter-search col-xs-12">
                          <div class="panel panel-default panel-help">
                            <div class="panel-heading heading-search">
                              <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group group-all" data-toggle="buttons">
                                  <label for="filter-all" class="btn btn-default" ng-click="$parent.checkFilter($event, true,$parent.filter.all.activated,'all');" ng-class="{active : $parent.noFilterActivated()};">
                                    <input type="radio" id="filter-all" checked="true" ng-checked="$parent.noFilterActivated();"/>All
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkSearch(searching) && $parent.noFilterActivated();">
                                        {{$parent.getNumResults("all",results)}}
                                      </span>
                                      <span ng-hide="$parent.noFilterActivated();">
                                        -
                                      </span>
                                      <span ng-show="searching && searchStr.length > 2 && $parent.noFilterActivated();" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                </div>
                                <div class="btn-group group-filters" data-toggle="buttons">
                                  <label for="filter-node" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.node.activated,'node');">
                                    <input id="filter-node" type="checkbox" autocomplete="off" ng-model="$parent.filter.node.activated"/> Nodes
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkActivatedFilter(searching,'node');">
                                        {{$parent.getNumResults("node",results)}}
                                      </span>
                                      <span ng-hide="$parent.checkParentFilter('node');">
                                        -
                                      </span>
                                      <span ng-show="$parent.checkRefresh(searching,'node');" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                  <label for="filter-group" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.group.activated,'group');">
                                    <input id="filter-group" type="checkbox" autocomplete="off" ng-model="$parent.filter.group.activated"/> Groups
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkActivatedFilter(searching,'group');">
                                        {{$parent.getNumResults("group",results)}}
                                      </span>
                                      <span ng-hide="$parent.checkParentFilter('group');">
                                        -
                                      </span>
                                      <span ng-show="$parent.checkRefresh(searching,'group');" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                  <label for="filter-parameter" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.parameter.activated,'parameter');">
                                    <input id="filter-parameter" type="checkbox" autocomplete="off" ng-model="$parent.filter.parameter.activated"/> Parameters
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkActivatedFilter(searching,'parameter');">
                                        {{$parent.getNumResults("parameter",results)}}
                                      </span>
                                      <span ng-hide="$parent.checkParentFilter('parameter');">
                                        -
                                      </span>
                                      <span ng-show="$parent.checkRefresh(searching,'parameter');" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                  <label for="filter-directive" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.directive.activated,'directive');">
                                    <input id="filter-directive" type="checkbox" ng-model="$parent.filter.directive.activated"/> Directives
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkActivatedFilter(searching,'directive');">
                                        {{$parent.getNumResults("directive",results)}}
                                      </span>
                                      <span ng-hide="$parent.checkParentFilter('directive');">
                                        -
                                      </span>
                                      <span ng-show="$parent.checkRefresh(searching,'directive');" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                  <label for="filter-rule" class="btn btn-default" ng-click="$parent.checkFilter($event, false,$parent.filter.rule.activated,'rule');">
                                    <input id="filter-rule" type="checkbox" autocomplete="off" ng-model="$parent.filter.rule.activated"/> Rules
                                    <span class="badge pull-right">
                                      <span ng-show="$parent.checkActivatedFilter(searching,'rule');">
                                        {{$parent.getNumResults("rule",results)}}
                                      </span>
                                      <span ng-hide="$parent.checkParentFilter('rule');">
                                        -
                                      </span>
                                      <span ng-show="$parent.checkRefresh(searching,'rule');" class="loading glyphicon glyphicon-refresh"></span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="panel-body results-content">
                              <div class="info-messages">
                                <div class="angucomplete-searching" ng-show="((3 > searchStr.length)&&(results.length == 0)) || !searchStr;">
                                  <span class="glyphicon glyphicon-exclamation-sign"></span>The field size must be greater than 2 characters
                                </div>
                                <div ng-if="searching || (!searching && (!results || results.length == 0));">
                                  <div class="angucomplete-searching" ng-show="searching && searchStr.length > 2; " ng-bind="textSearching"></div>
                                  <div class="angucomplete-searching text-danger" ng-show="!searching && (!results || results.length == 0) && (searchStr.length > 2);"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span>{{textNoResults}}</div>
                                </div>
                              </div>
                              <div class="panel-group" ng-hide="!searching && (!results || results.length == 0) && (searchStr.length > 2);">
                                <div class="angucomplete-dropdown dropdown-search " role="tablist">
                                  <div class="panel panel-default" ng-repeat="result in results | orderBy:'result' track by $index">
                                    <div>
                                      <div class="panel-heading" role="tab" id="{{'resultGroup'+$index}}">
                                        <h4 class="panel-title">
                                          <a class="" role="button" data-toggle="collapse" href="#{{'result'+$index}}" aria-expanded="true" aria-controls="{{'resultGroup'+$index}}">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                              {{result.originalObject.header.type+"s"}}
                                            <span class="angucomplete-description">{{result.originalObject.header.summary}}</span>
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="{{'result'+$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{'result'+$index}}" aria-expanded="true">
                                        <ul class="list-group">
                                          <li class="list-group-item" ng-repeat="obj in result.originalObject.items"  ng-click="selectedObject(obj)">
                                            <span>
                                              {{obj.name}}
                                            </span>
                                            <!-- <div ng-if="matchClass && obj.desc && obj.desc != '';" class="angucomplete-description" ng-bind-html="obj.desc"></div> -->
                                            <div class="angucomplete-description">{{obj.desc}}</div>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
          </script>

              <div id="angucomplete-ie8-quicksearch"
                   angucomplete-alt=""
                   placeholder="Search anything"
                   maxlength="100"
                   pause="500"
                   selected-object="selectedObject"
                   remote-url="api-url-to-change"
                   remote-url-data-field="data"
                   title-field="name"
                   description-field="desc"
                   minlength="3"
                   input-class="form-control input"
                   match-class="highlight"
                   template-url="quicksearch.html">
              </div>
            </div>
          </div>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav" id="rudder-navbar">
              <!-- Promise Generation -->
              <li class="lift:comet?type=AsyncDeployment" name="deploymentStatus"></li>
              <li class="tasks-menu">
                <a target="_blank" href="/rudder-doc">
                  <i class="fa fa-book"></i>
                  <span class="hidden-xs"> Documentation </span>
                </a>
              </li>
              <!-- User -->
              <li id="user-menu" class="user user-menu" data-lift="UserInformation.userCredentials">
                <a href="#" id="user-menu-action">
                  <span class="hidden-xs glyphicon glyphicon-user"></span>
                  <span id="openerAccount">[User name]</span>
                </a>
              </li>
              <!-- Log out -->
              <li>
                <a id="logout" href="#" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar fixed">
        <section class="sidebar">
          <!-- Navigation Menu -->
          <ul class="sidebar-menu">
            <span class="lift:BootstrapMenu?linkToSelf=true;"></span>
            <li class="treeview footer">
              <span>Rudder ${version}</span>
              <a href="https://www.normation.com/" target="_blank">© Normation ${current-year}</a>
            </li>
          </ul>
        </section>
      </aside>
    </div>

    <div id="sendMetricsPopup" class="modal fade" data-keyboard="true" tabindex="-1">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </div>
                    <h4 class="modal-title">Participate in usage survey?</h4>
                </div>
                <div class="modal-body">
                    <p>Thanks for using Rudder! We hope you are enjoying it.</p>
                    <p>To help the team continue to improve Rudder day after day, we are running a survey to collect usage statistics.</p>
                    <p>These statistics are submitted anonymously, and include overall statistics about your instance of Rudder (number of Rules, Directives, Nodes, etc).
                    No potentially-sensitive data is included (only stock Rudder-provided techniques are examined, no hostnames, etc).
                    We highly value your privacy, as we do our own, so we will never share individual submissions (only globally compiled statistics).</p>
                    <p>If you want to check the information that is sent, just run "/opt/rudder/bin/rudder-metrics-reporting -v" on your Rudder server. This won't send any information without your consent.</p>
                    <p>This information is very valuable to the development team, as it helps us focus on the features that matter most and better understand what our users care about.<br/>
                    Please consider participating in the survey! You can choose to opt-out again anytime, in the <a href="/secure/administration/policyServerManagement#sendMetrics">global settings</a>.</p>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" id="noSendMetrics" class="btn btn-default pull-left">No</button>
                    <button type="button" id="laterSendMetrics" class="btn btn-default"  data-dismiss="modal">Ask again later</button>
                    <button type="button" id="yesSendMetrics" class="btn btn-default pull-right">Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="ModalLogOut" tabindex="-1" role="dialog">
      <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
            </div>
            <h4 class="modal-title" id="myModalLabel">Log out</h4>
          </div>
          <div class="modal-body">
            <h4 class="row text-center">
               You are about to log out
            </h4>
            <h5 class="row text-center">
               Do you want to proceed?
            </h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span data-lift="UserInformation.logout">
              <a href="/logout" class="btn btn-danger">Log out</a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <img alt="" id="ajax-loader" class="ajaxloader svg-loader" data-lift="with-cached-resource" src="/images/ajax-loader.svg"/>

    <div class="content-wrapper">
      <div class="rudder_col">
        <lift:Authz.whenhasrights>
          <rudder-notifications></rudder-notifications>
          <div id="content">
          <!-- Here come the content bound by <lift:surround at="content"> -->
          </div>
        </lift:Authz.whenhasrights>

        <lift:Authz.whennorights>
          <div class="portlet"><div class="portlet-content"><div class="callout-fade callout-warning" style="padding: 30px; text-align:center">
          You don't have sufficient authorization rights to access this content. Please contact your administrator to have more information.
          </div></div></div>
        </lift:Authz.whennorights>
      </div>
    </div>
  </body>
</html>
