# java .... -Dinventoryweb.configFile=/etc/rudder/webui.conf
#
## LDAP related configuration
#

#TODO : use . in properties names
#It seems that with Spring 3 util:properties, 
#it is not allowed to use . in properties name
ldap.host=localhost
ldap.port=389
ldap.authdn=cn=manager,cn=rudder-configuration
ldap.authpw=secret


#inventories information
ldap.inventories.software.basedn=ou=Software, ou=Inventories, cn=rudder-configuration
ldap.inventories.accepted.basedn=ou=Accepted Inventories, ou=Inventories, cn=rudder-configuration
ldap.inventories.pending.basedn=ou=Pending Inventories, ou=Inventories, cn=rudder-configuration

#where to store LDIF inventory versions
history.inventories.rootdir=/tmp/normation/cmdb/inventoryVersion

#where to store debug information about LDAP modification requests
ldif.log.file=/tmp/normation/cmdb/ldif


