/*
*************************************************************************************
* Copyright 2017 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
.section-title {
  border-bottom-color: #f08004 ;
}
#versionTable + .checkbox-group{
  margin-top:4px;
}
#versionTable + .checkbox-group input{
  margin: 0px 2px 0px 0px;
  position:relative;
  top:2px;
}
#versionTable + .checkbox-group input + label{
  font-weight:normal;
  font-size:13px;
}
#directiveToolbar{
  border-top-color:#e2e2e2;
}
.editTech{
  margin-top:4px;
}
.moreFilters{
  margin-left:0 !important;
  margin-right:4px !important;
}
#technicalDetails{
  padding:0 30px 12px 30px;
}
#technicalDetails > .directiveTechnicalInfo:first-child{
  margin-top:0;
}
.directiveTree {
  padding-left: 10px;
  padding-right: 10px;
  padding: 0 10px;
  overflow-y:auto;
  overflow-x:hidden;
}
#directiveRulesTab {
  margin-top: 20px;
}
#directiveRulesTab .box {
  border: 1px solid #ddd;
}
#directiveRulesTab .box-header.with-border {
  background-color: #f4f4f4;
}
#directiveRulesTab .rudder-form  input[type=checkbox] + .label-radio + .check-icon{
  right: 7px;
  font-size: 12px;
  top: calc(50% - 6px);
}
#directiveRulesTab ul > li.rudder-form > .input-group label.form-control {
  padding-right: 20px;
  padding-left: 6px;
}
#directiveRulesTab .only-tags a.all{
  font-size: 10px;
  width:15px;
}
#directiveRulesTab .only-tags a.key{
  font-size: 10px;
  width:80px;
}
#directiveRulesTab .only-tags a.value{
  font-size: 10px;
  width:80px;
}
#directiveRulesTab .tags-container{
  margin-top:30px;
}
#directiveRulesTab .only-tags .btn-xs.pull-right{
  float:left !important;
}
#grid_rules_grid_zone tr.head th {
    padding: 4px 6px;
}
#edit-box{
  padding:10px;
  overflow-y:auto;
  overflow-x:hidden;
}
.version-group{
  float:left;
  padding:0 0 0 15px;
}
.version-group select.form-control{
  margin-right:5px;
}
.new-icon.tech:before{
  content:"Edit techniques";
}
.btn.new-icon.no-icon:after{
  content: "";
  margin: 0;
}
.content-wrapper .btn.btn-box-tool{
  padding-left:2px;
  padding-right:2px;
}
.new-icon.tech + .btn.btn-box-tool > .fa{
  margin-left:0;
}
#versionTable .fa-gear{
  font-size: 18px;
}
#versionTable .dsc-icon{
  height:22px;
  width:16px;
}
.multiversion-icon{
  font-size:14px;
  cursor:help;
  margin-left:5px;
  position:relative;
  top:1px;
  color: #999;
}
.btn.btn-technical-details{
  min-width: 150px;
  transition-duration: .2s;
}
.btn.btn-technical-details.opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.btn.btn-technical-details:before{
  content: "Show ";
}
.btn.btn-technical-details.opened:before{
  content: "Hide ";
}
#confirmUpdateActionDialog #grid_remove_popup_grid_wrapper{
  float:left;
  width:100%;
}
@media (min-width: 991px) and (max-width: 1300px){
  .new-icon.tech:before{
    content:"Edit";
    position:relative;
  }
  .new-icon.tech:after{
    content:"";
  }
}
.radio > label > input{
  top: -2px;
}

#desactivateAction > input {
  text-transform: capitalize;
}

/* POLICY MODE */
#policyModes{
  margin-top: 0;
}
.policymode-group label.radio-inline,
.policymode-group input + span{
  padding: 0;
  margin: 0;
}
.policymode-group input{
  display: none !important;
}
.policymode-group input + span > span{
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  display: inline-block;
  min-width: 85px;
  min-height: 35px;
  text-align: center;
}
.policymode-group input + span > span:hover{
  border-color: #adadad;
}
.policymode-group > label:first-child > input + span> span{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.policymode-group > label:last-child > input + span> span{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
.policymode-group input:checked + span> span{
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.225);
}
.policymode-group input:checked + span > span.audit-btn{
  background-color: #3694d1;
  color: #fff;
}
.policymode-group input:checked + span > span.enforce-btn{
  background-color: #9bc832;
  color: #fff;
}
.policymode-group input:checked + span > span.global-btn{
  background-color: #efefef;
}
.policymode-group .global-mode.audit:before{
  content: "audit";
  color: #3694d1;
}
.policymode-group .global-mode.enforce:before{
  content: "enforce";
  color: #9bc832;
}
