.nodeGroupContainer .col-sm{
  background-color:transparent;
}
.nodeGroupContainer .col-sm>div{
  background-color:#fff;
  float:left;
  border-color: #ddd;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.15);
  padding:0 15px;
  width: 100%;
  overflow: auto;
}
#groupParametersTab .btn.btn-success[disabled]{
  pointer-events: none;
  background-color: #b4b4b4;
  border-color: #7a7a7a;
}
#groupParametersTab .section-title{
  margin: 15px 13px 8px 8px;
}
.toggle-caret,.content-wrapper .toggle-caret,.content-wrapper label.toggle-caret{
  display:block;
  text-decoration:none !important;
}
.toggle-caret label{
  cursor: pointer;
}
.toggle-caret .caret{
  transition-duration:.2s;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color:#333;
}
.toggle-caret.open .caret{
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.toggle-caret + .well{
  color:#555;
  padding: 6px 12px;
  background-color: #eeeeee;
  border: 1px solid #d0d0d0;
}
#groupDetails{
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 15px solid #ebf0f5;
}
#groupDetails .form-group.row{
  padding: 0px 27px 0px 22px;
}
#groupDetails .well.row{
  margin-left:auto;
  margin-right:auto;
}
#groupDetails .radio-inline .radioTextLabel{
  margin:0;
}
#groupDetails .radio-inline .tooltip{
  position:relative;
  opacity:1;
}
#pendingChangeRequestNotification + .wbBaseField .wbBaseFieldLabel{
  margin:0 0 0 5px;
}
#groupsTree > .page-title{
  padding-bottom:7px;
}
#serverGrid tr.head th {
  padding: 4px 6px;
}
#SearchNodes {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

