/*
*************************************************************************************
* Copyright 2021 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
.rudder-template > .one-col{
  flex: 1;
}
.template-main{
  flex-basis : initial !important;
  flex: auto !important;
}



.template-sidebar.sidebar-left{
    box-shadow : none !important;
    flex-basis : initial !important;
    flex: initial !important;
  }
.template-main{
  flex-basis : initial !important;
  flex: auto !important;
}
.callout-fade.callout-info {
  margin-top: 10px;
}
.btn.space-bottom{
  margin-bottom:15px;
}
.btn.space-top{
  margin-top:10px;
}
#actions_zone {
  margin: 0;
}
#sectsGrid{
  table-layout:fixed;
}

tr:hover td {
  background-color :#e2f2ff !important;
}

.focused {
  background-color :#e2f2ff !important;
}

.secretLine td {
  background-color: #f2f8ff;
}

.secretLine:nth-child(4n+1) td {
  background-color: #ffffff;
}

#secretForm {
  height: 100%;
}

.modal-content {
  position: absolute;
  z-index: 99 !important;
  width: 600px;
  display: inline-block;
}

.secretsDescriptionDetails {
  padding:40px;
}

.secretsDescription {
  height: 30px;
  border-top: 1px solid #d1e3f1 !important;
  border-bottom: 1px solid #f1f1f1 !important;
}

.chevron {
  margin: 5px;
  color: #999999;
}

.evlogviewpad {
  padding:30px;
}