/*
*************************************************************************************
* Copyright 2017 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

.sidebar-mini.sidebar-collapse .sidebar-form.topbar-search-form {
  -webkit-transform: inherit;
  -moz-transform: inherit;
  transform: inherit !important;
}

#background-fade-quicksearch{
  display:none;
  background-color: rgb(31, 31, 31);
  position:fixed;
  width:100%;
  height:calc(100vh - 50px);
  left:0;
  top:50px;
}
#headerBar ~ .wrapper #background-fade-quicksearch{
  height:calc(100vh - 80px);
  top:80px;
}

@media (max-width: 767px){
  #background-fade-quicksearch{
    top:100px;
  }
}
.open #background-fade-quicksearch{
  display:block;
  opacity:.75;
  -webkit-animation: bg-fade-in .2s ease-in forwards;
  -moz-animation: bg-fade-in .2s ease-in forwards;
  -o-animation: bg-fade-in .2s ease-in forwards;
  animation: bg-fade-in .2s ease-in forwards;
}
.wrapper .navbar-form input.form-control{
  border-right-color: #e9e9e9;
}
.wrapper #clear-search {
  cursor:text;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color:#888;
}
.wrapper input:focus + #clear-search {
  opacity:1;
  color:#BBB;
}
.wrapper #clear-search .glyphicon {
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
  transition-duration: .2s;
}
.wrapper input:focus + #clear-search .glyphicon:hover {
  color:#888;
}
.wrapper #clear-search>span {
  cursor:pointer;
}
.wrapper #clear-search.noRemove>span{
  visibility:hidden;
}
.wrapper #help-search{
  border-left:1px solid #ccc;
}
.doc .btn{
  color: #555;
  background-color: #f0f0f0;
  outline : none !important;
  line-height: 0;
}
.doc .btn:hover{
  border-color: #ccc;
}
.doc .glyphicon{
  font-size: 16px;
  padding: 2px 0;
}

.wrapper #searchInput{
  border-right-color: transparent;
  box-shadow:none !important;
  width:300px;
  padding: 8px 12px 6px 12px;
}

@media (min-width: 1340px){
  .wrapper .dropdown-search{
    left: -232px;
  }
}
@media (max-width: 1340px){
  .wrapper #searchInput{
    width:200px;
  }
  .wrapper .dropdown-search{
    left:-282px;
  }
}
@media (max-width: 1230px){
  .wrapper #searchInput{
    width:150px;
  }
  .wrapper .dropdown-search{
    left:-325px;
  }
}
.wrapper .dropdown-search .dropdown-header{
  white-space: normal;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 0;
  border-bottom: none;
}
.wrapper .dropdown-search .angucomplete-searching {
  color: #777777;
  font-size: 14px;
}
.wrapper .dropdown-search .angucomplete-searching > .glyphicon{
  margin-right:5px;
}
.wrapper .filter-search label {
  position: relative;
  top: -1px;
  left: 3px;
}

.wrapper .dropdown-search .dropdown-header h4 .glyphicon{
  font-size: 15px;
  margin-right: 10px;
  color: #f08004;
  font-weight: 400;
}
.wrapper .dropdown-search .dropdown-header h4{
  padding-bottom: 8px;
  color: #4f4f4f;
}
.wrapper .dropdown-search .dropdown-header h4.panel-title{
  padding-bottom: 0;
  display: inline;
}
.wrapper .dropdown-search .heading-search h4.panel-title {
  width: 90px;
  display: inline-block;
  text-align: center;4px
  position: relative;
}
.wrapper .filter-search h4.panel-title{
  top: -2px;
}

.wrapper .panel-heading.heading-help h4.panel-title{
  top: 6px;
  display:inline-block;
  height: 31px;
}
.wrapper .dropdown-search .dropdown-header h4 .btn{
  outline: none !important;
}

.wrapper .dropdown-search.angucomplete-dropdown .panel-group .panel {
  border:none;
}
.wrapper .panel-group .dropdown-search.angucomplete-dropdown .panel + .panel {
  margin-top: 10px;
}
.wrapper .dropdown-search .dropdown-header h4.filter-title{
  padding-top: 8px;
  color: #4f4f4f;
  padding-bottom:0px;
  border-bottom:none;
}
.wrapper .dropdown-menu.dropdown-search{
  position:fixed;
  top: 50px;
  left:280px;
  width:800px;
  max-height:none;
  padding-bottom:0;
  padding-top:0;
  max-width: calc(100% - 285px);
}
#headerBar ~ .wrapper .dropdown-menu.dropdown-search{
  top: 80px;
}

.sidebar-collapse .wrapper .dropdown-menu.dropdown-search{
  left:100px;
  max-width: calc(100% - 105px);
}
@media (max-width: 767px){
  .sidebar-collapse .wrapper .dropdown-menu.dropdown-search{
    top:100px;
    left:50px;
    max-width: calc(100% - 55px);
  }
}
.wrapper .dropdown-search .results-content .panel{
  border-radius: 4px;
  border-bottom: none;
  border: 1px solid #cacaca;
  font-size:16px;
}
.wrapper .dropdown-search>.panel:first-child .panel-heading {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.wrapper .dropdown-search>.panel:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom:10px;
}
.wrapper .dropdown-search .panel-help .panel-heading.heading-search{
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
  padding: 6px 0;
  margin:0;
}
.wrapper .dropdown-search .panel-help .panel-heading.heading-help{
  border-bottom: 1px solid #c1c1c1;
}

.wrapper .dropdown-search>.panel:last-child .panel-heading{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrapper .dropdown-search #toggleDoc:hover,.wrapper .dropdown-search #toggleResult:hover{
  background-color: #ffffff;
  color: #4f4f4f;
}
    padding: 10px;
.wrapper .dropdown-search #toggleDoc .glyphicon,.wrapper .dropdown-search #toggleResult .glyphicon{
  top: 4px;
  position: absolute;
  right: 7px;
}
.wrapper .dropdown-search.angucomplete-dropdown{
  position: static;
  width: 100%;
  height: auto;
  max-height:none;
  padding: 0;
  overflow-y: visible;
  margin-top: 0;
  border: none;
  background-color: transparent;
}
.wrapper .dropdown-search .panel-group,.wrapper .dropdown-search .list-group {
  margin-bottom: 0;
}

.wrapper .dropdown-search .panel-group > .panel, .wrapper .panel.panel-help{
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.15);
}
.wrapper .dropdown-search .panel-group > .panel{
  margin-top: 10px;
  border-bottom: none;
}
.wrapper .panel.panel-help{
  margin-bottom: -1px;
  box-shadow: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrapper #search-tab .btn-group.group-all{
  margin-left:15px;
}
.wrapper #search-tab .btn-group.group-filters{
  margin-left: 23px;
}
.wrapper #search-tab .btn-group > .btn{
  padding: 2px 25px 2px 2px;
  width: 121px;
  height: 30px;
  line-height: 23px;
  font-size: 14px;
  text-transform: capitalize;
  color: #666;
  border: 1px solid #e5e5e5;
  margin-right: 4px;
  border-radius: 4px !important;
  background-color: #fff;
  outline:none !important;
}
.wrapper #search-tab .btn-group > .btn.active{
  background-color: #efefef;
  border-color: #bfbfbf;
  box-shadow: none;
  color: #4d4d4d;
}
.wrapper #search-tab .btn-group > .btn:hover{
  background-color: #f5f5f5;
}
.wrapper .panel-default > .panel-heading.heading-search .badge {
  color: #444;
  background-color: #e6e6e6;
  border-radius:0;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  line-height: 22px;
  padding: 2px 0;
}
.wrapper .panel-default > .panel-heading.heading-search .badge > .loading {
  font-size: 11px;
  position: absolute;
  left: 7px;
  top: 8px;
  -webkit-animation: loading 1.5s infinite linear;
  -moz-animation: loading 1.5s infinite linear;
  -o-animation: loading 1.5s infinite linear;
  animation: loading 1.5s infinite linear;
}
.wrapper .panel-default > .panel-heading.heading-search .active .badge {
  color: #fff;
  background-color: #4d4d4d;
}
.wrapper .panel-default > .panel-heading.heading-search .active .badge:before{
  border-right: 8px solid #4d4d4d;
}
.wrapper .panel-default > .panel-heading.heading-search .badge:before {
  position: absolute;
  left: -7px;
  top: 8px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  color: #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #e6e6e6;
}
.wrapper .angucomplete-searching{
  padding: 0px 5px 15px 5px;
}
.wrapper .panel-help .results-content{
  max-height: calc(80vh - 50px);
  overflow-y: auto;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  background-color: rgb(229, 229, 229);
  border-image-repeat: initial;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 10px inset;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0 0 4px 4px;
}
@media (max-width: 767px){
  .sidebar-collapse .wrapper .panel-help .results-content{
    max-height: calc(75vh - 100px);
  }
}

.wrapper .dropdown-search .text-search{
  padding-top:15px;
  padding-bottom:15px;
}

.wrapper .dropdown-search .list-group-item{
  padding:5px 10px;
  border:none;
  margin-bottom:0px;
  border-bottom:1px solid #e5e5e5;
  color:#4d4d4d;
  font-size:13px;
  cursor:pointer;
}
.wrapper .dropdown-search .list-group-item:nth-child(odd):hover,.wrapper .dropdown-search .list-group-item:nth-child(even):hover{
  background-color:#fff3e6;
  color:#1f1f1f;
}
.wrapper .dropdown-search .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wrapper .dropdown-search .list-group-item:hover,.wrapper .dropdown-search .list-group-item:nth-child(odd){
  background-color:#f5f5f5;
}
.wrapper .dropdown-search .list-group-item.title:hover{
  background-color:transparent;
}

.wrapper .angucomplete-dropdown.dropdown-search .list-group-item:first-child .panel-heading {
  margin-top: -10px;
}
.wrapper .angucomplete-dropdown .angucomplete-description {
  color: #828282;
  font-size: 14px;
}
.wrapper .dropdown-search .list-group-item .panel-heading {
  margin: -10px;
  margin-top:0px;
}
.wrapper .angucomplete-dropdown .panel-heading .angucomplete-description:before {
  content: " - ";
  display: inline-block;
  color: #b1b1b1;
  font-size: 16px;
  padding: 0 5px;
}
.wrapper .dropdown-search .panel-default > div > .panel-heading {
  margin-top:0px;
  padding:0;
}
.wrapper .dropdown-search .list-group-item.title{
  background-color: #dddddd;
  border: none;
  cursor:default;
}
.wrapper .dropdown-search .panel-heading a{
  display:inline-block;
  width:100%;
  outline:none !important;
  padding:10px 12px;
  position:relative;
  transition-duration:.2s;
  text-decoration:none !important;
  border-bottom: 2px solid #f08004;
}
.wrapper .panel-default > .panel-heading .badge.label-danger{
  background-color:#d9534f;
}
.wrapper .dropdown-search .panel-heading a.collapsed{
  border-color: #ccc;
  border-bottom: 2px solid #ccc;
}
.wrapper .dropdown-search .panel-heading a div{
  text-transform:initial;
}
.wrapper .dropdown-search .panel-heading a .glyphicon-chevron-right,.wrapper .dropdown-search .dropdown-container .panel-heading a.collapsed:hover .glyphicon-chevron-right{
  transform: rotate(90deg);
  margin-right: 10px;
  font-size: 12px;
  color: #787878;
  transition-duration:.3s;
}
.wrapper .dropdown-search .dropdown-container{
  max-height:500px;
  overflow-y:auto;
  padding: 0 5px;
  padding-bottom:5px;
  background-color: #dddddd;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

.wrapper .dropdown-search .tab-content {
  background-color: #fff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 4px;
}

.wrapper .nav-tabs > li.active > a > span, .wrapper .nav.nav-tabs > li.active > a:hover,.wrapper .nav.nav-tabs > li.active > a:hover > span, .wrapper .nav-tabs > li.active > a:focus,.wrapper .nav-tabs > li.active > a:hover > span, .wrapper .nav-tabs > li.active > a:focus > span,.wrapper .nav.nav-tabs > li > a:focus {
  color: #888888;
  background-color:#fff;
  border-bottom-color: transparent;
}
.wrapper .nav-tabs > li > a,.wrapper .nav-tabs > li > a > span{
  color: #545454;
  transition-duration:.2s;
}
.wrapper .nav-tabs > li > a{
  background-color: #cecece;
}
.wrapper .nav.nav-tabs > li > a:hover{
  color: #747474;
  background-color: #e5e4e4;
  border-color: #ddd;
}
.wrapper .nav.nav-tabs > li > a:hover > span{
  color:#575757;
}
.wrapper .dropdown-search .panel-heading a.collapsed .glyphicon-chevron-right{
  transform: rotate(0deg);
}
.wrapper .navbar-form button.btn.btn-default.dropdown-toggle .glyphicon {
  color:#ccc;
  transition-duration:.2s;
}
.skin-yellow .sidebar-form.topbar-search-form input.form-control{
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
}
.skin-yellow .sidebar-form.topbar-search-form input.form-control::-webkit-input-placeholder {
  color: #8c6438;
}
.skin-yellow .sidebar-form.topbar-search-form input.form-control:-moz-placeholder {
  color: #8c6438;
  opacity:  1;
}
.skin-yellow .sidebar-form.topbar-search-form input.form-control::-moz-placeholder {
  color: #8c6438;
  opacity:  1;
}
.skin-yellow .sidebar-form.topbar-search-form input.form-control:-ms-input-placeholder {
  color: #8c6438;
}
@-webkit-keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-o-keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes bg-fade-in {
  0%   { opacity: 0;   }
  100% { opacity: .75; }
}
@-moz-keyframes bg-fade-in {
  0%   { opacity: 0;   }
  100% { opacity: .75; }
}
@-o-keyframes bg-fade-in {
  0%   { opacity: 0;   }
  100% { opacity: .75; }
}
@keyframes bg-fade-in {
  0%   { opacity: 0;   }
  100% { opacity: .75; }
}
