/*
*************************************************************************************
* Copyright 2011 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

* {
  margin:0;
  padding: 0;
  list-style: none;
}

html {
  height:100%;
}




/**********************************
 *Node inventory details
 **********************************/
.sInventory {
  margin: 0px;
  padding: 0px;
}

.sInventory > div {
  margin: 0px;
  padding: 0px;
}

.details {
  margin: 0px;
  padding: 0px;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute !important;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index:500
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}


.overflow_auto {
  overflow: auto;
}

/**********************************
 * Node details
 **********************************/

#nodeDetails {
 padding:10px;
}

#node_summary #nodeDetails {
 float:left;
 width:50%;
 border-right : 2px #b2b2b2 solid;
}

#node_summary #nodeGroups {
 float:left;
 width:50%;
 padding:10px;
}
#node_parameters{
  padding: 10px;
  float: left;
}

/**********************************
 *            FORM                *
 **********************************/

.directiveTechnicalInfo{
  padding-top: 12px;
}

.portlet-header .ui-icon {
   float: right;
   cursor: pointer;
}

div.intro {
   margin: 5px 0px 0px 0px;
   padding: 0px;
   width: 100%;
   font-size: 1em;
   line-height: 1.5em;
   color: #414141;
   background-color: #FFF9E1;
   z-index: 1;
}

div.intro div {
  padding: 5px 5px 5px 15px;
  font-size: 1.1em;
}
div.intro p:last-child{
  margin-bottom:0px;
}
div.intro div ul {
   padding: 0 0 0 20px;
}

form h2 {
   padding: 0 10px;
   font-size: 1.2em;
   line-height: 1.5em;
   font-weight: bold;
}
form h3 {
   padding: 0 15px;
   font-size: 1.1em;
   line-height: 1.5em;
   font-weight: bold;
}

.directiveInfo{
   margin-left:10px;
}

td.directiveVarValue > input {
  width: 500px;
}

.compositionCheckbox input {
  margin-left : 5px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.composition input {
  vertical-align: middle;
}


button.ui-state-default {
   width: 130px;

}

form select.selectComparator {
   width: 150px;
}

form select.selectField {
   width: 220px;
}

.content-wrapper input.queryInputValue, .content-wrapper select.queryInputValue {
  width:280px;
  margin: 0px;
  padding: 0px;

}

form input.removeLineButton {
  padding: 0em 0.3em;
  width:18px !important;
}

input.deleteNetwork * {
  padding: 0 !important;
}
#lift__noticesContainer___notice ul {
  padding: 10px 20px;
}

@media screen and (min-width: 993px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child{
    width:30% !important;
    white-space:nowrap;
  }
}
@media screen and (max-width: 992px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child{
    width:40% !important;
    white-space:nowrap;
  }
}
@media screen and (max-width: 768px) {
  #reportsGrid tr>th:last-child,#reportsGrid tr>td:last-child{
    width:50% !important;
    white-space:nowrap;
  }
}
#reportsGrid tr>th:first-child,#reportsGrid tr>td:first-child{
  width:auto !important;
  white-space: normal;
}

#grid_rules_grid_zone {
  width: 100%;
  table-layout: fixed;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: right;

}

.reportIcon {
  padding-left: 6px !important;
}

/********************
* Directive display
********************/
.inlineml{
  display:inline;
  margin-left:3px;
}
.inlinenotop{
  display:inline;
  padding-top:0px;
}
.cpiefsave{
  float:right;
}

.wbBaseField * {
  vertical-align: middle;
}

.wbBaseField {
  vertical-align: middle;
  margin-top: 7px;
}

.wbBaseFieldLabel {
  margin-top: 5px;
}

.variableDefinition > span,
.variableDefinition td,
.variableDefinition input {
  vertical-align: middle;
}

.wbBaseFieldLabel .tw-bs .ruddericon {
    top: -2px;
}

/**********************************
 *define the group/section table
 **********************************/

fieldset.sectionFieldset {
  padding: 1px 10px 1px 10px;
}

fieldset.groupFieldset {
  padding: 1px 10px 1px 10px;
}

div.foldableSection div.section-title {
  cursor: pointer;
}

div.unfoldedSection div.section-title:before,div.foldedSection div.section-title:before {
  content: url("../../images/tableau/flecheDroiteGris.png");
  padding-right: 3px;
  transition-duration:.2s;
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

div.unfoldedSection div.section-title:before {
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}

div.foldedSection div.section-title:before {
  -webkit-transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
}
#querySearchSection:hover{
    cursor: pointer;
}
#querySearchSection:before {
  content: url("../../images/tableau/flecheDroiteGris.png");
  padding-right: 3px;
}
#querySearchSection.unfoldedSectionQuery:before {
  content: url("../../images/tableau/flecheBasGris.png");
  padding-right: 3px;
}
.foldedSection table, .foldedSection div {
  display:none;
}

.foldedSection div.section-title {
  display:block;
}

/**********************************
 *add / remove group
 **********************************/

.lopaddscala{
  padding:0px
}

td.directiveVarValue  {
  width:70%;
  margin-right:2px;
}

.textareaField {
  height: 300px;
}


/*********************************
* Search servers
*********************************/
.paddscala{
  padding: 0px 0px 0px 15px;
}
.catdelete{
  font-size:0.9em;
  margin-left: 5px;
}
.margins{
  margin: 15px 0px 8px 0px;
}
.spacerscala{
  float:right;
}
.paginatescala{
  float:left;
  margin-top: 4px;
}
.notify{
  text-align:center;
}

.pull-left {
  float:left
}

.pull-right {
  float:right
}

fieldset.searchNodes {
  padding:5px;
  clear: both;
}

fieldset.groupCategoryUpdateComponent {
  padding:5px;
  margin:5px;
  width: 580px;

}

tr.query_line, .query_line td {
  padding: 4px 1px;
  text-align: center;
}

.composition {
  padding: 5px 0px 0px 5px;
  margin: 0px 0px 0px 0px;
}

.composition span {
  display: inline-block;
}

/************************
 * Search groups
 ************************/

fieldset.hierarchy {
  width:300px;
  margin:5px;
  padding:5px;
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
}

fieldset.groupCategory {
  width:600px;
  margin:5px;
  padding:5px;
  float: left;

}

.nodeGroupSubmitSearch {
   margin: 0 ;
   padding: 5px 0 5px 0;
}

div.hierarchySpacer {
  width:5%;
  display: inline-block;
}

/**************************************
structure
**************************************/
.subContainerReasonField {
  padding: 0 4px 0 4px;
}

div#navigation {
   float: left;
   background-color: #1e1e1e;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

#documentation {
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding-right: 20px;
}

#documentation a {
  color: #999;
}

.automaticCleanDetail {
  padding : 5px 5px 0;
} 

#opener {
   border: none;
   background: none;
   text-decoration: underline;
   color: #999;
   cursor: pointer;
}
#opener:hover {
   text-decoration: none;
}
#openerAccount {
   border: none;
   background: none;
   text-decoration: underline;
   color: #f79d10;
   cursor: pointer;
}
#openerAccount:hover {
   text-decoration: none;
}

/**************************************
Home portlet
**************************************/

.column {
   width: 50%;
   float: left;
}

p img {
   float: none !important;
   margin: 0px !important;
}

.evlogviewpad {
   margin-left: 15px;
}

*html .portlet ul {
   padding: 20px 0 15px 0;
}
.portlet li {
   list-style-type: none;
}
table .innerDetails li{
  word-break: break-all;
  white-space: pre-wrap;
}
.portlet-header {
   padding: 5px 0 5px 15px;
   font-size: 1.4em;
   font-weight: bold;
   cursor: default;
   background: none;
}

.section-title {
  font-size: 18px;
  cursor: default;
  background: none;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 0 5px 0px;
  color: #333;
}

.portlet-header .ui-icon {
   float: right;
   cursor: pointer;
}
.portlet-content {
   background-color: #fff;
}
.ui-sortable-placeholder {
   border: 1px dotted black;
   visibility: visible !important;
   height: 50px !important;
}
.ui-sortable-placeholder * {
   visibility: hidden;
   visibility: hidden;
}

/********************
* Popup
********************/
#actions_zone{
  margin:10px 10px 0px 5px;
}

.curspoint{
  cursor:pointer;
}


#ui-dialog-title-addPopup{
  height: 25px;
  width:90%;
}

.ui-dialog-title, .ui-dialog-titlebar-close {
  height: 25px;
}

.popupButton {
  padding: 5px;
  float: right;
}

.popupButton span {
  float: none;
}

/*****************************************
* Popup creation groupe/category
******************************************/
.createGroup {
  height: 400px;
}

/*************************
*  plugins         *
**************************/

.pluginpadd{
  padding: 0 10px;
}

/*************************
*   Misc
**************************/
.tooltip {
  color: #999;
  padding-top: 0px;
}

.spacing-title {
  padding-top:0;
  margin-bottom:5px;
  margin-top:5px;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #666;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
  padding: 4px;
}
#tooltip h3, #tooltip div {
  margin: 0;
}

/* tooltip styling.  */

.tooltipContent {
  display:none;

}

.red {
color: #FF0000 !important;
}

.smallButton {
  width: 40px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size : 11px !important;
  font-weight:100 !important;
}

.smallButton span {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

td.complianceTd, td.parametersTd {
  text-align: center !important;
}

.smallButton img {
  height: 15px;
}

/* others */
.deca{
  padding: 10px;
}

.inline{
  display:inline;
}

.err{
  padding-left: 50px;
}
.green{
  color:green;
  margin:5px;
  font-style:italic;
  font-size: 0.9em;
}
.warnicon{
  float:left;
  margin-right:9px;
}
.icon{
  float:left;
  margin-right:20px;
}
.greenscala{
  color:green
}

.greyscala{
  color: #999;
}
.content-wrapper .checkbox {
    float: right;
    margin: 0 30px 0 10px;
    height: 20px;
    position: static;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
.content-wrapper .checkbox input[type="checkbox"]{
  position:relative;
  top:2px;
  margin-left:2px;
}
.nodisplay{
  display:none;
}
.ajaxloader{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align:center;
  padding:10px;
  margin-left: -40px;
  margin-top: -40px;
  z-index:9999;
  display:none;
}

.svg-loader{
  height:40px;
  width:40px;
  padding: 0 !important;
}

.right {
   float: right;
   margin: 0 0 5px 5px;
}
.center {
   text-align: center;
}
hr.spacer {
   visibility: hidden;
   clear: both;
}

.float-inherit{
  float: inherit !important;
}
.twoCol {
  float:left;
  width:67%;
}

.rudderBaseFieldClassName {
  width:99%;
}

.rudderBaseFieldSelectClassName {
  width:101%;
}

.threeCol {
  float:left;
  width:30%;
  margin-right: 4px;
}

.largeCol {
  float:left;
  margin-right: 2px;
  width:60%;
}

.align-radio span {
  display:inline-block;
  margin-right:5px;
}

.align-radio-generate-input span {
  display:inline-block;
}

.radioTextLabel {
  margin-right:6px;
  margin-left:3px;
}

.groupDiv {
   margin-top: 5px;
   margin-bottom: 10px;
}

legend {
  padding-left: 5px;
  padding-right: 5px;
}

/************************************
Portlet content for object details
(for example, details about a Directive
template, a Directive, etc)
************************************/

.object-details {
  padding:10px;
}

.object-details fieldset {
  padding-left: 2px;
  padding-right: 20px;
}

/************************************
Descriptions
************************************/
.warn div {
  /*display:inline-block;*/
  vertical-align: middle;
}

div.serverDetail {
  font-weight:bold;
  text-align:center;
}

div.tabInform {
  padding:5px;
}

.reportLine {
  background: url("../../images/tableau/fdTaboHead.jpg") repeat-x scroll left top transparent;
  color: #FFFFFF;
  float: left;
  margin-top: 4px;
  padding: 5px;
}

.filter {
  float : right;
  margin-right : 14px;
}
/***********************************
 *Directive display
************************************/

.directiveTitle {
  font-weight:bold;
}

tr.parametersDescription {
  background-color: #f9f9f9 !important;
  height: 30px;
  border-top: 1px solid #e5e5e5 !important;
}

.parametersDescriptionDetails {
  padding:15px;
}
/***********************************
 *Reports display
************************************/
.evlogviewpad {
  padding:5px;
}

.evlogviewpad li{
  list-style-type: disc;
}
.evloglmargin{
  margin: 7px;
}

.reportsNode {
  margin : 10px;
  padding : 5px;
}

.reportsHeader {
  margin: 15px 0;
  padding: 0 10px;
  font-size: 1.1em;
}

.field_errors, .error, .errors {
  color: #c00800;
}

.field_errors {
  margin-top:4px;
}

.field_errors li {
  list-style-position:inside;
}

li.eventLogUpdatePolicy {
  list-style-position: inside;
  list-style-type: none;
}
table.eventLogUpdatePolicy {
  width: 50%;
  margin-top: 0px;
  margin-left: 0px;
}

table.fixedlayout{
  table-layout:fixed;
  word-wrap:break-word
}

.diffOldValue {
  text-decoration:line-through;
}

/***********************************
 * Quick search
************************************/

.quickSearch {
  text-align: center;
  margin-top: 5px;
}

/***********************************
 * Trees
************************************/

#categoryTree.jstree-rudder a {
  vertical-align: middle;
}

.treeActiveTechniqueName , .treeActiveTechniqueCategoryName , .treeGroupCategoryName, .treeRuleCategoryName {
  color: #555
}

span.treeDirective.tooltipable,span.treeDirective.bsTooltip {
  color: #555;
  font-weight: 600;
}

i.jstree-icon.jstree-themeicon.fa.fa-file-text.jstree-themeicon-custom {
  color: #555;
}

tr.disabledRule > td .rudder-labNodeel ~ a:after{
  color: #999;
  content:"- Disabled";
  margin-left: 5px;
}
tr.unappliedRule > td .rudder-label ~ a:after{
  color: #999;
  content:"- Unapplied";
  margin-left: 5px;
}
ins.jstree-icon {
  float: left;
}

.jstree-default.jstree-focused {
  background: none repeat scroll 0 0 #FFFFFF !important;
}

a>.jstree-icon{
  background-position: 0!important;
}

del {
  text-decoration: none;
  background: #FFD6D6;
}

ins {
  text-decoration: none;
  background: #D6FFD6;
}

#allowedNetworksForm {
  margin-top: -7px;
}

.database-info-table {
  width: auto;
}

.database-info-table td {
  border: none !important;
}

/* REPORTS DATABASE */
#reportFromDate, #archiveReports {
  margin-left: 7px;
  padding: 6px 12px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
#modeSelector{
  margin: 15px 8px 0 0;
  display: inline-block;
}
#modeSelector > li{
  margin-bottom:0;
  display:inline-block;
}
#modeSelector > li input{
  display:none;
}
#modeSelector > li > label {
  margin-bottom: 0;
}
#modeSelector > li > label span{
  margin-bottom: 0;
  padding: 6px 12px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  background-color: #f4f4f4;
  margin:0;
  transition-duration:.2s;
  opacity:.7;
  cursor:pointer;
}
#modeSelector > li > label span:hover{
  opacity:1;
}
#modeSelector > li:first-child > label span{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  border-right-color:transparent;
}
#modeSelector > li:last-child > label span{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  border-left-color:transparent;
}
#modeSelector > li > label input:checked + span{
  opacity:1;
  cursor:default;
  color:#fff;
}
#modeSelector > li:last-child > label input:checked + span{
  background-color: #d9534f;
  border-color: #d43f3a;
}
#modeSelector > li:first-child > label input:checked + span{
  background-color: #3694d1;
  border: 1px solid #2173a9;
}
/* --------------- */
fieldset {
  border: 1px solid #B4B3A8;
}

.note {
  color: #555555;
  margin: 5px 0px 0px 0px;
}

.groupCategoryUpdateComponent {
  width: 450px;
}

#ajaxItemContainer {
  float:left;
  width: 66%
}

/**
 * Rollback
 */

.rollbackFieldSet {
  float : right;
  padding : 10px 0px;
  width : 400px;
  text-align : center;
}

.rollbackFieldSet legend{
  margin-left : 10px;
}

.alignRollback {
  vertical-align:50%
}

/**
 * Pending change request
 */

#changeRequestList {
  padding-left: 15px;
}

#changeRequestList li {
  list-style-type: disc;
}

img.targetRemove {
  margin : 0 0 -3px 5px;
  float  : none;
  cursor : pointer
}

img.targetIcon {
  margin : 0 0 -3px 0;
  float  : none;
}

.targetDisplay {
  display          : block;
  float            : left;
  padding          : 5px;
  margin           : 0 0px 5px 5px;
  background-color : rgba(255, 255, 255, 0.8);
}

.targetContainer {
  border      : 1px solid #B4B3A8;
  padding-top : 5px
}

.targetHeader {
  font-size   : 1.3em;
  font-weight : bold;
}

img.treeAction {
  margin : 0 5px 0 0;
  cursor : pointer
}

img.treeAction.noRight {
  margin-right : 0;
}

.treeActions {
  padding-top  : 1px;
  padding-left : 5px
}

li.included a {
  background: none repeat scroll 0 0 #DDFFDD !important;
  border: 1px dotted #48A648 !important;
  padding: 0 2px 0 1px;
}

li.excluded a{
  background: none repeat scroll 0 0 #FFDDDD !important;
  border: 1px dotted #A64848 !important;
  padding: 0 2px 0 1px;
}

.title-link {
 font-size : 12px;
}

.techniqueEditorLink {
  float:right;
  text-decoration:none;
  font-weight:bold;
  font-size:13px;
  margin-top:-5px;
}

.searchNodes tr td {
  padding: 0 5px;
}

.deprecatedTechniqueIcon {
  margin-left : 3px;
}
table.directiveGroupDef, table.directiveVarDef, table.directiveSectionDef {
  width:100%;
  padding-left: 15px;
}

#cfagentSchedule h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

#cfagentSchedule #scheduleMessage {
  margin:10px 0 0 15px;
}

.form-group select {
  width: auto;
}

.animate-hide {
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  opacity: 1;
}

.animate-hide.ng-hide {
  opacity: 0;
}

.animate-hide.ng-hide-add, .animate-hide.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

input[type="number"] {
    padding: 5px 0 5px 5px;
    margin-top:-5px;
}

#clone {
  margin-left:20px;
  float:left;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.c3-tooltip td.name {
    padding-right: 3px;
}

.filterIcon {
  margin-bottom:-3px;
}

.ui-button-disabled  {
    opacity: 0.5;
}

#selectedPeriod{
  font-size:14px;
}
body.cursorPointer{
  cursor:pointer;
}
path.c3-bar.c3-shape.c3-bar-highlighted{
  stroke: rgb(63, 185, 243) !important;
  fill: rgb(63, 185, 243) !important;
}
button.recentChangeGraph{
  position: relative;
  top: -8px;
  right: -10px;
}
button.buttonMargin {
  margin: 0 10px;
}

.c3-legend-item-hidden {
  opacity : 1;
}

#generation-status .glyphicon {
  top 0;
  font-size : 11px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


label span.text-fit{
  font-weight: normal !important;
}

.bs-text-danger{
  color:#a94442;
}

#node-compliance-intro {
  padding: 10px 15px;
  margin: 10px 0;
}
#generation-status .glyphicon {
  top 0;
  font-size : 11px;
}

.jstree {
	color : #333;
}

.jstree-default .jstree-node {
  min-height: 20px;
  line-height: 20px;
  margin-left: 20px;
  min-width: 20px;
}
.jstree-default .jstree-anchor {
  line-height: 20px;
  height: 20px;
}
.jstree-default .jstree-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.jstree-default .jstree-icon:empty {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.jstree-default.jstree-rtl .jstree-node {
  margin-right: 20px;
}
.jstree-default .jstree-wholerow {
  height: 20px;
}

.jstree-anchor > .jstree-themeicon {
  margin-right: 0px;
}

.jstree a.jstree-anchor, .jstree a.jstree-anchor:hover , .jstree a.jstree-anchor:focus, .jstree a.jstree-anchor:active {
  white-space: normal !important;
  height: auto;
  padding: 1px 2px;
  text-decoration: none;
}

.jstree a.jstree-anchor .greyscala {
  color: #999
}

.jstree a.jstree-anchor .categoryAction, .jstree a.jstree-anchor .treeActions  {
  display: none;
}

.jstree a.jstree-anchor:hover .categoryAction, .jstree a.jstree-anchor:hover .treeActions  {
  display: inline;
}

.jstree .fa.jstree-icon {
    color : #999
}
.jstree .fa.fa-gear, .jstree .fa.fa-folder {
  position: relative;
  top: 1px;
}
.jstree.content-wrapper {
	font-size : 12px;
} 

.text-warning-rudder {
    color : #f08004
}

#bottomPanel {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-top: none;
}

.ui-widget-shadow {
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#filterLogs.reportsHeader{
  margin:15px 0;
}
#filterLogs button{
  width: auto;
  outline:none;
}
#filterLogs .form-control.input-xs{
  display:inline;
  height: 25px;
  margin: 0 5px;
  width: 140px !important;
}
#filterLogs .form-control.input-xs:focus {
  border-color: #c1c1c1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(208, 208, 208, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgb(208, 208, 208);
}
#serverDetails .sInventory, #nodeInventory, #node_inventory{
  border : none !important;
  overflow: visible;
}
#node_inventory{
	padding : 0 !important;
}
#serverDetails .dataTables_wrapper_top .dataTables_length{
  padding: 5px;
}
.dataTables_length label {
  font-weight: normal;
  margin:0;
}
#changesChartContainer {
  height: 40vh;
}
.c3-tooltip tr td{
  padding: 0 5px;
}
#changeDisplay > .ui-tabs-panel.ui-widget-content{
  position: relative;
  width: 100%;
  border-top: none;
  top: -2px;
}

.ui-tabs-panel h4 {
  font-size: inherit;
  font-weight: bold;
  margin-bottom:0px;
}
.ui-tabs-panel h3 {
  margin-top:0px;
  font-weight: bold;
}

.content-wrapper .ui-tabs-panel .jstree {
  margin-top:0;
  font-size: 12px;
  font-family : "Helvetica Neue", Helvetica, Arial, sans-serif;
}