/*
*************************************************************************************
* Copyright 2014 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
* 
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
* 
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
* 
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
* 
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/


/*
 * Colours for our progress bars
 */

.content-wrapper .progress .progress-bar{
  color: #fff;
}
.content-wrapper .progress-bar-reportsdisabled {
  background-color: #b4b4b4;
}
.content-wrapper .progress-bar-success {
  background-color: #9bc832;
}
.content-wrapper .progress-bar-error {
  background-color: #c9302c;
}
.content-wrapper .progress-bar-pending {
  background-color: #5bc0de;
}
.content-wrapper .progress-bar-no-report {
  background-color: #848484;
}
.content-wrapper .progress-bar-unknown {
  background-color: #c9302c;
}
.content-wrapper .progress-bar-missing {
  background-color: #FF9147;
}
.content-wrapper .progress-bar-audit-compliant {
  background-color: #9bc832;
}
.content-wrapper .progress-bar-audit-noncompliant {
  background-color: #ff7125;
}
.content-wrapper .progress-bar-audit-notapplicable {
  background-color: #8dcd8d;
}
.content-wrapper .progress-bar-audit-error {
  background-color: #c9302c;
}

