/*
*************************************************************************************
* Copyright 2020 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/

/* === RESET === */
.content-wrapper > .rudder_col{
  padding: 0;
}
.content-wrapper .rudder-template .template-sidebar .sidebar-body{
  margin-top: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.content-wrapper .rudder-template .jstree{
  margin-top: 0;
}
.content-wrapper .rudder-template .jstree .jstree-anchor {
  display: inline-block;
  padding-right: 10px;
  word-break: break-word;
}
.content-wrapper .rudder-template .jstree  .jstree-node{
  overflow: hidden;
}
.main-details .well{
  padding: 6px 12px;
}
.fit-height{
  height: 100% !important;
}
.btn.btn-outline-primary {
  border: 1px solid #337ab7;
  background-color: #fff;
  transition-duration: .2s;
  height: 34px;
  position: relative;
  display: inline-flex;
  min-width: 110px;
  align-items: center;
}
.btn.btn-outline-primary > i{
  margin-left: 6px;
  min-width: 18px;
  align-self: center;
}
.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #337ab7;
}
/* === TEMPLATE === */
.rudder-template{
  display: flex;
  color: #222D42;
  font-size: 14px;
}
.rudder-template .header-title{
  display: flex;
  justify-content: space-between;
}
.rudder-template .header-title .title-icon{
  opacity: .4;
  font-size: 0.8em;
  margin-right: 2px;
}
.rudder-template .header-title h1{
  padding: 0;
  margin: 0;
  font-size: 26px;
}
.rudder-template .header-buttons .btn {
  margin-left: 10px;
}
.rudder-template .header-buttons .btn.btn-danger {
  margin-right: 20px;
}
.rudder-template .header-buttons .tooltip{
  margin-right: 15px;
}
.rudder-template .header-buttons .tooltip > .tooltip-inner {
  width: auto !important;
  min-width: initial;
  max-width: initial;
  padding: 10px !important;
  color: #727988;
}
.rudder-template .header-buttons .tooltip > .tooltip-inner i.fa{
  margin-right: 4px;
}
.rudder-template .header-buttons .tooltip > .tooltip-inner .text-warning{
  color: #F08004;
}
.rudder-template .header-buttons .tooltip.bottom .tooltip-arrow{
  border-bottom-color: #ccc;
}

/* === SIDEBAR === */
.rudder-template .template-sidebar{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  height: calc(100VH - 50px);
  background-color: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 8px 0px 10px -10px #00000050;
}
.rudder-template .template-sidebar.sidebar-right{
  box-shadow: 8px 0px 10px 10px #00000050;
}
#headerBar ~ .content-wrapper .rudder-template .template-sidebar{
  height: calc(100VH - 80px);
}
.rudder-template .template-sidebar .sidebar-header{
  padding: 15px 15px 0 15px;
  border-bottom: 2px solid #e5e5e5;
}
.rudder-template .template-sidebar .sidebar-header .header-filter{
  margin: 10px 0;
  display: flex;
}
.rudder-template .template-sidebar .sidebar-header .header-filter .main-filter{
  flex: 1;
  margin-bottom: 0;
}
.rudder-template .template-sidebar .sidebar-header .header-filter .btn.more-filters{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmlld0JveD0iMCAwIDUwIDUwIgogICBoZWlnaHQ9IjUwIgogICB3aWR0aD0iNTAiCiAgIGlkPSJzdmcyIgogICB2ZXJzaW9uPSIxLjEiPgogIDxtZXRhZGF0YQogICAgIGlkPSJtZXRhZGF0YTgiPgogICAgPHJkZjpSREY+CiAgICAgIDxjYzpXb3JrCiAgICAgICAgIHJkZjphYm91dD0iIj4KICAgICAgICA8ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD4KICAgICAgICA8ZGM6dHlwZQogICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiIC8+CiAgICAgICAgPGRjOnRpdGxlPjwvZGM6dGl0bGU+CiAgICAgIDwvY2M6V29yaz4KICAgIDwvcmRmOlJERj4KICA8L21ldGFkYXRhPgogIDxkZWZzCiAgICAgaWQ9ImRlZnM2IiAvPgogIDxwYXRoCiAgICAgaWQ9InJlY3Q4MTktMCIKICAgICBkPSJNIDM0LjAxNTYyNSwwLjY3MDg5ODA5IFYgMTcuMzEzNDc2IEggMzkuNTYyNSBWIDExLjc2MjY5NSBIIDQ5LjU5OTYwOSBWIDYuMjE3NzczMSBIIDM5LjU2MjUgViAwLjY3MDg5ODA5IFogTSAwLjQwMDM5MDc1LDYuMjIxNjc5MyBWIDExLjc2NjYwMiBIIDI4LjUwNzgxMiBWIDYuMjIxNjc5MyBaIE0gMTEuNDQ3MjY2LDE2LjY3ODcxMSB2IDUuNTQ0OTIyIEggMC40MDAzOTA3NSB2IDUuNTQ2ODc1IEggMTEuNDQ3MjY2IHYgNS41NTA3ODEgaCA1LjU0NDkyMSBWIDE2LjY3ODcxMSBaIE0gMjIuNSwyMi4yMjc1MzkgdiA1LjU0NDkyMiBoIDI3LjA5OTYwOSB2IC01LjU0NDkyMiB6IG0gMC4wNDY4NywxMC40NTg5ODQgdiAxNi42NDI1NzkgaCA1LjU0NDkyMiBWIDQzLjc3ODMyIEggNDkuNTk5NjA5IFYgMzguMjMxNDQ1IEggMjguMDkxNzk3IFYgMzIuNjg2NTIzIFogTSAwLjQwMDM5MDc1LDM4LjIzNTM1MiB2IDUuNTQ0OTIxIEggMTcuMDM5MDYyIHYgLTUuNTQ0OTIxIHoiCiAgICAgc3R5bGU9Im9wYWNpdHk6MTtmaWxsOiMyMjJkNDI7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjEwMS45OTM1MDczOTtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MSIgLz4KPC9zdmc+Cg==);
  background-position: center;
  background-size: 65%;
  width: 30px;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.rudder-template .template-sidebar .sidebar-header .filters-container{
  margin-left: -15px;
  width: calc(100% + 30px);
  padding: 10px 15px;
  border-top: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  position: relative;
}
.rudder-template .template-sidebar .sidebar-header .filters-container:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  transform: rotate(45deg);
  top: -6px;
  right: 24px;
  background-color: #f9f9f9;
}
.rudder-template .template-sidebar .sidebar-header .filters-container.hidden :before{
  content: initial;
}
.rudder-template .template-sidebar .sidebar-header .filters-container .tags-container .btn-group .btn,
.rudder-template .template-sidebar .sidebar-header .filters-container .btn.clear-tags{
  background-color: #fff;
}
.tags-container .btn-group.btn-group-xs .btn.btn-default:first-of-type{
  border: 1px solid #ccc !important;
}
.tags-container .btn-group.btn-group-xs .btn.btn-default:last-of-type{
  border: 1px solid #ccc !important;
  border-left: none !important;
}
/* === MAIN === */
.rudder-template .template-main{
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  height: auto;
  animation: fadein .8s ease-out forwards;
  overflow: hidden;
}
.rudder-template.one-col .template-main{
  flex-basis: 100%;
}
.rudder-template .template-main .main-header,
.rudder-template .one-col .main-header,
.rudder-template .template-main .main-navbar,
.rudder-template .template-main .main-details{
  background-color: #fff;
}

.rudder-template .template-main .main-header,
.rudder-template .one-col .main-header{
  padding: 15px;
  max-height: initial;
  position: static;
}
.rudder-template .one-col .main-header,
.rudder-template.one-col .template-main .main-header{
  padding: 15px 30px;
}
.rudder-template .template-main .main-header .header-description{
  margin-top: 10px;
  color: #222D42AA;
  font-size: 14px;
}
.rudder-template .template-main .main-header .header-description p{
  margin-bottom: 6px;
}
.rudder-template .template-main .main-header .header-description p:last-child{
  margin-bottom: 0;
}
.rudder-template .template-main .main-navbar ul{
  padding: 0 15px;
  margin-bottom: 0;
}
.rudder-template .template-main .main-navbar ul > li{
  margin-right: 15px;
  padding: 0 0 6px 0;
}
.rudder-template .template-main .main-navbar ul > li > a{
  color: #3c8dbc;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}
.rudder-template .template-main .main-navbar ul > li > a .badge,
.rudder-template .template-main .main-details .badge{
  background-color: #6c757d;
}
.rudder-template .template-main .main-alert{
  margin: 0 !important;
  border-radius: 0 !important;
  border-top  : none;
  border-left : none;
  border-right: none;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.rudder-template .template-main .main-details{
  padding: 10px 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;
  position: relative;
  height: 100%;
}
.rudder-template .template-sidebar + .template-main .main-details{
  padding: 10px 15px;
}
.rudder-template.one-col .template-main .main-details,
.rudder-template.one-col .template-main .main-navbar ul{
  padding: 0 30px;
}
.rudder-template.one-col .template-main .main-details{
  padding-bottom: 50px;
}
.rudder-template .template-main .main-container{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: hidden;
}
#headerBar ~ .content-wrapper .rudder-template .template-main .main-container{
  height: calc(100vh - 80px);
}

.rudder-template .template-main .main-container .row{
  height: initial;
}
.rudder-template .template-main .main-form{
  flex: 4;
}
.rudder-template .template-main .main-form select.form-control{
  width: auto;
}
.rudder-template .template-main .main-form .searchNodes select.form-control {
  width: 100%;
}
.rudder-template .template-main .main-table{
  flex: 1;
  margin-left: -15px;
  margin-right: -15px;
}
.rudder-template .template-main .main-table .dataTables_wrapper_top {
  border-top-width: 2px;
  border-left: none;
}
.rudder-template .template-main .main-table .dataTables_wrapper_bottom{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px;
}
.rudder-template .template-main .main-table .dataTables_wrapper_top,
.rudder-template .template-main .main-table .dataTable,
.rudder-template .template-main .main-table .dataTables_wrapper_bottom{
  border-left: none;
}
.rudder-template .template-main .main-table .dataTable thead > tr > th:first-child,
.rudder-template .template-main .main-table .dataTable tbody > tr > td:first-child,
.rudder-template .template-main .main-table .dataTables_wrapper_top,
.rudder-template .template-main .main-table .dataTables_wrapper_bottom{
  padding-left: 15px;
}
.rudder-template .template-main h2.title-tab {
  margin: 0;
  padding: 20px 0px 15px 0px;
  font-size: 24px;
}
.rudder-template .template-main h3.title-section{
  color: #222d42CC;
  padding: 5px 0 !important;
  display: block;
  margin-bottom: 10px;
  line-height: inherit;
  border: 0;
  border-bottom: 2px solid #e5e5e5;
  font-size: 20px;
}

/* === JUMBOTRON === */
.rudder-template .template-main .jumbotron {
  color: #6c7586;
  background-color: transparent;
  padding: 0 !important;
  margin: 10%;
}
.rudder-template .template-main .jumbotron h1{
  font-size: 4em;
}
.rudder-template .template-main .jumbotron p,
.rudder-template .template-main .jumbotron ol{
  margin-bottom: 15px;
  font-size: 1.3em;
}
.rudder-template .template-main .jumbotron ol{
  padding-left: 40px;
}
.rudder-template .template-main .jumbotron ol li{
  list-style: disc;
}

/* === ONE PAGE TEMPLATE === */
.rudder-template .one-col {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: hidden;
}
.rudder-template .one-col .main-header{
  border-bottom: 2px solid #e5e5e5;
}
.rudder-template .one-col-main {
  display: flex;
  overflow: hidden;
}
.rudder-template .one-col .sidebar-left ul.nav{
  border: none !important;
  padding-top: 25px;
  min-width: 302px;
}
.rudder-template .one-col .sidebar-left ul.nav > li {
  float: initial;
  display: block;
  width: 100%;
}
.rudder-template .one-col .sidebar-left ul.nav > li > a {
  display: block;
  width: 100%;
  padding: 5px 30px;
  border: none !important;
  color: #9faabd;
  transition: .2s;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent !important;
  position: relative;
}
.rudder-template .one-col .sidebar-left ul.nav > li > a:before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  width: 4px;
  left: 20px;
  background-color: transparent;
  transition-duration: .1s;
}
.rudder-template .one-col .sidebar-left ul.nav > li.active > a:before {
  background-color: #3c8dbc;
}
.rudder-template .one-col .sidebar-left ul.nav > li.active > a {
  opacity: 1;
  color: #222D42;
}
.rudder-template .one-col .sidebar-left ul.nav > li > a:hover {
  opacity: 1;
  color: #3c8dbc;
}
.rudder-template .one-col .inner-portlet h3.page-title {
  color: #222D42 !important;
  border-bottom: 2px solid #d6deef;
  margin-top: 20px;
}
.rudder-template .one-col .main-details > .inner-portlet:first-child h3.page-title {
  margin-top: 0px;
}
.rudder-template .one-col .template-main .main-details{
  padding-bottom: 100px;
}

@keyframes fadein {
  0%   {opacity:  0; transform:translateX(-100px);}
  20%  {opacity: .2; transform:translateX(0);}
  100% {opacity:  1; transform:translateX(0);}
}