/*
*************************************************************************************
* Copyright 2019 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/

div#query-search-content {
  padding: 0 10px 10px 10px;
}

.rudder_col>.portlet{
  padding: 0 !important;
}
.portlet-header.ui-widget-header.page-title{
  margin: 0 !important;
  border-bottom: none !important;
  padding: 15px 15px 10px;
  color: #222D42 !important;
  font-size: 24px !important;
}
.page-title-description{
  padding: 0 15px;
  margin-bottom: 8px;
  font-size: 1.2em;
  color: #222D42aa;
}

.rudder-ui-tabs ~ .ui-tabs-panel{
  padding: 0 15px 15px 15px;
  float: left;
  width: 100%;
}
#node_summary{
  display: flex;
  padding: 0 !important;
}

.rudder-ui-tabs {
  border-bottom: 2px solid #e5e5E5;
  margin: 0 0 15px 0;
  position: relative;
  background-color: #fff;
  z-index: 10;
}
.rudder-ui-tabs > .ui-tabs-tab{
  display: inline-block;
  padding: 6px 0px;
  margin: 0 0 0 15px;
  outline: none !important;
  position: relative;
}

#nodeDetails {
 flex: 70;
 padding: 0 15px 15px 15px;
 font-size: 14px;
 color: #222D42;
}

#nodeGroups {
  flex: 30;
  border-left: 2px solid #e5e5e5;
  margin-top: -15px;
}
#nodeGroups > h3 {
  color: #222D42;
  padding: 15px 15px 10px !important;
  margin: 0;
  font-size: 20px;
  background-color: #f7f7f7;
}
.id-card .node-state{
  float: right;
  text-transform: uppercase;
  font-size: .8em;
  color: #222D4299;
  display: inline-block;
  position: relative;
  padding-right: 26px;
}
.id-card .node-state:before{
  content: "ENABLED";
}
.id-card .node-state.disabled:before{
  content: "ENABLED";
}
.id-card .node-state:after{
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 0px;
  top: 2px;
  border-radius: 50%;
  background-color: #4eb934;
}
.id-card .node-state.disabled{
  color: #c80004;
}
.id-card .node-state.disabled:after{
  background-color: #C80004;
}

.machine-info{
  position: relative;
  padding-left: 60px;
}
.machine-info:after{
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #222D42;
  opacity: .5;
  border-radius: 50%;
}
.machine-info:before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 28px;
  top: calc(50% - 14px);
  left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.machine-info.ram:before{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgaWQ9InN2ZzEwIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgLTEwMyA1MTIgNTEyIj4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGExNiI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGU+PC9kYzp0aXRsZT4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczE0IiAvPgogIDxwYXRoCiAgICAgaWQ9InJlY3Q4NDUtNSIKICAgICBkPSJtIDU5LjkxNiw3LjQwNjE3NjkgYyAtMzAuNjQ0MTE2LDAgLTU1LjMxMzU3NTcsMjQuNjY5NDQ1MSAtNTUuMzEzNTc1Nyw1NS4zMTM1NzYxIFYgMjIyLjMwODAzIGMgMCwyNS4xNzcyOCAxNi42NTgwMDM3LDQ2LjMxMDQ1IDM5LjU5NDk3NzcsNTMuMDUzNjggdiAyMy42NDMzNCBjIDAsMi4xNzU3NCAxLjc1MTQsMy45MjcxNCAzLjkyNzEzOCwzLjkyNzE0IGggMjEuNjA5MjkgYyAyLjE3NTczOCwwIDMuOTI3MTMyLC0xLjc1MTQgMy45MjcxMzIsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTc0NjU4IHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEyLDMuOTI3MTQgaCAyMS42MDkzIGMgMi4xNzU3NCwwIDMuOTI4NTcsLTEuNzUxNCAzLjkyODU3LC0zLjkyNzE0IHYgLTIxLjM4MiBoIDI4LjE3MzIyIHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEzLDMuOTI3MTQgaCAyMS42MTA3MyBjIDIuMTc1NzQsMCAzLjkyNzEzLC0xLjc1MTQgMy45MjcxMywtMy45MjcxNCB2IC0yMS4zODIgaCAyOC4xNzMyMSB2IDIxLjM4MiBjIDAsMi4xNzU3NCAxLjc1Mjg0LDMuOTI3MTQgMy45Mjg1NywzLjkyNzE0IGggMjEuNjA5MjkgYyAyLjE3NTc0LDAgMy45MjcxNCwtMS43NTE0IDMuOTI3MTQsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTc0NjUgdiAyMS4zODIgYyAwLDIuMTc1NzQgMS43NTEzOSwzLjkyNzE0IDMuOTI3MTMsMy45MjcxNCBoIDIxLjYwOTI5IGMgMi4xNzU3NCwwIDMuOTI3MTMsLTEuNzUxNCAzLjkyNzEzLC0zLjkyNzE0IHYgLTIxLjM4MiBoIDI4LjE3NDY2IHYgMjEuMzgyIGMgMCwyLjE3NTc0IDEuNzUxMzksMy45MjcxNCAzLjkyNzEzLDMuOTI3MTQgaCAyMS42MDkyOCBjIDIuMTc1NzUsMCAzLjkyODU4LC0xLjc1MTQgMy45Mjg1OCwtMy45MjcxNCB2IC0yMS4zODIgaCAyOC4xNzMyNSB2IDIxLjM4MiBjIDAsMi4xNzU3NCAxLjc1MTM2LDMuOTI3MTQgMy45MjcxMSwzLjkyNzE0IGggMjEuNjEwNzMgYyAyLjE3NTc0LDAgMy45MjcxMSwtMS43NTE0IDMuOTI3MTEsLTMuOTI3MTQgdiAtMjEuMzgyIGggMjguMTczMjUgdiAyMS4zODIgYyAwLDIuMTc1NzQgMS43NTI4MywzLjkyNzE0IDMuOTI4NTgsMy45MjcxNCBoIDIxLjYwOTI2IGMgMi4xNzU3NCwwIDMuOTI3MTEsLTEuNzUxNCAzLjkyNzExLC0zLjkyNzE0IHYgLTI3LjM0NDY0IGMgMTcuOTg0OTMsLTkuMTEwNDcgMzAuMjY2MjgsLTI3LjczOTA1IDMwLjI2NjI4LC00OS4zNTIzOCBWIDYyLjcxOTc1MyBjIDAsLTMwLjY0NDEzMSAtMjQuNjcwODksLTU1LjMxMzU3NjEgLTU1LjMxNTAxLC01NS4zMTM1NzYxIHogTSA3Mi43NTQ2OTksNDEuNDkzMTA1IEggNDM5LjI0MzgxIGMgMTguMzIyNDksMCAzMy4wNzI3OCwxNC43NTAzOTUgMzMuMDcyNzgsMzMuMDcyNzggViAyMTAuNDYxOSBjIDAsMTguMzIyMzkgLTE0Ljc1MDI5LDMzLjA3Mjc5IC0zMy4wNzI3OCwzMy4wNzI3OCBIIDcyLjc1NDY5OSBjIC0xOC4zMjI0LDAgLTMzLjA3Mjc4LC0xNC43NTAzOSAtMzMuMDcyNzczLC0zMy4wNzI3OCBWIDc0LjU2NTg4NSBjIDAsLTE4LjMyMjM4NSAxNC43NTAzNzMsLTMzLjA3Mjc4IDMzLjA3Mjc3MywtMzMuMDcyNzggeiBtIDM4LjI5MDI2MSw1NC4zNDY5MDQgYyAtOS45NzY1LDAgLTE4LjAwNzI3NSw4LjAzMjIwMSAtMTguMDA3Mjc1LDE4LjAwODcwMSB2IDU3LjMzMzI0IGMgMCw5Ljk3NjUgOC4wMzA3NzUsMTguMDA3MjggMTguMDA3Mjc1LDE4LjAwNzI4IGggNTIuOTg0NjMgYyA5Ljk3NjQ4LDAgMTguMDA3MjYsLTguMDMwNzggMTguMDA3MjYsLTE4LjAwNzI4IHYgLTU3LjMzMzI0IGMgMCwtOS45NzY1IC04LjAzMDc4LC0xOC4wMDg3MDEgLTE4LjAwNzI2LC0xOC4wMDg3MDEgeiBtIDExOC40NjQxNCwwIGMgLTkuOTc2NDgsMCAtMTguMDA3MjYsOC4wMzIyMDEgLTE4LjAwNzI2LDE4LjAwODcwMSB2IDU3LjMzMzI0IGMgMCw5Ljk3NjUgOC4wMzA3OCwxOC4wMDcyOCAxOC4wMDcyNiwxOC4wMDcyOCBoIDUyLjk4NDY0IGMgOS45NzY0OSwwIDE4LjAwNzI3LC04LjAzMDc4IDE4LjAwNzI3LC0xOC4wMDcyOCB2IC01Ny4zMzMyNCBjIC0xZS01LC05Ljk3NjUgLTguMDMwNzgsLTE4LjAwODcwMSAtMTguMDA3MjcsLTE4LjAwODcwMSB6IG0gMTE4LjQ2NDIsMCBjIC05Ljk3NjQ5LDAgLTE4LjAwNzMsOC4wMzIyMDEgLTE4LjAwNzMsMTguMDA4NzAxIHYgNTcuMzMzMjQgYyAwLDkuOTc2NSA4LjAzMDgxLDE4LjAwNzI4IDE4LjAwNzMsMTguMDA3MjggaCA1Mi45ODQ1OSBjIDkuOTc2NDksMCAxOC4wMDcyNSwtOC4wMzA3OCAxOC4wMDcyNSwtMTguMDA3MjggdiAtNTcuMzMzMjQgYyAwLC05Ljk3NjUgLTguMDMwNzYsLTE4LjAwODcwMSAtMTguMDA3MjUsLTE4LjAwODcwMSB6IgogICAgIHN0eWxlPSJvcGFjaXR5OjE7ZmlsbDojMjIyZDQyO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDo3LjM2NTE3MDQ4O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLWRhc2hhcnJheTpub25lO3N0cm9rZS1vcGFjaXR5OjEiIC8+Cjwvc3ZnPgo=);
}


.rudder-info,
.status-info,
.accounts-info{
  margin-bottom: 15px;
}
.rudder-info   > h3,
.status-info   > h3,
.accounts-info > h3{
  color: #222d428a;
}
.rudder-info   > div,
.status-info   > div,
.accounts-info > div,
.security-info > div{
  margin-bottom: 8px;
}
.rudder-info   > div label,
.status-info   > div label,
.accounts-info > div label{
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}
.rudder-info .rudder-label {
  position: relative;
  margin-bottom: -4px;
  top: -1px;
  font-size: 12px;
  padding: 10px 18px !important;
  line-height: 0px;
}


/* OS ICONS */
.id-card .card-img.linux{
  background-image: url(../../images/os/linux-logo.svg);
}
.id-card .card-img.debian{
  background-image: url(../../images/os/debian-logo.svg);
}
.id-card .card-img.ubuntu{
  background-image: url(../../images/os/ubuntu-logo.svg);
}
.id-card .card-img.redhat{
  background-image: url(../../images/os/redhat-logo.svg);
}
.id-card .card-img.centos{
  background-image: url(../../images/os/centos-logo.svg);
}
.id-card .card-img.fedora{
  background-image: url(../../images/os/fedora-logo.svg);
}
.id-card .card-img.suse{
  background-image: url(../../images/os/suse-logo.svg);
}
.id-card .card-img.android{
  background-image: url(../../images/os/android-logo.svg);
}
.id-card .card-img.oracle{
  background-image: url(../../images/os/oracle-logo.svg);
}
.id-card .card-img.scientific{
  background-image: url(../../images/os/scientific-logo.svg);
}
.id-card .card-img.slackware{
  background-image: url(../../images/os/slackware-logo.svg);
}
.id-card .card-img.mint{
  background-image: url(../../images/os/mint-logo.svg);
}
.id-card .card-img.windowsxp,
.id-card .card-img.windowsvista,
.id-card .card-img.windowsseven,
.id-card .card-img.windows10,
.id-card .card-img.windows2000,
.id-card .card-img.windows2003,
.id-card .card-img.windows2008,
.id-card .card-img.windows2008r2{
  background-image: url(../../images/os/windows-logo.svg);
}
.id-card .card-img.windows,
.id-card .card-img.windows2012,
.id-card .card-img.windows2012r2,
.id-card .card-img.windows2016,
.id-card .card-img.windows2016r2,
.id-card .card-img.windows2019{
  background-image: url(../../images/os/windows-2012-logo.svg);
}
.id-card .card-img.aix{
  background-image: url(../../images/os/aix-logo.svg);
}
.id-card .card-img.solaris{
  background-image: url(../../images/os/solaris-logo.svg);
}
.id-card .card-img.bsd{
  background-image: url(../../images/os/bsd-logo.svg);
}
.id-card .card-img.freebsd{
  background-image: url(../../images/os/freebsd-logo.svg);
}
.callout-fade.callout-info p .glyphicon{
  margin-right: 5px;
  color: #1b809e;
}
.btn.toggle-security-info{
  min-width: 155px;
  margin-top: 8px;
  transition-duration .2;
}
.btn.toggle-security-info:before{
  content: "Show ";
}
.btn.toggle-security-info.opened:before{
  content: "Hide ";
}
.btn.toggle-security-info.opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.security-info{
  width: 100%;
  overflow: auto;
}
pre.display-keys{
  padding: 12px;
  border-top-left-radius: 0;
}
pre.display-keys > label:first-child{
  margin-top:0;
}
pre.display-keys > label{
  display:block;
  margin-top:12px;
  font-weight:bold;
}