/*
*************************************************************************************
* Copyright 2020 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.
*
*************************************************************************************
*/
.rudder-template .header-title h1 .group-system:before,
.rudder-template .header-title h1 .group-system:after{
  margin-left: 8px;
  opacity: .4;
  font-size: 0.8em;
}
.rudder-template .header-title h1 .group-system:before{
  content: "-";
}
.rudder-template .header-title h1 .group-system:after{
  content: "System";
}

#groupParametersTab,
#groupCriteriaTab,
#categoryParametersTab{
  padding: 0 15px;
  float: left;
  width: 100%;
}
#groupDetails .radio-inline .radioTextLabel{
  margin:0;
}
#groupDetails .radio-inline .tooltip{
  position:relative;
  opacity:1;
}
#pendingChangeRequestNotification + .wbBaseField .wbBaseFieldLabel{
  margin:0 0 0 5px;
}
#serverGrid tr.head th {
  padding: 4px 6px;
}
#SearchNodes {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
content-query{
  display:block;
}
#query_lines{
  width:100%;
  table-layout:fixed;
}
#query_lines td{
  white-space: nowrap;}
#query_lines tbody tr td input, #query_lines tbody tr td select.selectField, #query_lines tbody tr td input.queryInputValue, #query_lines tbody tr td select.queryInputValue{
  width:100%;
}
#query_lines tbody tr td:first-child{
  width:130px;
}
#query_lines tbody tr td:nth-child(2){
  width:170px;
}
#query_lines tbody tr td:nth-child(3){
  width: 140px;
}
#query_lines tbody tr td:nth-child(5),#query_lines tbody tr td.last{
  width:25px;
}
.searchNodes .query_line .form-control.input-sm {
  height: 24px;
  padding: 0px 2px;
}
.rudder-form.form-sm{
  margin-bottom: 12px;
}
.searchNodes {
  margin-top: 15px;
}
#ajaxItemContainer > form{
  height: 100%;
}
@media screen and (max-width: 1200px){
  #query_lines tbody tr td:nth-child(4){
    width :250px;
  }
}