.navbar-inverse {
  background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
  border: 1px solid #A35700;
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

hr {
  margin-bottom : -10px;
  border-width : 2px 0 0;
}
