.navbar-inverse {
  background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
  border: 1px solid #A35700;
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}
