/*
*************************************************************************************
* Copyright 2011 Normation SAS
*************************************************************************************
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU Affero GPL v3, the copyright holders add the following
* Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU Affero GPL v3
* licence, when you create a Related Module, this Related Module is
* not considered as a part of the work and may be distributed under the
* license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/agpl.html>.
*
*************************************************************************************
*/


/**********************************
 *Node inventory details
 **********************************/
.hostnamecurs{
  cursor:pointer;
  text-decoration:underline;
}
.querylinecolor{
  color:#EEEEEE;
}
.sInventory {
  margin: 0px;
  padding: 0px;
}

.sInventory div {
  margin: 0px;
  padding: 0px;
}

.details {
  margin: 0px;
  padding: 0px;
}

.sInventory table {
  margin: 0px;
  padding: 0px;
}



/**********************************
 * Node details
 **********************************/

fieldset.crTree {
  margin: 2px;
  padding: 5px;
  vertical-align: top;
}

fieldset.nodeIndernal {
  margin: 2px;
  padding: 5px;
  vertical-align: top;
}

.nodeSummary {

}

table.nomargin {
 margin: 0px;
 width: 100%;
}
td.crTree {
  border-top: 0px;
  width: 32%;
  vertical-align: top;
}

td.nodeIndernal {
  border-top: 0px;
  width: 56%;
  vertical-align: top;
}

/**********************************
 *          formulaire            *
 **********************************/

.portlet-header {
   padding: 2px 0 5px 5px;
   font-size: 1.3em;
   font-weight: bold;
   cursor: default;
   background: none;
}
.portlet-header .ui-icon {
   float: right;
   cursor: pointer;
}
div.intro {
   margin: 0;
   padding: 0px;
   width: 100%;
   font-size: 1.1em;
   line-height: 1.5em;
   color: #000;
   background-color: #fff3c9;
   z-index: 1;
}

div.intro div {
  padding: 5px;
}

div.intro div ul {
   padding: 0 0 0 20px;
}

form a {
   color: #f79d10;
}
form h2 {
   padding: 0 10px;
   font-size: 1.2em;
   line-height: 1.5em;
   font-weight: bold;
}
form h3 {
   padding: 0 15px;
   font-size: 1.1em;
   line-height: 1.5em;
   font-weight: bold;
}
form p {
   margin: 15px 0;
   padding: 0 10px;
   font-size: 1.1em;
}
form hr {
   margin: 0 15px;
   width: 95%;
   clear: both;
}
form select {
   width: 130px;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}
form label.champ {
   float: left;
   padding-right: 20px;
   width: 25%;
   text-align: right;
}
form input {
   width: 130px;
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

form textarea {
  padding: 0.2em;
}

form input.radio {
  width: auto;
  border: 0px;
}

form button {
   width: 130px;
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

button.ui-state-default {
   width: 130px;
}

button.largeButton {
  width:250px !important;
}

.popupButton button {
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}
.popupButton input {
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

.bottomButton span button {
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}


form .center input {
   color: #000;
   background-color: #fba511;
   border: 1px solid #ff7200;
}
form span.inputDetail {
   color: #666;
   font-weight: 500;
}
form input.button {
   margin: 10px 0;
   padding: 10px; 
   color: #fff;
   font-weight: bold;
   border: none;
   background: url(../images/fdBtnUpdate.jpg) no-repeat left 50%;
}
form div.entete {
   margin: 10px;
   background-color: #fff3c9;
}
form .entete p {
   float: left;
   margin: 5px;
   padding: 0 5px;
}
form p.search {
   float: right;
}
form input.btnSearch {
   width: 22px;
   height: 20px;
   background: url(../images/icLoupe.jpg) no-repeat;
   border: none;
}


#searchControl { 
  margin-top:10px; 
}
#searchControl span {
  margin-left: 10px;
  margin-right: 10px;
}

form select.selectComparator {
   width: 100px;
}

input.queryInputValue, select.queryInputValue {
  width:115px !important;
  margin: 0px !important;
  padding: 0px !important;
}.popcurs{
  text-decoration: underline;
  cursor:pointer;
}
.curspoint{
  cursor:pointer;
  text-decoration:underline;
}
.listopen:before{
  content:url('/rudder/images/tableau/flecheBasGris.png');
}
.listclose:before{
  content:url('/rudder/images/tableau/flecheHautGris.png');
}

input.hasDatepicker {
  width:90px !important;
}

button.ui-datepicker-trigger {
  width: 25px !important;
}

form input.removeLineButton {
   padding: 0em 0.3em;
   width:18px !important;
}

#lift__noticesContainer___notice ul {
  padding: 10px 20px;
}

/**************************************
Tableau
**************************************/
.sgridbph{
  border:0; 
  padding:0;
  height:200px;
}

.tablewidth{
  width:100%;
}
.tablepadding{
  padding-left:15px;
  padding-top:5px;
}
.tablemargin{
  margin-top:5px;
}
table {
   margin: 10px;
   width: 98%;
   
}
caption {
   display: none;
}
th, tr, td {
   padding: 4px 3px;
   text-align: left;
}
tr.head, tr.foot {
   color: #fff;
   font-weight: bold;
}
tr.foot {
   background: url(../images/tableau/cCentrebas.jpg) bottom left;
}
tr.head {
   background: url(../images/tableau/fdTaboHead.jpg) top left repeat-x;
}
.head th.first {
   padding: 5px 10px;
   background: url(../images/tableau/cGhaut.jpg) no-repeat top left;
}
.head th.last {
   background: url(../images/tableau/cDhaut.jpg) no-repeat top right;
}
.foot td.first {
   padding: 5px 10px;
   background: url(../images/tableau/cGbas.jpg) no-repeat bottom left;
}
.foot td.last {
   background: url(../images/tableau/cDbas.jpg) no-repeat bottom right;
}
th a {
   color: #fff;
   font-weight: bold;
   text-decoration: none;
}
tr.color1 {
   background-color: #eee;
}
tr.color2 {
   background-color: #fff;
}
td {
   border-top: 1px solid #ababab;
}
.warning {
   color: #c00;
}
#contenu table td img, #contenu table th img {
   float: none;
   margin: 0;
   padding: 2px 0 0 0;
}
.openDetail {
   border: none;
   background: none;
   text-decoration: underline;
   color: #000;
   cursor: pointer;
}
.openDetail:hover {
   text-decoration: none;
}
div#Detail {
   height: auto;
   min-height: 100%;
   background: url(../images/popin/fdLoginFootG.png) no-repeat left bottom;
   display: block;
   min-height: 107px; 
}
#Detail div {
   padding: 10px;
}

.head th input, .foot td input {
   padding: 0.1em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

.field_errors, .error, .errors {
  color: red;  
}



/**********************
* Custom for DataTable
***********************/

.dataTables_filter {
  margin: 10px;
  text-align: right;
}

.paginate {
  width : 50%;
  align:left;
  height:20px;
}

.paginateBold {
  width : 50%;
  align:left;
  height:20px;
  font-weight:bold;
}

.sorting span,.sorting_asc span,.sorting_desc span   {
  float:right;  
  width:14px;
}
.sorting {
  cursor: pointer; 
}
.sorting_asc { 
  cursor: pointer; 
}
.sorting_desc { 
  cursor: pointer; 
}

.sorting_asc span:after {
  content:url("../images/tableau/flecheHaut.png");
}

.sorting_desc span:after {
  content:url("../images/tableau/flecheBas.png");
}

/**********************************
 * Pagination nested 
 **********************************/
 
.dataTables_paginate {
  float: right;
  text-align: right;
  padding-left: 5px;
}

.dataTables_info {
  float: right;
  height: 19px;
  padding-top: 3px;
  padding-right: 5px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: right;

}

.paginate_disabled_previous {
  background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
  background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
  background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
  background-image: url('../images/forward_enabled.jpg');
}


/********************
* Directive display
********************/
.inlineml{
  display:inline;
  margin-left:3px;
}
.inlinenotop{
  display:inline;
  padding-top:0px;
}
.cpiefsave{
  float:right;
}
.pimversionspad{
  padding:20px;
}
.wbBaseField * {
  vertical-align: middle;
}

.policyDisplay {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}
.greytooltip{
  border-bottom:dotted 1 px grey;
}
.policyDisplay * {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.variableDefinition {
  margin: 3px;
  padding:3px;
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.variableDefinition span,
.variableDefinition td,
.variableDefinition input {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  vertical-align: baseline;
}

.variableDefinition sup {
  font-size: 10px;
}

.policyVariables {
  width:75%;
  display:table;
  border-bottom : solid 1px;
}


.policyReports {
  padding:0;
  margin:0;
  width:20%;
  float:right;
}

.policyReports img {
  padding:0;
  margin:0;
}
.policyField {
  width:75%;
}

/**********************************
 *define the group/section table
 **********************************/
 
table.directiveSectionDef {

}

table.directiveSectionDisplay {

}

table.directiveGroupDef {

}

table.directiveGroupDisplay {

}

div.directiveGroup {

}

fieldset.sectionFieldset {
  padding: 1px 10px 1px 10px;
}

fieldset.groupFieldset {
  padding: 1px 10px 1px 10px;
}

fieldset.techniqueDetailsFieldset {
  margin: 10px;
  padding: 1px 10px 1px 10px;
}


/**********************************
 *add / remove group 
 **********************************/

.lopaddscala{
  padding:0px
}
.createitem{
  text-align: right;
}

div.directiveDeleteGroup {
  float:right;
  margin: -20px 0 0 0;
}

div.directiveAddGroup {
  float:right;
  margin: -20px 0 0 0;
}


td.directiveVarLabel {
  width:30%;
  margin-right:2px;
  text-align: right;
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  vertical-align: middle;
}

td.directiveVarLabel span {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

td.directiveVarValue  {
  width:50%;
  margin-right:2px;
}

.textareaField {
  width: 300px;
  height: 300px;
}

/**********************************
 * Temporal information
 *********************************/

.executionPlanning div.planningDetail {
  margin: 3px;
  padding:3px;
}
.executionPlanningTitle {
  font-size: 1.1em;
  font-weight: bold;
}

form .executionPlanningTitle {
padding:0 20px;
}


#weeklyPeriod {
  padding:0 20px;
}

.variableDefinition td {
   border-top: 0px;
}


/*
.variableDefinitionTitle {
  font-size: 1.1em;
  font-weight: bold;
  padding:0 20px;
}
*/

/*********************************
* Search servers
*********************************/
.paddscala{
  padding: 0px 0px 0px 15px;
}
.catdelete{
  font-size:0.9em; 
  margin-left: 5px;
}
.margins{
  margin:10px;
}
.spacerscala{
  float:right;
}
.paginatescala{
  float:left;
}
.notify{
  text-align:center;
  margin: 10px;
}
.nserverrmargin{
  margin-right:5px;
}
.rmargin{
  float:right; 
  margin:10px;
}
table.searchNodes {
  width: 545px;
  margin:0 0 0 5px;
}

table.searchNodes tbody td.first {
  border-left: solid 1px #ABABAB;
}

table.searchNodes tbody td.last {
  border-right: solid 1px #ABABAB;
}

fieldset.searchNodes {
  padding:5px;
  margin:5px;
  width: 555px;
  clear: both;
}

fieldset.searchNodesAction {
  padding:5px;
  margin:5px;
  width: 530px;
  clear: both;
}


fieldset.groupCategoryUpdateComponent {
  padding:5px;
  margin:5px;
  width: 580px;
  
}
fieldset.groupUpdateComponent {
  padding:5px;
  margin:5px;
  width: 580px; 
}

tr.query_line, .query_line td {
  padding: 4px 1px;
  text-align: center;
}

.composition {
  text-align:center;
  padding: 10px 0 0; 
}

.composition span {
  display: inline-block;
  vertical-align: middle;
}

.compositionRadio {
  display: table-row-group !important;
  text-align:left;
}


table#serverGrid {
  width: 545px;
  
}

table#serverGrid tbody td {
  border-left: solid 1px #ABABAB;
  border-bottom: solid 1px #ABABAB;
  border-top: 0px;
}

#serverGrid_wrapper {
  width: 545px;
  margin:0 0 0 5px;
}

#serverGrid_wrapper table {
  margin:0px;
}


.desactivatedGrid {
  color: #AAAAAA;
}

.dataTables_scrollHeadInner table {
  margin:0px;
}

.dataTables_scrollHeadInner {
  background:url("../images/tableau/fdTaboHead.jpg") repeat-x scroll left top transparent;
}

.dataTables_scrollBody table {
  margin:0px;
}

.serverGrid_pagination {
  width: 545px;
  margin:10px 0 0 5px;
}

#serverGrid_paginate_area {
  float:left;
}
div.dataTables_scroll {
  clear: both; 
}

#serverGrid_info_area {
  margin:0 0 0 5px;
}

#serverGrid_info_area div {
  display:inline-block;
}

#serverGrid_tooManyResult {
  width: 543px;
  margin:0 0 0 10px;
  border: solid 1px #ABABAB;
}


.paginate_button {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
}

.paginate_button_disabled {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
}

.paginate_active {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
  color: #333333;
  font-weight: bold;
}


/************************
 * Search groups
 ************************/

fieldset.hierarchy {
  width:300px;
  margin:5px;
  padding:5px;
  /*float: left;*/
  display: inline-block; 
  vertical-align: top;
}

#ajaxItemContainer {
  display: inline-block; 
}

fieldset.groupCategory {
  width:600px;
  margin:5px;
  padding:5px;
  float: left;
  
}

.nodeGroupSubmitSearch {
   width:543px;
   border-left: 1px solid #ABABAB;
   border-right: 1px solid #ABABAB;
   margin: 0 0 0 5px;
   padding: 5px 0 5px 0;
}


fieldset.crEditHierarchy {
  width:45%;
  margin:5px;
  padding:5px;
  display: inline-block;
  vertical-align: top;
}

div.hierarchySpacer {
  width:5%;
  display: inline-block;
}
/*

*/
* {
   margin:0;
   padding: 0;
   list-style: none;
}
body {
   font-size: 11px;
   font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
   background: #1f1e1e url(../images/fondBody.jpg) repeat-x top left; 
}
img {
   border: none;
}
a:focus {
   border: none;
   outline: none;
}

/**************************************
structure
**************************************/

div#prelude {
   display: none;
}
div#container {
   background: #1f1e1e url(../images/fondBody.jpg) repeat-x top left; 
}
div#contenuInfos {
   overflow: hidden;
   background: url(../images/fondMenuAux.jpg) #2e2d2d repeat-y;
}
div#navigation {
   float: left;
   background: #2e2d2d url(../images/fondMenuAux.jpg) repeat-y;
}
div#logo {
   padding: 5px 50px 2px 0;
   height: 113px;
}

#deploymentStatus {
  float:right;
  width:200px;
  padding:10px;
  font-size:0.9em;
  color:white;
}

#deploymentLastStatus  {
  margin-bottom:10px;
}

div.pendingModificationStatus {
  float:right;
  width:200px;
  padding-bottom:10px;
}

div.pendingModificationStatus a {
  font-size:1.1em;
  color:white;
}

/**************************************
header - haut de page
**************************************/
.logoutbutwidth{
  width:130px;
}
div#infosUser {
   padding: 7px 5px;
   height: 30px;
   color: #f79d10;
}
#infosUser p {
   float: left;
}
#infosUser .whoUser {
   margin-left: 30px;
   font-size: 1.4em;
   font-weight: bold;
   color: #f79d10;
}
*html #infosUser .whoUser {
   margin-left: 20px;
}
#infosUser .detailsUser {
   padding-top: 0.2em;
   font-size: 1.1em;
   color: #999;
}
#infosUser .whoUser a {
   margin: 0;
   padding: 0;
   color: #f79d10;
   text-decoration: underline;
}
#infosUser .detailsUser a {
   margin: 0;
   padding: 0;
   font-weight: normal;
   color: #999;
   text-decoration: underline;
   cursor: pointer;
}

#create-user {
   border: none;
   font-size: 1em;
   font-weight: normal;
   color: #f79d10;
   text-decoration: none;
}
span.ui-button-text {
   background: none;
   border: none;
}
#opener {
   border: none;
   background: none;
   text-decoration: underline;
   color: #999;
   cursor: pointer;
}
#opener:hover {
   text-decoration: none;
}
#openerAccount {
   border: none;
   background: none;
   text-decoration: underline;
   color: #f79d10;
   cursor: pointer;
}
#openerAccount:hover {
   text-decoration: none;
}

.deploymentButton {
  background: #DDDDDD !important;
}

/**************************************
menu principal
**************************************/

div#menu {
   padding-top :7px;
   padding-top/*\**/: 3px\9;
   height: 55px;
   color: #000;
   background: #2e2d2d url(../images/fondMenu.jpg) repeat-x;
}
*html div#menu {
   margin: 0;
   padding-top: 0;
}
#menu ul {
   margin: 0 0 0 30px;
   padding: 0;
   height: 50px;
   display: block;
}
#menu li {
   padding: 0 12px 55px 0;
   font-size: 1.4em;
   font-weight: 800;
   display: inline;
   vertical-align: middle;
}
#menu a {
   padding: 7px 10px 30px 10px;
   height: 30px;
   color: #000;
   text-decoration: none;
}
#menu a:hover {
   padding: 7px 0 30px 0;
   color: #f79d10;
   background: url(../images/menuFdDroite.jpg) no-repeat top right;
}
#menu a:hover span {
   padding: 7px 10px 30px 10px;
   background: url(../images/menuFdGauche.jpg) no-repeat top left;
}

#menu .onMenu a {
   padding: 7px 0 30px 0;
   background: url(../images/menuFdDroite.jpg) no-repeat top right;
}
#menu .onMenu span {
   padding: 7px 10px 30px 10px;
   color: #f79d10;
   background: url(../images/menuFdGauche.jpg) no-repeat top left;
}
#menu a, #menu a:hover, #menu a:hover span, #menu .onMenu a, #menu .onMenu span {
   padding-top/*\**/: 0\9;
}

*html #menu a, *html #menu a:hover, *html #menu a:hover span, *html #menu .onMenu, *html #menu .onMenu span {
   padding-top: 0;
}

#menu ul li ul {
  display: none;
}

/**************************************
menu secondaire
**************************************/

#contenu.maximized {
   width: 94%;
   padding-right: 1%;
}
#navigation.minimized {
   width: 2%;
}
*html #navigation.minimized #slickbox {
   width: 10px;
}
*html #contenu.maximized {
   margin-left: 30px;
   width: 85%;
}
#navigation.minimized ul, #navigation.minimized h2 {
   display: none;
}
div#slickbox {
   margin-bottom: 20px;
   width: 186px;
   height: 100%;
   background: url(../images/fondMenuAux.jpg) #2e2d2d repeat-y;
}
#slickbox h2 {
   padding-top: 7px;
   padding-left: 12px;
   height: 38px;
   color: #fff;
   font-size: 1.5em;
   background: url(../images/fondTitMenu.jpg) no-repeat;
}
#slickbox h2 a {
   color: #f79d10;
   text-decoration: none;
}
#slickbox a {
   color: #f79d10;
   text-decoration: none;
   display: block;
}
#slickbox a:hover {
   text-decoration: underline;
}
#slickbox ul {
   width: 186px;
   background-color: #1f1e1e;
   border-bottom: 1px solid #2d2d2d;
}
#slickbox .niv1 a {
   padding: 10px 0 10px 24px;
   height: 20px;
   color: #f79d10;
   font-size: 1.2em;
   border-top: 1px solid #2d2d2d;
   background: url(../images/puceMenuGrise.jpg) no-repeat left top;
}
#slickbox .niv1 a:hover {
   height: 20px;
   background: #585757 url(../images/puceFlecheHoverNiv1.jpg) no-repeat right center;
}
#slickbox .menuOff {
   padding: 10px 0 10px 24px;
   color: #fff;
   font-size: 1.2em;
   border-top: 1px solid #2d2d2d;
   background: url(../images/puceMenuGrise.jpg) no-repeat left top;
   display: block;
}
#slickbox .niv2 a {
   padding: 10px 0 10px 36px;
   height: 20px;
   color: #f79d10;
   font-size: 1.2em;
   border-top: 1px solid #2d2d2d;
   background: url(../images/puceNiv2.jpg) no-repeat left top;   
}
#slickbox .niv2 a:hover {
   height: 20px;
   background: #585757 url(../images/puceFlecheHover.jpg) no-repeat right center;
}
.menuHide img {
   float: left;
   padding-right: 10px;
   vertical-align: middle;
   border: none;
   text-decoration: none;
}
a.menuHide {
   color: #f79d10;
   margin: 0 20px 10px 0;
   padding: 12px 0;
   background-image: url(../images/pointilles.jpg);
   display: block;
}
div.minimized a.menuHide {
margin: 0;
padding: 0;
}
a:focus.menuHide, a:active.menuHide {
   border: none;
}

/**************************************
contenu
**************************************/

div#contenu {
   margin: 0 auto;
   position: relative;
   float: left;
   width: 77%;
   padding-left: 30px;
   background-color: #2e2d2d;
}
#contenu h1 {
   margin: 0 0 5px 0;
   color: #fff;
}
p#filAriane {
   padding: 0 5px 10px 0;
   font-size: 1em;
   color: #f79d10;
   background-color: #2e2d2d;
}
#filAriane a {
   color: #f79d10;
}

/**************************************
Home portlet
**************************************/

.column {
   width: 50%;
   float: left;
   padding-bottom: 20px;
}
.portlet {
   margin: 0 1em 1em 0;
   background-color: #fff;
   background/*\**/:  url(../images/fondPortlet.jpg) repeat-x\9;
}
*html .portlet {
   background: url(../images/fondPortlet.jpg) repeat-x;
}
*html .portlet-content {
   background: #fff url(../images/fondPortlet.jpg) repeat-x;
}
.portlet a {
   color: #f79d10;
}
.portlet a:hover {
   color: #000;
   text-decoration: none;
}
.portlet img {
   float: left;
   margin: 5px 20px 20px 10px;
}

p img {
   float: none !important;
   margin: 0px !important;
}

.portlet ul {
   padding: 20px 0 0 0;
}
*html .portlet ul {
   padding: 20px 0 15px 0;
}
.portlet li {
   list-style-type: disc;
}
.portlet-header {
   padding: 2px 0 5px 25px;
   font-size: 1.3em;
   font-weight: bold;
   cursor: move;
   background: url(../images/icCroix.jpg) no-repeat top left;
}
*html .portlet-header {
}
.portlet-header .ui-icon {
   float: right;
   cursor: pointer;
}
.portlet-content {
   background-color: #fff;
}
.ui-sortable-placeholder {
   border: 1px dotted black;
   visibility: visible !important;
   height: 50px !important;
}
.ui-sortable-placeholder * {
   visibility: hidden;
   visibility: hidden;
}

/**************************************
popin
**************************************/

div#login, 
div#account, 
#addPopupContent {
   height: auto;
   background: url(../images/popin/fdLoginFootG.png) no-repeat left bottom;
   display: block;
   min-height: 107px; 
}

div#refusePopup {
  background-color: #FFEEE0;
}

/********************
* Popup
********************/
#actions_zone{
  margin:15px;
}
.popcurs{
  text-decoration: underline;
  cursor:pointer;
}
.curspoint{
  cursor:pointer;
}
.newservertable{
  max-height: 300px;
  overflow-y: scroll;
}
.newservercell{
  overflow:scroll; 
  max-height: 100px;
}

#ui-dialog-title-addPopup{
  height: 25px;
    width:90%;
    }

.ui-dialog-title, .ui-dialog-titlebar-close {
  height: 25px;
}

.popupButton {
  
  padding: 5px;
  float: right;
}

.popupButton span {
  float: none;
}
#succesConfirmationDialog{
	z-index : 9995;
}
/**************************************
popin Login
**************************************/

#dialogLogOut { 
  display:none; 
}

#dialogLogOut a:hover {
   text-decoration: underline;
}
#login {
   padding-right: 15px;
}
#login p {
   font-size: 1.2em;
   font-weight: 800;
   text-align: center;
}
#login a {
   color: #000;
}
#login a:hover {
   text-decoration: none;
}


/**************************************
popin Account
**************************************/
.userinfowidth{
  width:130px;
}
#account h2 {
   color: #f79d10;
   font-size: 2em;
   font-weight: 800;
}
#account div {
   padding: 10px 10px 20px 10px;
}
#account p {
   margin: 10px 0;
   font-size: 1.2em;
   font-weight: 800;
}
#account p.right {
   margin-right: 10px;
}
#account p.right a {
   font-size: 0.8em;
}
#account p.validateTips {
   margin: 15px 0;
}
#account label {
   float: left;
   padding: 5px 10px 0 0;
   width: 20%;
   text-align: right;
}
#account input {
   width: 210px;
   border: 1px solid #b4b3a8;
   background-color: #f8f8f8;
}
#account input#acSubmit {
   margin: 10px 0;
   padding: 10px; 
   color: #fff;
   font-weight: bold;
   border: none;
   background: url(../images/fdBtnUpdate.jpg) no-repeat 50% 50%;
}
#account textarea {
   margin-top: 5px;
   width: 465px;
   color: #666;
}
#account a {
   color: #000;
}
#account a:hover {
   text-decoration: none;
}
span.verifError {
   padding: 0 0 5px 40px;
   color: #c00;
   background: url(../images/icError.jpg) no-repeat;
}
span.verifValid {
   padding: 0 0 5px 40px;
   color: #b4b3a8;
   background: url(../images/icValid.jpg) no-repeat;
}

/**************************************
popin Alert
**************************************/

#dialogAlert {
  display:none;
  }
#simplemodal-container {
  color:#000000; 
  background-color:#FFFFFF; 
  border:4px solid #F79D10; 
  padding:0px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    }
#simplemodal-container .simplemodal-data {
  padding:0px;
  }
#simplemodal-container .simplemodal-title hr {
 margin: 0px;
 width:100%;
}
#simplemodal-container .simplemodal-title h1 {
 margin: 2px 0 2px 5px;
}
#simplemodal-container .simplemodal-bottom {
  align: right;
}
#simplemodal-container .simplemodal-bottom button,
#simplemodal-container .simplemodal-bottom input {
  width:130px;
  text-align: center;
}
#simplemodal-container .simplemodal-bottom hr {
 margin: 0px;
 width:100%;
}

#simplemodal-container .simplemodal-bottom p {
 margin: 3px 0px 3px -5px;
 padding:0px;
 width:100%;
}

#simplemodal-container .simplemodal-content {
  padding:6px;
  font-size: 1.1em;
}
#simplemodal-container .simplemodal-content-no-zoom {
  padding:6px;
}
#simplemodal-container code {
  background:#141414; 
  border-left:3px solid #65B43D; 
  color:#bbb; 
  display:block; 
  font-size:12px; 
  margin-bottom:12px; 
  padding:4px 6px 6px;
}
#simplemodal-container a.modalCloseImg {
  background:url("../images/popin/croix.png") no-repeat; 
  width:31px; 
  height:30px; 
  display:inline; 
  z-index:3200; 
  position:absolute; 
  top:-15px; 
  right:-16px; 
  cursor:pointer;
}
#simplemodal-overlay {
    background-color: #777777;
}


/*****************************************
* Popup creation groupe/category
******************************************/

.createContainer {
  height: 300px;
}
.createGroup {
  height: 400px;
}

#openAlert .ui-button-text{
  padding:0px !important;
  // this is because of the button()
}

#openAlert {
   border: none;
   background: none;
   text-decoration: underline;
   color: #999999;
   cursor: pointer;
   width: auto;
}
#openAlert:hover {
   text-decoration: none;
}
#Alerte p {
   font-size: 1.2em;
   font-weight: 800;
   text-align: center;
}
#Alerte a {
   color: #000;
}
#Alerte a:hover {
   text-decoration: none;
}
/*************************
*  plugins         *
**************************/

.pluginpadd{
  padding: 0 10px;
}

/*************************
*   Divers
**************************/

/*
 * Underlined, dotted grey: that text has a tooltip
 */
.tooltip {
  border-bottom:1px dotted grey;
}


#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #555;
  background-color: #eee;
  padding: 5px;
  opacity: 0.85;
  padding: 4px;
}
#tooltip h3, #tooltip div { 
  margin: 0; 
}

/* tooltip styling.  */

.tooltipContent {
  display:none;
  
}

.red {
color: #FF0000 !important;
}

.smallButton {
  width: 35px !important;
}

.autoWidthButton {
  width: auto !important;
}

/* others */

.errorscala{
  border-bottom:1px solid red;
  cursor:pointer;
}
.tree li.filteredNode { 
  display:none; 
}
.deca{
  padding: 10px;
}
.inline{
  display:inline;
}
.iconscala{
  float:left;
  margin-right:5px;
  margin-top:2px;
}

.err{
  padding-left: 50px;
}
.green{
  color:green;
  margin:3px; 
  font-style:italic; 
  font-size: 0.9em;
}
.warnicon{
  float:left;
  margin-right:20px;
}
.erroricon{
  float:left; 
  margin-right:10px;
}
.icon{
  float:left; 
  margin-right:20px;
}
.greenscala{
  color:green
}
.centertext{
  text-align:center;
}
.greyscala{
  color:grey; 
  border-bottom:1px dotted grey;
}
.checkbox{
  float:right;
  margin:0 30px 0 10px;
  height:20px;
}
.nodisplay{
  display:none;
}
.ajaxloader{
  position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:9999;
    overflow: auto; 
    display:none;
}

/**************************************
footer - bas de page
**************************************/

div#footer {
   padding: 5px 5px 5px 30px;
   height: 30px;
   color: #999;
   font-size: 1.3em;
   background: #1f1e1e url(../images/fondBody.jpg) repeat-x top left; 
}
#footer a {
   color: #999;
}

/**************************************
classes annexes
**************************************/

.right {
   float: right;
   margin: 0 0 5px 5px;
}
.center {
   text-align: center;
}
hr.spacer {
   visibility: hidden;
   clear: both;
}

.twoCol {
    float:left;
    width:49%;
    margin-right: 2px;
}

.threeCol {
    float:left;
    width:30%; 
    margin-right: 2px;
}

.smallCol {
   float:left;
   margin-right: 2px;
   width:20%;
}
.largeCol {
   float:left;
   margin-right: 2px;
   width:60%; 
}

.align-radio span {
  display:inline-block;
}

.groupDiv {
   margin-top: 5px;
   margin-bottom: 10px;  
}

/************************************
Portlet content for object details
(for example, details about a Directive 
template, a Directive, etc)
************************************/

.object-details {
    padding:10px;
}

.object-details > * {
    margin:10px;
}

.object-details fieldset {
    padding:10px;
}


/************************************
Descriptions
************************************/

ul.descriptif li {
   padding: 0 12px 5px 5px;
  list-style-type: none;
}

.inform div {
  /*display:inline-block;*/ /* for some reason, it breaks the display in a popup?*/
  vertical-align: middle;
}
.inform div.inform_logo {
  width:64px;
  height:64px;
  background: url(../images/icOK.png) no-repeat;
}

.warn div {
  /*display:inline-block;*/
  vertical-align: middle;
}
.warn div.warn_logo {
  width:64px;
  height:64px;
  background: url(../images/icWarn.png) no-repeat;
}

div.serverDetail {
  font-weight:bold;
  text-align:center;
}


div.tabInform {
  padding:5px;
}


/***********************************
 *Directive display
************************************/

.policyTitle {
  font-size:1.3em;
  font-weight:bold;
  text-align:center;
}

.policyDescription {
   font-weight:bold;
}

#policyDetails {
  margin : 10px;
  padding : 5px;
  border: 1px solid #2d2d2d;
}

.directiveContainer {
  margin : 5px;
}

.directiveTitle {
  font-weight:bold;
}



/***********************************
 *Reports display
************************************/
.evlogviewpad{
  padding:5px;
}
.evloglmargin{
  margin-left:3px;  
}
.reportsList {
  margin : 10px;
  padding : 5px;
}

.reportsTitle {
  font-size:1.3em;
  font-weight:bold;
}

.reportsGroup {
  margin : 10px;
  padding : 5px;
  border: 1px solid #2d2d2d;
}

.reportsNode {
  margin : 10px;
  padding : 5px;
}

.reportsHeader {
   margin: 15px 0;
   padding: 0 10px;
   font-size: 1.1em;
}

.reportDetailsGroup {
   padding: 0 20px;
   border-left:1px dotted;
   border-right:1px dotted;
}
tr.Success {
  background-color:#CCFFCC;
}
tr.Applying {
  background-color:#CCCCCC;
}
tr.Repaired {
  background-color:#CCFA10;
}
tr.Warn {
  background-color:#FF9922;
}

tr.Error {
  background-color:#FF4411;
}

tr.Noanswer {
  background-color:#BBAAAA;
}


/***********************************
 * Quicksearch
************************************/

.quicksearch {
  text-align: center;
}

/***********************************
 * Trees
************************************/
.treefilternodecursor{
  cursor:pointer;
  cursor:hand;
}

.treeGroupName , .treeDirective, .treeTechniqueName, .treeRuleName { 
  font-size:0.95em; 
}

.treeActiveTechniqueName , .treeActiveTechniqueCategoryName , .treeGroupCategoryName {
  font-weight: bold;
}

li.disableTreeNode > a {
  color: grey;
  font-style:italic;
}

.jstree-default.jstree-focused {
    background: none repeat scroll 0 0 #FFFFFF !important;
}





