/*
*************************************************************************************
* Copyright 2011 Normation SAS
*************************************************************************************
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Affero General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU Affero GPL v3, the copyright holders add the following
* Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU Affero GPL v3
* licence, when you create a Related Module, this Related Module is
* not considered as a part of the work and may be distributed under the
* license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Affero General Public License for more details.
*
* You should have received a copy of the GNU Affero General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/agpl.html>.
*
*************************************************************************************
*/
.createitem{
	text-align: right;
}
.newservertable{
	max-height: 300px;
	overflow-y: scroll;
}
.newservercell{
	overflow:scroll; 
	max-height: 100px;
}
.ajaxloader{
	position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:9999;
    overflow: auto; 
    display:none;"
}
.querylinecolor{
	color:#EEEEEE;
}
.cpiefsave{
	float:right;
}
.treefilternodecursor{
	cursor:pointer;
	cursor:hand;
}
.pimversionspad{
	padding:20px;
}
.nserverrmargin{
	margin-right:5px;
}
/*
*/
.logoutbutwidth{
	width:130px;
}
.userinfowidth{
	width:130px;
}
/*
*/
.evlogviewpad{
	padding:5px;
}
.lmargin{
	margin-left:3px;	
}
.actions_zonemargin{
	margin:15px;
}
.checkboxfm{
	float:right;
	margin:0 30px 0 10px;
}
.checkboxh{
	height:20px;
}
.hostnamecurs{
	cursor:pointer;
	text-decoration:underline;
}
.sgridbph{
	border:0; 
	padding:0;
	height:200px;
}
.tablewidth{
	width:100%;
}
.tablepadding{
	padding-left:15px;
	padding-top:5px;
}
.tablemargin{
	margin-top:5px;
}
.inlinenotop{
	display:inline;
	padding-top:0px;
}
.inlineml{
	display:inline;
	margin-left:3px;
}
.greytooltip{
	border-bottom:dotted 1 px grey;
}
.popcurs{
	text-decoration: underline;
	cursor:pointer;
}
.curspoint{
	cursor:pointer;
}
.greyscala{
	color:grey; 
	border-bottom:1px dotted grey;
}
.rmargin{
	float:right; 
	margin:10px;
}
.centertext{
	text-align:center;
}
.pluginpadd{
	padding: 0 10px;
}
.lopaddscala{
	padding:0px
}
.paddscala{
	padding: 0px 0px 0px 15px;
}
.catdelete{
	font-size:0.9em; 
	margin-left: 5px;
}
.margins{
	margin:10px;
}
.spacerscala{
	float:right;
}
.paginatescala{
	float:left;
}
.notify{
	text-align:center;
	margin: 10px;
}
.greenscala{
	color:green
}
.warnicon{
	float:left;
	margin-right:20px;
}
.erroricon{
	float:left; 
	margin-right:10px;
}
.errorscala{
	border-bottom:1px solid red;
	cursor:pointer;
}
.tree li.filteredNode { 
	display:none; 
}
.deca{
	padding: 10px;
}
.inline{
	display:inline;
}
.nodisplay{
	display:none;
}
.iconscala{
	float:left;
	margin-right:5px;
	margin-top:2px;
}
.icon{
	float:left; 
	margin-right:20px;
}
.err{
	padding-left: 50px;
}
.green{
	color:green;
	margin:3px; 
	font-style:italic; 
	font-size: 0.9em;
}
.portlet-header {
   padding: 2px 0 5px 5px;
   font-size: 1.3em;
   font-weight: bold;
   cursor: default;
   background: none;
}
.portlet-header .ui-icon {
   float: right;
   cursor: pointer;
}
div.intro {
   margin: 0;
   padding: 0px;
   width: 100%;
   font-size: 1.1em;
   line-height: 1.5em;
   color: #000;
   background-color: #fff3c9;
   z-index: 1;
}

div.intro div {
  padding: 5px;
}

div.intro div ul {
   padding: 0 0 0 20px;
}

form a {
   color: #f79d10;
}
form h2 {
   padding: 0 10px;
   font-size: 1.2em;
   line-height: 1.5em;
   font-weight: bold;
}
form h3 {
   padding: 0 15px;
   font-size: 1.1em;
   line-height: 1.5em;
   font-weight: bold;
}
form p {
   margin: 15px 0;
   padding: 0 10px;
   font-size: 1.1em;
}
form hr {
   margin: 0 15px;
   width: 95%;
   clear: both;
}
form select {
   width: 130px;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}
form label.champ {
   float: left;
   padding-right: 20px;
   width: 25%;
   text-align: right;
}
form input {
	 width: 130px;
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

form textarea {
	padding: 0.2em;
}

form input.radio {
	width: auto;
	border: 0px;
}

form button {
	 width: 130px;
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

button.ui-state-default {
	 width: 130px;
}

button.largeButton {
	width:250px !important;
}

.popupButton button {
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}
.popupButton input {
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

.bottomButton span button {
   padding: 0.2em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}


form .center input {
   color: #000;
   background-color: #fba511;
   border: 1px solid #ff7200;
}
form span.inputDetail {
   color: #666;
   font-weight: 500;
}
form input.button {
   margin: 10px 0;
   padding: 10px; 
   color: #fff;
   font-weight: bold;
   border: none;
   background: url(../images/fdBtnUpdate.jpg) no-repeat left 50%;
}
form div.entete {
   margin: 10px;
   background-color: #fff3c9;
}
form .entete p {
   float: left;
   margin: 5px;
   padding: 0 5px;
}
form p.search {
   float: right;
}
form input.btnSearch {
   width: 22px;
   height: 20px;
   background: url(../images/icLoupe.jpg) no-repeat;
   border: none;
}


#searchControl { 
	margin-top:10px; 
}
#searchControl span {
	margin-left: 10px;
	margin-right: 10px;
}

form select.selectComparator {
   width: 100px;
}

input.queryInputValue, select.queryInputValue {
	width:115px !important;
	margin: 0px !important;
	padding: 0px !important;
}

input.hasDatepicker {
	width:90px !important;
}

button.ui-datepicker-trigger {
	width: 25px !important;
}

form input.removeLineButton {
   padding: 0em 0.3em;
   width:18px !important;
}

#lift__noticesContainer___notice ul {
  padding: 10px 20px;
}
/**************************************
Tableau
**************************************/
table {
   margin: 10px;
   width: 98%;
   
}
caption {
   display: none;
}
th, tr, td {
   padding: 4px 3px;
   text-align: left;
}
tr.head, tr.foot {
   color: #fff;
   font-weight: bold;
}
tr.foot {
   background: url(../images/tableau/cCentrebas.jpg) bottom left;
}
tr.head {
   background: url(../images/tableau/fdTaboHead.jpg) top left repeat-x;
}
.head th.first {
   padding: 5px 10px;
   background: url(../images/tableau/cGhaut.jpg) no-repeat top left;
}
.head th.last {
   background: url(../images/tableau/cDhaut.jpg) no-repeat top right;
}
.foot td.first {
   padding: 5px 10px;
   background: url(../images/tableau/cGbas.jpg) no-repeat bottom left;
}
.foot td.last {
   background: url(../images/tableau/cDbas.jpg) no-repeat bottom right;
}
th a {
   color: #fff;
   font-weight: bold;
   text-decoration: none;
}
tr.color1 {
   background-color: #eee;
}
tr.color2 {
   background-color: #fff;
}
td {
   border-top: 1px solid #ababab;
}.warning {
   color: #c00;
}
#contenu table td img, #contenu table th img {
   float: none;
   margin: 0;
   padding: 2px 0 0 0;
}
.openDetail {
   border: none;
   background: none;
   text-decoration: underline;
   color: #000;
   cursor: pointer;
}
.openDetail:hover {
   text-decoration: none;
}
div#Detail {
   height: auto;
   min-height: 100%;
   background: url(../images/popin/fdLoginFootG.png) no-repeat left bottom;
   display: block;
   min-height: 107px; 
}
#Detail div {
   padding: 10px;
}

.head th input, .foot td input {
   padding: 0.1em;
   background-color: #f8f8f8;
   border: 1px solid #b4b3a8;
}

.field_errors, .error, .errors {
  color: red;	
}



/**********************
* Custom for DataTable
***********************/
.dataTables_filter {
	margin: 10px;
	text-align: right;
}

.paginate {
	width : 50%;
	align:left;
	height:20px;
}

.paginateBold {
  width : 50%;
  align:left;
  height:20px;
  font-weight:bold;
}

.sorting span,.sorting_asc span,.sorting_desc span   {
  float:right;  
	width:14px;
}
.sorting { cursor: pointer; }
.sorting_asc { cursor: pointer; }
.sorting_desc { cursor: pointer; }

.sorting_asc span:after {
	content:url("../images/tableau/flecheHaut.png");
}

.sorting_desc span:after {
	content:url("../images/tableau/flecheBas.png");
}

/* Pagination nested */
.dataTables_paginate {
  float: right;
  text-align: right;
  padding-left: 5px;
}

.dataTables_info {
  float: right;
  height: 19px;
  padding-top: 3px;
  padding-right: 5px;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: right;

}

.paginate_disabled_previous {
  background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
  background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
  background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
  background-image: url('../images/forward_enabled.jpg');
}


/********************
* Policy display
********************/

.wbBaseField * {
	vertical-align: middle;
}

.policyDisplay {
	font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.policyDisplay * {
	font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.variableDefinition {
  margin: 3px;
  padding:3px;
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.variableDefinition span,
.variableDefinition td,
.variableDefinition input {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  vertical-align: baseline;
}

.variableDefinition sup {
  font-size: 10px;
}

.policyVariables {
	width:75%;
	display:table;
	border-bottom : solid 1px;
}


.policyReports {
	padding:0;
	margin:0;
	width:20%;
	float:right;
}

.policyReports img {
	padding:0;
	margin:0;
}
.policyField {
	width:75%;
}

/* define the group/section table*/
table.policyInstanceSectionDef {

}

table.policyInstanceSectionDisplay {

}

table.policyInstanceGroupDef {

}

table.policyInstanceGroupDisplay {

}

div.policyInstanceGroup {

}

fieldset.sectionFieldset {
  padding: 1px 10px 1px 10px;
}

fieldset.groupFieldset {
  padding: 1px 10px 1px 10px;
}

fieldset.policyTemplateDetailsFieldset {
  margin: 10px;
  padding: 1px 10px 1px 10px;
}



/* add / remove group */
div.policyInstanceDeleteGroup {
  float:right;
  margin: -20px 0 0 0;
}

div.policyInstanceAddGroup {
  float:right;
	margin: -20px 0 0 0;
}


td.policyInstanceVarLabel {
  width:30%;
  margin-right:2px;
  text-align: right;
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  vertical-align: middle;
}

td.policyInstanceVarLabel span {
  font-size: 12px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

td.policyInstanceVarValue  {
  width:50%;
  margin-right:2px;
}

.textareaField {
	width: 300px;
	height: 300px;
}

/**********************************
 * Temporal information
 *********************************/

.executionPlanning div.planningDetail {
  margin: 3px;
  padding:3px;
}
.executionPlanningTitle {
	font-size: 1.1em;
	font-weight: bold;
}

form .executionPlanningTitle {
padding:0 20px;
}


#weeklyPeriod {
  padding:0 20px;
}

.variableDefinition td {
   border-top: 0px;
}


/*
.variableDefinitionTitle {
  font-size: 1.1em;
  font-weight: bold;
  padding:0 20px;
}
*/

/*********************************
* Search servers
*********************************/
table.searchServers {
	width: 545px;
	margin:0 0 0 5px;
}

table.searchServers tbody td.first {
	border-left: solid 1px #ABABAB;
}

table.searchServers tbody td.last {
	border-right: solid 1px #ABABAB;
}

fieldset.searchServers {
	padding:5px;
	margin:5px;
  width: 555px;
  clear: both;
}

fieldset.searchServersAction {
	padding:5px;
	margin:5px;
  width: 530px;
  clear: both;
}


fieldset.groupCategoryUpdateComponent {
	padding:5px;
	margin:5px;
  width: 580px;
  
}
fieldset.groupUpdateComponent {
	padding:5px;
	margin:5px;
  width: 580px; 
}

tr.query_line, .query_line td {
	padding: 4px 1px;
	text-align: center;
}

.composition {
  text-align:center;
  padding: 10px 0 0; 
}

.composition span {
	display: inline-block;
	vertical-align: middle;
}

.compositionRadio {
	display: table-row-group !important;
  text-align:left;
}


table#serverGrid {
  width: 545px;
  
}

table#serverGrid tbody td {
  border-left: solid 1px #ABABAB;
  border-bottom: solid 1px #ABABAB;
  border-top: 0px;
}

#serverGrid_wrapper {
	width: 545px;
  margin:0 0 0 5px;
}

#serverGrid_wrapper table {
	margin:0px;
}


.desactivatedGrid {
	color: #AAAAAA;
}

.dataTables_scrollHeadInner table {
	margin:0px;
}

.dataTables_scrollHeadInner {
	background:url("../images/tableau/fdTaboHead.jpg") repeat-x scroll left top transparent;
}

.dataTables_scrollBody table {
	margin:0px;
}

.serverGrid_pagination {
	width: 545px;
  margin:10px 0 0 5px;
}

#serverGrid_paginate_area {
	float:left;
}
div.dataTables_scroll { clear: both; }

#serverGrid_info_area {
	margin:0 0 0 5px;
}

#serverGrid_info_area div {
	display:inline-block;
}

#serverGrid_tooManyResult {
	width: 543px;
  margin:0 0 0 10px;
  border: solid 1px #ABABAB;
}


.paginate_button {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
}

.paginate_button_disabled {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
}

.paginate_active {
  border: 1px solid #d3d3d3;
  padding: 2px 6px;
  margin: 0;
  color: #333333;
  font-weight: bold;
}


/************************
 * Search groups
 ************************/

fieldset.hierarchy {
  width:300px;
  margin:5px;
  padding:5px;
  /*float: left;*/
  display: inline-block; 
  vertical-align: top;
}

#ajaxItemContainer {
	display: inline-block; 
}

fieldset.groupCategory {
  width:600px;
  margin:5px;
  padding:5px;
  float: left;
  
}

.nodeGroupSubmitSearch {
   width:543px;
   border-left: 1px solid #ABABAB;
   border-right: 1px solid #ABABAB;
   margin: 0 0 0 5px;
   padding: 5px 0 5px 0;
}


fieldset.crEditHierarchy {
  width:45%;
  margin:5px;
  padding:5px;
  display: inline-block;
  vertical-align: top;
}

div.hierarchySpacer {
  width:5%;
  display: inline-block;
}
