policy_module(rudder-relay, 1.1.0)

require {
        # To allow apache to write logs in /var/log/rudder
        type httpd_log_t;
        # To allow apache to write reports and inventories
        type public_content_rw_t;
        type proc_t;
        type sudo_exec_t;
        type unconfined_t;
}

########################################
#
# Declarations
#

## <desc>
##  <p>
##      Allow remote run command execution
##      </p>
## </desc>
gen_tunable(rudder_relayd_enable_remote_run, true)

type rudder_relayd_t;
type rudder_relayd_exec_t;
init_daemon_domain(rudder_relayd_t, rudder_relayd_exec_t)

type rudder_relayd_etc_t;
files_config_file(rudder_relayd_etc_t)

type rudder_relayd_var_lib_t;
files_config_file(rudder_relayd_var_lib_t)

########################################
#
# Local policy
#

# Network

sysnet_dns_name_resolve(rudder_relayd_t)
corenet_tcp_connect_http_port(rudder_relayd_t)
corenet_tcp_connect_postgresql_port(rudder_relayd_t)
allow rudder_relayd_t self:tcp_socket { accept listen };
allow rudder_relayd_t http_port_t:tcp_socket { accept listen name_bind };
allow rudder_relayd_t node_t:tcp_socket node_bind;

# Command for remote-run

tunable_policy(`rudder_relayd_enable_remote_run',`
    # https://danwalsh.livejournal.com/57276.html
    domain_auto_trans(rudder_relayd_t, sudo_exec_t, unconfined_t)
')

# Files

allow rudder_relayd_t proc_t:file { open read getattr };

# Allow access to files shared with apache httpd (reports and inventories)
miscfiles_manage_public_files(rudder_relayd_t)

read_files_pattern(rudder_relayd_t, rudder_relayd_var_lib_t, rudder_relayd_var_lib_t)
read_files_pattern(rudder_relayd_t, rudder_relayd_etc_t, rudder_relayd_etc_t)
