# Source file for rudder-webapp.pp
# # Generate rudder-webapp.pp by running:
# #  make -f /usr/share/selinux/devel/Makefile

module rudder-relay 1.0;

require {
        type httpd_log_t;
        type httpd_sys_rw_content_t;
        type httpd_sys_content_t;
}

