# This file is in TOML format

# Each tims can be represented in human format documented here https://docs.rs/humantime/latest/humantime/
# example : "15days 2min 2s"

# each section is a scheduled command
[agent_run]
# Command is run directly on linux, through powershell on windows (mandatory)
command = "rudder agent run"
# How long between 2 command run (default 5mn)
period = "5m"
# How long to wait after the period start before running the command (default 0s)
interval_begin = "1mn"
# How long after the period start the command must have been run (default <period>)
interval_end = "3mn"
# How long to wait before killing the command (default 1 hour)
max_execution_duration = "1 day"
# Maximum concurrent command execution (default 1)
max_concurrent_executions = 2

