my other var is {{ vars.init.test_variable }}

I can iterate over:

{% for item in vars.init.my_list %}
display {{ item }}
{% endfor %}

{% if classes.my_global_class is defined  %}
display this
{% endif %}
{% if classes.does_not_exists is defined  %}
do not display this
{% endif -%}
