<lift:surround with="common-layout" at="content">

<head>
  <title>Rudder - Directives Management</title>
  <link media="screen" data-lift="with-cached-resource" href="/style/rudder/rudder-directives.css" rel="stylesheet" type="text/css">
  <link media="screen" data-lift="with-cached-resource" href="/style/rudder/rudder-tags.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/tree-tag-plugin.js"></script>
  <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/angular/filters.js"></script>
  <script type="text/javascript" data-lift="with-cached-resource" src="/javascript/rudder/directive.js"></script>
</head>

<div data-lift="configuration.DirectiveManagement.head"></div>

<div class="rudder-template">

  <div class="template-sidebar sidebar-left">

    <div class="sidebar-header">
      <div class="header-title">
        <h1>Directives</h1>
        <div class="header-buttons">
          <a id="newItem" href="/secure/configurationManager/techniqueEditor" class="btn btn-default pull-right">Edit techniques</a>
        </div>
      </div>

      <div id="directiveFilter" ng-controller="filterTagCtrl" ng-cloak>
        <div class="header-filter">
          <div class="input-group search-addon main-filter">
            <div class="input-group-btn">
              <button type="button" class="btn btn-sm btn-default" aria-label="Bold" onclick="toggleTree('#activeTechniquesTree', this);">
                <span class="fa fa-folder fa-folder-open"></span>
              </button>
            </div>
            <input class="form-control input-sm" placeholder="Filter" id="treeSearch" ng-model="searchStr" ng-keydown="refuseEnter($event)" ng-keyup="searchTree('#activeTechniquesTree')">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default btn-sm" aria-label="Bold" ng-click="clearSearchFieldTree('#activeTechniquesTree');" >
                <span class="fa fa-times"></span>
              </button>
            </div>
          </div>
          <button class="btn btn-default more-filters" onclick="$('.filters-container').toggleClass('hidden');"></button>
        </div>

        <div class="filters-container">
          <form class="filterTag">
            <div id="form-tag">
              <div class="form-group">
                <label>Tags</label>
                <div class="input-group">
                  <div id="directiveFilterKeyInput" angucomplete-alt="" placeholder="key" minlength="1" maxlength="100"
                   pause="500" selected-object="selectTag" remote-url="{{contextPath}}/secure/api/completion/tags/directive/key/"
                   remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-key"
                   match-class="highlight" input-changed="updateTag" override-suggestions="true">
                  </div>
                  <span class="input-group-addon addon-json">=</span>
                  <div id="directiveFilterValueInput" angucomplete-alt="" placeholder="value" minlength="1" maxlength="100"
                   pause="500" selected-object="selectValue" remote-url="{{contextPath}}/secure/api/completion/tags/directive/value/{{newTag.key}}/"
                   remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-value" match-class="highlight"
                   input-changed="updateValue" override-suggestions="true">
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-success btn-sm" ng-disabled="isEmptyOrBlank(newTag.key) && isEmptyOrBlank(newTag.value)" ng-click="addTag(newTag)"><span class="fa fa-plus"></span></button>
                  </span>
                </div>
              </div>
              <div class="only-tags">
                <button class="btn btn-default btn-xs pull-right clear-tags" ng-click="clearAllTags()" ng-hide="tags.length==0">
                  Clear all tags
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="tags-container" ng-show="tags.length>0">
              <div class="btn-group btn-group-xs" role="group"  ng-repeat="tag in tags track by $index">
                <button class="btn btn-default tags-label" ng-class="{'onlyKey':only.key, 'onlyValue':only.value, 'already-exist':tag.alreadyExist}" ng-click="modifyTag(tag, 'directiveFilterKeyInput', 'directiveFilterValueInput')" >
                  <i class="fa fa-tag"></i>
                  <span class="tag-key">
                    <span ng-show="tag.key!=''">{{tag.key}}</span>
                    <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.key==''"></i>
                  </span>
                  <span class="tag-separator">=</span>
                  <span class="tag-value">
                    <span ng-show="tag.value!=''">{{tag.value}}</span>
                    <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.value==''"></i>
                  </span>
                </button>
                <button type="button" class="btn btn-default" ng-click="removeTag($index)">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="sidebar-body">
      <div id="activeTechniquesTree_alert" style="display:none">
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i>
          No directives match your filter.
        </div>
      </div>
      <div data-lift="configuration.DirectiveManagement.userLibrary" ></div>
    </div>
  </div>

  <div class="template-main">
    <div class="main-container">
      <div data-lift="configuration.DirectiveManagement.techniqueDetails" class="fit-height">
        <div id="techniqueDetails" ng-app="techniqueDetails">
          <div class="main-header">
            <div class="header-title">
              <h1>
                <i class="title-icon fa fa-cog"></i>
                <span id="info-title">Technique <b id="techniqueName"></b></span>
              </h1>
            </div>
          </div>
          <div class="main-navbar">
            <ul class="ui-tabs-nav"></ul>
          </div>
          <div class="main-details" id="details">
            <div id="directiveIntro">
              The Directive <b class="directive">[Directive]</b> is based on following Technique:
            </div>
            <div ng-non-bindable id="isDisabled">[Disabled Technique]</div>
            <div>
              <h4 style="margin-top:0;">Technique ID</h4>
              <span ng-non-bindable id="techniqueID">[technique.techniqueName]</span>
            </div>
            <div>
              <h4>Description</h4>
              <span ng-non-bindable id="techniqueDescription">[technique.description]</span>
            </div>
            <div class="groupDiv">
              <h4>Characteristics</h4>
              <ul>
                <li ng-non-bindable id="techniqueLongDescription">[technique.longDescription]</li>
                <li ng-non-bindable id="isSingle">[Unique Technique]</li>
              </ul>
            </div>
            <div id="techniqueVersion" ng-controller="techniqueVersion">
              <h4>Available versions</h4>
              <lift:authz role="directive_write">
                <style>
                      #versionTable > thead > tr > th:last-child,
                      #versionTable > tbody > tr > td:last-child{
                        display: table-cell !important;
                      }
                    </style>
              </lift:authz>
              <table id="versionTable">
                <thead>
                <tr>
                  <th colspan="2">Version</th>
                  <th>Instances</th>
                  <th colspan="2">Agent type</th>
                  <th>Last updated on</th>
                  <th>Use this version</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="technique in techniques" ng-hide="display(technique)">
                  <td>
                    {{technique.version}}
                  </td>
                  <td>
                    <span ng-if="technique.isDeprecated" class="glyphicon glyphicon-info-sign text-danger deprecatedTechniqueIcon bsTooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="Deprecated: {{technique.deprecationMessage}}"></span>
                  </td>
                  <td>
                    {{technique.multiVersionSupport}}<span class="fa fa-question-circle bsTooltip multiversion-icon" data-toggle="tooltip" data-placement="top" data-html="true" title="{{technique.mvsMessage}}"></span>
                  </td>
                  <td>
                    <span ng-if="technique.classicSupport" class="fa fa-gear bsTooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="This Technique version is compatible with the <b>classic</b> agent."></span>
                  </td>
                  <td>
                    <span ng-if="technique.dscSupport" class="dsc-icon bsTooltip" data-toggle="tooltip" data-placement="top" data-html="true" title="This Technique version is compatible with the <b class='dsc'>DSC</b> agent."></span>
                  </td>
                  <td>
                    {{technique.acceptationDate}}
                  </td>
                  <td>
                    <button type="button" ng-click="technique.action()" class="btn btn-success new-icon btn-xs">Create Directive</button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="checkbox-group">
                <input id="displayDeprecation" type="checkbox" ng-model="displayDeprecated"/>
                <label for="displayDeprecation">Display deprecated Technique versions</label>
              </div>
              <lift:authz role="directive_write">
                <div class="space-top">
                  <button type="button" id="addButton" ng-click="techniques[techniques.length-1].action()" class="btn btn-success new-icon">Create with latest version</button>
                </div>
              </lift:authz>
            </div>
          </div>
        </div>
      </div>

      <div data-lift="configuration.DirectiveManagement.showDirectiveDetails" class="fit-height"></div>

    </div>
  </div>
</div>

</lift:surround>