<lift:surround with="common-layout" at="content">
  <div  >
    <head>
      <title>Rudder - Technique Editor</title>
      <link type="text/css" rel="stylesheet" data-lift="with-cached-resource" href="/style/rudder/rudder-technique-editor.css"/>
      <script data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-editor.js"></script>
      <script data-lift="with-cached-resource" src="/javascript/rudder/angular/fileManager-editor.js"></script>

    </head>

    <div id="filemanager-editor" ng-controller="filemanager-editor">
      <div ng-if="fileManagerState.open" ng-class="{ 'filemanager-container' : fileManagerState.open }" ng-click="closeWindow($event,false)">
        <angular-filemanager></angular-filemanager>
      </div>
    </div>
    <div id="technique-editor">
      <script>
        var hasWriteRights = false;
      </script>

      <lift:authz role="technique_write">
        <script>
        var hasWriteRights = true;
      </script>
      </lift:authz>
      <script>

$(document).ready(function(){
  var main = document.getElementById("technique-editor")
  var initValues = {
    contextPath : contextPath
  , hasWriteRights : hasWriteRights
  };
  var app  = Elm.Editor.init({node: main, flags: initValues});
  app.ports.copy.subscribe(function(value) {
     navigator.clipboard.writeText(value).then(function(){  console.log('Async: Copying to clipboard was successful!');}, function() {})()
  });

  angular.bootstrap('#filemanager-editor', ['filemanager-editor']);
  var scope = angular.element($("#filemanager-editor")).scope();
  var port = app.ports.response

  scope.$apply(function(){
    scope.init(app.ports.updateResources);
  });

  app.ports.openManager.subscribe(function(url) {

    scope.$apply(function(){
      scope.updateFileManagerConf(url);
    });
  });



  app.ports.store.subscribe(function(kv) {
    console.log(kv);
    var key = kv[0];
    var json = kv[1];
    localStorage.setItem(key, JSON.stringify(json));
  });
  app.ports.clear.subscribe(function(key) {
    localStorage.setItem(key, null);
  });

  app.ports.get.subscribe(function() {
    var current = undefined;
    var origin = null;
    var id = undefined;
    try {
      current = JSON.parse(localStorage.getItem("currentTechnique"))
      origin = JSON.parse(localStorage.getItem("originTechnique"))
      id = localStorage.getItem("internalId")
    } catch (e) {}
    port.send([current,origin, ""])

  });

  console.log(app)
  console.log(app.ports)
  app.ports.successNotification.subscribe(function(str) {
    createSuccessNotification(str)
  });
  app.ports.errorNotification.subscribe(function(str) {
    createErrorNotification(str)
  });
  app.ports.infoNotification.subscribe(function(str) {
    createInfoNotification(str)
  });
  app.ports.warnNotification.subscribe(function(str) {
    createWarningNotification(str)
  });
    $(document).on('mouseover','.popover-bs',function(){
      $(this).bsPopover('show');
    });
    $('.tooltip-bs').bsTooltip();
    });
</script>
    </div>
  </div>
</lift:surround>