.rudder-text-warning{
  color:#E07702;
}

.navbar-inverse {
  background-color: #f08004;
  border-bottom:none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
  cursor:default;
}
.navbar-inverse a.navbar-brand{
  width: 230px;
  text-align: center;
  background-color: #e07a07;
  outline: none !important;
  font-size: 24px;
  color: #fff;
}
.navbar-inverse a.navbar-brand:focus,.navbar-inverse a.navbar-brand:active{
  background-color: #e07a07;
}
.navbar-inverse a.navbar-brand:hover{
  background-color: #FF8702;
}
@media screen and (max-width: 768px) {
  .navbar-inverse a.navbar-brand{
    width: 100%;
  }
}
.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

hr {
  margin-bottom : -10px;
  border-width : 2px 0 0;
}
.modal.fade{
  overflow:hidden !important;
}
.modal-content{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.modal-header{
  background-color: #f08004;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}
.modal-body .alert{
  margin: 10px 0 -10px 0;
}

.btn-ncf {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
    border-color: #B86200;
    color: #eeeeee;
}

.btn-ncf:hover, .btn-ncf:focus, .btn-ncf:active, .btn-ncf.active, .open .dropdown-toggle.btn-ncf {
    background-image: linear-gradient(#EF9552, #DE6A19 50%, #A84719);
    border-color: #A84719;  
    color: #eeeeee;   
}

.btn.new-icon:after{
  content: "\e081";
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-rendering: auto;
  margin-left: 7px;
}
.btn.btn-success{
  background-color: #9bc832;
  border-color: #8fb92a;
}
.btn.btn-success:hover, .btn.btn-success:focus:hover {
  background-color: #85b711;
  border-color: #79a90a;
}
.btn.btn-success.btn-outline{
  background-color: #fff !important;
  color: #8fb92a !important;
  border-color: #8fb92a !important;
}
.btn.btn-success.btn-outline:hover{
  background-color: #8fb92a !important;
  color: #fff !important;
  transition-property: background-color, color;
  transition-duration: .2s;
}

.dropdown-menu {
    border:0;
    padding:0;
}

.dropdown-menu > li > a {
    font-size: 10px;
    text-decoration: none;
}

.panel-ncf {
    border-color: #B86200;
}
.panel-ncf > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #B86200;
}

.panel-ncf > .panel-heading {
    background-color: #FFA033;
    border-color: #FFA033;
    color: #eeeeee;
}

.panel-ncf > .panel-body {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
}

.panel-body {    
    padding: 15px 0 0 0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.right-panel {
  padding-left: 0;
  padding-right: 30px;
}

.panel-body > .form-group:first-of-type {
    margin-top: 15px;
}

.right-panel .panel-title {
    font-size: 13px;
}

.panel-heading{
    padding: 8px 10px;
}

.icon-margin {
    margin: 0 5px;
}
.method-settings .icon-margin {
    margin: 0 3px;
}
.method-actions {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #555;
  top: 1px;
}
.method-actions.disabled {
  cursor: not-allowed;
  opacity: .3;
}
.method-actions:hover{
  color:#333;
}
.method-actions:hover .icon-delete{
  color:#c80003;
}
.icon-delete {
  color : #da635d;
}
.method-margin {
    margin-top:4px;
    margin-bottom:0px;
}
.panel-margin-top {
    margin-top: 10px;
}

*
{
    margin: 0;
    padding: 0;
}

html, body, .Override.container{
    height: 100%;
}


.Override.container {
    width: 100%;
    margin: -72px 0 0 0;
    padding: 52px 0 0 0;
}

.Override.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.Override .fill
{
    position: relative;
}
    .Override .fill:after
    {
        content: '';
        display: block;
        clear: left;
    }

.Override .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.Override .ncf_col2
{
    position: static;
    overflow: auto;
}


.title {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 25px;
    text-transform: uppercase;
}

.table-ncf {
    font-size: 14px;
}

.table-ncf > tbody > tr > td {
  word-break: break-all;
}
.table-ncf > tbody > tr:hover > td {
    background-color: #E8E8E8;
}
.table-ncf .input-group .form-control{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  white-space: initial;
}
textarea.form-control {
  resize:none;
  min-height:34px;
  background: url('textarea-expand.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 15px;
}
.input-xs {
    border-radius: 3px;
    font-size: 13px;
    height: 20px;
    line-height: 1.5;
    padding: 0 10px;
}

#methodBlock{
  vertical-align:top;
  padding-left:0px;
}
#methodBlock > div:first-child{
  padding-left:15px;
  margin-bottom:95px;
}
.fixed-footer {
  text-align: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  padding-top: 0;
  border-right:0;
  padding-bottom: 0;
}
.container > .fixed-footer{
  z-index:50;
  padding: 10px 15px;
}
@media screen and (max-width: 992px) {
  #methodBlock{
    position: static;
    float: left;
    width: 100%;
    margin-bottom: 60px;
  }
  #methodBlock > div:first-child{
    margin-bottom: 0;
  }
  #methodBlock .fixed-footer {
    position: relative;
    padding-right: 0;
    z-index:10;
  }
  .container > .fixed-footer{
    border-top: 1px solid #ccc;
  }
}
.right-margin {
    margin-right: 10px;
}

.top-margin {
    margin-top: -5px;
}

.btn-delete:hover, .btn-delete:active, .btn-delete:focus{
    color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630)
}

.ng-invalid.ng-dirty {
    border-color: #b33630;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#os-form form.form-inline div:first-child {
    width: 200px;
}

#os-form form.form-inline {
    margin: 5px 10px;
}

#editform-container {
  margin-bottom: 58px;
}
.condition-form {
    margin: 15px 10px;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 68px;
    margin-top:5px;
}

#methods .dndDraggingSource {
  display: none;
}

.btn.btn-method {
  padding: 0;
  overflow:hidden;
  text-align: left;
  white-space: normal;
}
.btn.btn-method.disabled {
  pointer-events: visible;
  cursor: not-allowed !important;
}
.btn.btn-method.disabled .cursorMove{
  pointer-events: visible;
  cursor: not-allowed !important;
}
ul[dnd-list] {
  min-height: 70px;
  padding: 15px 0 40px 0;
  margin-top: -20px;
  padding-left: 0px;
}

.cursorMove {
  cursor:move
}

#no-methods {
  z-index: -1;
  position:absolute;
  border-style : dashed;
  white-space: normal;
}

.jumbotron {
  background-color : #fff;
  padding-bottom: 10px;
}

.panel-heading .ng-invalid {
  box-shadow:none;
}

.btn-method .input-group-addon {
  padding: 6px 8px;
}

.btn-method .input-group-addon:first-child {
  border:0;
  color: #888;
}

.method-param {
  font-size: 16px;
  margin: 0;
  word-break: break-word;
}

.method-settings{
    position: absolute;
    right: 10px;
}
.editForm .form-control[readonly]{
  cursor: text;
  box-shadow: none !important;
}

input.form-control.ng-invalid.ng-dirty:focus{
    border-color: #b33630;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(179, 54, 48, 0.38);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(179, 54, 48, 0.38);
}
#technique-name{
  position: relative;
  padding-right: 150px;
}
#technique-name .btn-technique{
  position: absolute;
  right: 0;
  bottom: 0;
}
/* --- IFRAME --- */
body.iframe .navbar-inverse.navbar-static-top {
    display: none;
}

body.iframe .jumbotron h1{
    padding-bottom: 5px;
    border-bottom: 2px solid #f08004;
}
body.iframe .Override.container {
    margin: 0;
    padding: 0;
}

.sm-space-top{
    margin-top: 10px !important;
}
.generic-methods, #categories-list{
    padding-bottom: 55px;
}
#categories{
  padding-left: 5px;
}
#categories-list li a{
  padding-left: 5px;
}
@media screen and (min-width: 992px) {
    .container > .ncf_col{
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .generic-methods, #categories-list{
        padding-bottom: 20px;
    }
    #categories-list{
        margin-top: 38px;
    }
}
.ncf_col.no-padding{
  padding: 0;
}
#categories-list{
    overflow-x: hidden;
    overflow-y: auto;
}
#categories-list.fixed{
    position: fixed;
    top:0;
    right: 15px;
}
#categories-list.fixed li{
    padding-right: 20px;
}
#categories-list.fixed li a{
  padding: 10px;
}
@media screen and (max-width: 992px) {
    #categories-list{
        position:static;
        margin-top: 38px;
        max-height: 100vh;
    }
    #categories-list.fixed{
        margin-top: 0;
    }
}

i.glyphicon.glyphicon-circle-arrow-down.icon-margin.method-actions.ng-hide,i.glyphicon.glyphicon-circle-arrow-up.icon-margin.method-actions.ng-hide {
  display: inline-block !important;
  visibility: hidden;
}
span.saving{
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  font-size: 14px;
  -webkit-animation: saving 2s linear infinite;
  -moz-animation: saving 2s linear infinite;
  -ms-animation: saving 2s linear infinite;
  -o-animation: saving 2s linear infinite;
  animation: saving 2s linear infinite;
}
button.btn-save{
  position: relative;
}
button.btn-save.saving{
  padding-left: 30px;
}
button.btn-save.saving span.saving{
  display: inline-block;
}
.requiredParameters{
  color: #f08004;
  font-size: 14px;
  line-height: 22px;
}
.requiredParameters > .glyphicon{
  top:2px;
}
.btn.btn-save[disabled]{
  cursor: not-allowed;
}
span.text-fit {
  font-weight: normal;
}

.generic-methods .panel-title{
  position: relative;
}
#filterTitle{
  padding: 0;
}
#filterTitle > h4 > a{
  padding: 5px 8px;
  display: block;
  text-decoration: none !important;
}
#filterTitle > h4 > a > .glyphicon{
  font-size: 12px;
  position: relative;
  top: 3px;
  transition-duration: .4s;
}
#filterTitle > h4 > a.collapsed > .glyphicon{
  transform: rotate(-90deg);
}
#collapseFilters > .panel-body{
  padding: 8px;
}
#collapseFilters > .panel-body > .input-group > label{
  cursor: pointer;
}
.dsc-icon,.classic-icon{
  float: right;
  position: relative;
  right: 0;
  display: inline-block;
}
.classic-icon{
  top: 2px;
  color: #999;
}
#methods .btn-method .method-name{
  position: relative;
  padding-right: 25px;
}
.dsc-icon,.classic-icon{
  margin-left: 5px;
}
#methods .btn-method .classic-icon{
  top: 1px;
}
.dsc-icon{
  background-image: url("dsc-icon.svg");
  top: -3px;
  height: 23px;
  width: 16px;
}
.btn.dsc-filter{
  padding-right: 32px;
  color: #440e62;
}
.btn.classic-filter{
  padding-right: 27px;
  color: #555;
}
.btn.classic-filter .classic-icon{
  right: 6px;
  top: 9px;
  position: absolute;
}
.btn.dsc-filter .dsc-icon{
  right: 10px;
  top: 4px;
  position: absolute;
}
.btn.dsc-filter.active{
  background-color: #440e62;
  color: #fff;
  border-color: #290041;
}
.btn.dsc-filter.active .dsc-icon{
  background-image: url("dsc-icon-white.svg");
}
.title + h3 .dsc-icon{
  position: relative;
  top: 2px;
  margin-left: 10px;
}
.title + h3 .classic-icon{
  position: relative;
  top: 1px;
  margin-left: 10px;
  font-size: 16px;
}
.btn-group-alert {
  margin-top: 10px;
}
.btn-group-alert > .btn:first-child {
  margin-right: 8px;
}

.ng-toast.ng-toast--right .ng-toast__message {
  text-align: left;
}

/* DEPRECATED METHODS */
li.deprecated{
  display: none;
}
li.deprecated.used, li.deprecated.show {
  display: block;
}

/* CUSTOM CHECKBOX */
.rudder-form  input[type=checkbox] + .label-radio{
  border-radius: 3px;
}
.rudder-form input[type=radio] + .label-radio,.rudder-form  input[type=checkbox] + .label-radio{
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 2px solid rgb(198, 200, 201);
  text-align: center;
  line-height: 34px;
  position: relative;
  top: 5px;
  margin-bottom:0;
  background-color: #fff;
}
.rudder-form input[type=radio] + .label-radio{
  border-radius: 50%;
}
.rudder-form  input[type=radio] + .label-radio + .text-radio,.rudder-form  input[type=checkbox] + .label-radio + .text-radio{
  -webkit-animation: text-radio-off .2s ease-in forwards;
  -moz-animation: text-radio-off .2s ease-in forwards;
  -o-animation: text-radio-off .2s ease-in forwards;
  animation: text-radio-off .2s ease-in forwards;
}
.rudder-form  input[type=radio]:checked + .label-radio + .text-radio,.rudder-form  input[type=checkbox]:checked + .label-radio + .text-radio{
  -webkit-animation: text-radio-on .2s ease-in forwards;
  -moz-animation: text-radio-on .2s ease-in forwards;
  -o-animation: text-radio-on .2s ease-in forwards;
  animation: text-radio-on .2s ease-in forwards;
}
.rudder-form  input[type=radio] + .label-radio span,.rudder-form  input[type=checkbox] + .label-radio span{
  font-size: 9px;
  top: -12.5px;
  left: 0.1px;
  position: relative;
  visibility:hidden;
  animation: opacity-0 .2s linear forwards;
}
.rudder-form  input[type=radio]:checked + .label-radio span,.rudder-form  input[type=checkbox]:checked + .label-radio span{
  visibility:visible;
  animation: opacity-1 .2s linear forwards;
}
.rudder-form .text-radio{
  position: relative;
  top: -6px;
  margin-left: 8px;
}
.rudder-form input[type=radio],.rudder-form input[type=checkbox]{
  display: none;
}
.rudder-form input[type=radio]:disabled + .label-radio,.rudder-form input[type=checkbox]:disabled + .label-radio{
  background-color: rgb(236,236,236);
}
.rudder-form  input[type=radio]:disabled + .label-radio span,.rudder-form  input[type=checkbox]:disabled + .label-radio span{
  color:#898989;
}
.rudder-form input[type=radio]:checked:disabled + .label-radio + .text-radio, .rudder-form input[type=checkbox]:checked:disabled + .label-radio + .text-radio,.rudder-form input[type=radio]:disabled + .label-radio + .text-radio, .rudder-form input[type=checkbox]:disabled + .label-radio + .text-radio{
  color: #B7B4B4;
  -webkit-animation:none;
  -moz-animation:none;
  -o-animation:none;
  animation:none;
}
ul.list-sm{
  list-style-type: none;
}
ul.list-sm .rudder-form  input[type=checkbox] + .label-radio + .check-icon{
  font-size:12px;
}
ul > li.rudder-form:first-child > .input-group label.form-control,ul > li.rudder-form:first-child > .input-group .input-group-addon{
  border-top:1px solid #d0d0d0;
}
#denyBadClocksForm ul > li:first-child > .input-group .input-group-addon,ul > li.rudder-form:first-child > .input-group .input-group-addon{
  border-top-left-radius:4px;
}
#denyBadClocksForm ul > li:last-child > .input-group .input-group-addon,ul > li.rudder-form:last-child > .input-group .input-group-addon{
  border-bottom-left-radius:4px;
}
ul > li.rudder-form:first-child > .input-group label.form-control{
  border-top-right-radius:4px;
}
ul > li.rudder-form label{
  cursor:pointer;
}
ul > li.rudder-form > .input-group label.form-control{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  font-weight: 500;
  color: #555;
  font-size: 14px;
}
ul.list-sm > li.rudder-form > .input-group label.form-control{
  height: auto;
  min-height: 34px;
  font-size: 14px;
}
ul > li.rudder-form > .input-group .input-group-addon{
  padding: 3px 11px;
  background-color: #f4f4f4;
}
ul.list-sm > li.rudder-form > .input-group .input-group-addon{
  padding: 0 11px;
}
ul > li.rudder-form > .input-group label.form-control .glyphicon.info{
  top:3px;
}
ul > li.rudder-form:last-child > .input-group label.form-control{
  border-bottom-right-radius:4px;
  padding-top: 6px;
}
ul > li.rudder-form > .input-group label.form-control,ul > li.rudder-form > .input-group .input-group-addon{
  border-top:none;
}
ul > li.rudder-form > .input-group label.form-control{
  padding-right: 40px;
}
ul > li.rudder-form > .input-group.disabled label.form-control,ul > li.rudder-form > .input-group.disabled .input-group-addon{
  background-color: #eeeeee;
  cursor:no-drop;
}
ul > li.rudder-form > .input-group.disabled *{
  cursor:no-drop;
}
.rudder-form  input[type=checkbox] + .label-radio + .check-icon,.rudder-form  input[type=radio] + .label-radio + .check-icon{
  position: absolute;
  top: calc(50% - 7px);
  right: 15px;
  color: #222d32;
  z-index: 10;
  visibility:hidden;
  animation: opacity-0 .1s linear forwards;
}
.list-sm .rudder-form  input[type=checkbox] + .label-radio + .check-icon,.rudder-form  input[type=radio] + .label-radio + .check-icon{
  top: 11px;
}
.rudder-form .disabled input[type=checkbox] + .label-radio + .check-icon,.rudder-form  .disabled input[type=radio] + .label-radio + .check-icon{
  color: #7d7d7d;
}
.rudder-form  input[type=checkbox]:checked + .label-radio + .check-icon,.rudder-form  input[type=radio]:checked + .label-radio + .check-icon{
  visibility:visible;
  animation: opacity-1 .1s linear forwards;
}

.deprecated-icon{
  color:#f08004;
  top: -6px;
  left: -2px;
  font-size: 0.6em !important;
  cursor: help;
}
.cursor-help{
  cursor: help;
}

label.form-control .deprecated-icon{
  cursor: inherit;
}
.popover-content b{
  color: #f08004;
}
#methodBlock h3 > .deprecated-icon{
  left: -4px;
  top: -8px;
}

input.form-control,textarea.form-control,div.parameter{
  white-space: pre-wrap;
  word-break: normal;
  font-family: monospace, Menlo, Monaco, Consolas, "Courier New";
}
.pull-left.method-param{
    width: 100%;
}
div.parameter{
  max-height: 80px;
  overflow: auto;
}

@-webkit-keyframes saving {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes saving {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes opacity-1 {
  0%   {opacity:0;visibility: visible;}
  100% {opacity:1;visibility: visible;}
}
@keyframes opacity-0 {
  0%   {opacity:1;visibility: visible;}
  99%  {opacity:0;visibility: visible;}
  100% {opacity:0;visibility: hidden;}
}
@-webkit-keyframes text-radio-on {
  0%   {color: #646464;}
  100% {color: #222D32;}
}
@-moz-keyframes text-radio-on {
  0%   {color: #646464;}
  100% {color: #222D32;}
}
@-o-keyframes text-radio-on {
  0%   {color: #646464;}
  100% {color: #222D32;}
}
@keyframes text-radio-on {
  0%   {color: #646464;}
  100% {color: #222D32;}
}
@-webkit-keyframes text-radio-off {
  0%   {color: #222D32;}
  100% {color: #646464;}
}
@-moz-keyframes text-radio-off {
  0%   {color: #222D32;}
  100% {color: #646464;}
}
@-o-keyframes text-radio-off {
  0%   {color: #222D32;}
  100% {color: #646464;}
}
@keyframes text-radio-off {
  0%   {color: #222D32;}
  100% {color: #646464;}
}
.no-padding-right {
  padding-right: 0px;
}

.error-pre {
  white-space: pre-wrap;
}
