.rudder-text-warning{
  color:#E07702;
}

.navbar-inverse {
  background-color: #f08004;
  border-bottom:none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
  cursor:default;
}
.navbar-inverse a.navbar-brand{
  width: 230px;
  text-align: center;
  background-color: #e07a07;
  outline: none !important;
  font-size: 24px;
  color: #fff;
}
.navbar-inverse a.navbar-brand:focus,.navbar-inverse a.navbar-brand:active{
  background-color: #e07a07;
}
.navbar-inverse a.navbar-brand:hover{
  background-color: #FF8702;
}
@media screen and (max-width: 768px) {
  .navbar-inverse a.navbar-brand{
    width: 100%;
  }
}
.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

hr {
  margin-bottom : -10px;
  border-width : 2px 0 0;
}
.modal.fade{
  overflow:hidden !important;
}
.modal-content{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.modal-header{
  background-color: #f08004;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}
.btn-ncf {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
    border-color: #B86200;
    color: #eeeeee;
}

.btn-ncf:hover, .btn-ncf:focus, .btn-ncf:active, .btn-ncf.active, .open .dropdown-toggle.btn-ncf {
    background-image: linear-gradient(#EF9552, #DE6A19 50%, #A84719);
    border-color: #A84719;  
    color: #eeeeee;   
}


.dropdown-menu {
    border:0;
    padding:0;
}

.dropdown-menu > li > a {
    font-size: 10px;
    text-decoration: none;
}

.panel-ncf {
    border-color: #B86200;
}
.panel-ncf > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #B86200;
}

.panel-ncf > .panel-heading {
    background-color: #FFA033;
    border-color: #FFA033;
    color: #eeeeee;
}

.panel-ncf > .panel-body {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
}

.panel-body {    
    padding:0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.right-panel {
  padding-left: 0;
  padding-right: 30px;
}

.panel-body > .form-group:first-of-type {
    margin-top: 15px;
}

.right-panel .panel-title {
    font-size: 13px;
}

.panel-heading{
    padding: 8px 10px;
}

.icon-margin {
    margin: 0 5px;
}
.method-settings .icon-margin {
    margin: 0 3px;
}
.method-actions {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #555;
}
.method-actions.disabled {
  cursor: not-allowed;
  opacity: .3;
}
.method-actions:hover{
  color:#333;
}
.method-actions:hover .icon-delete{
  color:#c80003;
}
.icon-delete {
  color : #da635d;
}
.method-margin {
    margin-top:4px;
    margin-bottom:0px;
}
.panel-margin-top {
    margin-top: 10px;
}

*
{
    margin: 0;
    padding: 0;
}

html, body, .Override.container{
    height: 100%;
}


.Override.container {
    width: 100%;
    margin: -72px 0 0 0;
    padding: 52px 0 0 0;
}

.Override.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.Override .fill
{
    position: relative;
}
    .Override .fill:after
    {
        content: '';
        display: block;
        clear: left;
    }

.Override .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.Override .ncf_col2
{
    position: static;
    overflow: auto;
}


.title {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 25px;
    text-transform: uppercase;
}

.table-ncf {
    font-size: 14px;
}

.table-ncf > tbody > tr:hover > td {
    background-color: #E8E8E8;
}

textarea.form-control {
  resize:none;
  min-height:34px;
  background: url('textarea-expand.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 15px;
}
.input-xs {
    border-radius: 3px;
    font-size: 13px;
    height: 20px;
    line-height: 1.5;
    padding: 0 10px;
}

#methodBlock{
  vertical-align:top;
  padding-left:0px;
}
#methodBlock > div:first-child{
  padding-left:15px;
  margin-bottom:95px;
}
.fixed-footer {
  text-align: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  bottom: 0px;
  padding-top: 0;
  border-right:0;
  padding-bottom: 0;
}
.container > .fixed-footer{
  z-index:50;
  padding: 10px 15px;
}
@media screen and (max-width: 992px) {
  #methodBlock{
    position: static;
    float: left;
    width: 100%;
    margin-bottom: 60px;
  }
  #methodBlock > div:first-child{
    margin-bottom: 0;
  }
  #methodBlock .fixed-footer {
    position: relative;
    padding-right: 0;
    z-index:10;
  }
  .container > .fixed-footer{
    border-top: 1px solid #ccc;
  }
}
.right-margin {
    margin-right: 10px;
}

.top-margin {
    margin-top: -5px;
}

.btn-delete:hover, .btn-delete:active, .btn-delete:focus{
    color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630)
}

.ng-invalid.ng-dirty {
    border-color: #b33630;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#os-form form.form-inline div:first-child {
    width: 200px;
}

#os-form form.form-inline {
    margin: 5px 10px;
}

#editform-container {
  margin-bottom: 58px;
}
.condition-form {
    margin: 15px 10px;
}

ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 68px;
    margin-top:5px;
}

#methods .dndDraggingSource {
      display: none;
}

.btn.btn-method {
  padding: 0;
  overflow:hidden;
  text-align: left;
  white-space: normal;
}

ul[dnd-list] {
  min-height: 70px;
  padding-left: 0px;
}

.cursorMove {
  cursor:move
}

#no-methods {
  z-index= -1;
  position:absolute;
  border-style : dashed;
  white-space: normal;
}

.jumbotron {
  background-color : #fff;
  padding-bottom: 10px;
}

.panel-heading .ng-invalid {
  box-shadow:none;
}

.btn-method .input-group-addon {
  padding: 6px 8px;
}

.btn-method .input-group-addon:first-child {
  border:0;
  color: #888;
}

.method-param {
  font-size: 16px;
  margin: 0;
  word-break: break-word;
}

.method-settings{
    position: absolute;
    right: 10px;
}
input.form-control.ng-invalid.ng-dirty:focus{
    border-color: #b33630;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(179, 54, 48, 0.38);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(179, 54, 48, 0.38);
}

/* --- IFRAME --- */
body.iframe .navbar-inverse.navbar-static-top {
    display: none;
}

body.iframe .jumbotron h1{
    padding-bottom: 5px;
    border-bottom: 2px solid #f08004;
}
body.iframe .Override.container {
    margin: 0;
    padding: 0;
}

.sm-space-top{
    margin-top: 10px !important;
}
.generic-methods, #categories-list{
    padding-bottom: 55px;
}
#categories{
  padding-left: 5px;
}
#categories-list li a{
  padding-left: 5px;
}
@media screen and (min-width: 992px) {
    .container > .ncf_col{
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .generic-methods, #categories-list{
        padding-bottom: 20px;
    }
    #categories-list{
        margin-top: 38px;
    }
}
.ncf_col.no-padding{
  padding: 0;
}
#categories-list{
    overflow-x: hidden;
    overflow-y: auto;
}
#categories-list.fixed{
    position: fixed;
    top:0;
    right: 15px;
}
#categories-list.fixed li{
    padding-right: 20px;
}
#categories-list.fixed li a{
  padding: 10px;
}
@media screen and (max-width: 992px) {
    #categories-list{
        position:static;
        margin-top: 38px;
        max-height: 100vh;
    }
    #categories-list.fixed{
        margin-top: 0;
    }
}

i.glyphicon.glyphicon-circle-arrow-down.icon-margin.method-actions.ng-hide,i.glyphicon.glyphicon-circle-arrow-up.icon-margin.method-actions.ng-hide {
  display: inline-block !important;
  visibility: hidden;
}
span.saving{
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  font-size: 14px;
  -webkit-animation: saving 2s linear infinite;
  -moz-animation: saving 2s linear infinite;
  -ms-animation: saving 2s linear infinite;
  -o-animation: saving 2s linear infinite;
  animation: saving 2s linear infinite;
}
button.btn-save{
  position: relative;
}
button.btn-save.saving{
  padding-left: 30px;
}
button.btn-save.saving span.saving{
  display: inline-block;
}
.requiredParameters{
  color: #f08004;
  font-size: 14px;
  line-height: 22px;
}
.requiredParameters > .glyphicon{
  top:2px;
}
.btn.btn-save[disabled]{
  cursor: not-allowed;
}
span.text-fit {
  font-weight: normal;
}
@-webkit-keyframes saving {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes saving {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ng-toast.ng-toast--right .ng-toast__message {
  text-align: left;
}
