

.navbar-inverse {
  background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
  border: 1px solid #A35700;
}
.navbar-inverse .navbar-brand {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
  font-weight: bold;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

hr {
  margin-bottom : -10px;
  border-width : 2px 0 0;
}

.modal-header{
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
    color: #EEEEEE;
}
.btn-ncf {
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
    border-color: #B86200;
    color: #eeeeee;
}

.btn-ncf:hover, .btn-ncf:focus, .btn-ncf:active, .btn-ncf.active, .open .dropdown-toggle.btn-ncf {
    background-image: linear-gradient(#EF9552, #DE6A19 50%, #A84719);
    border-color: #A84719;  
    color: #eeeeee;   
}


.dropdown-menu {
    border:0;
    padding:0;
}

.dropdown-menu > li > a {
    font-size: 10px;
    text-decoration: none;
}

.panel-ncf {
    border-color: #B86200;
}
.panel-ncf > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #B86200;
}

.panel-ncf > .panel-heading {
    background-color: #FFA033;
    border-color: #FFA033;
    color: #eeeeee;
}

.panel-ncf > .panel-body {
    
    background-image: linear-gradient(#FFA033, #EE7F00 50%, #B86200);
}

.panel-body {    
    padding:0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.editForm{
    padding-right: 0;
}


.right-panel {
  padding-left: 0;
  padding-right: 30px;
}

.affix{
    position: fixed;
    top: 10px;
    width:16.6667%;
    padding-right:25px;
}

.panel-body > .form-group:first-of-type {
    margin-top: 15px;
}

.right-panel .panel-title {
    font-size: 13px;
}

.panel-heading{
    padding: 5px 10px;
}

.icon-margin {
    margin: 0 5px;
}

.method-actions {
    opacity: 0.4 ;
}

.method-actions:hover {
    opacity: 0.8 ;
}

.method-margin {
    margin-top:4px;
    margin-bottom:0px;
}

.panel-margin-top {
    margin-top: 10px;
}

*
{
    margin: 0;
    padding: 0;
}

html, body, .Override.container, .Override .ncf_col
{
    height: 100%;
}

.Override.container {
    width: 100%;
    margin: -72px 0 0 0;
    padding: 52px 0 0 0;
}

.grey-icon{
    color:#333;
}

.Override.container:before
{
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.Override .fill
{
    position: relative;
}
    .Override .fill:after
    {
        content: '';
        display: block;
        clear: left;
    }

.Override .wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.Override .ncf_col
{
    float: left;
    position: static;
    overflow: auto;
}

.Override .ncf_col2
{
    position: static;
    overflow: auto;
}


.title {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: -20px;
    margin-top: 25px;
    text-transform: uppercase;
}

.table-ncf {
    font-size: 14px;
}

.table-ncf > tbody > tr:hover > td {
    background-color: #E8E8E8;
}

textarea.form-control {
    resize:none
}

.input-xs {
    border-radius: 3px;
    font-size: 13px;
    height: 20px;
    line-height: 1.5;
    padding: 0 10px;
}

.fixed-footer {
    text-align: center;
    background-color: white;
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    border-left-width: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    border-top:5px #DDDDDD solid;
    border-right:5px #DDDDDD solid;
}

.right-margin {
    margin-right: 10px;
}

.top-margin {
    margin-top: -5px;
}

.icon-delete {
    color : #990000
}

.btn-delete:hover, .btn-delete:active, .btn-delete:focus{
    color: #fff;
    background-color: #990000;
}

.ng-invalid {
    border-color: #990000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#os-form form.form-inline div:first-child {
    width: 200px;
}

#os-form form.form-inline {
    margin: 5px 10px;
}

.condition-form {
    margin: 15px 10px;
}