{{#vars.system_relay_logrotate.relay_data}}
{{{.name}}} {
        daily
        missingok
        rotate {{{.duration}}}
        compress
        notifempty
        create {{{.create}}}
        delaycompress
        sharedscripts
        postrotate
          {{{.postrotate}}}
        endscript
}
{{/vars.system_relay_logrotate.relay_data}}
