<xml:group>


<component:staticInit>
<head>
  <style type="text/css">
  
    .topLevelAction .twoColumns {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      /* only for IE inf 7 */
      display*: inline;
      zoom*: 1;
    }
    
    .topLevelAction .twoColumnsRight {
      margin-left:20px
      margin-right: 5px;
    }
    
    .topLevelAction .twoColumns > * {
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
    }
    
    .disableNotice {
      margin-top:10px;
      font-size:0.9em;
    }
    
    .editZone {
      margin-top:30px;
    }
    
    .groupedEditZone {
      margin-bottom:10px;
    }
    
    label.wbBaseFieldLabel {
      margin-right:10px;
      margin-bottom: 3px;
    }
    
    .reasonsFieldset {
      width:96%;
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
    }
    
    .warnicon {
      margin-top:-7px;
    }
    
    .simplemodal-content {
      margin-top:5px;
    }
    
  </style>
</head>
</component:staticInit>

<component:body>
	<div id="editRuleZone">
		<ul id="ruleDetailsTabMenu">
		  <li><a href="#ruleDetailsEditTab">Edit Rule parameters</a></li>
		</ul>
		
		<div id="ruleDetailsEditTab">
		  <div id="editForm"></div>
		  <div id="removeActionDialog"></div>
		  <div id="disactivateActionDialog"></div>
		</div>
	</div>
</component:body>

<component:form>
<div id="editForm" class="object-details">

  <fieldset class="topLevelAction">
    <p class="clearable">
      This is the zone for top level actions which does not take into account
      modifications done in the edit zone. 
    </p>
    
    <legend>Modify Rule status</legend>

    <div id="removeAction" class="twoColumns">
<!--      <label for="removeButton" id="removeButtonLabel">Remove from user library</label>-->
      <button id="removeButton">Delete</button>
    </div>

    
    <div id="desactivateAction" class="twoColumns twoColumnsRight">
      <button id="disactivateButton"><span id="disactivateButtonLabel">desactivate</span></button>
    </div>
    
    <div class="disableNotice">
        Note: the Rule will be applied only if its status is Enabled and 
        its Directive, Technique and target node group are all Enabled.
    </div>
    
  </fieldset>

  <fieldset class="editZone">
    <legend>Modify Rule parameters</legend>

    <div id="notification">
<!--       <ul> -->
<!--         <li>Here comes notifications</li> -->
<!--       </ul> -->
    </div>
    <hr class="spacer" />
    <div class="groupedEditZone">
      <div id="nameField">
        Here comes the name field
      </div>
      <hr class="spacer" />
      <div id="shortDescriptionField">
        Here comes the shortDescription field
      </div>
      <hr class="spacer" />
    </div>
    
    <div id="longDescriptionField">
      Here comes the longDescription field
    </div>
    
    <div class="groupedEditZone">
       <fieldset class="crEditHierarchy"><legend>Directive <lift:authz role="directive_write>"><a href= "secure/configurationManager/directiveManagement">(Create a new Directive)</a></lift:authz></legend>
          <div id="selectPiField">
            Here comes the Directive selection field
          </div>
        </fieldset>
        <fieldset class="crEditHierarchy"><legend>Group hierarchy  <lift:authz role="group_write>"><a href= "secure/nodeManager/groups">(Create a new Group)</a></lift:authz></legend>
          <div id="selectGroupField">
            Here comes the group selection field
          </div>
        </fieldset>
      <div class="hierarchySpacer"></div>
    </div>
    
    <fieldset class="reasonsFieldset">
    <legend>Change Message</legend>
    
    <div id="explanationMessage">
      Here comes the explanation to reasons field
    </div>
    
    <div id="reasonsField">
      Here comes the reasons field
    </div>
    </fieldset>
	
    <hr class="spacer" />

    <div class="cpiefsave">
      <button id="save">Save</button>
    </div>
  </fieldset>
</div>

</component:form>

<component:popupRemoveForm>
    <div id="removeActionDialog" class="nodisplay">
      <div class="simplemodal-title">
        <h1>Delete a Rule</h1>
        <hr/>
      </div>
      <div class="simplemodal-content">    
        <div>
          <img src="/images/icWarn.png" alt="Warning!" height="32" width="32" class="warnicon"/>
	        <h2>Are you sure that you want to completely delete this item?</h2>
        </div>
        <br />
<!--         <div id="errorDisplay"> -->
<!--         	[Replace this div with potential errors] -->
<!--         </div> -->
        <div>Deleting this Rule will also delete its history and compliance reports.</div>
        <hr class="spacer" />
       	<div class="reasonsFieldsetPopup">
		    <div id="explanationMessage">
		      Here comes the explanation to reasons field
		    </div>
		    <div id="reasonsField">
		      Here comes the reasons field
		    </div>
	    </div>
	    
        <br />
        <hr class="spacer" />
      </div>
      <div class="simplemodal-bottom">
        <hr/>
         <div class="popupButton">
           <span>
             <button class="simplemodal-close" onClick="return false;">Cancel</button>
             <button id="dialogRemoveButton">Delete</button>
           </span>
         </div>
      </div>
    </div>   
</component:popupRemoveForm>

<component:popupDisactivateForm>
    <div id="desactivateActionDialog" class="nodisplay">
      <div class="simplemodal-title">
        <h1><span id="dialogDeactivateTitle">Disable</span> a Rule</h1>
        <hr/>
      </div>
      <div class="simplemodal-content">
        <img src="/images/icWarn.png" alt="Warning!" height="32" width="32" class="warnicon"/>
        <h2>Are you sure that you want to <span id="dialogDisactivateLabel">disable</span> this Rule?</h2>
         
     	<br /> 
        <hr class="spacer" />
<!--         <div id="errorDisplay"> -->
<!--         	[Replace this div with potential errors] -->
<!--         </div> -->
        
       	<div class="reasonsFieldsetPopup">
		    <div id="explanationMessage">
		      Here comes the explanation to reasons field
		    </div>
		    <div id="reasonsField">
		      Here comes the reasons field
		    </div>
	    </div>
        <hr class="spacer" />
      </div>
      <div class="simplemodal-bottom">
        <hr/>
         <div class="popupButton">
           <span>
             <button class="simplemodal-close" onClick="return false;">Cancel</button>  
             <button id="dialogDisactivateButton">Disable</button>
           </span>
          </div>
       </div>
    </div>
</component:popupDisactivateForm>

</xml:group>
