<schedule-agentschedule>
<style type="text/css">
  select.twoCol {
    width:auto;
  }
  select {
    min-width:50px;
  }
  select.form-control.input-sm.schedule{
    display: inline-block !important;
    width: auto;
  }
  .inline-input-group{
    margin-top:15px;
  }
  .globalConf label{
    width: 100%;
    max-width: 140px;
  }
  #runInterval{
    margin-left:-4px;
  }
  .inline-input-group > label{
    float:left;
  }
  .inline-input-group > .input-group{
    float:left;
    width:312px;
  }
  .inline-input-group > .input-group > select + .input-group-addon{
    border-left:none;
    border-right:none;
    background-color: #f4f4f4;
  }
  .inline-input-group > .input-group > .input-group-addon:last-child{
    border-right:1px solid #d2d6de;
  }
</style>

<div class="inner-portlet" id="cfagentSchedule">
  <div class="page-title">Agent run schedule</div>
  <div class="portlet-content"  id="agentScheduleController" ng-controller="cfagentScheduleController">
    <div class="col-xs-12 callout-fade callout-warning">
      <div class="marker">
        <span class="glyphicon glyphicon-info-sign"></span>
      </div>
      <div ng-if="globalRun === undefined">
        <p>By default, the agent runs on all nodes every 5 minutes.</p>
        <p>
          This high frequency enables fast response times to apply changes and state
          assessment for high-precision drift and compliance reports.
        </p>
        <p>
          You can modify this run interval below, as well as the "splay time" across nodes (a random
          delay that alters scheduled run time, in order to spread load across nodes).
        </p>
      </div>
      <div ng-if="globalRun !== undefined">
        <p>By default, agents on all nodes run following the same frequency defined in the global <a href="{{contextPath}}/secure/administration/policyServerManagement#cfagentSchedule">Settings</a>.</p>
        <p>The current global setting is to run every <b>{{getIntervalValue(globalRun.interval)}}</b>, starting at <b>{{(format2Digits(globalRun.startHour))}}:{{(format2Digits(globalRun.startMinute))}}</b>, with a maximum delay after scheduled run time (random interval) of <b>{{(format2Digits(globalRun.splayHour))}}:{{(format2Digits(globalRun.splayMinute))}}</b>.</p>
        <p>You may override this global setting just for this node below:</p>
      </div>
    </div>
    <div class="col-xs-12">
      <form role="form" class="form-horizontal"  ng-hide="agentRun === undefined">
        <ul ng-hide="globalRun === undefined">
          <li class="rudder-form">
            <div class="input-group">
              <label class="input-group-addon" for="override">
                <input  id="override" ng-model="agentRun.overrides" type="checkbox"/>
                <label for="override" class="label-radio">
                  <span class="ion ion-checkmark-round"></span>
                </label>
                <span class="ion ion-checkmark-round check-icon"></span>
              </label>
              <label class="form-control" for="override">
                Override global value
                <span id="denyBadClocksTooltip"></span>
              </label>
            </div>
          </li>
        </ul>
        <div class="globalConf">
          <div class="form-group">
            <label for="runInterval" class="control-label">Run agent every </label>
            <select class="form-control input-sm schedule" ng-model="agentRun.interval" id="runInterval" ng-options="item.m as item.name for item in intervals" ng-disabled="overridesInterval()"  ng-change="onChangeInterval()"></select>
          </div>
          <div class="form-group inline-input-group">
            <label class="control-label">First run time</label>
            <div class="input-group input-group-sm">
              <select class="form-control input-sm" id="startHour" ng-model="agentRun.startHour" ng-options="item for item in hours()" ng-disabled="overridesInterval() || checkHours() " ng-change="onChange()"></select>
              <span class="input-group-addon" id="sizing-addon3">Hour{{agentRun.startHour > 1 ? "s" : ""}}</span>
              <select class="pull-left form-control input-sm"  id="startMinute" ng-model="agentRun.startMinute" ng-options="item for item in minutes()" ng-disabled="overridesInterval()" ng-change="onChange()"></select>
              <span class="input-group-addon" id="sizing-addon3">Minute{{agentRun.startMinute > 1 ? "s" : ""}}</span>
            </div>
          </div>
          <div class="form-group inline-input-group">
            <label class="control-label">Maximum delay</label>
            <div class="input-group input-group-sm">
              <select id="splayHour"  class="pull-left form-control input-sm" ng-model="agentRun.splayHour" ng-options="item for item in hours()" ng-disabled="checkHours() || overridesInterval()" ng-change="onChange()"></select>
              <span class="input-group-addon" id="sizing-addon3">Hour{{agentRun.startHour > 1 ? "s" : ""}}</span>
              <select id="splayMinute"  class="pull-left form-control input-sm" ng-model="agentRun.splayMinute" ng-options="item for item in minutes()" ng-disabled="overridesInterval()" ng-change="onChange()"></select>
              <span class="input-group-addon" id="sizing-addon3">Minute{{agentRun.startMinute > 1 ? "s" : ""}}</span>
            </div>
          </div>
        </div>
        <lift:authz role="administration_write">
          <div class="form-group">
            <div class="pull-left control-label">
              <button type="submit" class="btn btn-default" ng-click="save()" ng-disabled="isUnchanged()" id="cfagentScheduleSubmit">Save changes</button>
            </div>
          </div>
        </lift:authz>
      </form>
    </div>
  </div>
</div>
</schedule-agentschedule>
