<xml:group>

<input-text>
  <div class="directive-input-group">
    <div class="input-group input-group-sm text-section col-xs-12" ng-controller="textController">
      <div class="input-group-btn" ng-show="feature" ng-cloak>
        <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown" type="button">{{prefixName()}} <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a  ng-click="current.prefix = ''"  href="#">Text</a></li>
          <li><a ng-click="current.prefix = 'evaljs:'" href="#">JS</a></li>
        </ul>
      </div>
        <input class="form-control monospace-font" ng-model="current.value" type="text" />
    </div>
  </div>
</input-text>

<input-textarea>
  <div class="directive-input-group">
    <div class="text-section col-xs-12 row" ng-controller="textController">
    <div class="btn-group-sm btn-group" ng-show="feature" ng-cloak>
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">{{prefixName()}} <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a ng-click="current.prefix = ''"  href="#">Text</a></li>
        <li><a ng-click="current.prefix = 'evaljs:'" href="#">JS</a></li>
      </ul>
    </div>
    <textarea class="form-control textarea monospace-font" ng-model="current.value" ng-trim="false" ></textarea>
    </div>
  </div>
</input-textarea>

<input-shared>
  <div class="directive-input-group">
    <div class="input-group col-xs-12 rect-padding">
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm browserFile" type="button" id="browserFile" onclick="">
          <span class="glyphicon glyphicon-folder-open"></span>
        </button>
      </span>
    </div>
  </div>
</input-shared>

</xml:group>