<xml:group>



<component:staticInit>
  <head>
  <style type="text/css">
    .warnicon {
      margin-top:-7px;
    }
    #actions_zone , .dataTables_length , .dataTables_filter { 
      display: inline-block; 
    }
  </style>
  </head>
</component:staticInit>

<component:staticBody>
  <div id="nodeDetailsPopup" class="nodisplay" style="overflow: auto; max-height: 550px;">
    <lift:ignore>
      This div will get node details information, when a node in a group is clicked
    </lift:ignore>
    <div class="simplemodal-title">
      <h1 id="nodeDetailsName">Details of a node</h1>
      <hr/>
    </div>
    <div class="simplemodal-content-no-zoom">
      <div id="serverDetails">[Here, we have the node details in tab summary, inventory, reports, etc]</div>
    
      <hr class="spacer" />
      <div align="right">
        <button class="simplemodal-close" onClick="return false;">
          Close
        </button>
      </div>
    </div>
  </div>
  <div id="createCloneGroupPopup" class="nodisplay">
    <div id="createCloneGroupContainer" />
  </div>
  
  <div id="confirmUpdateActionDialog" />
</component:staticBody>

<component:popupRemoveForm>
  <div id="removeActionDialog" class="nodisplay">
    <div class="simplemodal-title">
      <h1>Delete a group</h1>
      <hr/>
    </div>
    <div class="simplemodal-content">
      <div>
        <img src="/images/icWarn.png" alt="Warning!" height="32" width="32" class="warnicon"/>
        <h2>Are you sure that you want to delete this item?</h2>
        
      </div>
      <br />
      <div>
        Deleting this group will also remove it as a target for
        the following Rules which depend on it.
      </div>
      <hr class="spacer" />
      <div id="removeItemDependencies">
        Here comes the grid.
      </div>
      <br />

      <hr class="spacer" />
      <div class="reasonsFieldsetPopup">
        <div id="explanationMessage">
          Here comes the explanation to reasons field
        </div>
        <div id="reasonsField">
          Here comes the reasons field
        </div>
      </div>

      <br />
      <hr class="spacer" />
    </div>
    <div class="simplemodal-bottom">
      <hr/>
      <div class="popupButton">
         <span>
          <button class="simplemodal-close" onClick="return false;">Cancel</button>
          <div id="removeButton" />
        </span>
      </div>
    </div>
  </div>   
</component:popupRemoveForm>

<component:popupDependentUpdateForm>
  <div id="updateActionDialog" class="nodisplay">
    <div class="simplemodal-title">
      <h1>Update a group</h1>
      <hr/>
    </div>
    <div class="simplemodal-content">
      <div>
        <img src="/images/icDetails.png" alt="Details" height="20" width="22" class="icon"/>
        <h2>Are you sure that you want to update this group?</h2> 
      </div>
      <br />
      <div>
        Updating this Group will have an impact on the following Rules which apply it.
      </div>
      <hr class="spacer" />
      <div id="updateItemDependencies">
        Here comes the grid.
      </div>
      <br />

      <hr class="spacer" />
      <br />
      <hr class="spacer" />
    </div>
    <div class="simplemodal-bottom">
      <hr/>
      <div class="popupButton">
         <span>
          <button class="simplemodal-close" onClick="return false;">Cancel</button>
          <button id="dialogSaveButton">Save</button>
        </span>
      </div>
    </div>
  </div>
</component:popupDependentUpdateForm>

<component:body>
<!--  TODO!  -->
</component:body>
</xml:group>