<xml:group>



<component:staticInit>
  <head></head>
</component:staticInit>

<component:staticBody>
  <div id="nodeDetailsPopup" class="nodisplay">
    <lift:ignore>
      This div will get node details information, when a node in a group is clicked
    </lift:ignore>
    <div class="simplemodal-title">
      <h1 id="nodeDetailsName">Details of a node</h1>
      <hr/>
    </div>
    <div class="simplemodal-content-no-zoom">
      <div id="serverDetails">[Here, we have the node details in tab summary, inventory, reports, etc]</div>
    
      <hr class="spacer" />
      <div align="right">
        <button class="simplemodal-close" onClick="return false;">
          Close
        </button>
      </div>
    </div>
  </div>
  <div id="createCloneGroupPopup" class="nodisplay">
    <div id="createCloneGroupContainer" />
  </div>
</component:staticBody>

<component:body>
<!--  TODO!  -->
</component:body>
</xml:group>