<xml:group>



<component:staticInit>
  <head>
  <style type="text/css">
    .warnicon {
      margin-top:-7px;
    }
    #actions_zone , .dataTables_length , .dataTables_filter { 
      display: inline-block; 
    }
  </style>
  </head>
</component:staticInit>

<component:staticBody>
  <div id="nodeDetailsPopup" class="nodisplay">
    <lift:ignore>
      This div will get node details information, when a node in a group is clicked
    </lift:ignore>
    <div class="simplemodal-title">
      <h1 id="nodeDetailsName">Details of a node</h1>
      <hr/>
    </div>
    <div class="simplemodal-content-no-zoom">
      <div id="serverDetails">[Here, we have the node details in tab summary, inventory, reports, etc]</div>
    
      <hr class="spacer" />
      <div align="right">
        <button class="simplemodal-close" onClick="return false;">
          Close
        </button>
      </div>
    </div>
  </div>
  <div id="createCloneGroupPopup" class="nodisplay">
    <div id="createCloneGroupContainer" />
  </div>
  
  <div id="confirmUpdateActionDialog" class="nodisplay" />
</component:staticBody>

<component:body>
<div id="GroupTabs">
  <ul id="groupTabMenu">
    <li><a href="#groupParametersTab">Group parameters</a></li>
  </ul>
  
  <div id="groupParametersTab">

       <div class="inner-portlet">
         <div>
           <div class="inner-portlet-header">
             Group details
           </div>
           <div class="inner-portlet-content" style="display: inline-block">
             <group:notifications />
             <hr class="spacer"/>
             <group:name/>
             <hr class="spacer"/>
             <group:container/>
             <hr class="spacer"/>
             <group:static/>
             <hr class="spacer"/>
             <group:description/>
             <hr class="spacer"/>
             <group:rudderID/>
             <hr class="spacer"/>
             <fieldset class="searchNodes"><legend>Group criteria</legend>
               <div id="SearchNodes">
                 <group:showGroup />
               </div>
             </fieldset>
<!--
             <lift:authz role="group_edit">
               <group:reason />
             </lift:authz>
-->
             <div >
               <div class="margins" align="right" style="overflow:hidden;display:block;">
                 <div style="float:left" align="left">
                 <lift:authz role="group_write"><group:clone/></lift:authz>
                 <lift:authz role="group_write"><group:delete/></lift:authz>
               </div>
               <div style="float:right" align="right">
                 <group:save/>
               </div>
             </div>
           </div>
        </div>
      </div>
     </div>
<!--
    <group:removeForm/>
-->
  </div>   
</div>
</component:body>
</xml:group>