<password-input>
  <div class="tw-bs">
    <div class="password-section" ng-controller="passwordController" ng-cloak>
      <div class="current-password padding-form" ng-if="displayCurrent()">
        <div ng-if="! current.isScript" class="form-group is-passwd">
            <label class="control-label" for="currentPassword-{{current.show ? 'clear': 'hidden'}}">Current password <small style="color: #999">- {{displayCurrentHash()}}</small></label>
            <div class="input-group col-xs-12">
              <input type="text" ng-if="current.show" readonly="" placeholder="" class="form-control toggle-type" ng-value="displayedPass"></input>
              <input ng-hide="current.show" type="password" readonly="" class="form-control toggle-type animate-show" ng-model="displayedPass" placeholder=""/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-if="otherPasswords !== undefined" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" ng-if="otherPasswords !== undefined">
                  <li><a  ng-click="changeDisplayPass(current.password)">Default</a></li>
                  <li ng-repeat="(name, password) in otherPasswords">
                    <a ng-click="changeDisplayPass(password)">{{name}}</a></li>
                </ul>
                <button type="button" ng-click="current.show = ! current.show" class="btn btn-default reveal-password">
                  <span ng-class="current.show ? 'glyphicon-eye-close' : 'glyphicon-eye-open'" class="glyphicon "></span>
                </button>                
                <button type="button" class="btn btn-info" ng-if="action !== 'change'" ng-click="changeAction('change')">Change</button>
                <button type="button" class="btn btn-success" ng-if="action === 'change'" ng-click="changeAction('keep')">Revert</button>
                <button type="button" class="btn btn-danger" ng-click="changeAction('delete')" ng-if="canBeDeleted">Delete</button>
              </span>
            </div>
        </div>
        <div>
          <div class="form-group is-script" ng-if="current.isScript">
            <label for="currentScript"  class=" control-label">Script to compute passwords</label>     <span class="btn-group">    <button type="button" class="btn btn-info" ng-if="action !== 'change'" ng-click="changeAction('change')">Change</button>
          <button type="button" class="btn btn-success" ng-if="action === 'change'" ng-click="changeAction('keep')">Revert</button>
          <button type="button" class="btn btn-danger" ng-click="changeAction('delete')">Delete</button>
          </span>
            <div class="input-group col-xs-12">
              <textarea readonly="" rows="4" class="form-control toggle-type" ng-model="current.password" placeholder="" ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="password-deleted" ng-if="action === 'delete'" >
        <h4 class="">Password will not be managed by Rudder anymore
          <button type="button" class="btn btn-success" ng-click="changeAction('keep')">Revert</button>
        </h4>
      </div>
      <div class="actions" ng-if="action === 'change'">
        <div class="btn-group" role="group">
          <a  ng-class="formType === 'withHashes' ? 'active' : '' " ng-click="passwordForm('withHashes')" class="btn btn-default">Enter password + hash</a>
          <a  ng-class="formType === 'preHashed'  ? 'active' : '' " ng-click="passwordForm('preHashed') " class="btn btn-default">Enter pre-hashed value</a>
          <a  ng-class="formType === 'clearText'  ? 'active' : '' " ng-click="passwordForm('clearText') " class="btn btn-default">Use clear text password</a>
          <a  ng-class="formType === 'script'     ? 'active' : '' " ng-click="passwordForm('script')    " class="btn btn-default" ng-if="scriptEnabled">Enter script to set passwords</a>
       </div>
      <div  class=" bloc-action" ng-if="formType === 'withHashes'">
        <div class="">
          <div class="form-group has-feedback">
            <label for="passwordHash-{{newPassword.show ? 'clear': 'hidden'}}" class=" control-label">New password</label>
            <div class="input-group col-xs-12">
              <input ng-if="newPassword.show" type="text" class="form-control toggle-type animate-show" ng-model="newPassword.password" placeholder=""/>
              <input ng-hide="newPassword.show" type="password" class="form-control toggle-type animate-show" ng-model="newPassword.password" placeholder=""/>
              <span class="input-group-btn">
                <button type="button" ng-click="newPassword.show = ! newPassword.show" class="btn btn-default reveal-password">
                  <span ng-class="newPassword.show ? 'glyphicon-eye-close' : 'glyphicon-eye-open'" class="glyphicon "></span>
                </button>
              </span>
            </div>
          </div>
          <div class="form-group ">
            <label class=" control-label">Hash algorithm</label>
            <div class="col-xs-12">
              <select class="form-control" ng-model="newPassword.hash" ng-options="prefix as hash for (prefix, hash) in hashes">
              </select>
               <span class="help-block">
                 This password will be hashed using the <strong>{{hashes[newPassword.hash]}}</strong> algorithm and stored and distributed only as a hash.
                 The plain text value entered above will not be stored.
               </span>
            </div>
          </div>
        </div>
      </div>
      <div class=" panel bloc-action" ng-if="formType === 'preHashed' || formType === 'clearText'">
        <div class="">
          <div class="form-group has-feedback">
            <label for="passwordHash{{formType === 'preHashed' ? '' : newPassword.show ? '-clear': '-hidden'}}" class=" control-label">New password</label>
           <div class="input-group col-xs-12" ng-if=" formType === 'clearText'">

              <input ng-if="newPassword.show" type="text" class="form-control toggle-type animate-show" ng-model="newPassword.password" placeholder=""/>
              <input ng-hide="newPassword.show" type="password" class="form-control toggle-type animate-show"  ng-model="newPassword.password" placeholder=""/>
              <span class="input-group-btn">
                <button type="button" ng-click="newPassword.show = ! newPassword.show" class="btn btn-default reveal-password">
                  <span ng-class="newPassword.show ? 'glyphicon-eye-close' : 'glyphicon-eye-open'" class="glyphicon "></span>
                </button>
              </span>
            </div>
           <div class="col-xs-12" ng-if=" formType === 'preHashed'">
              <input type="text" class="form-control toggle-type" ng-model="newPassword.password" placeholder=""/>
            </div>
            <span class=" help-block col-xs-12">
               This <strong class="variation">{{formType === 'preHashed' ? "hash" : "password"}}</strong> will be stored and distributed verbatim (plain text).
             </span>
          </div>
        </div>
      </div>
      <div class=" panel bloc-action" ng-if="formType === 'script'">
        <div class="">
          <div class="form-group has-feedback">
            <label for="script" class=" control-label">Script</label>
           <div class="input-group col-xs-12 ">
              <textarea class="form-control" ng-model="newPassword.password" rows="4"></textarea>
              <span class="help-block">
               You can enter a JavaScript expression here. See <a href="/rudder-doc/_javascript_evaluation_in_directives.html">documentation</a> here for details.<br/>
               Passwords will be computed for each node during policy generation. To use hashed passwords, make sure to call the rudder.password function in the script above.
             </span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</password-input>