<xml:group>

<component-staticinit>
<head>
  <style type="text/css">
    .topLevelAction .twoColumns {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      /* only for IE inf 7 */
      display*: inline;
      zoom*: 1;
    }
    .topLevelAction .twoColumnsRight {
      margin-left:20px;
      margin-right: 5px;
    }
    .topLevelAction .twoColumns > * {
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
    }
    .disableNotice {
      margin-top:10px;
      font-size:0.9em;
    }
    .editZone {
      margin-top:30px;
    }
    .groupedEditZone {
      margin-bottom:10px;
    }
    label.wbBaseFieldLabel {
      margin-right:5px;
      margin-bottom: 3px;
    }
    .modal label.wbBaseFieldLabel {
      margin-right:0;
    }
    .reasonsFieldset {
      width:96%;
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
    }
  </style>
</head>
</component-staticinit>

<component-body>
  <div id="editRuleZone">
    <div class="col-xs-12">
      <div class="box nav-tabs-custom has-toolbar">
        <div class="box-header">
          <h3 class="box-title"><i id="changeIconRule" class="fa fa-gear"></i> Rule</h3>
        </div>
        <ul class="nav nav-tabs rules-nav-tab">
          <li class="active"><a href="#ruleComplianceTab" data-toggle="tab">Compliance</a></li>
          <li><a id="settingsTab" href="#ruleDetailsEditTab" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content no-padding">
          <div class="chart tab-pane active" id="ruleComplianceTab">
            <div id="details"></div>
          </div>
          <div class="chart tab-pane" id="ruleDetailsEditTab">
            <div id="ruleForm"></div>
            <div id="removeActionDialog"></div>
            <div id="disactivateActionDialog"></div>
          </div>
        </div>
      </div>
    </div>
    <lift:authz role="rule_edit">
      <div class="fixed-footer rule-footer">
        <div id="removeAction" style="float:left"></div>
        <div id="desactivateAction" style="float:left; margin-left:20px;"></div>
        <button id="clone">[Clone]</button>
        <div class="cpiefsave">
          <button id="save">Save</button>
        </div>
      </div>
    </lift:authz>
  </div>
  <div id="confirmUpdateActionDialog" class="modal fade" data-keyboard="true" tabindex="-1"></div>
</component-body>

<component-details>
<div id="details" class="object-details">
  <div id="ruleInfoSection" class="unfoldedSection" onclick="$('#ruleInfo').toggle(400); $('#ruleInfoSection').toggleClass('foldedSection');$('#ruleInfoSection').toggleClass('unfoldedSection');">
    <div class="section-title">Summary</div>
  </div>
  <div id="ruleInfo">
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Name</label>
      <div class="col-xs-12">
        <span id="ruleName"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Category</label>
      <div class="col-xs-12">
        <span id="ruleCategory"></span>
      </div>
    </div>
    <div id="tagField">
      Here comes the tag field
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Short description</label>
      <div class="col-xs-12">
        <span id="ruleShortDescription"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Description</label>
      <div class="col-xs-12">
        <span id="ruleLongDescription"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Rudder ID</label>
      <div class="col-xs-12">
        <span id="rudderID"> Here comes the rudder ID </span>
      </div>
    </div>
    <hr/>
	</div>
	<div id="compliancedetails">
  </div>
</div>
</component-details>

<component-form>
<div class="object-details">

  <div id="pendingChangeRequestNotification">
    <div class="callout-fade callout-warning">
      <div class="marker"><span class="glyphicon glyphicon-info-sign"></span></div>
      The following pending change requests affect this Rule, you should check that your modification is not already pending:
      <ul id="changeRequestList"></ul>
    </div>
  </div>

  <div id="notifications"></div>
  <div class="section-title spacing-title">General information</div>

  <div class="groupedEditZone">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div id="nameField">
          Here comes the name field
        </div>
        <div id="categoryField">
          Here comes the category field
        </div>
        <div id="tagField">
          Here comes the tag field
        </div>
        <div id="shortDescriptionField">
          Here comes the shortDescription field
        </div>
        <div id="longDescriptionField">
          Here comes the longDescription field
        </div>
        <hr/>
      </div>
    </div>
  </div>

  <div class="groupedEditZone">

    <div id="ruleDirectives" ng-app="ruleDirectives">
      <div id="DirectiveCtrl" ng-controller="DirectiveCtrl">
        <div id="directives-section-title" class="unfoldedSection">
          <div class="section-title" onclick="$('#directives-section').toggle(400); $('#directives-section-title').toggleClass('foldedSection').toggleClass('unfoldedSection');">
            Directives <span class="badge include">{{getListLength(directives)}}</span>
            <lift:authz role="directive_write"><a class="title-link" href= "/secure/configurationManager/directiveManagement">(Create a new Directive)</a></lift:authz>
          </div>
        </div>

        <div class="row" id="directives-section">
          <div class="col-xs-12 col-lg-6">
            <h4 class="list-title">
              Apply these Directives
              <i class="fa fa-question-circle targetIcon icon-info"
                 data-toggle="tooltip"
                 data-placement="right"
                 data-html="true"
                 data-original-title="<div>Add Directives here to so that they will be applied.</div>"
              ></i>
            </h4>
            <ul class="directives applied-list">
              <li ng-show="directivesIsEmpty()" class="empty">
                <span>There is no directive applied. Click on the "Add Directives" button and select directives from the tree to add them here.</span>
                <span class="warning-sign">
                  <i class="fa fa-info-circle"></i>
                </span>
              </li>
              <li ng-repeat="directive in sortDirectives(directives)">
                <span class="fa fa-file-text"></span>
                <a href="{{directive.link}}">
                  <span class="rudder-label label-sm"
                    ng-class="{'label-audit': directive.mode=='audit', 'label-enforce': directive.mode=='enforce'}"
                    data-toggle="tooltip"
                    data-placement="top"
                    data-html="true"
                    data-container="body"
                    data-original-title="<h4>Policy Mode </h4><div class='tooltip-content policy-mode {{directive.mode}}'><div>This directive is in <b>{{directive.mode}}</b> mode.</div></div>"
                  ></span>
                  <span class="target-name"> {{ directive.name }} </span>
                </a>
                <i class="fa fa-question-circle targetIcon icon-info"
                   data-toggle="tooltip"
                   data-placement="top"
                   data-html="true"
                   data-container="body"
                   data-original-title="{{getTooltipContent(directive)}}"
                ></i>
                <span class="target-remove" ng-click="removeInclude(directive.id)">
                  <i class="fa fa-times"></i>
                </span>
                <span class="border"></span>
              </li>
            </ul>
            <button class="btn btn-outline btn-success add-target" ng-click="modal('selectDirectives', true)">
              <span>Select Directives</span>
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div id="selectDirectives" class="modal fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div data-dismiss="modal" class="close">
              <span>×</span>
            </div>
            <h4 class="modal-title">
              Select Directives to be applied
            </h4>
          </div>
          <div class="modal-body">
            <div id="directiveFilters" ng-controller="filterTagCtrl" ng-init="directiveTreeId = '#directiveTree'; fullPage = false">
              <div class="tree">
                <div class="filter-tree">
                  <div class="input-group search-addon">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-default" aria-label="Bold" onclick="toggleTree('#directiveTree', this);">
                        <span class="fa fa-folder fa-folder-open"></span>
                      </button>
                    </div>
                    <input class="form-control input-sm" placeholder="Filter" id="treeSearch" ng-model="searchStr" ng-keydown="refuseEnter($event)" ng-keyup="searchTree('#directiveTree')">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default btn-sm" aria-label="Bold" ng-click="clearSearchFieldTree('#directiveTree');" >
                        <span class="fa fa-times"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix "></div>
              <div id="showFiltersDirective" class="filters">
                <div class="filters-container">
                  <form class="filterTag">
                    <div id="form-tag" class="row">
                      <div class="form-group col-lg-8 col-xs-12">
                        <label>Tags</label>
                        <div class="input-group">
                          <div id="directiveFilterKeyInput" angucomplete-alt="" placeholder="key" minlength="1" maxlength="100"
                               pause="500" selected-object="selectTag" remote-url="{{contextPath}}/secure/api/completion/tags/directive/key/"
                               remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-key"
                               match-class="highlight" input-changed="updateTag" override-suggestions="true">
                          </div>
                          <span class="input-group-addon addon-json">=</span>
                          <div id="directiveFilterValueInput" angucomplete-alt="" placeholder="value" minlength="1" maxlength="100"
                               pause="500" selected-object="selectValue" remote-url="{{contextPath}}/secure/api/completion/tags/directive/value/{{newTag.key}}/"
                               remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-value" match-class="highlight"
                               input-changed="updateValue" override-suggestions="true">
                          </div>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-sm" ng-disabled="isEmptyOrBlank(newTag.key) && isEmptyOrBlank(newTag.value)" ng-click="addTag(newTag)"><span class="fa fa-plus"></span></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="tags-container" ng-show="tags.length>0">
                      <button class="btn btn-default btn-xs" ng-click="clearAllTags()" ng-hide="tags.length==0">
                        Clear all tags
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                      <div class="btn-group btn-group-xs" role="group"  ng-repeat="tag in tags track by $index">
                        <button class="btn btn-default tag" ng-class="{'onlyKey':only.key, 'onlyValue':only.value, 'already-exist':tag.alreadyExist}" ng-click="modifyTag(tag, 'directiveFilterKeyInput', 'directiveFilterValueInput')" >
                          <span class="tag-key">
                            <span ng-show="tag.key!=''">{{tag.key}}</span>
                            <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.key==''"></i>
                          </span>
                          <span class="tag-separator">=</span>
                          <span class="tag-value">
                            <span ng-show="tag.value!=''">{{tag.value}}</span>
                            <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.value==''"></i>
                          </span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="removeTag($index)">
                          <span class="fa fa-times"></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div id="selectPiField"  class="col-xs-12" ng-non-bindable>
              Here comes the Directive selection field
            </div>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
          </div>
        </div>
      </div>
    </div>

  <div id="groupManagement" ng-app="groupManagement">
    <div id="GroupCtrl" ng-controller="GroupCtrl">

      <div id="groups-section-title" class="unfoldedSection">
        <div class="section-title" onclick="$('#groups-section').toggle(400); $('#groups-section-title').toggleClass('foldedSection').toggleClass('unfoldedSection');">
        Groups <span class="badge include">{{getListLength(target.include.or)}}</span><span class="badge exclude">{{getListLength(target.exclude.or)}}</span>
        <lift:authz role="group_write"><a class="title-link" href= "/secure/nodeManager/groups">(Create a new Group)</a></lift:authz>
        </div>
      </div>

      <div id="selectGroups" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <div data-dismiss="modal" class="close">
                <span>×</span>
              </div>
              <h4 class="modal-title">
                Select target Groups
              </h4>
            </div>
            <div class="modal-body">
              <div id="groupeTree_actions_zone" class="row">
                <div class="col-xs-12 tree">
                  <div class="filter-tree">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Bold" onclick="toggleTree('#groupTree', this);">
                          <span class="fa fa-folder fa-folder-open"></span>
                        </button>
                      </div>
                      <input class="form-control" placeholder="Filter" id="groupSearch" onkeydown="refuseEnter(event);" onkeyup="searchTree('#groupSearch', '#groupTree');">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Bold" onclick="clearSearchFieldTree('#groupSearch', '#groupTree');" >
                          <span class="fa fa-times"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="selectGroupField"  class="col-xs-12" ng-non-bindable>
                Here comes the Directive selection field
              </div>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="groups-section">
        <div class="col-xs-12 col-lg-6">
          <h4 class="list-title">
            Apply to Nodes in any of these Groups
            <i class="fa fa-question-circle targetIcon icon-info"
               data-toggle="tooltip"
               data-placement="right"
               data-html="true"
               data-original-title="{{includeExplanation}}"
            ></i>
          </h4>
          <ul class="groups applied-list">
            <li ng-show="target.include.or.length === 0" class="empty">
              <span>There is no included group selected.</span>
              <span class="warning-sign">
                  <i class="fa fa-info-circle"></i>
                </span>
            </li>
            <li ng-repeat="included in target.include.or">
              <span class="fa fa-sitemap"></span>
              <span class="target-name">
                <a href="{{getTarget(included).link}}">
                  {{ getTarget(included).name }}
                </a>
                <i class="fa fa-question-circle targetIcon icon-info"
                   data-toggle="tooltip"
                   data-placement="top"
                   data-html="true"
                   data-container="body"
                   data-original-title="{{getTooltipContent(getTarget(included))}}"
                ></i>
              </span>
              <span class="target-remove" ng-click="removeInclude(included)">
                  <i class="fa fa-times"></i>
                </span>
              <span class="border"></span>
            </li>
          </ul>
          <button class="btn btn-outline btn-success add-target" ng-click="modal('selectGroups', true)">
            <span>Select Groups</span>
            <i class="fa fa-plus"></i>
          </button>


        </div>

        <div class="col-xs-12 col-lg-6">
          <h4 class="list-title except">
            Except to Nodes in any of these Groups
            <i class="fa fa-question-circle targetIcon icon-info"
               data-toggle="tooltip"
               data-placement="right"
               data-html="true"
               data-original-title="{{excludeExplanation}}"
            ></i>
          </h4>
          <ul class="groups applied-list">
            <li ng-show="target.exclude.or.length === 0" class="empty">
              <span>There is no excluded group selected.</span>
              <span class="warning-sign">
                  <i class="fa fa-info-circle"></i>
                </span>
            </li>
            <li ng-repeat="excluded in target.exclude.or">
              <span class="fa fa-sitemap"></span>
              <span class="target-name">
                <a href="{{getTarget(excluded).link}}">
                  {{getTarget(excluded).name}}
                </a>
                <i class="fa fa-question-circle targetIcon icon-info"
                   data-toggle="tooltip"
                   data-placement="right"
                   data-html="true"
                   data-container="body"
                   data-original-title="{{getTooltipContent(getTarget(excluded))}}"
                ></i>
              </span>
              <span class="target-remove" ng-click="removeExclude(excluded)">
                  <i class="fa fa-times"></i>
                </span>
              <span class="border"></span>
            </li>
          </ul>
          <button class="btn btn-outline btn-danger add-target" ng-click="modal('selectGroups', true)">
            <span>Select Groups</span>
            <i class="fa fa-plus"></i>
          </button>


        </div>
      </div>

    </div>
  </div>

</div>

</component-form>

</xml:group>
