<schedule-agentschedule>
  <div id="cfagentSchedule" class="inner-portlet">
    <h3 id="agentSchedule" class="page-title">Agent run schedule</h3>
    <div id="agentschedule-app" class="portlet-content"></div>
    <script data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-agentschedule.js"></script>
    <script data-lift="with-nonce">
      var hasWriteRights = false;
    </script>
    <lift:authz role="administration_write">
      <script data-lift="with-nonce">
        hasWriteRights = true;
      </script>
      <div id="scheduleMessage" class="pull-left">
        <span class="lift:Msg?cfagentScheduleMessage">[messages]</span>
      </div>
    </lift:authz>
  </div>
</schedule-agentschedule>