<xml:group>

<component-itemdependencies>
  <table id="itemDependenciesGrid">
    <thead>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
    </thead>
    <tbody>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
    </tbody>
  </table>
</component-itemdependencies>

<component-body>

  <div id="container">
    <div id="editForm"></div>
  </div>
</component-body>

<component-form>
  <style>
    .rudder-template .template-main .main-container > .fit-height,
    .rudder-template .template-main .main-container .fit-height > .fit-height,
    #techniqueDetails {
      height: initial !important;
    }
  </style>
  <div id="editForm">
    <div class="main-header">
      <div class="header-title">
        <h1>
          <i class="title-icon fa fa-file-text"></i>
          <span id="directiveTitle"></span>
        </h1>
        <lift:authz role="directive_edit">
          <div class="header-buttons">
            <button id="removeAction"     ></button>
            <button id="desactivateAction"></button>
            <button id="clone"            ></button>
            <button id="save"             ></button>
          </div>
        </lift:authz>
      </div>
      <div class="header-description" id="shortDescription">
      </div>
    </div>
    <div class="main-navbar">
      <ul class="nav nav-underline">
        <li role="presentation" class="nav-item" id="infoNav">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#directiveInfo" type="button" role="tab" aria-controls="directiveInfo" aria-selected="true">Information</button>
        </li>
        <li class="nav-item" id="paramNav">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#parametersTab" type="button" role="tab" aria-controls="parametersTab" aria-selected="false">Parameters</button>
        </li>
        <li role="presentation" class="nav-item" id="rulesNav">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#rulesTab" type="button" role="tab" aria-controls="rulesTab" aria-selected="false">Target rules</button>
        </li>
        <li role="presentation" class="nav-item" id="complianceNav">
          <button id="complianceLinkTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#complianceTab" type="button" role="tab" aria-controls="complianceTab" aria-selected="false">Compliance</button>
        </li>
      </ul>
    </div>
    <div id="notifications"></div>
    <div id="isDisabled"></div>
    <div class="main-details">
      <lift:authz role="directive_edit">
        <div class="row">
          <div class="col">
            <div class="callout-fade callout-info callout-cr" id="pendingChangeRequestNotification">
              <p><b><i class="fa fa-info-circle"></i>Pending change requests</b><span class="fa fa-chevron-down" onclick="$('#pendingChangeRequestNotification').toggleClass('list-hidden')"></span></p>
              <div>
                <p>The following pending change requests affect this Directive, you should check that your modification is not already pending:</p>
                <ul id="changeRequestList"></ul>
              </div>
            </div>
          </div>
        </div>
      </lift:authz>
      <div class="tab-content">
        <div id="directiveInfo" class="tab-pane active">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-7">
              <div id="nameField">
                Here comes the name field
              </div>
              <div id="tagField">
                Here comes the tag field
              </div>
              <div id="shortDescriptionField">
                Here comes the shortDescription field
              </div>
              <div id="longDescriptionFieldMarkdownContainer">
                <label class="fw-normal">Description
                  <i class="fa fa-pencil text-primary cursorPointer half-opacity edit-description-icon" onmouseenter="toggleOpacity(this)" title="Edit description" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i>
                </label>
                <div class="markdown">
                  <div id="longDescriptionFieldMarkdown"></div>
                  <p id="longDescriptionFieldMarkdownEmpty" class="nodisplay half-opacity">No description defined, click on <i class="fa fa-pencil text-primary cursorPointer half-opacity" onmouseenter="toggleOpacity(this)" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i> to edit </p>
                </div>
              </div>
              <div id="longDescriptionFieldContainer" class="d-flex visually-hidden">
                <div id="longDescriptionField">
                  Here comes the longDescription field
                </div>
                <div id="longDescriptionFieldMarkdownPreviewContainer" class="col-md-6 ps-2">
                  <label class="fw-normal">Preview</label>
                  <div id="longDescriptionFieldPreviewMarkdown" class="markdown"></div>
                </div>
              </div>

              <div class="directiveTechnicalInfo" id="showTechniqueDescription"></div>
              <div style="display:none" id="techniqueDescriptionPanel" class="markdown">
                <div id="techniqueDescription"></div>
              </div>

              <div id="priority" class="mt-3">
                Here come the priority field
              </div>
              <div class="wbBaseField form-group">
                <div id="policyModesLabel">
                  Here come the policy mode label
                </div>
                <div id="policyModes">
                  Here come the policy mode field
                </div>
              </div>
              <div id="version">
                Here come the version field
              </div>
              <div class="directiveTechnicalInfo" id="showTechnical"></div>
              <div id="technicalDetails" style="display:none" class="well">

                <table>
                  <tr>
                    <td><label>Directive ID:</label></td>
                    <td id="directiveID">
                      Directive ID:
                    </td>
                  </tr>
                  <tr>
                    <td><label>Technique ID:</label></td>
                    <td id="techniqueID">
                      Technique ID
                    </td>
                  </tr>
                  <tr>
                    <td><label>Technique name:</label></td>
                    <td id="techniqueName">
                      Technique name
                    </td>
                  </tr>
                  <tr>
                    <td><label>Technique unicity:</label></td>
                    <td id="isSingle">
                      Technique unicity
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-5">
              <div class="callout-fade callout-warning" id="deprecation-warning" role="alert">
                <div class="marker">
                  <span class="fa fa-info-circle"></span>
                </div>
                <h4>Technique version deprecated</h4>
                <div>This Directive uses a version of this Technique that is deprecated: <span id="deprecation-message"></span>.<br/>
                  <span id="migrate-button"></span>
                </div>
              </div>
              <div id="paramInfo"></div>
            </div>
          </div>
        </div>
        <div id="parametersTab" class="tab-pane">
          <div id="parameters">Here goes the list of parameters</div>
        </div>
        <div id="rulesTab" class="tab-pane">
          <div id="directiveRulesTab"></div>
        </div>
        <div id="complianceTab" class="tab-pane tab-app">
          <div id="directiveComplianceApp"></div>
        </div>
      </div>
    </div>
  </div>
  <lift:ignore>
    This div gets the content of the createDirective injected within
  </lift:ignore>
  <div id="removeActionDialog"        class="modal fade" tabindex="-1"></div>
  <div id="disableActionDialog"       class="modal fade" tabindex="-1"></div>
  <div id="confirmUpdateActionDialog" class="modal fade" tabindex="-1"></div>
  <div id="createCloneDirectivePopup" class="modal fade" tabindex="-1"></div>
</component-form>

<component-informationTab>
  <div class="page-title">Directive information</div>
  <hr class="spacer" />
  <div id="nameField">
    Here comes the name field
  </div>
  <hr class="spacer" />
  <div id="shortDescriptionField">
    Here comes the shortDescription field
  </div>
  <hr class="spacer" />
  <div id="longDescriptionField">
    Here comes the longDescription field
  </div>
  <hr class="spacer" />

  <div id="priority">
    Here come the priority field
  </div>
  <hr class="spacer" />
  <div class="directiveTechnicalInfo" id="showTechnical"></div>
  <div id="technicalDetails" style="display:none">
    <div class="directiveTechnicalInfo">
      <b class="threeCol">Technique name: </b>
      <span id="techniqueName">
      Technique name
    </span>
    </div>
    <hr class="spacer"/>

    <div class="directiveTechnicalInfo">
      <b class="threeCol">Technique description: </b>
      <span id="techniqueDescription">
      Technique description
    </span>
    </div>
    <hr class="spacer"/>

    <div class="directiveTechnicalInfo">
      <b class="threeCol">Technique unicity: </b>
      <span id="isSingle">
      isSingle
    </span>
    </div>
    <hr class="spacer"/>
    <div class="directiveTechnicalInfo">
      <b class="threeCol">Directive Rudder ID: </b>
      <span id="rudderID">
      Here comes the rudder ID
    </span>
    </div>
    <hr class="spacer"/>
  </div>
  <br/>
</component-informationTab>

<component-ruleTargetTab>
  <div>
    <div class="inner-portlet" style="float:left; margin-top:40px; min-width:150px; width:30%; overflow: auto">
      <div class="section-title" style="color: #999; border:0;'">Categories</div>
      <div class="inner-portlet-content" id="categoryTreeParent">
        <div data-lift="configuration.RuleManagement.viewCategories" ></div>
      </div>
    </div>
    <div class="inner-portlet" style="float:left; min-width:300px; width:60%; border-left: 1px #656565 solid; margin-top:40px; padding-left:40px;">
      <div class="section-title" style="color: #999; border:0;'" id="categoryDisplay">Rules</div>
      <div class="inner-portlet-content">
        <div data-lift="configuration.RuleManagement.viewRules" ></div>
      </div>
    </div>
  </div>
</component-ruletargettab>

</xml:group>
