<xml:group>

<tags-form>
  <div id="tagApp">
    <div  id="tagsController" ng-controller="tagsController" ng-cloak="" >
      <label for="newTagKey" class="col-xs-12 row"><span class="text-fit">Tags</span></label>
      <div class="tags-container form-group row col-xs-12" ng-class="{'noTags':tags.length==0}">
        <div class="btn-group btn-group-xs" role="group"  ng-repeat="tag in tags track by $index"  ng-mouseenter="showDelete[$index] = true" ng-mouseleave="showDelete[$index] = false"  ng-class="{'match': tagMatch(tag)}">
          <button type="button" class="btn btn-default tag" ng-click="toggleTag(tag)">
            <span class="tag-key">{{tag.key}}</span>
            <span class="tag-separator">=</span>
            <span class="tag-value">{{tag.value}}</span>
            <span class="fa fa-search"></span>
          </button>
          <button ng-if="isEditForm && showDelete[$index]" type="button" class="btn btn-default" ng-click="removeTag($index)"><span class="fa fa-times text-danger"></span></button>
        </div>
      </div>
      <div id="tagForm"> </div>
    </div>
  </div>
</tags-form>

<tags-editform> 
  <div class="form-group">
    <div class="input-group col-xs-6">
    
      <div id="newTagKey" angucomplete-alt="" placeholder="key" minlength="1" maxlength="100"
           pause="500" selected-object="selectTag" remote-url="{{contextPath}}/secure/api/completion/tags/{{kind}}/key/"
           remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-key"
           match-class="highlight" input-changed="updateTag" override-suggestions="true">
      </div>
      <span class="input-group-addon addon-json">=</span>
      
      <div id="newTagValue" angucomplete-alt="" placeholder="value" minlength="1" maxlength="100"
           pause="500" selected-object="selectValue" remote-url="{{contextPath}}/secure/api/completion/tags/{{kind}}/value/{{newTag.key}}/"
           remote-url-data-field="data" title-field="value" input-class="form-control input-sm input-value" match-class="highlight"
           input-changed="updateValue" override-suggestions="true">
      </div>
      <span class="input-group-btn">
        <button type="button" class="btn btn-success btn-sm" ng-disabled="newTag === undefined || newTag.key.length === 0 || newTag.value.length === 0" ng-click="addTag()"><span class="fa fa-plus"></span></button>
      </span>
    </div>
  </div>
</tags-editform>

</xml:group>