<property-compliancemode>
  <div id="complianceMode">
    <div class="inner-portlet">
      <h3 class="page-title" id="reporting-mode-title">Reporting mode</h3>
      <div id="compliancemode-app"></div>
      <script data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-compliancemode.js"></script>
      <script data-lift="with-nonce">
        var hasWriteRights = false;
      </script>
      <lift:authz role="node_write">
        <script data-lift="with-nonce">
          hasWriteRights = true;
        </script>
      </lift:authz>
    </div>
  </div>
</property-compliancemode>