<schedule-agentschedule>
  <style type="text/css">
  select.form-control.input-sm.schedule{
    display: inline-block !important;
    width: auto;
  }
  .inline-input-group{
    margin-top:15px;
  }
  .globalConf label{
    width: 100%;
    max-width: 140px;
  }
  .inline-input-group > label{
    float:left;
  }
  .inline-input-group > .input-group{
    float:left;
    width:312px;
  }
  .inline-input-group > .input-group > select + .input-group-addon{
    border-left:none;
    border-right:none;
    background-color: #F8F9FC;
    min-width: 55px;
  }
  .inline-input-group > .input-group > .input-group-addon:last-child{
    border-right:1px solid #d6deef;
    min-width: 65px;
  }
  #node_parameters {
    padding-bottom: 40px;
  }
  </style>
  <div id="cfagentSchedule" class="inner-portlet">
    <h3 id="agentSchedule" class="page-title">Agent run schedule</h3>
    <div id="agentschedule-app" class="portlet-content"></div>
    <script data-lift="with-cached-resource" src="/javascript/rudder/elm/rudder-agentschedule.js"></script>
    <script>
      var hasWriteRights = false;
    </script>
    <lift:authz role="administration_write">
      <script>
        hasWriteRights = true;
      </script>
      <div id="scheduleMessage" class="pull-left">
        <span class="lift:Msg?cfagentScheduleMessage">[messages]</span>
      </div>
    </lift:authz>
  </div>
</schedule-agentschedule>