<xml:group>

<component-staticinit>
<head>
  <style type="text/css">
    .topLevelAction .twoColumns {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      /* only for IE inf 7 */
      display*: inline;
      zoom*: 1;
    }
    .topLevelAction .twoColumnsRight {
      margin-left:20px;
      margin-right: 5px;
    }
    .topLevelAction .twoColumns > * {
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
    }
    .disableNotice {
      margin-top:10px;
      font-size:0.9em;
    }
    .editZone {
      margin-top:30px;
    }
    .groupedEditZone {
      margin-bottom:10px;
    }
    label.wbBaseFieldLabel {
      margin-right:5px;
      margin-bottom: 3px;
    }
    .modal label.wbBaseFieldLabel {
      margin-right:0;
    }
    .reasonsFieldset {
      width:96%;
      margin-top: 15px;
      margin-right: 5px;
      display: inline-block;
    }
  </style>
</head>
</component-staticinit>

<component-body>
  <div id="editRuleZone">
    <div class="col-xs-12">
      <div class="box nav-tabs-custom has-toolbar">
        <ul class="nav nav-tabs pull-right rules-nav-tab">
          <li><a id="settingsTab" href="#ruleDetailsEditTab" data-toggle="tab">Settings</a></li>
          <li class="active"><a href="#ruleComplianceTab" data-toggle="tab">Compliance</a></li>
          <li class="pull-left header"><i id="changeIconRule" class="fa fa-gear"></i> Rule</li>
        </ul>
        <div class="tab-content no-padding">
          <div class="chart tab-pane active" id="ruleComplianceTab">
            <div id="details"></div>
          </div>
          <div class="chart tab-pane" id="ruleDetailsEditTab">
            <div id="ruleForm"></div>
            <div id="removeActionDialog"></div>
            <div id="disactivateActionDialog"></div>
          </div>
        </div>
      </div>
    </div>
    <lift:authz role="rule_edit">
      <div class="fixed-footer rule-footer">
        <div id="removeAction" style="float:left"></div>
        <div id="desactivateAction" style="float:left; margin-left:20px;"></div>
        <button id="clone">[Clone]</button>
        <div class="cpiefsave">
          <button id="save">Save</button>
        </div>
      </div>
    </lift:authz>
  </div>
  <div id="confirmUpdateActionDialog" class="modal fade" data-keyboard="true" tabindex="-1"></div>
</component-body>

<component-details>
<div id="details" class="object-details">
  <div id="ruleInfoSection" class="unfoldedSection" onclick="$('#ruleInfo').toggle(400); $('#ruleInfoSection').toggleClass('foldedSection');$('#ruleInfoSection').toggleClass('unfoldedSection');">
    <div class="section-title">Summary</div>
  </div>
  <div id="ruleInfo">
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Name</label>
      <div class="col-xs-12">
        <span id="ruleName"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Category</label>
      <div class="col-xs-12">
        <span id="ruleCategory"></span>
      </div>
    </div>
    <div id="tagField">
      Here comes the tag field
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Short description</label>
      <div class="col-xs-12">
        <span id="ruleShortDescription"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Description</label>
      <div class="col-xs-12">
        <span id="ruleLongDescription"></span>
      </div>
    </div>
    <div class="row wbBaseField form-group">
      <label class="col-xs-12 rule-info">Rudder ID</label>
      <div class="col-xs-12">
        <span id="rudderID"> Here comes the rudder ID </span>
      </div>
    </div>
    <hr/>
	</div>
	<div id="compliancedetails">
  </div>
</div>
</component-details>

<component-form>
<div class="object-details">

  <div id="pendingChangeRequestNotification">
    <div class="callout-fade callout-warning">
      <div class="marker"><span class="glyphicon glyphicon-info-sign"></span></div>
      The following pending change requests affect this Rule, you should check that your modification is not already pending:
      <ul id="changeRequestList"></ul>
    </div>
  </div>

  <div id="notifications"></div>
  <div class="section-title spacing-title">General information</div>

  <div class="groupedEditZone">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div id="nameField">
          Here comes the name field
        </div>
        <div id="categoryField">
          Here comes the category field
        </div>
        <div id="tagField">
          Here comes the tag field
        </div>
        <div id="shortDescriptionField">
          Here comes the shortDescription field
        </div>
        <div id="longDescriptionField">
          Here comes the longDescription field
        </div>
        <hr/>
      </div>
    </div>
  </div>

  <div class="groupedEditZone">
    <div class="section-title spacing-title">
      Directives
      <lift:authz role="directive_write"><a class="title-link" href= "/secure/configurationManager/directiveManagement">(Create a new Directive)</a></lift:authz>
    </div>
    <div id="directiveTree_actions_zone"  >
      <div class="col-xs-12 tree">
        <div class="filter-tree">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Bold" onclick="toggleTree('#directiveTree', this);">
                <span class="fa fa-folder fa-folder-open"></span>
              </button>
            </div>
            <input class="form-control" placeholder="Filter" id="treeSearch" onkeydown="refuseEnter(event);" onkeyup="searchTree('#treeSearch', '#directiveTree');">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" aria-label="Bold" onclick="clearSearchFieldTree('#treeSearch', '#directiveTree');" >
                <span class="fa fa-times"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div id="selectPiField"  class="col-xs-7" >
        Here comes the Directive selection field
      </div>
      <div ng-app="ruleDirectives" id="ruleDirectives" class="col-xs-5" >
        <div id="DirectiveCtrl" ng-controller="DirectiveCtrl">
          <div class="spacing-title targetHeader">
            Apply these Directives:
            <i class="fa fa-question-circle targetIcon icon-info" aria-hidden="true" tooltip="directiveAddExplanation"></i>
          </div>
          <div style="background-color:#DDFFDD;" class="targetContainer">
            <ul>
              <li ng-show="directivesIsEmpty()">
                <span class="targetDisplay">{{emptyDirective}}</span>
              </li>
              <li ng-repeat="directive in sortDirectives(directives)">
                <span class="targetDisplay">
                    <span class="fa fa-file-text"></span>
                    {{ directive.name }}
                    <i class="fa fa-times targetRemove" ng-click="removeInclude(directive.id)"></i>
                </span>
              </li>
            </ul>
            <hr class="spacer"/>
          </div>
          <hr class="spacer"/><br/>
        </div>
      </div>

      <hr class="spacer"/>

      <div class="section-title spacing-title">
        Groups
        <lift:authz role="group_write"><a class="title-link" href= "/secure/nodeManager/groups">(Create a new Group)</a></lift:authz>
      </div>
  <div id="groupeTree_actions_zone"  >
    <div class="col-xs-12 tree">
      <div class="filter-tree">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" aria-label="Bold" onclick="toggleTree('#groupTree', this);">
              <span class="fa fa-folder fa-folder-open"></span>
            </button>
          </div>
          <input class="form-control" placeholder="Filter" id="groupSearch" onkeydown="refuseEnter(event);" onkeyup="searchTree('#groupSearch', '#groupTree');">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" aria-label="Bold" onclick="clearSearchFieldTree('#groupSearch', '#groupTree');" >
              <span class="fa fa-times"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div id="selectGroupField" class="col-xs-7">
        Here comes the group selection field
      </div>
      <div ng-app="groupManagement" id="groupManagement" class="col-xs-5" >
        <div id="GroupCtrl" ng-controller="GroupCtrl">
          <div class="spacing-title targetHeader">
            Apply to Nodes in any of these Groups:
            <i class="fa fa-question-circle targetIcon icon-info" aria-hidden="true" tooltip="includeExplanation"></i>
          </div>
          <div style="background-color:#DDFFDD;" class="targetContainer">
	        <ul>
	          <li ng-show="target.include.or.length === 0">
	            <span class="targetDisplay">{{emptyTarget}}</span>
	          </li>
	          <li ng-repeat="included in target.include.or">
	            <span class="targetDisplay">
                    <span class="fa fa-sitemap"></span>
                  {{ getTargetName(included) }}
                  <i class="fa fa-times targetRemove" ng-click="removeInclude(included)"></i>
	            </span>
	          </li>
	        </ul>
	        <hr class="spacer"/>
          </div>
          <div class="spacing-title targetHeader">
            Except to Nodes in any of these Groups:
            <i class="fa fa-question-circle targetIcon icon-info" aria-hidden="true" tooltip="excludeExplanation"></i>
          </div>
          <div style="background-color:#FFDDDD;" class="targetContainer">
            <ul>
	          <li ng-show="target.exclude.or.length === 0">
	            <span class="targetDisplay">{{emptyTarget}}</span>
	          </li>
              <li ng-repeat="excluded in target.exclude.or"  >
                <span class="targetDisplay">
                    <span class="fa fa-sitemap"></span>
                  {{ getTargetName(excluded) }}
                  <i class="fa fa-times targetRemove" ng-click="removeExclude(excluded)"></i>
                </span>
              </li>
            </ul>
            <hr class="spacer"/>
          </div>
        </div>
      </div>
      <div class="hierarchySpacer"/>
    </div>
    <hr class="spacer"/>
</div>

</component-form>

</xml:group>
