<xml:group>


<component-staticinit>
<head>
  <style type="text/css">
    .topLevelAction .twoColumns {
      vertical-align: middle;
      max-width: 45%;
      display: inline-block;
      /* only for IE inf 7 */
      display*: inline;
      zoom*: 1;
    }
    .topLevelAction .twoColumnsRight {
      margin-left:20px
    }
    .topLevelAction .twoColumns > * {
      display: inline-block;
      vertical-align: middle;
      margin-left: 50px;
    }
    .disableNotice {
      margin-top:10px;
      font-size:0.9em;
    }
    #explanationMessage {
      margin-bottom: 10px;
    }
  </style>
</head>
</component-staticinit>

<component-comment>
All text that will be modified will be put in []
</component-comment>

<component-body>
    <div id="editForm" ></div>
    <div id="removeActionDialog" ></div>
    <div id="disactivateActionDialog" ></div>
</component-body>

<component-form>
<div id="editForm" class="object-details">
<div class="page-title">Technique details</div>

  <div class="groupedEditZone">
    <div class="groupDiv">
      <h3><span id="techniqueName">[Technique name]</span></h3>
    <div class="groupDiv">
    </div>
      <h4><span id="techniqueDescription">[technique.description]</span></h4>
    </div>

    <div class="groupDiv">
      <p id="techniqueLongDescription">[technique.longDescription]</p>
      <p id="isSingle">Unique Technique</p>
    </div>
  </div>
	<lift:authz role="technique_edit">
  <div id="userTemplateAction">
    <div id="Actions" class="col-sm-12">
      <button id="deleteButton" class="btn btn-danger">Delete</button>
      <button id="disableButton" class="btn btn-default"><span id="disableButtonLabel">[disable]</span></button>
      <p class="disableNotice">
        Note: Disabling a Technique also globally disable all the Directive based on it.
      </p>
    </div>

  </div>
  </lift:authz>

  <div class="editZone">
    <div class="section-title">Category</div>
    <div>Reference category:
      <ul id="breadcrumpReferenceCategory">[here come the breadcrump]</ul>
    </div>
    <div id="clientCategoryZone">[Here come the text for the client category breadcrump]</div>

    <div class="section-title">Parameters</div>
    <span id="templateParameters">[Here comes template parameters]</span>

  </div>
</div>

</component-form>

<component-popupremoveform>
    <div id="deleteActionDialog" class="modal fade" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete a Technique</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row space-bottom">
                        <div class="col-xl-12">
                            <h4 class="text-center">
                                Are you sure that you want to completely delete this item ?
                            </h4>
                        </div>
                    </div>
                    <div id="deleteItemDependencies" class="well col-xl-12 col-sm-12 col-md-12" >
                        [Here comes the tree of Directives / Rules that will be removed]
                    </div>
                    <div class="alert alert-warning col-xl-12 col-md-12 col-sm-12 text-center space-bottom" role="alert">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span class="d-none">Warning:</span>
                        Deleting this Technique will also delete its history and compliance reports,
                        and the Directives and Rules above.
                    </div>
                    <h4 class="col-xl-12 col-md-12 col-sm-12 audit-title">Change Audit Log</h4>
                    <div class="reasonsFieldset">
                        <div id="reasonsField">
                            Here comes the reasons field
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                    <button id="dialogDeleteButton" class="btn btn-danger">[Delete]</button>
                </div>
            </div>
        </div>
    </div>
</component-popupremoveform>

<component-popupdisableform>
    <div id="disableActionDialog" class="modal fade" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span id="dialogDisableTitle">
                            Disable 
                        </span> 
                        a Technique
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row space-bottom">
                        <div class="col-xl-12">
                            <h4 class="text-center">
                                Are you sure that you want to <span id="dialogDisableLabel">[disable]</span> this Technique?
                            </h4>
                        </div>
                    </div>
                    <div id="disableItemDependencies" class="well col-xl-12 col-sm-12 col-md-12" >
                        [Here comes the tree of Directives / Rules that will be removed]
                    </div>
                    <div class="alert alert-warning col-xl-12 col-md-12 col-sm-12 text-center space-bottom" role="alert">
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                        <span class="d-none">Warning:</span>
                        Enabling/Disabling this Technique will affect the Directives and Rules above.
                    </div>
                    <h4 class="col-xl-12 col-md-12 col-sm-12 audit-title">Change Audit Log</h4>
                    <div class="reasonsFieldset">
                        <div id="reasonsField">
                            Here comes the reasons field
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                    <button id="dialogDisableButton" class="btn btn-primary">[Delete]</button>
                </div>  
            </div>
        </div>
    </div>
</component-popupdisableform>

</xml:group>
