<xml:group>

<input-text>
  <div class="directive-input-group">
    <div class="input-group input-group-sm text-section col-xs-12">
      <div class="input-group-btn input-feature">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"> <span class="prefix-selected">Text</span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a onclick="updatePrefix(this, '')"        >Text </a></li>
          <li><a onclick="updatePrefix(this, 'evaljs:')" >JS   </a></li>
        </ul>
      </div>
      <input class="form-control monospace-font" type="text" oninput="updateResult(this);"/>
    </div>
  </div>
</input-text>

<input-textarea>
  <div class="directive-input-group">
    <div class="input-group input-group-sm text-section col-xs-12">
      <div class="btn-group btn-group-sm input-feature">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"> <span class="prefix-selected">Text</span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a onclick="updatePrefix(this, '')"        >Text </a></li>
          <li><a onclick="updatePrefix(this, 'evaljs:')" >JS   </a></li>
        </ul>
      </div>
      <textarea class="form-control textarea monospace-font" oninput="updateResult(this);" ></textarea>
    </div>
  </div>
</input-textarea>

<input-shared>
  <div class="directive-input-group">
    <div class="input-group col-xs-12 rect-padding">
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm browserFile" type="button" id="browserFile" onclick="">
          <span class="glyphicon glyphicon-folder-open"></span>
        </button>
      </span>
    </div>
  </div>
</input-shared>

</xml:group>