<xml:group>



<component-staticinit >
  <head>
  <style type="text/css">
    .warnicon {
      margin-top:-7px;
      margin-right:9px;
    }
    #actions_zone , .dataTables_length , .dataTables_filter {
      display: inline-block;
    }
  </style>
  </head>
</component-staticinit>

<component-staticbody>
<div>
  <div id="createCloneGroupPopup" class="modal fade" tabindex="-1">
    <div id="createCloneGroupContainer" ></div>
  </div>
</div>

<div>
  <div id="confirmUpdateActionDialog" class="modal fade" tabindex="-1" ></div>
</div>
</component-staticbody>

<component-body>
<div class="main-container">
  <div class="main-header">
    <div class="header-title">
      <h1 id="group-title">
        <i class="title-icon fa fa-sitemap"></i>
        <span id="group-name"></span>
      </h1>
      <div class="header-buttons">
        <group-close></group-close>
        <lift:authz role="group_write">
          <group-actions></group-actions>
        </lift:authz>
        <lift:authz role="group_edit">
          <group-save></group-save>
        </lift:authz>

      </div>
    </div>
  </div>
  <div class="main-navbar">
    <ul id="groupTabMenu" class="nav nav-underline">
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#groupParametersTab" type="button" role="tab" aria-controls="groupParametersTab" aria-selected="true">Parameters</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#groupCriteriaTab" type="button" role="tab" aria-controls="groupCriteriaTab" aria-selected="true">Criteria</button>
      </li>
      <li class="nav-item">
        <button id="relatedRulesLinkTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#groupRulesTab" type="button" role="tab" aria-controls="groupRulesTab" aria-selected="false">Related rules</button>
      </li>
      <li class="nav-item">
        <button id="groupPropertiesLinkTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#groupPropertiesTab" type="button" role="tab" aria-controls="groupPropertiesTab" aria-selected="false">Properties</button>
      </li>
      <li class="nav-item">
        <button id="complianceLinkTab" class="nav-link" data-bs-toggle="tab" data-bs-target="#groupComplianceTab" type="button" role="tab" aria-controls="groupComplianceTab" aria-selected="false">Compliance</button>
      </li>
    </ul>
  </div>
  <div class="main-details">
    <div class="tab-content tab-content-split">
      <div id="groupParametersTab" class="tab-pane active main-form">
        <div class="row d-flex">
          <div class="col-12 col-md-6 col-xl-7">
            <div class="main-form">
              <group-notifications ></group-notifications>
              <group-pendingchangerequest></group-pendingchangerequest>
              <group-name></group-name>
              <div id="longDescriptionFieldMarkdownContainer" class="form-group">
                <label class="fw-normal">Description
                  <lift:authz role="group_write">
                    <i class="fa fa-pencil text-primary cursorPointer half-opacity" onmouseenter="toggleOpacity(this)" title="Edit description" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i>
                  </lift:authz>
                </label>
                <div class="markdown">
                  <div id="longDescriptionFieldMarkdown"></div>
                  <p id="longDescriptionFieldMarkdownEmpty" class="d-none half-opacity">No description defined, click on <i class="fa fa-pencil text-primary cursorPointer half-opacity" onmouseenter="toggleOpacity(this)" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i> to edit </p>
                </div>
              </div>
              <div id="longDescriptionFieldContainer" class="d-flex d-none">
                <div id="longDescriptionField" class="col-6">
                  Here comes the longDescription field
                </div>
                <div id="longDescriptionFieldMarkdownPreviewContainer" class="col-6 ps-2">
                  <label class="fw-normal">Preview</label>
                  <div id="longDescriptionFieldPreviewMarkdown" class="markdown"></div>
                </div>
              </div>
              <group-rudderid></group-rudderid>
              <group-container></group-container>
              <group-cfeclasses></group-cfeclasses>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-5">
            <div class="form-group show-compliance">
              <div id="groupComplianceSummary">
                <label data-bs-toggle="tooltip" data-bs-placement="right" title="<div class='tooltip-inner-content'>Compliance that takes into account all rules that apply directives to a node within this group</div>">
                  Global compliance
                </label>
                <div class="groupGlobalComplianceProgressBar"></div>
                <label data-bs-toggle="tooltip" data-bs-placement="right" title="<div class='tooltip-inner-content'>Compliance that takes into account only rules that explicitly include this group in their target</div>">
                  Targeted compliance
                </label>
                <div class="groupTargetedComplianceProgressBar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="groupRulesTab" class="tab-pane main-form">
        <div id="groupRelatedRulesApp"></div>
      </div>
      <div id="groupPropertiesTab" class="tab-pane main-form">
        <div id="groupPropertiesTabContent"></div>
      </div>
      <div id="groupComplianceTab" class="tab-pane main-form">
        <div id="groupComplianceApp"></div>
      </div>
      <div id="groupCriteriaTab" class="tab-pane main-form">
      <group-static></group-static>
      <div id="SearchNodes">
        <group-showGroup ></group-showGroup>
      </div>
    </div>
    </div>
    <div class="table-container">
      <div id="drag"><i class="fa fa-grip-lines"></i></div>
      <div id="group-shownodestable" class="main-table"></div>
    </div>
  </div>
</div>
</component-body>
</xml:group>
