<xml:group>



<component-staticinit >
  <head>
  <style type="text/css">
    .warnicon {
      margin-top:-7px;
      margin-right:9px;
    }
    #actions_zone , .dataTables_length , .dataTables_filter {
      display: inline-block;
    }
  </style>
  </head>
</component-staticinit>

<component-staticbody>
<div>
  <div id="createCloneGroupPopup" class="modal fade" data-keyboard="true" tabindex="-1">
    <div id="createCloneGroupContainer" ></div>
  </div>
</div>

<div>
  <div id="confirmUpdateActionDialog" class="modal fade" data-keyboard="true" tabindex="-1" ></div>
</div>
</component-staticbody>

<component-body>
<div id="GroupTabs">
  <ul id="groupTabMenu">
    <li><a href="#groupParametersTab">Group parameters</a></li>
    <li><a href="#groupRulesTab">Applied Rules</a></li>
  </ul>

  <div id="groupParametersTab">

       <div class="inner-portlet">
         <div>
           <div class="page-title">
             Group details
           </div>
           <div class="inner-portlet-content">
             <div>
               <group-notifications ></group-notifications>
               <group-pendingchangerequest></group-pendingchangerequest>
               <group-name></group-name>
               <group-container></group-container>
               <group-static></group-static>
               <group-description></group-description>
               <group-rudderid></group-rudderid>
               <group-cfeclasses></group-cfeclasses>
             </div>
             <div class="searchNodes section-title">Group criteria</div>
             <div id="SearchNodes">
               <group-showGroup ></group-showGroup>
             </div>
<!--
             <lift:authz role="group_edit">
               <group-reason></group-reason>
             </lift:authz>
-->

             <lift:authz role="group_edit">
             <div>
               <div class="margins clearfix ">
                 <div class="pull-left" >
                 <lift:authz role="group_write"><group-delete></group-delete></lift:authz>
                 <lift:authz role="group_write"><group-clone></group-clone></lift:authz>
               </div>
               <div class="pull-right"  >
                 <group-save></group-save>
                 <div id="saveButtonToolTip" class="tooltipContent">If your 'Save' button is disabled, it means that you have updated the query without Searching for new Nodes.
                  Please click on 'Search' to enable saving again </div>
               </div>
             </div>
           </div>
           </lift:authz>
        </div>
      </div>
     </div>
  </div>
  <div id="groupRulesTab">  </div>
</div>
</component-body>
</xml:group>
