<xml:group>



<component-staticinit >
  <head>
  <style type="text/css">
    .warnicon {
      margin-top:-7px;
      margin-right:9px;
    }
    #actions_zone , .dataTables_length , .dataTables_filter {
      display: inline-block;
    }
  </style>
  </head>
</component-staticinit>

<component-staticbody>
<div>
  <div id="createCloneGroupPopup" class="modal fade" data-keyboard="true" tabindex="-1">
    <div id="createCloneGroupContainer" ></div>
  </div>
</div>

<div>
  <div id="confirmUpdateActionDialog" class="modal fade" data-keyboard="true" tabindex="-1" ></div>
</div>
</component-staticbody>

<component-body>
<div id="GroupTabs" class="main-container">
  <div class="main-header">
    <div class="header-title">
      <h1>
        <i class="title-icon fa fa-sitemap"></i>
        <span id="group-name"></span>
      </h1>
      <lift:authz role="group_edit">
        <div class="header-buttons">
          <lift:authz role="group_write"><group-delete></group-delete></lift:authz>
          <lift:authz role="group_write"><group-clone></group-clone></lift:authz>
          <group-save></group-save>
          <div id="saveButtonToolTip" class="tooltipContent">
            If your 'Save' button is disabled, it means that you have updated the query without Searching for new Nodes.
            Please click on 'Search' to enable saving again
          </div>
        </div>
      </lift:authz>
    </div>
  </div>
  <div class="main-navbar">
    <ul id="groupTabMenu">
      <li><a href="#groupParametersTab">Parameters</a></li>
      <li><a href="#groupCriteriaTab">Criteria</a></li>
      <li><a href="#groupRulesTab">Related Rules</a></li>
      <li><a href="#groupPropertiesTab">Group Properties</a></li>
    </ul>
  </div>
  <div class="main-details">
    <div id="groupParametersTab" class="main-form">
       <group-notifications ></group-notifications>
       <group-pendingchangerequest></group-pendingchangerequest>
       <group-name></group-name>
      <div id="longDescriptionFieldMarkdownContainer" class="row form-group wbBaseFieldLabel">
        <label class="wbBaseFieldLabel"><span class="text-fit">Description</span>
          <i class="fa fa-pencil text-primary cursorPointer half-opacity" onmouseenter="toggleOpacity(this)" title="Edit description" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i>
        </label>
        <div class="markdown">
          <div id="longDescriptionFieldMarkdown"></div>
          <p id="longDescriptionFieldMarkdownEmpty" class="nodisplay half-opacity">No description defined, click on <i class="fa fa-pencil text-primary cursorPointer half-opacity" onmouseenter="toggleOpacity(this)" onmouseout="toggleOpacity(this)" onclick="toggleMarkdownEditor('longDescriptionField')"></i> to edit </p>
        </div>
      </div>
      <div id="longDescriptionFieldContainer" class="nodisplay row form-group">
        <div id="longDescriptionField">
          Here comes the longDescription field
        </div>
        <div id="longDescriptionFieldMarkdownPreviewContainer" class="col-xs-6 row">
          <label class="col-xs-12 row wbBaseFieldLabel"><span class="text-fit">Preview</span></label>
          <div id="longDescriptionFieldPreviewMarkdown" class=" col-xs-12 row markdown"></div>
        </div>
      </div>
      <group-rudderid></group-rudderid>
      <group-container></group-container>
      <group-cfeclasses></group-cfeclasses>
    </div>
    <div id="groupRulesTab" class="main-form">
      <div class="alert alert-info">
        This group is used in following rule targets (either as a target or exception group):
      </div>
      <div id="groupRuleTabsContent"></div>
    </div>
    <div id="groupPropertiesTab" class="main-form">
      <div>
        <h4>Hierarchy of group and unicity of property name</h4>
        <p>A group property with a given name can be defined in several group if and only if these
        groups are in a sub-group hierarchical relation. A group 'S' is a subgroup of group 'P' if
          'S' uses the <span style="font-family: monospace;background-color:lightgray">'AND'</span>
          operand with the <span style="font-family: monospace;background-color:lightgray">'Group > Group ID = P'</span>
          criterion.</p>
      </div>
      <div>
        <h4>Property inheritance and overriding in hierarchy</h4>
        <p>When a group is a subgroup of another one, it inherit all its properties. If it defines
        a property with the same name than a parent, then that property value is overriden and
        the subgroup value is used. A node can also define a property with the same name, and in
        that case its value will override any group's value for that property name.</p>
      </div>
      <div>
        <h4>Overriding order between several parents</h4>
        <p>If a group is a subgroup of several groups, then the overriding is done in the
        same order than groups are defined in criteria lines: the last group define the
        group whose value will be chosen among parents.</p>
      </div>
      <div id="groupPropertiesTabContent"></div>
    </div>
    <div id="groupCriteriaTab" class="main-form">
      <group-static></group-static>
      <div id="SearchNodes">
        <group-showGroup ></group-showGroup>
      </div>
    </div>
    <div id="group-shownodestable" class="main-table"></div>
  </div>
</div>
</component-body>
</xml:group>
