<password-input>
  <div class="password-app">
    <div class="password-section">

      <div class="current-password padding-form">
        <div class="form-group row is-passwd">
          <label class="control-label">Current password <small style="color: #999" current-hash></small></label>
          <div class="input-group col-xs-12">
            <input type="text" readonly class="form-control input-current-passwd">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu"></ul>
              <button type="button" data-reveal="current" class="btn btn-default reveal-password">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button>
              <button type="button" class="btn btn-info"    data-action="change" >Change</button>
              <button type="button" class="btn btn-success" data-action="keep"   >Revert</button>
              <button type="button" class="btn btn-danger"  data-action="delete" >Delete</button>
            </span>
          </div>
        </div>

        <div>
          <div class="form-group is-script">
            <label class="control-label">Script to compute passwords</label>
            <span class="btn-group">
            <button type="button" class="btn btn-info"    data-action="change" >Change</button>
            <button type="button" class="btn btn-success" data-action="keep"   >Revert</button>
            <button type="button" class="btn btn-danger"  data-action="delete" >Delete</button>
          </span>
            <div class="input-group col-xs-12">
              <textarea readonly class="form-control input-new-passwd"></textarea>
            </div>
          </div>
        </div>

      </div>

      <div class="password-deleted action-section action-delete">
        <h4>Password will not be managed by Rudder anymore
          <button type="button" class="btn btn-success" data-action="keep">Revert</button>
        </h4>
      </div>

      <div class="actions action-section action-change">
        <div class="btn-group " class="password-actions" role="group">
          <a class="btn btn-default" data-form="withHashes">
            Enter password + hash
          </a>
          <a class="btn btn-default" data-form="preHashed">
            Enter pre-hashed value
          </a>
          <a class="btn btn-default" data-form="clearText">
            Use clear text password
          </a>
          <a class="btn btn-default" data-form="script">
            Enter script to set passwords
          </a>
        </div>

        <div class="bloc-action action-withHashes">
          <div>
            <div class="form-group has-feedback">
              <label class="control-label">New password</label>
              <div class="input-group col-xs-12">
                <input type="text" class="form-control input-new-passwd"/>
                <span class="input-group-btn">
                <button type="button" data-reveal="new" class="btn btn-default reveal-password">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </span>
              </div>
            </div>
            <div class="form-group ">
              <label class="control-label">Hash algorithm</label>
              <div class="col-xs-12">
                <select class="form-control new-password-hash"></select>
                <span class="help-block">
                This password will be hashed using the <strong class="hash-algorithm"></strong> algorithm and stored and distributed only as a hash. The plain text value entered above will not be stored.
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="bloc-action action-newPassword">
          <div class="form-group has-feedback">
            <label class="control-label">New password</label>
            <div class="input-group col-xs-12">
              <input type="text" class="form-control input-new-passwd"/>
              <span class="input-group-btn cleartext-reveal">
                <button type="button" data-reveal="new" class="btn btn-default reveal-password">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </span>
            </div>
            <span class="help-block col-xs-12">
              This <strong class="variation"></strong> will be stored and distributed verbatim (plain text).
            </span>
          </div>
        </div>

        <div class="bloc-action action-script">
          <div class="">
            <div class="form-group has-feedback">
              <label class="control-label">Script</label>
              <div class="input-group col-xs-12 ">
                <textarea class="form-control input-new-passwd" rows="4"></textarea>
                <span class="help-block">
                You can enter a JavaScript expression here. See <a href="/rudder-doc/reference/current/usage/advanced_configuration_management.html#_javascript_evaluation_in_directives">documentation</a> here for details.<br/>
                Passwords will be computed for each node during policy generation. To use hashed passwords, make sure to call the rudder.password function in the script above.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</password-input>