{{#vars.system_slapd_logrotate.ldap_logs}}
{{{.name}}} {
        daily
        missingok
        rotate {{{.duration}}}
        compress
        notifyempty
        create {{{.create}}}
        delaycompress
        sharedscripts
        postrotate
          {{{.postrotate}}}
        endscript
}
{{/vars.system_slapd_logrotate.ldap_logs}}
