[ req ]
distinguished_name = req_distinguished_name

[ req_distinguished_name ]

[ server_cert ]

# Self signed cert must be a CA to authenticate
basicConstraints = CA:TRUE

# Client authentication and signature (deprecated)
#nsCertType = client, objsign

# digitalSignature: to sign files (e.g. inventories)
# keyEncipherment: to cipher session keys (e.g. TLS session)
# dataEncipherment: to cipher files, mays be used some day
# keyCertSign: to sign certificate (as a CA or for self signed certs)
keyUsage = digitalSignature, keyEncipherment, dataEncipherment, keyCertSign

# Optional, no generic signature usage, do not use
# clientAuth: for TLS communication
#extendedKeyUsage = clientAuth

# PKIX recommendations
subjectKeyIdentifier=hash

subjectAltName = $ENV::SUBJALTNAME

