<!DOCTYPE html>
<html ng-app="ncf">
    <head>
        <script src="js/angular-1.3.14.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/ngToast.min.js"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/ngToast.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/elastic.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/cfengine_classes.json"></script>
        <script src="js/class_utils.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script id="template/accordion/accordion-group.html" type="text/ng-template">
          <div class="panel panel-default">
            <div class="panel-heading" ng-click="isOpen = !isOpen">
                <h4 class="panel-title">
                  <a class="accordion-toggle"  accordion-transclude="heading">{{heading}}</a>
                </h4>
            </div>
            <div class="panel-collapse" collapse="!isOpen">
                <div class="panel-body" ng-transclude></div>
            </div>
          </div>
        </script>
        
        <script type="text/ng-template" id="SaveChangesModal.html">
          <div class="modal-header">
            <h3 class="modal-title">Unsaved changes</h3>
          </div>
          <div class="modal-body">
            Some changes made on Technique '{{technique.name}}' were not saved.<br/>
            If you switch before saving, all your changes will be lost.<br/>
            <span class="text-danger" ng-if="editForm.$invalid">Technique cannot be saved because it has some errors</span>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
            <button class="btn btn-default" ng-click="discard()">Discard Changes</button>
            <button class="btn btn-default" ng-disabled="editForm.$invalid" ng-click="save()">Save Changes</button>
          </div>
        </script>
        </script>
        <script type="text/ng-template" id="template/confirmModal.html">
          <div class="modal-header">
            <h3 class="modal-title">{{actionName}} {{kind}}</h3>
          </div>
          <div class="modal-body">
            Are you sure you want to {{actionName}} {{displayName()}}?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
            <button class="btn btn-default btn-delete" ng-click="confirm()">{{actionName}}</button>
          </div>
        </script>
        <script id="template/cloneModal.html" type="text/ng-template">
          <form name="cloneForm" novalidate>
            <div class="modal-header">
              <h3 class="modal-title">Clone Technique</h3>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="cloneName" class="control-label">New Technique name:</label>
                <div>
                  <input  type="text" id="cloneName" name="name" techniquename class="form-control" ng-model="technique.name" placeholder="Technique Name" required>
                </div>
                <span class="text-danger pull-left" ng-show="cloneForm.name.$error.techniqueName">Technique name must be unique</span>
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-default pull-left" ng-click="cancel()">Cancel</a>
              <button ng-disabled="cloneForm.$invalid || technique.name === oldTechniqueName" class="btn btn-default" ng-click="clone()">Clone</button>
            </div>
          </form >
        </script>
        <script src="js/ncf.js" ></script>
         <base href="/ncf-builder" />
    </head>
    <body ng-controller="ncf-builder">
        <toast></toast>
        <div role="navigation" class="navbar navbar-inverse navbar-static-top">
            <div>
                <div class="navbar-header">
                    <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">ncf builder</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a >Create and modify your own ncf technique</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </div>

        <div  class="container Override row fill" ng-hide="authenticated" >
            <div class="col-md-12 ncf_col text-center">
                <h1>You are not authenticated in ncf-builder</h1>
                <div>Please try again by clicking <a href="" ng-click="reloadPage()">here</a></div>
            </div>
        </div>
            
        <div  class="container Override row fill" ng-show="authenticated" >
            <div class="col-md-2 ncf_col" style=" border-right:5px #DDDDDD solid; ">
                <div class="title">Library</div>
                <h3 >Techniques</h3>
                <table class="table table-hover table-condensed table-ncf" >
                    <thead>
                        <tr>
                            <th colspan=2>
                                <div class="input-group input-group-sm pull-left" style="width:55%">
                                    <span class="input-group-addon" style="padding:2px;"><span class="glyphicon glyphicon-search"></span></span>
                                    <input type="text" class="form-control" placeholder="Filter" ng-model="searchText.name" style="padding:2px">
                                </div>
                                <button ng-click="newTechnique()" class="btn btn-xs btn-default pull-right" style="height:30px;"><span class="glyphicon glyphicon-plus-sign" style="margin-right:5px"></span>New</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="technique in techniques | orderBy:'name':false | filter:searchText  track by $index" ng-click="checkSelect(technique,selectTechnique)" >
                            <td href="#" ng-class="{'active': isSelected(technique)}" style="height:100%;vertical-align:middle; padding: 0 5px">
                                <span class="col-md-10">{{technique.name}} </span>
                            </td>
                            <td href="#" ng-class="{'active': isSelected(technique)}" style="height:100%;vertical-align:middle">
                                <i type="button" class="glyphicon pull-right icon-margin" ng-class="{'glyphicon-chevron-left': isSelected(technique), 'glyphicon-chevron-right': !isSelected(technique)}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form class="form-horizontal editForm" name="editForm" novalidate >
            <div ng-if="selectedTechnique" > 
            <div class="col-md-5 ncf_col" >
                    <div class="title">Technique</div>
                    <h3 >{{originalTechnique.name}} <span ng-hide="originalTechnique.name">New Technique</span>
                        <a ng-disabled="isNotSaved()" class="btn btn-default pull-right top-margin btn-delete" ng-click="confirmPopup('Delete','Technique', deleteTechnique, selectedTechnique, selectedTechnique.name)">Delete</a>
                        <a ng-disabled="isNotSaved()" class="btn btn-default pull-right top-margin right-margin" ng-click="checkSelect(selectedTechnique,clonePopup )">Clone</a>
                    </h3>
                    <accordion>
                        <accordion-group ng-init="isopen = true" is-open="isopen">
                            <accordion-heading>
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                General information
                            </accordion-heading>
                            <div class="form-group" show-errors>
                                <label for="techniqueName" class="col-sm-3 control-label">Name:</label>
                                <div class="col-sm-8">
                                    <input  type="text" id="techniqueName" name="name" class="form-control" techniquename ng-model="selectedTechnique.name" placeholder="Technique Name" required>
                                </div>
                                <span class="text-danger col-sm-8 col-sm-offset-3" ng-show="editForm.name.$error.techniqueName">Technique name must be unique</span>
                            </div>
                            <div class="form-group">
                                <label for="techniqueDescription" class="col-sm-3 control-label">Description:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="techniqueDescription" msd-elastic rows="1" ng-model="selectedTechnique.description" placeholder="Technique Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <strong class="col-sm-3 text-right">Version:</strong>
                                <div class="col-sm-8">{{selectedTechnique.version}}</div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <ul class="list-unstyled" >
                        <li ng-click="selectMethod(method_call,$index)" ng-repeat="method_call in selectedTechnique.method_calls track by $index" class="panel-margin-top btn btn-block btn-default" ng-class="{'active': isSelectedMethod(method_call)}">
                            <div class="panel-heading" style="overflow:hidden">
                                <h4 class="panel-title">
                                    <span class="pull-left"> {{getMethodName(method_call)}}
                                        <a target="_blank" ng-href="http://www.ncf.io/pages/reference.html#{{getMethodBundleName(method_call)}}">
                                            <i class="glyphicon glyphicon-info-sign method-actions grey-icon"></i>
                                        </a>
                                  </span>
                                  <i type="button" class="glyphicon pull-right icon-margin" ng-class="{'glyphicon-chevron-left': isSelectedMethod(method_call), 'glyphicon-chevron-right': !isSelectedMethod(method_call)}"></i>
                                  <i aria-hidden="true" class="glyphicon glyphicon-trash pull-right icon-margin icon-delete method-actions" ng-click="removeMethod($index); $event.stopPropagation();"></i>
                                  <i type="button" class="glyphicon glyphicon-circle-arrow-down pull-right icon-margin  method-actions" aria-hidden="true" ng-hide="$index === selectedTechnique.method_calls.length - 1" ng-click="moveUp($index); $event.stopPropagation();"></i>
                                  <i type="button" class="glyphicon glyphicon-circle-arrow-up pull-right icon-margin  method-actions" aria-hidden="true" ng-hide="$index === 0" ng-click="moveDown($index); $event.stopPropagation();"></i>
                              </h4>
                              <div ng-form="arg_method" ng-repeat="arg in method_call.args track by $index">
                                <input ng-hide="true" type="text" ng-model="arg" required ></input>
                                <br style="clear:both" ng-if="arg_method.$invalid"/>
                                <h5 ng-if="arg_method.$invalid" class=" pull-left method-margin text-danger">
                                  Empty value in '{{getArgName($index,method_call)}}'
                                </h5>    
                              </div>
                              <br style="clear:both" ng-if="getClassParameter(method_call) !== undefined"/>
                              <h5 class="pull-left method-margin" >
                                  {{getClassParameter(method_call)}}
                              </h5>
                              <br style="clear:both"/>
                              <h4 class="pull-left method-margin">
                                  <small class="pull-left" >
                                      {{getMethodDescription(method_call)}}
                                  </small>
                              </h4>
                          </div>
                      </li>
                  </ul>
            </div>

                <div class="col-md-5 col-md-offset-2 fixed-footer">
                    <div ng-click="openMethods()"  class="btn btn-default pull-left" ng-class="{'active': addNew}">
                        <span class="glyphicon glyphicon-plus-sign" style="margin-right:5px"></span>
                        Add methods
                    </div>
                    <button ng-disabled="editForm.$invalid || checkSelectedTechnique()" class="btn btn-default pull-right" ng-click="saveTechnique()">Save</button>
                    <button ng-disabled="isUnchanged(selectedTechnique)" class="btn btn-default pull-right right-margin" ng-click="resetTechnique()">Reset</button>
                </div>
            </div>
            </form>

            <div class="col-md-5 ncf_col" style="vertical-align:top; padding-left:0px;" ng-if="selectedMethod">
                <div style="padding-left:15px;margin-bottom:95px;">
                    <div class="title">Method</div>
                    <h3 >{{getMethodName(selectedMethod)}}
                        <button ng-disabled="isUnchangedMethod(selectedMethod)" class="btn btn-default pull-right top-margin" ng-click="resetMethod()">Reset</button>
                    </h3>
                    <accordion>
                        <accordion-group ng-init="isopen = false" is-open="isopen">
                            <accordion-heading>
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                Conditions
                            </accordion-heading>
                            <div class="form-group condition-form" id="os-form">
                              <label for="os_class">Operating system:</label>
                              <form class="form-inline" role="form">
                                <div class="form-group">
                                  <label for="os_class">Type:</label>
                                  <select class="form-control" ng-change="updateOSType()" ng-model="selectedMethod.OS_class.type" ng-options="type for type in type_classes" ></select>
                                </div>
                                <div  class="form-group" ng-show="os_classes_by_type[selectedMethod.OS_class.type].length > 0" >
                                  <label for="os_class">Name:</label>
                                  <select class="form-control" ng-change="updateOSName()" ng-model="selectedMethod.OS_class.name" ng-options="os for os in os_classes_by_type[selectedMethod.OS_class.type]"></select>
                                </div>
                              </form>
                              <form class="form-inline" role="form">
                                <div class="form-group" ng-show="checkMajorVersion()">
                                  <label for="os_class">Version (Major):</label>
                                  <input type="text" ng-pattern="versionRegex" style="width:50px" class="form-control" ng-change="updateClassContext()" ng-model="selectedMethod.OS_class.majorVersion"  placeholder=""></input>
                                </div>
                                <div class="form-group" ng-show="checkMinorVersion()">
                                  <label for="os_class">Version (Minor):</label>
                                  <input type="text"  style="width:50px" ng-pattern="versionRegex" class="form-control" ng-change="updateClassContext()" ng-disabled="selectedMethod.OS_class.majorVersion === undefined || selectedMethod.OS_class.majorVersion === '' " ng-model="selectedMethod.OS_class.minorVersion"  placeholder=""></input>
                                </div>
                              </form>
                            </div>
                            <div class="form-group condition-form">
                              <label for="advanced">Other CFEngine classes:</label>
                              <input  type="text" id="advanced"  class="form-control" ng-change="updateClassContext()" ng-model="selectedMethod.advanced_class" placeholder="">
                            </div>
                            <div class="form-group condition-form">
                              <label for="class_context">CFEngine class context:</label>
                              <input ng-readonly="true" type="text" id="" class="form-control" ng-model="selectedMethod.class_context" style="cursor:text">
                            </div>
                        </accordion-group>
                    </accordion>
                    <accordion >
                        <accordion-group ng-init="isopen = true" is-open="isopen">
                            <accordion-heading>
                                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                                Parameters
                            </accordion-heading>
                              <form class="" role="form">
                            <div class="form-group method-parameter" show-errors ng-form="subForm" style="margin: 15px 10px" ng-repeat="arg in selectedMethod.args track by $index">
                                <label class="control-label" for="param-{{$index}}">{{getArgName($index,selectedMethod)}}:</label>
                                <textarea msd-elastic name="param" class="form-control" rows="1" ng-required="true" id="param-{{$index}}" ng-model="selectedMethod.args[$index]" placeholder=""></textarea>
                            </div>
                          </form>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="col-md-5 fixed-footer" style="padding-top: 0; border-right:0; padding-bottom: 0;">
                    <h4 style="text-align:left; margin-top:0px;" class="panel-title">
                        Result classes defined by this method
                    </h4>
                    <form class="form-horizontal editForm" name="editForm">
                        <div class="form-group"  style="margin-bottom:3px;margin-top:3px">
                            <label class="col-sm-1 control-label" style="padding-top:0; font-size:13px;">Success:</label>
                            <div class="col-sm-10" style="padding-left:25px;">
                                <input ng-readonly="true" type="text" id="techniqueName" class="form-control input-xs" value="{{getClassKind(selectedMethod,'kept')}}" style="cursor:text">
                            </div>
                        </div>
                        <div class="form-group"  style="margin-bottom:3px">
                            <label class="col-sm-1 control-label" style="padding-top:0; font-size:13px;">Repaired:</label>
                            <div class="col-sm-10" style="padding-left:25px;">
                                <input ng-readonly="true" type="text" id="techniqueName" class="form-control input-xs" value="{{getClassKind(selectedMethod,'repaired')}}" style="cursor:text">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:3px">
                            <label for="error" class="col-sm-1 control-label" style="padding-top:0; font-size:13px;">Error:</label>
                            <div class="col-sm-10" style="padding-left:25px;">
                                <input ng-readonly="true" type="text" id="techniqueName" class="form-control input-xs" value="{{getClassKind(selectedMethod,'error')}}" style="cursor:text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-5 ncf_col" ng-if="addNew" >
                <div class="row">
                    <div class="col-md-9">
                        <div class="title">Library</div>
                        <h3 >Generic methods</h3>
                        <ul class="list-unstyled" ng-repeat="(kind,methods) in methodsByCategory"  >
                            <h4 id={{kind}}>{{capitaliseFirstLetter(kind)}} </h4>
                            <li ng-click="addMethod(method)" ng-repeat="method in methods" class="panel-margin-top btn btn-block btn-default">
                                <div class="panel-heading" style="overflow:hidden">
                                    <h4 class="panel-title">
                                        <span class="pull-left"> {{method.name}}
                                            <a target="_blank" ng-href="http://www.ncf.io/pages/reference.html#{{method.bundle_name}}">
                                                <i class="glyphicon glyphicon-info-sign method-actions grey-icon"></i>
                                            </a>
                                        </span>
                                        <br style="clear:both"/>
                                        <small class="pull-left method-margin" >
                                            {{method.description}}
                                        </small>
                                    </h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3" class="bs-sidebar navbar" >
                        <ul class="nav bs-sidenav" style="position:fixed; margin-top:60px;">
                            <li ng-repeat="(kind,methods) in methodsByCategory" class="active">
                                <a href="" ng-click="scroll(kind)">{{capitaliseFirstLetter(kind)}} </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
