
<lift:surround with="common-layout" at="content">

<head>
<title>Rudder - Directives Management</title>

<style type="text/css">

#versionTable thead tr {
    border: 1px solid #666 !important;
    padding: 0px;
    list-style: none inside none;
    font-weight: bold;
    background-color: #666;
    color: #FFF;
    font-size: 13px;
}

#versionTable thead tr th {
    padding: 3px;
    text-align: center;
}

#versionTable tbody tr {
    border: 1px solid #666 !important;
    padding: 4px 3px;
    margin: 0px;
    padding: 0px;
    list-style: none inside none;
    font-size: 12px;
}

#versionTable tbody tr td {
  text-align: center;
}

#editForm {
  padding-bottom:70px;
}

</style>

</head>

<div data-lift="configuration.DirectiveManagement.head"></div>

<div class="col col-sm">
  <div class="page-title">Directive Library</div>
  <div id="activeTechniquesTree_actions_zone" style="margin:5px 0;">
    <img onclick="openAllNodes('#activeTechniquesTree');" src="/images/open-plus.png" alt="+" width="16" height="16" class="filterIcon"/>

    <img onclick="closeAllNodes('#activeTechniquesTree');" src="/images/close-minus.png" alt="-" width="16" height="16" class="filterIcon"/>

    <input style="width:100px;" id="treeSearch" type="text" placeholder="Filter" onkeydown="refuseEnter(event);" onkeyup="searchTree('#treeSearch', '#activeTechniquesTree');" class="tooltipable" title="" tooltipid="treeSearchTooltip"/>

    <span class="tooltipContent" id="treeSearchTooltip">Type at least three character to search element (name or description) in the tree.</span>

    <img onclick="clearSearchFieldTree('#treeSearch', '#activeTechniquesTree');" src="/images/close-cross.png" alt="x" width="16" height="16" class="filterIcon"/>

    <a style="float:right" href="/secure/utilities/techniqueEditor">
      <input style="padding:0.4em 0" type="button" value="Open Technique editor"/>
   </a>
 </div>

 <div data-lift="configuration.DirectiveManagement.userLibrary" ></div>

</div>

<div class="col col-xl">

  <div data-lift="configuration.DirectiveManagement.techniqueDetails">
    <div id="techniqueDetails" ng-app="techniqueDetails"   >
      <div class="page-title">Technique information</div>
      <div id="details">
        <div id="directiveIntro">
          The Directive <b class="directive">[Directive]</b> is based on following Technique:
        </div>
        <div>
        <h3><span id="techniqueName">[Technique name]</span></h3>
        </div>
        <br/>
        <fieldset class="deca">
          <legend>Description</legend>
          <span id="techniqueDescription">[technique.description]</span>
        </fieldset>            
        <div class="groupDiv">
          <fieldset class="deca">
            <legend>Characteristics</legend>
            <p id="techniqueLongDescription">[technique.longDescription]</p>
            <p id="isSingle">[Unique Technique]</p>
            <p><span id="compatibility">[Supported operating systems : debian-5]</span></p>
          </fieldset>
        </div>
        <fieldset class="deca" id="techniqueVersion" ng-controller="techniqueVersion">
            <legend>Available versions</legend>
          <table id="versionTable">
            <thead>
              <tr>
                <th>Version</th>
                <th>Last updated on</th>
                <lift:authz role="directive_write">
                  <th>Use this version</th>
                </lift:authz>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="technique in techniques" ng-hide="display(technique)">
                <td class="tw-bs">{{technique.version}}
                  <span ng-if="technique.isDeprecated" title="" tooltipid="version_{{$index}}" class="glyphicon glyphicon-exclamation-sign text-danger deprecatedTechniqueIcon tooltipable"></span>
                  <div ng-if="technique.isDeprecated" class="tooltipContent" id="version_{{$index}}">
                    <div>Deprecated: {{technique.deprecationMessage}}</div>
                  </div>
                </td>
                <td>{{technique.acceptationDate}}</td>
                <lift:authz role="directive_write">
                  <td> <input type="button" ng-click="technique.action()" value="Create Directive" /></td>
                </lift:authz>
               </tr>
             </tbody>
           </table>
           <input id="displayDeprecation" type="checkbox" ng-model="displayDeprecated" /> <label for="displayDeprecation">Display deprecated Technique versions</label>
         <div style="text-align: center;">
           <lift:authz role="directive_write">
             <input type="button" id="addButton" ng-click="techniques[techniques.length-1].action()" value="Create with last version"/>
           </lift:authz>
         </div>         
       </fieldset>
       </div>
     </div>
   </div>
    
   <div class="directiveDetails">
     <div data-lift="configuration.DirectiveManagement.showDirectiveDetails" ></div>
   </div>
</div>
 
<div id="createDirectivePopup" class="nodisplay">
  <lift:ignore>
    This div gets the content of the createDirective injected within
  </lift:ignore>
</div>
  
  <div id="finishMigrationPopup" class="nodisplay">
    <div class="simplemodal-title">
      <h1>Finish migration to a new version</h1>
      <hr/>
    </div>
    <div class="simplemodal-content">
      <br />
      <div>
        <img src="/images/icWarn.png" alt="Be careful" height="32" width="32" class="icon" />
        <h2>Edit and save the form!</h2>
      </div>
      <hr class="spacer" />
      <br />
      <p>To finish the Directive migration to the new version, you have to edit and save the Directive parameters.</p>
      <p>You can cancel the migration by reloading the page or choosing an other Directive in the tree 
        without saving the form. 
      </p>    
      <br />
      <div align="right">
        <button class="simplemodal-close" onClick="return false;">
          Close
        </button>
      <br />
      </div>
    </div>
  </div>
  
</lift:surround>

