<lift:surround with="common-layout" at="content">

<head>
  <title>Rudder - Directives Management</title>
  <style type="text/css">
    #versionTable thead tr {
      border: 1px solid #666 !important;
      padding: 0px;
      list-style: none inside none;
      font-weight: bold;
      background-color: #666;
      color: #FFF;
      font-size: 13px;
    }
    #versionTable thead tr th {
      padding: 3px;
      text-align: center;
    }
    #versionTable tbody tr {
      border: 1px solid #666 !important;
      padding: 4px 3px;
      margin: 0px;
      padding: 0px;
      list-style: none inside none;
      font-size: 12px;
    }
    #versionTable tbody tr td {
      text-align: center;
    }
    #editForm {
      padding-bottom:70px;
    }
    .rudder-col,body{
      overflow:hidden;
    }
  </style>
  <link media="screen" href="/style/rudder/rudder-tags.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" src="/javascript/rudder/tree-tag-plugin.js"></script>
  <script type="text/javascript" src="/javascript/rudder/angular/filters.js"></script>
  <script type="text/javascript" src="/javascript/rudder/directive.js"></script>
</head>

<div data-lift="configuration.DirectiveManagement.head"></div>

<div class="tw-bs col-sm directiveTree">
  <div class="page-title">Directive Library</div>
  <div id="activeTechniquesTree_actions_zone" ng-controller="filterTagDirectiveCtrl" ng-cloak>
    <div class="tree">
      <div class="filter-tree">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-sm btn-default" aria-label="Bold" onclick="toggleTree('#activeTechniquesTree', this);">
              <span class="fa fa-folder fa-folder-open"></span>
            </button>
          </div>
          <input class="form-control input-sm" placeholder="Filter" id="treeSearch" ng-model="searchStr" ng-keydown="refuseEnter($event)" ng-keyup="searchTree('#activeTechniquesTree')">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" aria-label="Bold" ng-click="clearSearchFieldTree('#activeTechniquesTree');" >
              <span class="fa fa-times"></span>
            </button>
            <lift:authz role="technique_write">
              <a class="btn btn-default btn-sm" href="/secure/utilities/techniqueEditor">Edit Techniques</a>
            </lift:authz>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix "></div>
    <div id="showFiltersDirective" class="filters">
      <div class="filters-container">
          <form class="filterTag">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" href="#form-tag" ng-click="toggleFilter('#stateFilterTag')" aria-expanded="true" aria-controls="form-tag">
                      More filters
                      <span id="stateFilterTag" class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                  </h4>
                </div>
                <div id="form-tag" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="form-group">
                      <label>Tags</label>
                      <div class="input-group">
                        <input placeholder="key" class="form-control input-sm input-key    " type="text" ng-model="newTag.key">
                        <span class="input-group-addon addon-json">=</span>
                        <input placeholder="value" class="form-control input-sm input-key    " type="text" ng-model="newTag.value">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-success btn-sm" ng-disabled="isEmptyOrBlank(newTag.key) && isEmptyOrBlank(newTag.value)" ng-click="addTag(newTag)"><span class="fa fa-plus"></span></button>
                        </span>
                      </div>
                    </div>
                    <div class="only-tags">
                      <a href="" ng-click="onlyAll($event)" class="all" ng-class="{'active':(!only.key && !only.value)}"> All </a>
                      <span class="separator">/</span>
                      <a href="" ng-click="onlyKey($event)" class="key" ng-class="{'active':only.key}"> Filter keys only   </a>
                      <span class="separator">/</span>
                      <a href="" ng-click="onlyValue($event)" class="value" ng-class="{'active':only.value}"> Filter values only </a>
                      <button class="btn btn-default btn-xs pull-right" ng-click="clearAllTags()" ng-disabled="tags.length==0">
                        Clear all tags
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class="tags-container" ng-show="tags.length>0">
                    <div class="btn-group btn-group-xs" role="group"  ng-repeat="tag in tags track by $index">
                      <button class="btn btn-default tag" ng-class="{'onlyKey':only.key, 'onlyValue':only.value, 'already-exist':tag.alreadyExist}" ng-click="modifyTag($index,tag)" >
                        <span class="tag-key">
                          <span ng-show="tag.key!=''">{{tag.key}}</span>
                          <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.key==''"></i>
                        </span>
                        <span class="tag-separator">=</span>
                        <span class="tag-value">
                          <span ng-show="tag.value!=''">{{tag.value}}</span>
                          <i class='fa fa-asterisk' aria-hidden='true' ng-show="tag.value==''"></i>
                        </span>
                      </button>
                      <button type="button" class="btn btn-default" ng-click="removeTag($index)">
                        <span class="fa fa-times"></span>
                      </button>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
  <div id="activeTechniquesTree_alert" style="display:none"><div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i>No directives match your filter.</div></div>
  <hr class="separator-filter-tree">
  <div data-lift="configuration.DirectiveManagement.userLibrary" ></div>
</div>

<div class="col col-xl" id="directiveDetails">

  <div data-lift="configuration.DirectiveManagement.techniqueDetails">
    <div id="techniqueDetails" ng-app="techniqueDetails"   >
      <div class="page-title">Technique information</div>
      <div id="details">
        <div id="directiveIntro">
          The Directive <b class="directive">[Directive]</b> is based on following Technique:
        </div>
        <div>
        <h3><span id="techniqueName">[Technique name]</span></h3>
        </div>
        <br/>
        <fieldset class="deca">
          <legend>Description</legend>
          <span id="techniqueDescription">[technique.description]</span>
        </fieldset>
        <div class="groupDiv">
          <fieldset class="deca">
            <legend>Characteristics</legend>
            <p id="techniqueLongDescription">[technique.longDescription]</p>
            <p id="isSingle">[Unique Technique]</p>
            <p><span id="compatibility">[Supported operating systems : debian-5]</span></p>
          </fieldset>
        </div>
        <fieldset class="deca" id="techniqueVersion" ng-controller="techniqueVersion">
            <legend>Available versions</legend>
          <table id="versionTable">
            <thead>
              <tr>
                <th>Version</th>
                <th>Last updated on</th>
                <lift:authz role="directive_write">
                  <th>Use this version</th>
                </lift:authz>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="technique in techniques" ng-hide="display(technique)">
                <td class="tw-bs">{{technique.version}}
                  <span ng-if="technique.isDeprecated" title="" tooltipid="version_{{$index}}" class="glyphicon glyphicon-info-sign text-danger deprecatedTechniqueIcon tooltipable"></span>
                  <div ng-if="technique.isDeprecated" class="tooltipContent" id="version_{{$index}}">
                    <div>Deprecated: {{technique.deprecationMessage}}</div>
                  </div>
                </td>
                <td>{{technique.acceptationDate}}</td>
                <lift:authz role="directive_write">
                  <td class="tw-bs"> <input type="button" ng-click="technique.action()" value="Create Directive"  class="btn btn-default btn-xs"/></td>
                </lift:authz>
               </tr>
             </tbody>
           </table>
           <input id="displayDeprecation" type="checkbox" ng-model="displayDeprecated" /> <label for="displayDeprecation">Display deprecated Technique versions</label>
         <div style="text-align: center;">
           <lift:authz role="directive_write">
             <span class="tw-bs">
               <input type="button" id="addButton" ng-click="techniques[techniques.length-1].action()" value="Create with latest version" class="btn btn-default"/>
             </span>
           </lift:authz>
         </div>
       </fieldset>
       </div>
     </div>
   </div>

   <div class="directiveDetails">
     <div data-lift="configuration.DirectiveManagement.showDirectiveDetails" ></div>
   </div>
</div>

<div id="createDirectivePopup" class="nodisplay">
  <lift:ignore>
    This div gets the content of the createDirective injected within
  </lift:ignore>
</div>

<div class="tw-bs">
  <div id="finishMigrationPopup" class="modal fade" data-keyboard="true" tabindex="-1">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4>Finish migration to a new version</h4>
            </div>
            <div class="modal-body">
                <h4 class="col-lg-12 col-sm-12 col-xs-12 text-center">Edit and save the form!</h4>
                <p class="col-lg-12 col-sm-12 col-xs-12">
                    To finish the Directive migration to the new version, you have to edit and save the Directive parameters.
                </p>
                <p class="col-lg-12 col-sm-12 col-xs-12">
                    You can cancel the migration by reloading the page or choosing an other Directive in the tree
                    without saving the form.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
</div>
    
</lift:surround>

