.expand .ui-button-text{
  padding:1px;
  line-height:1;
}
.dataTable tr > td.link a {
  text-decoration: none !important;
  display: block;
  position:relative;
}
.dataTable tr > td.link a i.fa{
  float:right;
  position:relative;
  visibility:hidden;
  color:#555;
  top:1px;
}
.dataTable tr > td.link a svg{
  width: 20px;
  position: absolute;
  right:2px;
  top: -3px;
  fill: #555;
  visibility:hidden;
}
.dataTable tr > td.link a:hover i.fa,.dataTable tr > td.link a:hover svg{
  visibility:visible;
  -webkit-animation: bounceH .8s ease infinite;
  -moz-animation:    bounceH .8s ease infinite;
  -o-animation:      bounceH .8s ease infinite;
  animation:         bounceH .8s ease infinite;
}

#backButton{
  box-shadow:none !important;
}

@-webkit-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@-moz-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@-o-keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}
@keyframes bounceH {
  0%   {transform: translateX(0);}
  50%  {transform: translateX(-4px);}
  100% {transform: translateX(0);}
}