/*
*************************************************************************************
* Copyright 2017 Normation SAS
*************************************************************************************
*
* This file is part of Rudder.
*
* Rudder is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* In accordance with the terms of section 7 (7. Additional Terms.) of
* the GNU General Public License version 3, the copyright holders add
* the following Additional permissions:
* Notwithstanding to the terms of section 5 (5. Conveying Modified Source
* Versions) and 6 (6. Conveying Non-Source Forms.) of the GNU General
* Public License version 3, when you create a Related Module, this
* Related Module is not considered as a part of the work and may be
* distributed under the license agreement of your choice.
* A "Related Module" means a set of sources files including their
* documentation that, without modification of the Source Code, enables
* supplementary functions or services in addition to those offered by
* the Software.
*
* Rudder is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Rudder.  If not, see <http://www.gnu.org/licenses/>.

*
*************************************************************************************
*/
@media screen and (min-width: 768px){
  .tw-bs .jumbotron.jumbotron-datasource h1{
    font-size:55px;
  }
}
.tw-bs .jumbotron.jumbotron-datasource p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 200;
}

#datasource{
  background-color:transparent;
}
#datasource > .row > .col-xs-12{
  padding-right:7.5px;
}
@media screen and (max-width: 768px) {
  #datasource > .row > .col-xs-12{
    padding-right:15px;
    margin-bottom:15px;
  }
  #datasources-tree, .right-container{
    height:auto !important;
    max-height:none !important;
  }
  .right-container{
    margin-bottom:40px;
  }
  .datasource-toolbar.col-xs-12{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50000;
  }
}

.tw-bs .btn-danger.btn-delete .badge {
  background-color: rgba(0, 0, 0, .5);
  margin: 0 -5px -1px 5px;
}
/* BLOC */
.datasource-bloc{
  color: #555;
  position:relative;
  padding-bottom: 15px;
}
.datasource-toolbar.col-xs-12{
  background-color:#fff;
  border-top:1px solid #f4f4f4;
  box-shadow: 0 -5px 5px -5px #c1c1c1;
  height:50px;
  padding-right: 30px;
  padding-left: 30px;
}
.datasource-toolbar > .btn-toolbar{
  position:relative;
  top:7px;
}
.datasource-toolbar > .btn-toolbar > .btn-group > .btn{
  min-width:80px;
}
/* BLOC - BODY */
.datasource-bloc > .bloc-body{
  padding:0;
  height:0;
  overflow-x:visible;
  transition-duration:.3s;
  position:relative;
  border-top: 0px solid #ddd;
}
.datasource-bloc > .bloc-body.show-details{
  height: auto;
}
.datasource-bloc > .bloc-body form{
  height: auto;
  max-height: 700px;
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
}
.datasource-bloc > .bloc-body .new-headers{
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px
}
.input-group.group-header{
	margin-bottom:8px;
}
#new-headers .input-group.group-header,.new-headers .input-group.group-header{
  margin-bottom:0;
}
.datasource-bloc > .bloc-body .group-warning{
  color: #777;
  margin-bottom: 6px;
}
.datasource-bloc > .bloc-body .group-warning > span{
  font-size: 16px;
  margin-right: 6px;
}
.datasource-bloc > .bloc-body .input-group.group-header .form-control:first-child{
  border-right:none;
}
.tw-bs .input-group-addon.addon{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  background-color:#f4f4f4;
}
.datasource-bloc > .bloc-body .input-group.group-header .input-group-addon + .form-control{
  border-left:none;
}
.datasource-bloc > .bloc-body .input-group.group-header .form-control + .input-group-addon {
  border-color: #d0d0d0;
  background-color: #f4f4f4;
}
.datasource-bloc > .bloc-body .input-group.group-header .form-control[disabled] + .input-group-addon {
  border-color: #d0d0d0;
  background-color: #e6e6e6;
}
.datasource-bloc > .bloc-body .input-group.group-update-frequency{
  display:flex;
  margin-bottom:8px;
  max-width: 450px;
  width: 100%;
}
.datasource-bloc > .bloc-body .input-group.group-update-frequency > .form-control{
  text-align:right;
}
.datasource-bloc > .bloc-body .input-group.group-update-frequency > .input-group-addon{
  width: auto;
  padding: 6px 4px;
  border-color: #d0d0d0;
  background-color: #f4f4f4;
  border-left: none;
  border-right: none;
  margin-bottom:0;
}
.datasource-bloc > .bloc-body .input-group.group-update-frequency > .form-control[disabled] + .input-group-addon{
  background-color: #e6e6e6;
}
.datasource-bloc > .bloc-body .input-group.group-update-frequency > .input-group-addon:last-child{
  border-right: 1px solid #d0d0d0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.datasource-bloc > .bloc-body label{
  cursor:pointer;
}
label.optional,label.optional-link > a > b{
	font-weight: normal !important;
}
label.optional:after,label.optional-link > a > b:first-child:after, .option-disabled{
  content:"- Optional";
  margin-left:3px;
  font-style:italic;
  color:#777;
  font-size:12px;
}
label.optional.option-span:after{
  content:none;
}
label.optional.option-span > span:after{
  content:"- Optional";
  margin-left:3px;
  font-style:italic;
  color:#777;
  font-size:12px;
}
.option-disabled{
  font-size
}
.datasource-bloc > .bloc-body label.bloc{
  display:block;
  cursor:default;
}
.datasource-bloc > .bloc-body label a{
  color:#555;
  text-decoration:none !important;
}edit:hover
.datasource-bloc > .bloc-body label a:hover{
  color:#333;
}
.datasource-bloc > .bloc-body label a span{
  top: 0;
  position: relative;
  transition-duration:.2s;
  margin-left: 6px;
  font-size: 12px;
}
.datasource-bloc > .bloc-body .btn-radio.active{
  cursor:default;
  color:#fff;
  background-color: #9bc832;
  border-color: #7b9e28;
  box-shadow: none;
}
.datasource-bloc > .bloc-body .btn-radio.active[disabled]{
  cursor: not-allowed;
}
.datasource-bloc > .bloc-body .group-test{
  margin: 15px -15px;
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
}
.datasource-bloc > .bloc-body .group-test .btn{
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.3;
}
.datasource-bloc > .bloc-body .group-test .btn .fa-spin{
  margin-left:5px;
}
.datasource-bloc > .bloc-body .actions{
  text-align: right;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}
.datasource-bloc > .bloc-body .actions .btn{
  min-width:60px;
}
/* EXAMPLE */
.has-example-help{
  border-bottom-left-radius :0 !important;
  border-bottom-right-radius:0 !important;
}
.example-help{
  border: 1px solid #d0d0d0;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px;
  background-color: #f4f4f4;
  font-size: 11px;
}
.example-help > pre{
  border: none;
  display: inline;
  padding: 0;
  font-size: inherit;
  background-color: transparent;
  margin-left: 2px;
}
a.btn.btn-example{
  position: relative;
  bottom: -4px;
  right: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 5;
}
a.btn.btn-example + input, a.btn.btn-example + .input-group > input{
  border-top-right-radius:0 !important;
}
a.btn.btn-example.show + input, a.btn.btn-example.show + .input-group > input, a.btn.btn-example.show + .input-group > .input-group-addon{
  border-bottom-left-radius:0 !important;
  border-bottom-right-radius:0 !important;
}
a.btn-example:after{
  content: "\f06e";
  margin-left: 5px;
  font-size: 14px;
  position: relative;
  top: 1px;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
a.btn-example.show:after{
  content: "\f070";
}
/* LINK HOVER */
.datasource-bloc > .bloc-footer:hover span,.datasource-bloc > .bloc-header > .ion-edit:hover,.datasource-bloc > .bloc-header > .ion-trash-a:hover{
  opacity:1;
}
.new-bloc.btn > span{
  font-size: 16px;
  top: 1px;
  position: relative;
}
.datasource-bloc > .bloc-body .input-group-btn:last-child > .btn{
  margin-left:0 !important;
}

/* MODAL */
.modal-dialog.modal-xlg{
	width: 80%;
  max-width: 1400px;
}
@media screen and (max-width: 768px) {
  .modal-dialog.modal-xlg{
    width: 95%;
    margin:auto;
  }
}
.modal.datasource-modal{
  background: rgba(0,0,0,0.4);
  color:#444;
}
.modal.datasource-modal .modal-body h4{
}
.modal.datasource-modal .modal-body ul{
  padding: 15px 5%;
  font-size:16px;
}
.modal.datasource-modal .modal-body ul li:before{
  content: "•";
  color: #cacaca;
  margin-right: 10px;
  font-size: 20px;
  line-height: 0;
  position: relative;
  top: 1px;
}
#testModal .test-form .input-group .input-group-addon {
  background-color: #eee;
  border: 1px solid #ccc;
  border-right:none;
  border-radius: 4px 0 0 4px;
}
#testModal .test-form  .input-group .input-group-btn:last-child > .btn {
  min-width:70px;
}
#testModal .json-tabs {
  margin-top: 15px;
}
#testModal .json-tabs .col-xs-6:first-child{
  padding-right:7px;
}
#testModal .json-tabs .col-xs-6:last-child{
  padding-left:7px;
}
.well-title{
  padding: 6px 19px;
  border: 1px solid #e3e3e3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
  color:#555;
}
.well-title + .well{
  margin-bottom: 0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  border-top:none;
  max-height: 600px;
  overflow-x: hidden;
}

span.type{
	text-transform:uppercase;
}
.btn > i.add-icon{
  font-size: 20px;
  top: 2px;
  position: relative;
  margin-left: 8px;
}
.btn.btn-xs > i.add-icon{
  font-size: 15px;
  margin-left: 2px;
}
.page-title > .btn.btn-xs{
  float: right;
  margin-top: 5px;
}
#datasource{
  background:none;
}
.left-container,.right-container{
  background-color:#fff;
  height:calc(100vh - 80px);
  border:1px solid #e4e4e4;
  overflow-y: auto;
}
.right-container{
  height:calc(100vh - 130px);
}
.left-container{
  height:auto;
}
#datasources-tree{
  overflow-x:hidden;
  overflow-y:auto;
  margin-right: -15px;
  padding-right: 15px;
}
#datasources-tree li{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  margin-top: 8px;
  box-shadow: 0px 2px 2px 1px #f3f3f3;
  color: #555;
  cursor:pointer;
  transition-duration:.2s;
}
#datasources-tree li:hover{
  border-color:#ddd;
  box-shadow: 0px 2px 2px 1px #ececec;
}
#datasources-tree .rudder-label.label-sm{
  font-size: 14px;
  background-color: #bbb;
  font-weight: normal;
  float: right;
}
.detail-datasource{
  color: #999;
  font-size: 12px;
}

ul.list-sm{
  margin-bottom:8px;
}
ul > li.rudder-form:first-child > .input-group label.form-control,#denyBadClocksForm ul > li:first-child > .input-group .input-group-addon,ul > li.rudder-form:first-child > .input-group .input-group-addon{
  border-top:1px solid #d0d0d0;
}
#denyBadClocksForm ul > li:first-child > .input-group .input-group-addon,ul > li.rudder-form:first-child > .input-group .input-group-addon{
  border-top-left-radius:4px;
}
#denyBadClocksForm ul > li:last-child > .input-group .input-group-addon,ul > li.rudder-form:last-child > .input-group .input-group-addon{
  border-bottom-left-radius:4px;
}
ul > li.rudder-form:first-child > .input-group label.form-control{
  border-top-right-radius:4px;
}
ul > li.rudder-form label{
  cursor:pointer;
}
ul > li.rudder-form > .input-group label.form-control{
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  font-weight: 500;
  color: #555;
  font-size: 14px;
}
ul.list-sm > li.rudder-form > .input-group label.form-control{
  height: 28px;
  font-size: 12px;
}
ul > li.rudder-form > .input-group .input-group-addon{
  padding: 3px 11px;
  background-color: #f4f4f4;
}
ul.list-sm > li.rudder-form > .input-group .input-group-addon{
  padding: 0 7px;
}
ul > li.rudder-form > .input-group label.form-control .glyphicon.info{
  top:3px;
}
ul > li.rudder-form:last-child > .input-group label.form-control{
  border-bottom-right-radius:4px;
}
ul > li.rudder-form > .input-group label.form-control,#denyBadClocksForm ul > li > .input-group .input-group-addon,ul > li.rudder-form > .input-group .input-group-addon{
  border-top:none;
}
ul > li.rudder-form > .input-group label.form-control{
  padding-right: 40px;
}
ul > li.rudder-form > .input-group.disabled label.form-control,ul > li.rudder-form > .input-group.disabled .input-group-addon{
  background-color: #eeeeee;
  cursor:no-drop;
}
ul > li.rudder-form > .input-group.disabled *{
  cursor:no-drop;
}
/* CHECKBOX */
.rudder-form  input[type=checkbox] + .label-radio + .check-icon,.rudder-form  input[type=radio] + .label-radio + .check-icon{
  position: absolute;
  right: 15px;
  top: 10px;
  color: #222d32;
  z-index: 10;
  visibility:hidden;
  animation: opacity-0 .1s linear forwards;
}
.list-sm .rudder-form  input[type=checkbox] + .label-radio + .check-icon,.rudder-form  input[type=radio] + .label-radio + .check-icon{
  top: 8px;
}
.rudder-form .disabled input[type=checkbox] + .label-radio + .check-icon,.rudder-form  .disabled input[type=radio] + .label-radio + .check-icon{
  color: #7d7d7d;
}
.rudder-form  input[type=checkbox]:checked + .label-radio + .check-icon,.rudder-form  input[type=radio]:checked + .label-radio + .check-icon{
  visibility:visible;
  animation: opacity-1 .1s linear forwards;
}
#datasource .well{
  padding:15px !important;
}
.tw-bs .well.options .group-update-frequency:last-of-type {
  margin-bottom:0;
}
#datasources-tree li.datasource-active{
  background-color: #efefef;
  border-color: #cecece;
  box-shadow: inset 0 3px 3px rgba(0,0,0,.125);
}