name: CI

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: windows-latest
    env:
      CI: 1

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@1.93.0

      - name: rudder-module-template tests
        run: make cargo-test PACKAGE=rudder-module-template

      - name: rudder-module-secedit tests
        run: make cargo-test PACKAGE=rudder-module-secedit

    permissions:
      contents: read
      pull-requests: write
