name: CI

on: [push, pull_request]

jobs:
  test:
    name: test
    runs-on: windows-latest
    env:
      CI: 1

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@1.92.0

      - name: Run tests
        run: make cargo-test PACKAGE=rudder-module-template

    permissions:
      contents: read
      pull-requests: write
